Repository keycloak/keycloak, pull requests merged in 2020-10, with the labels that each got.

#7462 [KEYCLOAK-15807] - Wrong parsing of Cookie header
  services/src/main/java/org/keycloak/services/util/CookieHelper.java
  services/src/test/java/org/keycloak/utils/CookieHelperTest.java
Labels: component/core, impact/high, kind/bug, priority/important

#7456 [KEYCLOAK-14255] - More improvements to CLI
  quarkus/runtime/src/main/java/org/keycloak/cli/MainCommand.java
  quarkus/runtime/src/main/java/org/keycloak/cli/ShowConfigCommand.java
  quarkus/runtime/src/main/java/org/keycloak/configuration/Messages.java
  quarkus/runtime/src/main/java/org/keycloak/configuration/PropertyMapper.java
  quarkus/runtime/src/main/java/org/keycloak/configuration/PropertyMappers.java
  quarkus/runtime/src/test/java/org/keycloak/provider/quarkus/ConfigurationTest.java
Labels: component/quarkus, kind/enhancement

#7464 KEYCLOAK-15734 Exclude tests with testingClient in remote environment
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/federation/storage/ClientStorageTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/federation/storage/GroupStorageTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/federation/storage/RoleStorageTest.java
Labels: area/testsuite, status/ready

#7477 Update Quarkus 1.8.2.Final
  quarkus/pom.xml
Labels: component/quarkus, kind/enhancement

#7094 KEYCLOAK-13915 Update Jetty 9.4.x dependency to latest version
  adapters/oidc/jetty/jetty9.4/src/main/java/org/keycloak/adapters/jetty/Jetty94SessionManager.java
  pom.xml
Labels: area/adapters, impact/medium, kind/enhancement

#7468 KEYCLOAK-15830 Remove authentication session after failed directGrant…
  services/src/main/java/org/keycloak/protocol/oidc/endpoints/TokenEndpoint.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/oauth/ResourceOwnerPasswordCredentialsGrantTest.java
Labels: impact/low, kind/bug, status/in-review

#7481 Improvements to error messages
  quarkus/pom.xml
  quarkus/runtime/src/main/java/org/keycloak/cli/KeycloakMain.java
  quarkus/runtime/src/main/java/org/keycloak/cli/MainCommand.java
  quarkus/runtime/src/main/java/org/keycloak/cli/Picocli.java
  quarkus/runtime/src/main/java/org/keycloak/configuration/PropertyMappers.java
  quarkus/runtime/src/main/java/org/keycloak/util/Environment.java
Labels: component/quarkus

#7455 KEYCLOAK-15770 Skip creating session for docker protocol authentication
  model/infinispan/src/main/java/org/keycloak/models/sessions/infinispan/InfinispanUserSessionProvider.java
  model/infinispan/src/main/java/org/keycloak/models/sessions/infinispan/UserSessionAdapter.java
  model/infinispan/src/main/java/org/keycloak/models/sessions/infinispan/changes/InfinispanChangelogBasedTransaction.java
  model/infinispan/src/main/java/org/keycloak/models/sessions/infinispan/changes/SessionUpdatesList.java
  server-spi/src/main/java/org/keycloak/models/UserSessionModel.java
  server-spi/src/main/java/org/keycloak/models/UserSessionProvider.java
  services/src/main/java/org/keycloak/authentication/AuthenticationProcessor.java
  services/src/main/java/org/keycloak/authorization/admin/PolicyEvaluationService.java
  services/src/main/java/org/keycloak/protocol/docker/DockerEndpoint.java
  services/src/main/java/org/keycloak/protocol/oidc/endpoints/TokenEndpoint.java
  services/src/main/java/org/keycloak/services/managers/AuthenticationManager.java
  services/src/main/java/org/keycloak/services/resources/admin/ClientScopeEvaluateResource.java
  testsuite/integration-arquillian/servers/auth-server/services/testsuite-providers/src/main/java/org/keycloak/testsuite/forms/SetClientNoteAuthenticator.java
  testsuite/integration-arquillian/servers/auth-server/services/testsuite-providers/src/main/resources/META-INF/services/org.keycloak.authentication.AuthenticatorFactory
  testsuite/integration-arquillian/tests/base/src/main/java/org/keycloak/testsuite/util/OAuthClient.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/admin/authentication/ProvidersTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/forms/TransientSessionTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/model/CacheTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/model/UserSessionProviderTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/oauth/AuthorizationCodeTest.java
Labels: area/authentication, area/server, kind/enhancement, missing/docs, priority/important

#7485 KEYCLOAK-15910 Rename "cluster.enabled" to "clustered". Fix ConfigurationTest.
  .github/workflows/ci-x.yml
  quarkus/runtime/src/main/java/org/keycloak/configuration/PropertyMappers.java
  quarkus/runtime/src/main/java/org/keycloak/configuration/PropertyMappingInterceptor.java
  quarkus/runtime/src/main/java/org/keycloak/util/Environment.java
  quarkus/runtime/src/test/java/org/keycloak/provider/quarkus/ConfigurationTest.java
Labels: component/quarkus, kind/bug, status/in-review

#7458 KEYCLOAK-15810 Fix typo in FileTruststoreProviderFactory.java
  services/src/main/java/org/keycloak/truststore/FileTruststoreProviderFactory.java
Labels: impact/low, kind/bug, missing/jira

#7445 KEYCLOAK-15697 SAML Identity Broker - Make the SP Entity ID user configurable
  services/src/main/java/org/keycloak/broker/saml/SAMLEndpoint.java
  services/src/main/java/org/keycloak/broker/saml/SAMLIdentityProvider.java
  services/src/main/java/org/keycloak/broker/saml/SAMLIdentityProviderConfig.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/broker/KcSamlCustomEntityIdBrokerTest.java
  themes/src/main/resources/theme/base/admin/messages/admin-messages_en.properties
  themes/src/main/resources/theme/base/admin/resources/js/controllers/realm.js
  themes/src/main/resources/theme/base/admin/resources/partials/realm-identity-provider-saml.html
Labels: Run UI Tests, area/saml, kind/enhancement

#7344 KEYCLOAK-15184: Use static inner class where possible
  adapters/oidc/adapter-core/src/main/java/org/keycloak/adapters/authorization/PolicyEnforcer.java
  adapters/oidc/jetty/jetty-core/src/main/java/org/keycloak/adapters/jetty/core/AbstractKeycloakJettyAuthenticator.java
  adapters/saml/jetty/jetty-core/src/main/java/org/keycloak/adapters/saml/jetty/AbstractSamlAuthenticator.java
  federation/ldap/src/main/java/org/keycloak/storage/ldap/LDAPIdentityStoreRegistry.java
  model/infinispan/src/main/java/org/keycloak/keys/infinispan/InfinispanPublicKeyStorageProviderFactory.java
  model/infinispan/src/main/java/org/keycloak/models/sessions/infinispan/events/SessionEventsSenderTransaction.java
  model/infinispan/src/main/java/org/keycloak/models/sessions/infinispan/remotestore/RemoteCacheInvoker.java
  saml-core-api/src/main/java/org/keycloak/dom/saml/v2/assertion/AuthnContextType.java
  saml-core/src/main/java/org/keycloak/rotation/CompositeKeyLocator.java
  saml-core/src/main/java/org/keycloak/saml/common/util/TransformerUtil.java
  saml-core/src/main/java/org/keycloak/saml/processing/api/saml/v2/response/SAML2Response.java
  saml-core/src/main/java/org/keycloak/saml/processing/core/parsers/saml/assertion/SAMLAuthnContextParser.java
  saml-core/src/main/java/org/keycloak/saml/processing/core/saml/v2/util/StatementUtil.java
  server-spi-private/src/main/java/org/keycloak/models/utils/TimeBasedOTP.java
  services/src/main/java/org/keycloak/authorization/admin/PolicyEvaluationService.java
  services/src/main/java/org/keycloak/authorization/protection/introspect/RPTIntrospectionProvider.java
  services/src/main/java/org/keycloak/email/freemarker/FreeMarkerEmailTemplateProvider.java
  services/src/main/java/org/keycloak/forms/account/freemarker/model/AccountFederatedIdentityBean.java
  services/src/main/java/org/keycloak/keys/DefaultKeyManager.java
  services/src/main/java/org/keycloak/protocol/oidc/TokenManager.java
  services/src/main/java/org/keycloak/protocol/oidc/endpoints/TokenEndpoint.java
  services/src/main/java/org/keycloak/services/managers/UserStorageSyncManager.java
  services/src/main/java/org/keycloak/theme/FreeMarkerUtil.java
  services/src/main/java/org/keycloak/truststore/FileTruststoreProviderFactory.java
  services/src/main/java/org/keycloak/validation/DefaultClientValidationProvider.java
  testsuite/integration-arquillian/servers/auth-server/services/testsuite-providers/src/main/java/org/keycloak/testsuite/authorization/TestPolicyProviderFactory.java
  testsuite/integration-arquillian/servers/auth-server/services/testsuite-providers/src/main/java/org/keycloak/testsuite/federation/BackwardsCompatibilityUserStorage.java
  testsuite/integration-arquillian/servers/auth-server/undertow/src/main/java/org/keycloak/testsuite/arquillian/undertow/lb/SimpleUndertowLoadBalancer.java
  testsuite/integration-arquillian/tests/base/src/main/java/org/keycloak/testsuite/arquillian/TestClassProvider.java
  testsuite/integration-arquillian/tests/base/src/main/java/org/keycloak/testsuite/auth/page/login/LoginForm.java
  testsuite/integration-arquillian/tests/base/src/main/java/org/keycloak/testsuite/console/page/AdminConsoleRealm.java
  testsuite/integration-arquillian/tests/base/src/main/java/org/keycloak/testsuite/console/page/events/AdminEvents.java
  testsuite/integration-arquillian/tests/base/src/main/java/org/keycloak/testsuite/console/page/events/Config.java
  testsuite/integration-arquillian/tests/base/src/main/java/org/keycloak/testsuite/console/page/events/LoginEvents.java
  testsuite/integration-arquillian/tests/base/src/main/java/org/keycloak/testsuite/drone/KeycloakWebDriverConfigurator.java
  testsuite/utils/src/main/java/org/keycloak/testsuite/KerberosEmbeddedServer.java
  testsuite/utils/src/main/java/org/keycloak/testsuite/util/cli/LoadPersistentSessionsCommand.java
  util/embedded-ldap/src/main/java/org/keycloak/util/ldap/RangedAttributeInterceptor.java
Labels: component/core, impact/low, kind/enhancement, status/in-review

#7489 KEYCLOAK-15924 Execute StartupTest on GH actions
  distribution/server-x/assembly.xml
  quarkus/deployment/pom.xml
  quarkus/deployment/src/test/resources/keycloak.properties
  quarkus/runtime/src/main/java/org/keycloak/configuration/PropertyMappers.java
  quarkus/runtime/src/main/java/org/keycloak/provider/quarkus/QuarkusCacheManagerProvider.java
  quarkus/runtime/src/main/resources/cluster-default.xml
  quarkus/runtime/src/main/resources/cluster-local.xml
  quarkus/runtime/src/test/java/org/keycloak/provider/quarkus/ConfigurationTest.java
Labels: component/quarkus, impact/low, status/in-review

#7500 Updating to Quarkus 1.9.0.Final
  quarkus/pom.xml
  quarkus/runtime/src/main/java/org/keycloak/cli/KeycloakMain.java
Labels: component/quarkus, impact/medium, kind/enhancement

#7350 KEYCLOAK-15978 Update spanish email verification message
  themes/src/main/resources-community/theme/base/email/messages/messages_es.properties
Labels: component/translations

#7431 KEYCLOAK-15522 Use AbstractStorageManager in UserStorageManager
  model/jpa/src/main/java/org/keycloak/storage/jpa/JpaUserFederatedStorageProvider.java
  services/src/main/java/org/keycloak/credential/UserCredentialStoreManager.java
  services/src/main/java/org/keycloak/storage/AbstractStorageManager.java
  services/src/main/java/org/keycloak/storage/GroupStorageManager.java
  services/src/main/java/org/keycloak/storage/UserStorageManager.java
  services/src/main/java/org/keycloak/utils/ServicesUtils.java
  testsuite/integration-arquillian/servers/auth-server/services/testsuite-providers/src/main/java/org/keycloak/testsuite/federation/HardcodedClientStorageProvider.java
  testsuite/integration-arquillian/servers/auth-server/services/testsuite-providers/src/main/java/org/keycloak/testsuite/federation/HardcodedGroupStorageProvider.java
  testsuite/integration-arquillian/servers/auth-server/services/testsuite-providers/src/main/java/org/keycloak/testsuite/federation/HardcodedRoleStorageProvider.java
  testsuite/integration-arquillian/servers/auth-server/services/testsuite-providers/src/main/java/org/keycloak/testsuite/federation/UserPropertyFileStorage.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/federation/storage/AbstractUserStorageDirtyDeletionTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/federation/storage/UserStorageProvidersTestUtils.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/federation/storage/UserStorageTest.java
Labels: area/storage, component/core, impact/medium, kind/feature, priority/important

#7504 Default key store file for enabling HTTPS
  quarkus/runtime/src/main/java/org/keycloak/configuration/PropertyMapper.java
  quarkus/runtime/src/main/java/org/keycloak/configuration/PropertyMappers.java
Labels: component/quarkus, kind/enhancement, missing/jira

#7515 KEYCLOAK-15998 Keycloak OIDC adapter broken when Keycloak server is o…
  services/src/main/java/org/keycloak/protocol/oidc/OIDCLoginProtocolService.java
  services/src/main/java/org/keycloak/protocol/oidc/OIDCWellKnownProvider.java
  services/src/main/java/org/keycloak/services/resources/RealmsResource.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/oidc/OIDCWellKnownProviderTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/ssl/TLSTest.java
Labels: area/oidc, impact/high, kind/bug

#7522 [KEYCLOAK-11331] - MySQL support
  quarkus/deployment/pom.xml
  quarkus/pom.xml
  quarkus/runtime/pom.xml
  quarkus/runtime/src/main/java/org/keycloak/configuration/PropertyMappers.java
Labels: component/quarkus, kind/enhancement

#7411 KEYCLOAK-15511 OTP registration during login with LDAP read-only
  services/src/main/java/org/keycloak/authentication/authenticators/browser/OTPFormAuthenticator.java
  services/src/main/java/org/keycloak/authentication/authenticators/browser/WebAuthnAuthenticator.java
  services/src/main/java/org/keycloak/authentication/authenticators/browser/WebAuthnPasswordlessAuthenticator.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/actions/RequiredActionTotpSetupTest.java
Labels: area/authentication, status/requires-discussion

#7319 KEYCLOAK-14781 Extend Admin REST API with search by federated identity
  integration/admin-client/src/main/java/org/keycloak/admin/client/resource/UsersResource.java
  model/jpa/src/main/java/org/keycloak/models/jpa/JpaUserProvider.java
  model/jpa/src/main/java/org/keycloak/models/jpa/entities/UserEntity.java
  server-spi/src/main/java/org/keycloak/models/UserModel.java
  services/src/main/java/org/keycloak/services/resources/admin/UsersResource.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/admin/UserTest.java
Labels: area/storage, component/admin-rest, impact/medium, kind/enhancement

#7527 KEYCLOAK-16033 Revert Jpa*EventQuery to getResultList
  model/jpa/src/main/java/org/keycloak/events/jpa/JpaAdminEventQuery.java
  model/jpa/src/main/java/org/keycloak/events/jpa/JpaEventQuery.java
Labels: area/storage, impact/medium, kind/bug, priority/critical, status/ready

#7492 KEYCLOAK-16040 Typo in comment: Authoirzation => Authorization
  services/src/main/java/org/keycloak/services/resources/admin/RoleContainerResource.java
Labels: impact/low, kind/bug, missing/jira

#7318 [KEYCLOAK-10790] - KeycloakInstalled adapter can not logoutDesktop more than once
  adapters/oidc/installed/src/main/java/org/keycloak/adapters/installed/KeycloakInstalled.java
Labels: area/adapters, area/oidc, impact/low, kind/bug

#7528 [KEYCLOAK-14255] - Minor fixes and improvements
  quarkus/runtime/src/main/java/org/keycloak/configuration/PropertyMapper.java
  quarkus/runtime/src/main/java/org/keycloak/configuration/PropertyMappers.java
  testsuite/integration-arquillian/servers/auth-server/quarkus/assembly.xml
  testsuite/integration-arquillian/servers/auth-server/quarkus/pom.xml
  testsuite/integration-arquillian/tests/base/src/main/java/org/keycloak/testsuite/arquillian/containers/KeycloakQuarkusServerDeployableContainer.java
  testsuite/integration-arquillian/tests/pom.xml
Labels: component/quarkus, kind/bug, kind/enhancement

#7124 [KEYCLOAK-14339] demo-template readme with syntax error
  examples/demo-template/README.md
Labels: impact/low, kind/bug

#7529 KEYCLOAK-15921 Fix auth server URL
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/broker/KcSamlCustomEntityIdBrokerTest.java
Labels: area/saml, impact/low, kind/bug

#7531 KEYCLOAK-15735 Fix LDAPSamlIdPInitiatedVaryingLetterCaseTest failures on few DBs
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/federation/ldap/LDAPSamlIdPInitiatedVaryingLetterCaseTest.java
Labels: area/saml, impact/low, kind/bug

#7532 KEYCLOAK-16063 Messed output when running './kc.sh'
  quarkus/runtime/src/main/java/org/keycloak/cli/Picocli.java
  quarkus/runtime/src/main/java/org/keycloak/configuration/Messages.java
  quarkus/runtime/src/main/java/org/keycloak/configuration/PropertyMappers.java
  quarkus/runtime/src/main/java/org/keycloak/provider/quarkus/QuarkusConfigurationException.java
  quarkus/runtime/src/main/java/org/keycloak/provider/quarkus/QuarkusLifecycleObserver.java
  quarkus/runtime/src/main/java/org/keycloak/provider/quarkus/QuarkusPlatform.java
Labels: component/quarkus, status/in-review

#7535 Minor changes to pom files and fixing exception handling
  quarkus/pom.xml
  quarkus/runtime/pom.xml
  quarkus/runtime/src/main/java/org/keycloak/QuarkusKeycloakApplication.java
  quarkus/runtime/src/main/java/org/keycloak/cli/Picocli.java
  quarkus/runtime/src/main/java/org/keycloak/configuration/PropertyMappers.java
  quarkus/runtime/src/main/java/org/keycloak/provider/quarkus/InitializationException.java
  quarkus/runtime/src/main/java/org/keycloak/provider/quarkus/QuarkusLifecycleObserver.java
  quarkus/runtime/src/main/java/org/keycloak/provider/quarkus/QuarkusPlatform.java
  quarkus/runtime/src/test/java/org/keycloak/provider/quarkus/ConfigurationTest.java
  quarkus/server/pom.xml
  quarkus/server/src/main/resources/META-INF/keycloak.properties
Labels: component/quarkus, kind/bug, kind/enhancement

#7508 [KEYCLOAK-15940] Tomcat SAML adapter lib missing dependencies
  pom.xml
  testsuite/integration-arquillian/pom.xml
Labels: area/adapters, impact/medium, kind/bug

#7434 [KEYCLOAK-15406] - Grant access when evaluating user-managed permission for the owner
  authz/policy/common/src/main/java/org/keycloak/authorization/policy/provider/permission/UMAPolicyProvider.java
  server-spi-private/src/main/java/org/keycloak/authorization/policy/evaluation/AbstractDecisionCollector.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/authz/UserManagedPermissionServiceTest.java
Labels: area/authorization, kind/bug

#7384 KEYCLOAK-15399: Wrong token type in token response. bearer vs Bearer
  services/src/main/java/org/keycloak/protocol/oidc/TokenManager.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/composites/CompositeImportRoleTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/composites/CompositeRoleTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/hok/HoKTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/oauth/AccessTokenTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/oauth/OAuthProofKeyForCodeExchangeTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/oauth/RefreshTokenTest.java
Labels: area/oidc, component/core, impact/low, kind/bug

#7550 Update Quarkus 1.9.1.Final
  quarkus/pom.xml
Labels: component/quarkus, kind/enhancement

#7536 KEYCLOAK-16077 Remove need for MapStorage.replace
  authz/policy/common/src/main/java/org/keycloak/authorization/policy/provider/client/ClientPolicyProviderFactory.java
  model/infinispan/src/main/java/org/keycloak/keys/infinispan/InfinispanPublicKeyStorageProviderFactory.java
  model/jpa/src/main/java/org/keycloak/models/jpa/ClientAdapter.java
  model/jpa/src/main/java/org/keycloak/models/jpa/JpaRealmProvider.java
  model/map/src/main/java/org/keycloak/models/map/client/MapClientProvider.java
  model/map/src/main/java/org/keycloak/models/map/storage/MapKeycloakTransaction.java
  model/map/src/main/java/org/keycloak/models/map/storage/MapStorage.java
  server-spi-private/src/main/java/org/keycloak/authorization/store/AuthorizationStoreFactory.java
  server-spi-private/src/main/java/org/keycloak/authorization/store/syncronization/ClientApplicationSynchronizer.java
  server-spi-private/src/main/java/org/keycloak/protocol/AbstractLoginProtocolFactory.java
  server-spi-private/src/main/java/org/keycloak/storage/client/AbstractClientStorageAdapter.java
  server-spi/src/main/java/org/keycloak/models/ClientModel.java
  server-spi/src/main/java/org/keycloak/models/RealmModel.java
  services/src/main/java/org/keycloak/services/resources/admin/permissions/AdminPermissions.java
Labels: area/storage, impact/medium, kind/feature

#7549 KEYCLOAK-16034 Not scroll-able event queries for postgres and mssql
  model/jpa/src/main/java/org/keycloak/events/jpa/JpaAdminEventQuery.java
  model/jpa/src/main/java/org/keycloak/events/jpa/JpaEventQuery.java
Labels: area/storage, component/core, kind/feature

#7320 KEYCLOAK-14855 Added realm-specific localization texts which affect t…
  integration/admin-client/src/main/java/org/keycloak/admin/client/resource/RealmLocalizationResource.java
  integration/admin-client/src/main/java/org/keycloak/admin/client/resource/RealmResource.java
  model/infinispan/src/main/java/org/keycloak/models/cache/infinispan/RealmAdapter.java
  model/infinispan/src/main/java/org/keycloak/models/cache/infinispan/RealmCacheSession.java
  model/infinispan/src/main/java/org/keycloak/models/cache/infinispan/entities/CachedRealm.java
  model/jpa/src/main/java/org/keycloak/models/jpa/JpaRealmProvider.java
  model/jpa/src/main/java/org/keycloak/models/jpa/RealmAdapter.java
  model/jpa/src/main/java/org/keycloak/models/jpa/converter/MapStringConverter.java
  model/jpa/src/main/java/org/keycloak/models/jpa/entities/RealmEntity.java
  model/jpa/src/main/java/org/keycloak/models/jpa/entities/RealmLocalizationTextsEntity.java
  model/jpa/src/main/resources/META-INF/jpa-changelog-12.0.0.xml
  model/jpa/src/main/resources/META-INF/persistence.xml
  server-spi/src/main/java/org/keycloak/models/RealmModel.java
  server-spi/src/main/java/org/keycloak/models/RealmProvider.java
  services/src/main/java/org/keycloak/email/freemarker/FreeMarkerEmailTemplateProvider.java
  services/src/main/java/org/keycloak/forms/account/freemarker/FreeMarkerAccountProvider.java
  services/src/main/java/org/keycloak/forms/login/freemarker/FreeMarkerLoginFormsProvider.java
  services/src/main/java/org/keycloak/services/resources/admin/RealmAdminResource.java
  services/src/main/java/org/keycloak/services/resources/admin/RealmLocalizationResource.java
  testsuite/integration-arquillian/tests/base/src/main/java/org/keycloak/testsuite/util/TestCleanup.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/admin/RealmRealmLocalizationResourceTest.java
  themes/src/main/resources-community/theme/base/admin/messages/admin-messages_ca.properties
  themes/src/main/resources-community/theme/base/admin/messages/admin-messages_de.properties
  themes/src/main/resources-community/theme/base/admin/messages/admin-messages_es.properties
  themes/src/main/resources-community/theme/base/admin/messages/admin-messages_fr.properties
  themes/src/main/resources-community/theme/base/admin/messages/admin-messages_ja.properties
  themes/src/main/resources-community/theme/base/admin/messages/admin-messages_lt.properties
  themes/src/main/resources-community/theme/base/admin/messages/admin-messages_no.properties
  themes/src/main/resources-community/theme/base/admin/messages/admin-messages_pt_BR.properties
  themes/src/main/resources-community/theme/base/admin/messages/admin-messages_ru.properties
  themes/src/main/resources-community/theme/base/admin/messages/admin-messages_zh_CN.properties
  themes/src/main/resources/theme/base/admin/messages/admin-messages_en.properties
  themes/src/main/resources/theme/base/admin/resources/js/app.js
  themes/src/main/resources/theme/base/admin/resources/js/controllers/realm.js
  themes/src/main/resources/theme/base/admin/resources/js/loaders.js
  themes/src/main/resources/theme/base/admin/resources/js/services.js
  themes/src/main/resources/theme/base/admin/resources/partials/realm-localization-detail.html
  themes/src/main/resources/theme/base/admin/resources/partials/realm-localization-upload.html
  themes/src/main/resources/theme/base/admin/resources/partials/realm-localization.html
  themes/src/main/resources/theme/base/admin/resources/templates/kc-menu.html
  themes/src/main/resources/theme/base/admin/resources/templates/kc-tabs-realm.html
Labels: area/storage, area/ui, component/admin-rest, component/themes, impact/medium, kind/feature, missing/docs, status/hold, status/needs-rebase

#7552 A few improvements
  distribution/server-x-dist/assembly.xml
  distribution/server-x-dist/pom.xml
  distribution/server-x-dist/src/main/content/conf/README.md
  distribution/server-x-dist/src/main/content/conf/keycloak.properties
  quarkus/deployment/src/main/java/org/keycloak/quarkus/deployment/KeycloakProcessor.java
  quarkus/runtime/src/main/java/org/keycloak/configuration/Database.java
  quarkus/runtime/src/main/java/org/keycloak/configuration/KeycloakPropertiesConfigSource.java
  quarkus/runtime/src/main/java/org/keycloak/configuration/PropertyMappers.java
  quarkus/runtime/src/main/java/org/keycloak/provider/quarkus/QuarkusCacheManagerProvider.java
  quarkus/runtime/src/main/java/org/keycloak/util/Environment.java
  quarkus/server/src/main/resources/META-INF/keycloak.properties
Labels: component/quarkus, kind/enhancement

#7548 KEYCLOAK-16066 Unable to build Keycloak distribution on Windows due t…
  quarkus/deployment/src/main/java/org/keycloak/quarkus/deployment/KeycloakProcessor.java
  quarkus/runtime/src/main/java/org/keycloak/configuration/KeycloakPropertiesConfigSource.java
Labels: component/quarkus, kind/bug

#7556 KEYCLOAK-16113 Add JPA event test
  model/jpa/pom.xml
  model/jpa/src/test/java/org/keycloak/events/jpa/JpaAdminEventQueryTest.java
  model/jpa/src/test/resources/log4j.properties
Labels: area/storage, area/testsuite, impact/low, kind/enhancement
