Repository keycloak/keycloak, pull requests merged in 2020-09, with the labels that each got.

#7346 KEYCLOAK-14973 Add GroupStorageManager
  model/infinispan/src/main/java/org/keycloak/models/cache/infinispan/RealmCacheSession.java
  server-spi-private/src/main/java/org/keycloak/storage/group/GroupStorageProviderFactory.java
  server-spi-private/src/main/java/org/keycloak/storage/group/GroupStorageProviderSpi.java
  server-spi-private/src/main/resources/META-INF/services/org.keycloak.provider.Spi
  server-spi/src/main/java/org/keycloak/models/GroupProvider.java
  server-spi/src/main/java/org/keycloak/models/KeycloakSession.java
  server-spi/src/main/java/org/keycloak/models/RealmModel.java
  server-spi/src/main/java/org/keycloak/storage/group/GroupLookupProvider.java
  server-spi/src/main/java/org/keycloak/storage/group/GroupStorageProvider.java
  server-spi/src/main/java/org/keycloak/storage/group/GroupStorageProviderModel.java
  services/src/main/java/org/keycloak/services/DefaultKeycloakSession.java
  services/src/main/java/org/keycloak/storage/AbstractStorageManager.java
  services/src/main/java/org/keycloak/storage/GroupStorageManager.java
  testsuite/integration-arquillian/servers/auth-server/services/testsuite-providers/src/main/java/org/keycloak/testsuite/federation/HardcodedGroupStorageProvider.java
  testsuite/integration-arquillian/servers/auth-server/services/testsuite-providers/src/main/java/org/keycloak/testsuite/federation/HardcodedGroupStorageProviderFactory.java
  testsuite/integration-arquillian/servers/auth-server/services/testsuite-providers/src/main/resources/META-INF/services/org.keycloak.storage.group.GroupStorageProviderFactory
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/federation/storage/GroupStorageTest.java
  testsuite/integration-arquillian/tests/base/src/test/resources/testrealm.json
Labels: area/storage, impact/medium, kind/feature, priority/important, status/in-review

#7229 [KEYCLOAK-14663] Fix spelling in RU translation
  themes/src/main/resources-community/theme/base/login/messages/messages_ru.properties
Labels: component/themes, impact/low, kind/bug

#7322 KEYCLOAK-15068: Fix 15068 by parameterizing ProviderFactory with LoginFormsProvider.
  server-spi-private/src/main/java/org/keycloak/forms/login/LoginFormsProviderFactory.java
Labels: component/themes, impact/low, kind/bug

#7330 KEYCLOAK-15113: Move away from deprecated Promise.success()/error()
  adapters/oidc/js/src/main/resources/keycloak.d.ts
  examples/broker/facebook-authentication/src/main/webapp/js/app.js
  examples/broker/google-authentication/src/main/webapp/js/app.js
  examples/broker/saml-broker-authentication/src/main/webapp/js/app.js
  examples/broker/twitter-authentication/src/main/webapp/js/app.js
  examples/cordova-native/www/index.html
  examples/cordova/www/index.html
  examples/cors/angular-product-app/src/main/webapp/js/app.js
  examples/demo-template/angular-product-app/src/main/webapp/js/app.js
  examples/demo-template/customer-app-js/src/main/webapp/customers/view.html
  examples/js-console/src/main/webapp/index.html
  testsuite/integration-arquillian/test-apps/cors/angular-product/src/main/webapp/js/app.js
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/javascript/JavascriptAdapterTest.java
  themes/src/main/resources/theme/base/admin/resources/js/app.js
Labels: area/adapters, kind/enhancement, status/requires-discussion

#7385 KEYCLOAK-11029 Support modification of broker username / ID for identity provider linking
  common/src/main/java/org/keycloak/common/util/StackUtil.java
  services/src/main/java/org/keycloak/broker/oidc/mappers/UsernameTemplateMapper.java
  services/src/main/java/org/keycloak/broker/saml/mappers/UsernameTemplateMapper.java
  services/src/main/java/org/keycloak/events/log/JBossLoggingEventListenerProvider.java
  testsuite/integration-arquillian/servers/auth-server/services/testsuite-providers/src/main/resources/org/keycloak/testsuite/integration-arquillian-testsuite-providers/main/module.xml
  testsuite/integration-arquillian/tests/base/src/main/java/org/keycloak/testsuite/broker/BrokerTestConstants.java
  testsuite/integration-arquillian/tests/base/src/main/java/org/keycloak/testsuite/updaters/Creator.java
  testsuite/integration-arquillian/tests/base/src/main/java/org/keycloak/testsuite/util/SamlClientBuilder.java
  testsuite/integration-arquillian/tests/base/src/main/java/org/keycloak/testsuite/util/saml/ModifySamlResponseStepBuilder.java
  testsuite/integration-arquillian/tests/base/src/main/java/org/keycloak/testsuite/util/saml/SamlDocumentStepBuilder.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/federation/ldap/AbstractLDAPTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/federation/ldap/LDAPSamlIdPInitiatedVaryingLetterCaseTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/saml/AbstractSamlTest.java
  testsuite/integration-arquillian/tests/base/src/test/resources/jboss-deployment-structure.xml
Labels: area/oidc, area/saml, area/user-federation, component/core, impact/medium, kind/enhancement, priority/critical

#7345 KEYCLOAK-15186 Sort user federation table
  themes/src/main/resources/theme/base/admin/resources/js/controllers/users.js
  themes/src/main/resources/theme/base/admin/resources/partials/user-federation.html
Labels: area/ui, component/themes, kind/enhancement

#7307 KEYCLOAK-14961 SAML Identity Provider: Add ability to request specific AuthnContexts to remote IdPs
  saml-core/src/main/java/org/keycloak/saml/SAML2AuthnRequestBuilder.java
  saml-core/src/main/java/org/keycloak/saml/SAML2RequestedAuthnContextBuilder.java
  saml-core/src/main/java/org/keycloak/saml/processing/core/saml/v2/writers/SAMLRequestWriter.java
  services/src/main/java/org/keycloak/broker/saml/SAMLIdentityProvider.java
  services/src/main/java/org/keycloak/broker/saml/SAMLIdentityProviderConfig.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/broker/KcSamlRequestedAuthnContextBrokerTest.java
  themes/src/main/resources/theme/base/admin/messages/admin-messages_en.properties
  themes/src/main/resources/theme/base/admin/resources/js/controllers/realm.js
  themes/src/main/resources/theme/base/admin/resources/partials/realm-identity-provider-saml.html
Labels: Run UI Tests, area/saml, area/ui, impact/medium, kind/enhancement, status/in-review

#7278 KEYCLOAK-14190 Client Policy - Condition : The way of creating/updating a client
  services/src/main/java/org/keycloak/services/clientpolicy/condition/ClientUpdateContextCondition.java
  services/src/main/java/org/keycloak/services/clientpolicy/condition/ClientUpdateContextConditionFactory.java
  services/src/main/resources/META-INF/services/org.keycloak.services.clientpolicy.condition.ClientPolicyConditionProviderFactory
  testsuite/integration-arquillian/servers/auth-server/services/testsuite-providers/src/main/resources/META-INF/services/org.keycloak.services.clientpolicy.condition.ClientPolicyConditionProviderFactory
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/client/ClientPolicyBasicsTest.java
Labels: area/oidc, component/core, impact/medium, kind/feature, status/in-review

#7372 KEYCLOAK-14548 Add support for cached gzip encoding of resources
  distribution/feature-packs/server-feature-pack/src/main/resources/modules/system/layers/keycloak/org/keycloak/keycloak-services/main/module.xml
  services/src/main/java/org/keycloak/encoding/GzipResourceEncodingProvider.java
  services/src/main/java/org/keycloak/encoding/GzipResourceEncodingProviderFactory.java
  services/src/main/java/org/keycloak/encoding/ResourceEncodingHelper.java
  services/src/main/java/org/keycloak/encoding/ResourceEncodingProvider.java
  services/src/main/java/org/keycloak/encoding/ResourceEncodingProviderFactory.java
  services/src/main/java/org/keycloak/encoding/ResourceEncodingSpi.java
  services/src/main/java/org/keycloak/services/resources/JsResource.java
  services/src/main/java/org/keycloak/services/resources/KeycloakApplication.java
  services/src/main/java/org/keycloak/services/resources/ThemeResource.java
  services/src/main/resources/META-INF/services/org.keycloak.encoding.ResourceEncodingProviderFactory
  services/src/main/resources/META-INF/services/org.keycloak.provider.Spi
  testsuite/integration-arquillian/servers/auth-server/undertow/src/main/java/org/keycloak/testsuite/arquillian/undertow/KeycloakOnUndertow.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/theme/ThemeResourceProviderTest.java
  testsuite/utils/src/main/java/org/keycloak/testsuite/KeycloakServer.java
Labels: Run UI Tests, status/hold

#7391 KEYCLOAK-15448 FAPI-RW : Error Response on OIDC private_key_jwt Client Authentication Error (400 error=invalid_client)
  services/src/main/java/org/keycloak/authentication/authenticators/client/JWTClientAuthenticator.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/oauth/ClientAuthSignedJWTTest.java
Labels: area/oidc, kind/feature, priority/important, status/in-review

#7334 KEYCLOAK-14767 OpenShift Review Endpoint audience fix
  core/src/main/java/org/keycloak/TokenVerifier.java
  services/src/main/java/org/keycloak/protocol/openshift/OpenShiftTokenReviewEndpoint.java
  services/src/main/java/org/keycloak/protocol/openshift/OpenShiftTokenReviewRequestRepresentation.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/openshift/OpenShiftTokenReviewEndpointTest.java
Labels: kind/bug, priority/important

#7395 KEYCLOAK-14195 FAPI-RW Client Policy - Condition : Client - Client Role
  services/src/main/java/org/keycloak/services/clientpolicy/condition/ClientRolesCondition.java
  services/src/main/java/org/keycloak/services/clientpolicy/condition/ClientRolesConditionFactory.java
  services/src/main/resources/META-INF/services/org.keycloak.services.clientpolicy.condition.ClientPolicyConditionProviderFactory
  testsuite/integration-arquillian/servers/auth-server/services/testsuite-providers/src/main/resources/META-INF/services/org.keycloak.services.clientpolicy.condition.ClientPolicyConditionProviderFactory
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/client/ClientPolicyBasicsTest.java
Labels: area/oidc, priority/important, status/in-review

#7393 KEYCLOAK-15395. Removed unnecessary Account REST API endpoints
  services/src/main/java/org/keycloak/services/resources/account/AccountCredentialResource.java
  services/src/main/java/org/keycloak/services/resources/account/AccountRestService.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/account/AccountRestServiceTest.java
Labels: area/server, component/account-rest, impact/medium, status/in-review

#7407 KEYCLOAK-14952 - Unit test failure in keycloak-saml-core on Java 11
  saml-core/src/main/java/org/keycloak/saml/common/util/DocumentUtil.java
Labels: area/saml, area/testsuite, kind/enhancement

#7409 KEYCLOAK-11678 Remove dummy resource. Adding keycloak-services and liquibase to jandex indexing
  quarkus/deployment/pom.xml
  quarkus/deployment/src/main/java/org/keycloak/quarkus/deployment/LiquibaseProcessor.java
  quarkus/runtime/src/main/java/org/keycloak/services/resources/Dummy.java
  quarkus/server/src/main/resources/application.properties
  services/src/main/java/org/keycloak/services/error/KeycloakErrorHandler.java
  services/src/main/java/org/keycloak/services/util/ObjectMapperResolver.java
Labels: component/quarkus, kind/enhancement, status/in-review

#7401 KEYCLOAK-15483 Replace badly displayed HTML message with simple text …
  themes/src/main/resources-community/theme/base/login/messages/messages_fr.properties
Labels: area/ui, component/translations

#7402 KEYCLOAK-15485 Add option to enable SAML SP metadata signature
  saml-core/src/main/java/org/keycloak/saml/SPMetadataDescriptor.java
  services/src/main/java/org/keycloak/broker/saml/SAMLIdentityProvider.java
  services/src/main/java/org/keycloak/broker/saml/SAMLIdentityProviderConfig.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/admin/IdentityProviderTest.java
  themes/src/main/resources/theme/base/admin/messages/admin-messages_en.properties
  themes/src/main/resources/theme/base/admin/resources/partials/realm-identity-provider-saml.html
Labels: area/saml, area/server, kind/enhancement, missing/docs, status/ready

#7398 KEYCLOAK-15465 SAML Identity Broker - SP metadata writer always emits AttributeConsumingService isDefault attribute
  saml-core/src/main/java/org/keycloak/saml/processing/core/saml/v2/writers/SAMLMetadataWriter.java
Labels: area/saml, kind/bug

#7382 KEYCLOAK-15383 Translation strings escaped twice in saml-post-form.ftl
  themes/src/main/resources/theme/base/login/saml-post-form.ftl
Labels: Run UI Tests, area/saml, area/ui, component/themes, impact/low, kind/bug

#7426 [KEYCLOAK-14255] - Fixing tests
  quarkus/runtime/src/main/java/org/keycloak/cli/MainCommand.java
Labels: component/quarkus

#7361 KEYCLOAK-15238: Fix potential resource leak
  adapters/oidc/installed/src/main/java/org/keycloak/adapters/installed/KcinitDriver.java
  adapters/saml/core/src/main/java/org/keycloak/adapters/saml/PropertiesBasedRoleMapper.java
  adapters/saml/core/src/main/java/org/keycloak/adapters/saml/config/parsers/DeploymentBuilder.java
  common/src/main/java/org/keycloak/common/Profile.java
  common/src/main/java/org/keycloak/common/util/KeystoreUtil.java
  federation/sssd/src/main/java/cx/ath/matthew/debug/Debug.java
  federation/sssd/src/main/java/org/freedesktop/dbus/DBusConnection.java
  misc/keycloak-test-helper/src/main/java/org/keycloak/test/FluentTestsHelper.java
  misc/keycloak-test-helper/src/main/java/org/keycloak/test/TestsHelper.java
  server-spi-private/src/main/java/org/keycloak/broker/provider/util/SimpleHttp.java
  services/src/main/java/org/keycloak/authentication/authenticators/x509/CertificateValidator.java
  services/src/main/java/org/keycloak/exportimport/dir/DirExportProvider.java
  services/src/main/java/org/keycloak/keys/JavaKeystoreKeyProvider.java
  services/src/main/java/org/keycloak/protocol/docker/installation/DockerComposeYamlInstallationProvider.java
  testsuite/integration-arquillian/servers/auth-server/services/testsuite-providers/src/main/java/org/keycloak/testsuite/rest/resource/TestJavascriptResource.java
  testsuite/integration-arquillian/tests/base/src/main/java/org/keycloak/testsuite/util/TextFileChecker.java
  testsuite/integration-arquillian/util/src/main/java/org/keycloak/testsuite/utils/tls/TLSUtils.java
  testsuite/utils/src/main/java/org/keycloak/testsuite/KeycloakServer.java
Labels: component/core, impact/low, kind/bug

#7387 KEYCLOAK-14974 Map group storage provider
  .github/workflows/ci.yml
  integration/admin-client/src/main/java/org/keycloak/admin/client/resource/UserResource.java
  model/infinispan/src/main/java/org/keycloak/models/cache/infinispan/RealmCacheSession.java
  model/infinispan/src/main/java/org/keycloak/models/cache/infinispan/UserAdapter.java
  model/jpa/src/main/java/org/keycloak/models/jpa/JpaRealmProvider.java
  model/jpa/src/main/java/org/keycloak/models/jpa/RealmAdapter.java
  model/jpa/src/main/java/org/keycloak/models/jpa/UserAdapter.java
  model/jpa/src/main/java/org/keycloak/models/jpa/entities/GroupEntity.java
  model/jpa/src/main/java/org/keycloak/models/jpa/entities/RealmEntity.java
  model/jpa/src/main/java/org/keycloak/models/jpa/entities/UserGroupMembershipEntity.java
  model/jpa/src/main/resources/META-INF/jpa-changelog-12.0.0.xml
  model/jpa/src/main/resources/META-INF/jpa-changelog-master.xml
  model/map/src/main/java/org/keycloak/models/map/group/AbstractGroupEntity.java
  model/map/src/main/java/org/keycloak/models/map/group/AbstractGroupModel.java
  model/map/src/main/java/org/keycloak/models/map/group/MapGroupAdapter.java
  model/map/src/main/java/org/keycloak/models/map/group/MapGroupEntity.java
  model/map/src/main/java/org/keycloak/models/map/group/MapGroupProvider.java
  model/map/src/main/java/org/keycloak/models/map/group/MapGroupProviderFactory.java
  model/map/src/main/resources/META-INF/services/org.keycloak.models.GroupProviderFactory
  server-spi/src/main/java/org/keycloak/models/GroupModel.java
  server-spi/src/main/java/org/keycloak/models/GroupProvider.java
  server-spi/src/main/java/org/keycloak/models/UserModel.java
  server-spi/src/main/java/org/keycloak/storage/group/GroupLookupProvider.java
  services/src/main/java/org/keycloak/services/error/KeycloakErrorHandler.java
  services/src/main/java/org/keycloak/services/resources/admin/GroupResource.java
  services/src/main/java/org/keycloak/storage/GroupStorageManager.java
  testsuite/integration-arquillian/tests/base/src/main/java/org/keycloak/testsuite/arquillian/AuthServerTestEnricher.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/adapter/servlet/UserStorageConsentTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/admin/UserTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/admin/concurrency/ConcurrencyTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/admin/group/GroupTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/federation/ldap/LDAPGroupMapperSyncWithGroupsPathTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/federation/ldap/LDAPProvidersIntegrationTest.java
Labels: area/storage, impact/medium, kind/feature, status/in-review

#7436 KEYCLOAK-15608 JsonFileImport...MigrationTest fails for map store
  server-spi-private/src/main/java/org/keycloak/migration/migrators/MigrateTo3_4_2.java
Labels: impact/low, kind/bug, status/ready

#7439 KEYCLOAK-15635 Remove quarkus.index-dependency properties from applic…
  quarkus/deployment/src/main/java/org/keycloak/quarkus/deployment/KeycloakProcessor.java
  quarkus/runtime/src/main/java/org/keycloak/configuration/KeycloakPropertiesConfigSource.java
  quarkus/server/src/main/resources/application.properties
Labels: component/quarkus, kind/enhancement, status/in-review

#7438 [KEYCLOAK-14221] - Allow to map subject to userinfo response
  services/src/main/java/org/keycloak/protocol/oidc/endpoints/UserInfoEndpoint.java
  services/src/main/java/org/keycloak/protocol/oidc/mappers/AbstractPairwiseSubMapper.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/broker/KcOidcBrokerSubMatchIntrospectionTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/oidc/UserInfoTest.java
Labels: area/oidc, kind/enhancement, priority/critical

#7435 [KEYCLOAK-14255] - CLI Improvements
  distribution/server-x/src/main/content/conf/keycloak.properties
  quarkus/deployment/src/main/java/org/keycloak/quarkus/deployment/KeycloakProcessor.java
  quarkus/runtime/src/main/java/org/keycloak/cli/KeycloakMain.java
  quarkus/runtime/src/main/java/org/keycloak/cli/KeycloakQuarkusMain.java
  quarkus/runtime/src/main/java/org/keycloak/cli/MainCommand.java
  quarkus/runtime/src/main/java/org/keycloak/cli/Picocli.java
  quarkus/runtime/src/main/java/org/keycloak/configuration/PropertyMappers.java
  quarkus/runtime/src/main/java/org/keycloak/connections/jpa/QuarkusJpaConnectionProviderFactory.java
  quarkus/runtime/src/main/java/org/keycloak/quarkus/KeycloakRecorder.java
  quarkus/runtime/src/main/java/org/keycloak/util/Environment.java
Labels: component/quarkus

#7448 KEYCLOAK-15632 Support nested expressions inside StringPropertyReplacer
  common/src/main/java/org/keycloak/common/util/StringPropertyReplacer.java
  common/src/test/java/org/keycloak/common/util/StringPropertyReplacerTest.java
  quarkus/runtime/src/test/java/org/keycloak/provider/quarkus/ConfigurationTest.java
  quarkus/runtime/src/test/resources/META-INF/keycloak.properties
Labels: component/quarkus

#7449 [KEYCLOAK-14255] - More improvements to CLI
  distribution/server-x/src/main/content/bin/kc.sh
  quarkus/deployment/src/main/java/org/keycloak/quarkus/deployment/KeycloakProcessor.java
  quarkus/runtime/src/main/java/org/keycloak/cli/KeycloakMain.java
  quarkus/runtime/src/main/java/org/keycloak/cli/MainCommand.java
  quarkus/runtime/src/main/java/org/keycloak/cli/ShowConfigCommand.java
  quarkus/runtime/src/main/java/org/keycloak/configuration/ConfigArgsConfigSource.java
  quarkus/runtime/src/main/java/org/keycloak/configuration/PropertyMapper.java
  quarkus/runtime/src/main/java/org/keycloak/configuration/PropertyMappers.java
  quarkus/runtime/src/main/java/org/keycloak/quarkus/KeycloakRecorder.java
Labels: component/quarkus, kind/bug, kind/enhancement

#7331 KEYCLOAK-15146 Add support for searching users by emailVerified status
  integration/admin-client/src/main/java/org/keycloak/admin/client/resource/UsersResource.java
  model/jpa/src/main/java/org/keycloak/models/jpa/JpaUserProvider.java
  server-spi/src/main/java/org/keycloak/models/UserModel.java
  services/src/main/java/org/keycloak/services/resources/admin/UsersResource.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/AbstractKeycloakTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/admin/UsersTest.java
Labels: area/storage, component/admin-rest, impact/low, kind/enhancement

#7450 KEYCLOAK-15631 Disable clustering for 'dev' profile. Remove cluster.x…
  distribution/server-x/assembly.xml
  distribution/server-x/pom.xml
  distribution/server-x/src/main/content/conf/cluster.xml
  pom.xml
  quarkus/deployment/pom.xml
  quarkus/runtime/src/main/java/org/keycloak/configuration/PropertyMappers.java
  quarkus/runtime/src/main/java/org/keycloak/provider/quarkus/QuarkusCacheManagerProvider.java
  quarkus/runtime/src/main/resources/default-clustered-cache.xml
  quarkus/runtime/src/main/resources/default-local-cache.xml
  quarkus/runtime/src/test/java/org/keycloak/provider/quarkus/ConfigurationTest.java
  quarkus/server/pom.xml
Labels: component/quarkus, kind/enhancement
