Repository keycloak/keycloak, pull requests merged in 2020-07, with the labels that each got.

#7221 KEYCLOAK-14635 Saml tests are failing with invalid redirect urls
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/broker/KcSamlBrokerAllowedClockSkewTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/broker/KcSamlSignedBrokerTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/saml/AbstractSamlTest.java
Labels: area/testsuite, impact/medium, kind/bug, priority/important, status/ready

#7205 KEYCLOAK-14576 fixed NPE in undertow
  themes/src/main/resources/theme/keycloak-preview/account/index.ftl
Labels: area/ui, component/themes, kind/bug

#6809 [KEYCLOAK-13044] Fix owner name representations of UMA tickets for client-owned resources
  server-spi-private/src/main/java/org/keycloak/models/utils/ModelToRepresentation.java
  services/src/main/java/org/keycloak/authorization/admin/representation/PolicyEvaluationResponseBuilder.java
  services/src/main/java/org/keycloak/forms/account/freemarker/model/AuthorizationBean.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/authz/UmaRepresentationTest.java
  themes/src/main/resources/theme/base/account/resources.ftl
Labels: status/in-review

#7040 KEYCLOAK-14006 Allow administrator to add additional fields to be fet…
  services/src/main/java/org/keycloak/social/facebook/FacebookIdentityProvider.java
  services/src/main/java/org/keycloak/social/facebook/FacebookIdentityProviderConfig.java
  services/src/main/java/org/keycloak/social/facebook/FacebookIdentityProviderFactory.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/broker/SocialLoginTest.java
  themes/src/main/resources/theme/base/admin/messages/admin-messages_en.properties
  themes/src/main/resources/theme/base/admin/resources/partials/realm-identity-provider-facebook-ext.html
Labels: kind/enhancement, status/in-review

#7222 KEYCLOAK-14245: Upgrade jquery
  themes/src/main/resources/theme/base/admin/resources/partials/realm-identity-provider-oidc.html
  themes/src/main/resources/theme/base/admin/resources/partials/realm-identity-provider-saml.html
  themes/src/main/resources/theme/base/admin/resources/templates/kc-provider-config.html
  themes/src/main/resources/theme/keycloak/common/resources/node_modules/jquery/AUTHORS.txt
  themes/src/main/resources/theme/keycloak/common/resources/node_modules/jquery/README.md
  themes/src/main/resources/theme/keycloak/common/resources/node_modules/jquery/dist/core.js
  themes/src/main/resources/theme/keycloak/common/resources/node_modules/jquery/dist/jquery.js
  themes/src/main/resources/theme/keycloak/common/resources/node_modules/jquery/dist/jquery.min.js
  themes/src/main/resources/theme/keycloak/common/resources/node_modules/jquery/dist/jquery.min.map
  themes/src/main/resources/theme/keycloak/common/resources/node_modules/jquery/dist/jquery.slim.js
  themes/src/main/resources/theme/keycloak/common/resources/node_modules/jquery/dist/jquery.slim.min.js
  themes/src/main/resources/theme/keycloak/common/resources/node_modules/jquery/dist/jquery.slim.min.map
  themes/src/main/resources/theme/keycloak/common/resources/node_modules/jquery/external/sizzle/dist/sizzle.js
  themes/src/main/resources/theme/keycloak/common/resources/node_modules/jquery/external/sizzle/dist/sizzle.min.js
  themes/src/main/resources/theme/keycloak/common/resources/node_modules/jquery/external/sizzle/dist/sizzle.min.map
  themes/src/main/resources/theme/keycloak/common/resources/node_modules/jquery/package.json
  themes/src/main/resources/theme/keycloak/common/resources/node_modules/jquery/src/.eslintrc.json
  themes/src/main/resources/theme/keycloak/common/resources/node_modules/jquery/src/ajax.js
  themes/src/main/resources/theme/keycloak/common/resources/node_modules/jquery/src/ajax/jsonp.js
  themes/src/main/resources/theme/keycloak/common/resources/node_modules/jquery/src/ajax/parseXML.js
  themes/src/main/resources/theme/keycloak/common/resources/node_modules/jquery/src/ajax/var/nonce.js
  themes/src/main/resources/theme/keycloak/common/resources/node_modules/jquery/src/attributes/attr.js
  themes/src/main/resources/theme/keycloak/common/resources/node_modules/jquery/src/core.js
  themes/src/main/resources/theme/keycloak/common/resources/node_modules/jquery/src/core/access.js
  themes/src/main/resources/theme/keycloak/common/resources/node_modules/jquery/src/core/camelCase.js
  themes/src/main/resources/theme/keycloak/common/resources/node_modules/jquery/src/css.js
  themes/src/main/resources/theme/keycloak/common/resources/node_modules/jquery/src/css/support.js
  themes/src/main/resources/theme/keycloak/common/resources/node_modules/jquery/src/css/var/swap.js
  themes/src/main/resources/theme/keycloak/common/resources/node_modules/jquery/src/deferred.js
  themes/src/main/resources/theme/keycloak/common/resources/node_modules/jquery/src/deprecated.js
  themes/src/main/resources/theme/keycloak/common/resources/node_modules/jquery/src/effects.js
  themes/src/main/resources/theme/keycloak/common/resources/node_modules/jquery/src/event.js
  themes/src/main/resources/theme/keycloak/common/resources/node_modules/jquery/src/event/ajax.js
  themes/src/main/resources/theme/keycloak/common/resources/node_modules/jquery/src/event/alias.js
  themes/src/main/resources/theme/keycloak/common/resources/node_modules/jquery/src/event/focusin.js
  themes/src/main/resources/theme/keycloak/common/resources/node_modules/jquery/src/event/trigger.js
  themes/src/main/resources/theme/keycloak/common/resources/node_modules/jquery/src/exports/global.js
  themes/src/main/resources/theme/keycloak/common/resources/node_modules/jquery/src/jquery.js
  themes/src/main/resources/theme/keycloak/common/resources/node_modules/jquery/src/manipulation.js
  themes/src/main/resources/theme/keycloak/common/resources/node_modules/jquery/src/manipulation/_evalUrl.js
  themes/src/main/resources/theme/keycloak/common/resources/node_modules/jquery/src/manipulation/support.js
  themes/src/main/resources/theme/keycloak/common/resources/node_modules/jquery/src/manipulation/wrapMap.js
  themes/src/main/resources/theme/keycloak/common/resources/node_modules/jquery/src/offset.js
  themes/src/main/resources/theme/keycloak/common/resources/node_modules/jquery/src/selector-native.js
  themes/src/main/resources/theme/keycloak/common/resources/node_modules/jquery/src/serialize.js
  themes/src/main/resources/theme/keycloak/common/resources/node_modules/jquery/src/traversing.js
  themes/src/main/resources/theme/keycloak/common/resources/node_modules/jquery/src/var/concat.js
  themes/src/main/resources/theme/keycloak/common/resources/package.json
Labels: area/ui

#7223 KEYCLOAK-14574: Upgrade angularjs to 1.8.0
  themes/src/main/resources/theme/keycloak/common/resources/node_modules/angular-cookies/angular-cookies.js
  themes/src/main/resources/theme/keycloak/common/resources/node_modules/angular-cookies/angular-cookies.min.js
  themes/src/main/resources/theme/keycloak/common/resources/node_modules/angular-cookies/bower.json
  themes/src/main/resources/theme/keycloak/common/resources/node_modules/angular-cookies/package.json
  themes/src/main/resources/theme/keycloak/common/resources/node_modules/angular-loader/angular-loader.js
  themes/src/main/resources/theme/keycloak/common/resources/node_modules/angular-loader/angular-loader.min.js
  themes/src/main/resources/theme/keycloak/common/resources/node_modules/angular-loader/bower.json
  themes/src/main/resources/theme/keycloak/common/resources/node_modules/angular-loader/package.json
  themes/src/main/resources/theme/keycloak/common/resources/node_modules/angular-resource/angular-resource.js
  themes/src/main/resources/theme/keycloak/common/resources/node_modules/angular-resource/angular-resource.min.js
  themes/src/main/resources/theme/keycloak/common/resources/node_modules/angular-resource/bower.json
  themes/src/main/resources/theme/keycloak/common/resources/node_modules/angular-resource/package.json
  themes/src/main/resources/theme/keycloak/common/resources/node_modules/angular-route/angular-route.js
  themes/src/main/resources/theme/keycloak/common/resources/node_modules/angular-route/angular-route.min.js
  themes/src/main/resources/theme/keycloak/common/resources/node_modules/angular-route/bower.json
  themes/src/main/resources/theme/keycloak/common/resources/node_modules/angular-route/package.json
  themes/src/main/resources/theme/keycloak/common/resources/node_modules/angular-sanitize/angular-sanitize.js
  themes/src/main/resources/theme/keycloak/common/resources/node_modules/angular-sanitize/angular-sanitize.min.js
  themes/src/main/resources/theme/keycloak/common/resources/node_modules/angular-sanitize/bower.json
  themes/src/main/resources/theme/keycloak/common/resources/node_modules/angular-sanitize/package.json
  themes/src/main/resources/theme/keycloak/common/resources/node_modules/angular/angular.js
  themes/src/main/resources/theme/keycloak/common/resources/node_modules/angular/angular.min.js
  themes/src/main/resources/theme/keycloak/common/resources/node_modules/angular/angular.min.js.map
  themes/src/main/resources/theme/keycloak/common/resources/node_modules/angular/bower.json
  themes/src/main/resources/theme/keycloak/common/resources/node_modules/angular/package.json
  themes/src/main/resources/theme/keycloak/common/resources/package-lock.json
  themes/src/main/resources/theme/keycloak/common/resources/package.json
Labels: area/ui

#7170 KEYCLOAK-11683 Reduce unnecessary load on work cache
  services/src/main/java/org/keycloak/broker/saml/mappers/UserAttributeMapper.java
Labels: area/saml, impact/medium, kind/bug

#6572 [KEYCLOAK-11534] Add filter by name to applications endpoint
  services/src/main/java/org/keycloak/services/resources/account/AccountRestService.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/account/AccountRestServiceTest.java
Labels: component/account-rest, kind/enhancement

#7140 [KEYCLOAK-14379] Fix maven build order for app-server-eap6 profile
  distribution/saml-adapters/as7-eap6-adapter/eap6-adapter-zip/pom.xml
  testsuite/integration-arquillian/servers/app-server/jboss/eap6/pom.xml
Labels: area/saml, area/testsuite, component/core, kind/bug, priority/important

#7112 KEYCLOAK-14106 Adding a role to a composite role does not work with k…
  integration/client-cli/admin-cli/src/main/java/org/keycloak/client/admin/cli/operations/ClientOperations.java
  integration/client-cli/admin-cli/src/main/java/org/keycloak/client/admin/cli/operations/GroupOperations.java
  integration/client-cli/admin-cli/src/main/java/org/keycloak/client/admin/cli/operations/RoleOperations.java
  integration/client-cli/admin-cli/src/main/java/org/keycloak/client/admin/cli/operations/UserOperations.java
  integration/client-cli/admin-cli/src/main/java/org/keycloak/client/admin/cli/util/HttpUtil.java
Labels: impact/low, kind/bug, missing/tests, status/in-review

#7189 KEYCLOAK-14520 NPE when deploying SpringBoot as WAR
  adapters/oidc/spring-boot-adapter-core/src/main/java/org/keycloak/adapters/springboot/KeycloakSpringBootConfigResolver.java
Labels: area/adapters, impact/low, kind/bug

#7202 [KEYCLOAK-14570] Feature/fix npe
  services/src/main/java/org/keycloak/services/resources/admin/AuthenticationManagementResource.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/admin/authentication/AuthenticatorConfigTest.java
Labels: area/server, component/core, impact/low, kind/bug, status/in-review

#7236 KEYCLOAK-14474 ConsentsTest fails intermittently on auth-server-undertow
  model/infinispan/src/main/java/org/keycloak/models/cache/infinispan/ClientScopeAdapter.java
Labels: impact/low, kind/bug, priority/important

#7136 KEYCLOAK-14368 Streams serialization in Jackson
  distribution/feature-packs/server-feature-pack/src/main/resources/modules/system/layers/keycloak/org/keycloak/keycloak-server-subsystem/main/server-war/WEB-INF/web.xml
  distribution/feature-packs/server-feature-pack/src/main/resources/modules/system/layers/keycloak/org/keycloak/keycloak-services/main/module.xml
  pom.xml
  quarkus/deployment/pom.xml
  quarkus/deployment/src/main/java/org/keycloak/quarkus/deployment/KeycloakProcessor.java
  quarkus/pom.xml
  quarkus/runtime/pom.xml
  quarkus/runtime/src/main/java/org/keycloak/QuarkusKeycloakApplication.java
  quarkus/runtime/src/main/java/org/keycloak/provider/quarkus/KeycloakConfigSourceProvider.java
  quarkus/runtime/src/main/java/org/keycloak/provider/quarkus/QuarkusClientConnectionFilter.java
  quarkus/runtime/src/main/java/org/keycloak/provider/quarkus/QuarkusFilter.java
  quarkus/runtime/src/main/java/org/keycloak/provider/quarkus/QuarkusLifecycleObserver.java
  server-spi/src/main/java/org/keycloak/models/KeycloakContext.java
  services/pom.xml
  services/src/main/java/org/keycloak/services/DefaultKeycloakContext.java
  services/src/main/java/org/keycloak/services/error/KeycloakErrorHandler.java
  services/src/main/java/org/keycloak/services/filters/AbstractClientConnectionFilter.java
  services/src/main/java/org/keycloak/services/filters/KeycloakSecurityHeadersFilter.java
  services/src/main/java/org/keycloak/services/filters/KeycloakTransactionCommitter.java
  services/src/main/java/org/keycloak/services/resources/KeycloakApplication.java
  services/src/main/java/org/keycloak/services/resources/admin/ClientResource.java
  services/src/main/java/org/keycloak/services/resources/admin/RealmsAdminResource.java
  services/src/main/java/org/keycloak/services/resources/admin/RoleContainerResource.java
  services/src/main/java/org/keycloak/services/util/ObjectMapperResolver.java
  testsuite/integration-arquillian/servers/auth-server/undertow/src/main/java/org/keycloak/testsuite/arquillian/undertow/KeycloakOnUndertow.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/AbstractTestRealmKeycloakTest.java
  testsuite/utils/src/main/java/org/keycloak/testsuite/KeycloakServer.java
  testsuite/utils/src/main/java/org/keycloak/testsuite/KeycloakSessionServletFilter.java
  testsuite/utils/src/main/java/org/keycloak/testsuite/TestKeycloakSessionServletFilter.java
  testsuite/utils/src/main/java/org/keycloak/testsuite/TestPlatform.java
  testsuite/utils/src/main/java/org/keycloak/testsuite/UndertowClientConnectionServletFilter.java
  wildfly/extensions/src/main/java/org/keycloak/provider/wildfly/KeycloakSessionServletFilter.java
  wildfly/extensions/src/main/java/org/keycloak/provider/wildfly/WildFlyClientConnectionServletFilter.java
  wildfly/extensions/src/main/java/org/keycloak/provider/wildfly/WildflyPlatform.java
Labels: area/server, component/quarkus, impact/high, kind/enhancement, priority/important, status/in-review

#7224 KEYCLOAK-14652 Align custom adapter example with documentation
  adapters/oidc/js/src/main/resources/keycloak.d.ts
Labels: area/adapters, component/docs, impact/low

#7245 KEYCLOAK-14146 : null check on subject nameId
  services/src/main/java/org/keycloak/broker/saml/SAMLEndpoint.java
Labels: area/saml

#7045 KEYCLOAK-14084: fix zh-CN translation for bearerOnlyMessage
  themes/src/main/resources-community/theme/base/login/messages/messages_zh_CN.properties
Labels: area/server, component/translations, impact/low, kind/enhancement, status/in-review

#7219 KEYCLOAK-14023 Instagram User Endpoint change
  server-spi-private/src/main/java/org/keycloak/broker/provider/BrokeredIdentityContext.java
  server-spi/src/main/java/org/keycloak/models/FederatedIdentityModel.java
  services/src/main/java/org/keycloak/services/resources/IdentityBrokerService.java
  services/src/main/java/org/keycloak/social/instagram/InstagramIdentityProvider.java
  testsuite/integration-arquillian/servers/auth-server/services/testsuite-providers/src/main/java/org/keycloak/testsuite/broker/oidc/LegacyIdIdentityProvider.java
  testsuite/integration-arquillian/servers/auth-server/services/testsuite-providers/src/main/java/org/keycloak/testsuite/broker/oidc/LegacyIdIdentityProviderFactory.java
  testsuite/integration-arquillian/servers/auth-server/services/testsuite-providers/src/main/resources/META-INF/services/org.keycloak.broker.provider.IdentityProviderFactory
  testsuite/integration-arquillian/tests/base/src/main/java/org/keycloak/testsuite/pages/social/InstagramLoginPage.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/broker/AbstractBaseBrokerTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/broker/BrokerWithLegacyIdTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/broker/SocialLoginTest.java
Labels: priority/critical

#6957 KEYCLOAK-13698 - SAML Client - Add certificate info to signature
  services/src/main/java/org/keycloak/broker/saml/SAMLIdentityProvider.java
  testsuite/integration-arquillian/tests/base/src/main/java/org/keycloak/testsuite/util/SamlClient.java
  testsuite/integration-arquillian/tests/base/src/main/java/org/keycloak/testsuite/util/saml/CreateAuthnRequestStepBuilder.java
  testsuite/integration-arquillian/tests/base/src/main/java/org/keycloak/testsuite/util/saml/CreateLogoutRequestStepBuilder.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/broker/KcSamlSignedBrokerTest.java
Labels: area/saml, kind/bug, missing/tests, status/in-review

#7243 KEYCLOAK-14692 added aria labels
  themes/src/main/resources/theme/keycloak-preview/account/src/app/PageNav.tsx
  themes/src/main/resources/theme/keycloak-preview/account/src/app/content/ContentAlert.tsx
  themes/src/main/resources/theme/keycloak-preview/account/src/app/content/ContentPage.tsx
Labels: area/ui

#7240 KEYCLOAK-14689 remove headings better symantic
  themes/src/main/resources/theme/keycloak-preview/account/index.ftl
Labels: area/ui

#6875 KEYCLOAK-13246 Update Italian translations
  themes/src/main/resources-community/theme/base/account/messages/messages_it.properties
  themes/src/main/resources-community/theme/base/email/messages/messages_it.properties
  themes/src/main/resources-community/theme/base/login/messages/messages_it.properties
Labels: area/server, component/translations, impact/low, kind/enhancement, status/in-review

#7237 KEYCLOAK-14680 added header and smaller link
  themes/src/main/resources/theme/keycloak-preview/account/src/app/content/applications-page/ApplicationsPage.tsx
Labels: area/ui

#7246 KEYCLOAK-14698 Support complex SAML Attribute Values (e.g. XUA++)
  saml-core/src/main/java/org/keycloak/saml/processing/core/saml/v2/writers/BaseWriter.java
  saml-core/src/test/java/org/keycloak/saml/processing/core/saml/v2/writers/XUATokenWriterTest.java
Labels: area/saml, impact/low, kind/enhancement, status/ready

#7257 [KEYCLOAK-13141] - Fixing filter and specific jobs for base and adapter tests
  .github/workflows/ci-x.yml
  quarkus/runtime/src/main/java/org/keycloak/provider/quarkus/KeycloakPropertiesConfigSource.java
  quarkus/runtime/src/main/java/org/keycloak/provider/quarkus/QuarkusRequestFilter.java
  services/src/main/java/org/keycloak/connections/httpclient/DefaultHttpClientFactory.java
  testsuite/integration-arquillian/tests/base/src/main/java/org/keycloak/testsuite/arquillian/containers/KeycloakQuarkusServerDeployableContainer.java
Labels: area/testsuite, component/quarkus

#7032 KEYCLOAK-4593: Moved NamedQuery to entity attribute to improve perfor…
  model/jpa/src/main/java/org/keycloak/models/jpa/ClientAdapter.java
  model/jpa/src/main/java/org/keycloak/models/jpa/ClientScopeAdapter.java
  model/jpa/src/main/java/org/keycloak/models/jpa/JpaRealmProvider.java
  model/jpa/src/main/java/org/keycloak/models/jpa/entities/ClientScopeEntity.java
  model/jpa/src/main/java/org/keycloak/models/jpa/entities/ClientScopeRoleMappingEntity.java
Labels: area/storage, impact/high, kind/enhancement, status/ready

#7261 KEYCLOAK-14741 Minor SAML specs compliance improvements
  saml-core/src/main/java/org/keycloak/saml/processing/core/saml/v2/writers/SAMLRequestWriter.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/saml/BasicSamlTest.java
Labels: area/saml, kind/enhancement, missing/tests, status/in-review

#7264 [KEYCLOAK-14755] Update dependencies for package-lock.json file - Removal of unused file
  themes/src/main/package-lock.json
  themes/src/main/resources/theme/keycloak-preview/account/src/package-lock.json
Labels: area/ui, priority/important, status/in-review

#7225 KEYCLOAK-12265 Move KerberosEmbeddedServer to testsuite
  docs/building.md
  examples/kerberos/README.md
  examples/kerberos/pom.xml
  testsuite/integration-arquillian/tests/base/src/main/java/org/keycloak/testsuite/util/KerberosRule.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/federation/kerberos/KerberosLdapCrossRealmTrustTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/federation/kerberos/KerberosLdapTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/federation/kerberos/KerberosStandaloneCrossRealmTrustTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/federation/kerberos/KerberosStandaloneTest.java
  testsuite/utils/pom.xml
  testsuite/utils/src/main/java/org/keycloak/testsuite/KerberosEmbeddedServer.java
Labels: area/testsuite, status/in-review

#7234 KEYCLOAK-14677 - Add german time units
  themes/src/main/resources-community/theme/base/email/messages/messages_de.properties
Labels: component/translations

#7242 KEYCLOAK-14691 Hungarian translation to account, email and login themes
  themes/src/main/resources-community/theme/base/account/messages/messages_hu.properties
  themes/src/main/resources-community/theme/base/account/theme.properties
  themes/src/main/resources-community/theme/base/email/messages/messages_hu.properties
  themes/src/main/resources-community/theme/base/email/theme.properties
  themes/src/main/resources-community/theme/base/login/messages/messages_hu.properties
  themes/src/main/resources-community/theme/base/login/theme.properties
  themes/src/main/resources/theme/base/account/messages/messages_en.properties
  themes/src/main/resources/theme/base/login/messages/messages_en.properties
Labels: area/ui, component/translations

#7235 [KEYCLOAK-14677] - Add french time units
  themes/src/main/resources-community/theme/base/email/messages/messages_fr.properties
Labels: component/translations

#7004 KEYCLOAK-13950 SAML2 Identity Provider - Send Subject in SAML requests
  saml-core/src/main/java/org/keycloak/saml/SAML2AuthnRequestBuilder.java
  saml-core/src/main/java/org/keycloak/saml/processing/core/saml/v2/writers/BaseWriter.java
  saml-core/src/main/java/org/keycloak/saml/processing/core/saml/v2/writers/SAMLRequestWriter.java
  saml-core/src/main/java/org/keycloak/saml/processing/core/saml/v2/writers/SAMLResponseWriter.java
  server-spi/src/main/java/org/keycloak/models/IdentityProviderModel.java
  services/src/main/java/org/keycloak/broker/oidc/OAuth2IdentityProviderConfig.java
  services/src/main/java/org/keycloak/broker/saml/SAMLIdentityProvider.java
  services/src/main/java/org/keycloak/broker/saml/SAMLIdentityProviderFactory.java
  services/src/main/java/org/keycloak/services/resources/IdentityBrokerService.java
  services/src/test/java/org/keycloak/test/broker/saml/SAMLDataMarshallerTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/admin/IdentityProviderTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/broker/AbstractSamlLoginHintTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/broker/KcOidcBrokerLoginHintTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/broker/KcOidcBrokerNoLoginHintTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/broker/KcSamlBrokerConfiguration.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/broker/KcSamlBrokerLoginHintWithOptionDisabledTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/broker/KcSamlBrokerLoginHintWithOptionEnabledTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/broker/KcSamlFirstBrokerLoginTest.java
  themes/src/main/resources/theme/base/admin/resources/partials/realm-identity-provider-saml.html
Labels: area/saml, impact/low, kind/enhancement, status/in-review

#7259 KEYCLOAK-14734 Field SAML Signature Key Name is empty on IdP creation
  themes/src/main/resources/theme/base/admin/resources/js/controllers/realm.js
Labels: area/saml

#7007 KEYCLOAK-13962 SAML2 Identity Provider - During login phase, SamlAuthenticationPreprocessors are not taken into account to produce an appropriate destination url
  services/src/main/java/org/keycloak/broker/saml/SAMLIdentityProvider.java
Labels: area/saml, impact/low, kind/enhancement, status/in-review

#7262 KEYCLOAK-14742 SAML2NameIDPolicyBuilder: add AllowCreate and SPNameQualifier properties
  adapters/saml/core/src/main/java/org/keycloak/adapters/saml/AbstractInitiateLogin.java
  saml-core/src/main/java/org/keycloak/saml/SAML2NameIDPolicyBuilder.java
  services/src/main/java/org/keycloak/broker/saml/SAMLIdentityProvider.java
Labels: area/saml

#7248 KEYCLOAK-14707 use native promises
  themes/src/main/resources/theme/keycloak-preview/account/index.ftl
Labels: area/ui, kind/enhancement

#7295 KEYCLOAK-14869: Fix nullpointer exception in FullNameLDAPStorageMapper
  federation/ldap/src/main/java/org/keycloak/storage/ldap/mappers/FullNameLDAPStorageMapper.java
  federation/ldap/src/main/java/org/keycloak/storage/ldap/mappers/UserAttributeLDAPStorageMapper.java
  model/jpa/src/main/java/org/keycloak/models/jpa/UserAdapter.java
  server-spi/src/main/java/org/keycloak/storage/adapter/AbstractUserAdapterFederatedStorage.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/federation/ldap/LDAPProvidersFullNameMapperTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/federation/ldap/LDAPProvidersIntegrationTest.java
Labels: area/user-federation, impact/medium, kind/bug

#7212 KEYCLOAK-14904: Fix AccountRestService
  services/src/main/java/org/keycloak/services/resources/account/AccountRestService.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/account/AccountRestServiceTest.java
Labels: area/server, component/core, kind/bug

#7299 KEYCLOAK-14892 NullPointerException when group mappings for LDAP user…
  federation/ldap/src/main/java/org/keycloak/storage/ldap/mappers/membership/group/GroupLDAPStorageMapperFactory.java
  federation/ldap/src/main/java/org/keycloak/storage/ldap/mappers/membership/group/GroupMapperConfig.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/federation/ldap/LDAPGroupMapperSyncWithGroupsPathTest.java
Labels: area/user-federation, kind/bug, priority/important

#7255 Keycloak-14726 - release connections after fetching the OIDC-Config
  adapters/oidc/adapter-core/src/main/java/org/keycloak/adapters/KeycloakDeployment.java
Labels: area/adapters, area/oidc, impact/medium, kind/bug, priority/important

#7253 KEYCLOAK-14747 LDAP pooling should include SSL protocol by default
  federation/ldap/src/main/java/org/keycloak/storage/ldap/LDAPIdentityStoreRegistry.java
  themes/src/main/resources-community/theme/base/admin/messages/admin-messages_de.properties
  themes/src/main/resources-community/theme/base/admin/messages/admin-messages_ja.properties
  themes/src/main/resources/theme/base/admin/messages/admin-messages_en.properties
Labels: area/user-federation, impact/medium, kind/enhancement, status/in-review

#7232 KEYCLOAK-14380 Support Requesting Claims using the claims Request Par…
  services/src/main/java/org/keycloak/protocol/oidc/OIDCWellKnownProvider.java
  services/src/main/java/org/keycloak/protocol/oidc/mappers/ClaimsParameterTokenMapper.java
  services/src/main/resources/META-INF/services/org.keycloak.protocol.ProtocolMapper
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/oidc/OIDCAdvancedRequestParamsTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/oidc/OIDCWellKnownProviderTest.java
Labels: area/oidc, impact/low, kind/enhancement, priority/important

#7095 KEYCLOAK-13721 Allow to configure host and port of callbackserver in KeycloakInstalled adapter
  adapters/oidc/installed/src/main/java/org/keycloak/adapters/installed/KeycloakInstalled.java
Labels: area/adapters, impact/high, kind/enhancement

#7296 KEYCLOAK-14870: Fix bug where user is incorrectly imported
  federation/ldap/src/main/java/org/keycloak/storage/ldap/mappers/UserAttributeLDAPStorageMapper.java
  model/infinispan/src/main/java/org/keycloak/models/cache/infinispan/UserAdapter.java
  server-spi-private/src/main/java/org/keycloak/storage/adapter/InMemoryUserAdapter.java
  server-spi/src/main/java/org/keycloak/storage/adapter/AbstractUserAdapterFederatedStorage.java
  services/src/main/java/org/keycloak/authentication/authenticators/broker/IdpCreateUserIfUniqueAuthenticator.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/federation/ldap/LDAPProvidersIntegrationTest.java
Labels: impact/medium, kind/bug, missing/tests, status/in-review

#7106 KEYCLOAK-14289 OAuth Authorization Server Metadata for Token Revocation
  core/src/main/java/org/keycloak/protocol/oidc/representations/OIDCConfigurationRepresentation.java
  services/src/main/java/org/keycloak/protocol/oidc/OIDCWellKnownProvider.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/oidc/OIDCWellKnownProviderTest.java
Labels: area/oidc, component/core, impact/medium, kind/feature

#7190 KEYCLOAK-14529 Signed and Encrypted ID Token Support : RSA-OAEP-256
  core/src/main/java/org/keycloak/jose/jwe/JWEConstants.java
  core/src/main/java/org/keycloak/jose/jwe/alg/RsaKeyEncryption256JWEAlgorithmProvider.java
  core/src/test/java/org/keycloak/jose/JWETest.java
  services/src/main/java/org/keycloak/crypto/RsaCekManagementProvider.java
  services/src/main/java/org/keycloak/crypto/RsaesOaep256CekManagementProviderFactory.java
  services/src/main/resources/META-INF/services/org.keycloak.crypto.CekManagementProviderFactory
  testsuite/integration-arquillian/servers/auth-server/services/testsuite-providers/src/main/java/org/keycloak/testsuite/rest/resource/TestingOIDCEndpointsApplicationResource.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/oidc/IdTokenEncryptionTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/oidc/OIDCWellKnownProviderTest.java
Labels: area/oidc, component/core, kind/enhancement

#7127 KEYCLOAK-14336: LDAP group membership is not visible under "Users in Role" tab for users imported from LDAP
  federation/ldap/src/main/java/org/keycloak/storage/ldap/LDAPStorageProvider.java
  federation/ldap/src/main/java/org/keycloak/storage/ldap/mappers/AbstractLDAPStorageMapper.java
  federation/ldap/src/main/java/org/keycloak/storage/ldap/mappers/LDAPStorageMapper.java
  federation/ldap/src/main/java/org/keycloak/storage/ldap/mappers/membership/CommonLDAPGroupMapper.java
  federation/ldap/src/main/java/org/keycloak/storage/ldap/mappers/membership/MembershipType.java
  federation/ldap/src/main/java/org/keycloak/storage/ldap/mappers/membership/role/RoleLDAPStorageMapper.java
  testsuite/integration-arquillian/servers/auth-server/services/testsuite-providers/src/main/java/org/keycloak/testsuite/rest/resource/TestLDAPResource.java
  testsuite/integration-arquillian/servers/auth-server/services/testsuite-providers/src/main/java/org/keycloak/testsuite/util/LDAPTestUtils.java
  testsuite/integration-arquillian/tests/base/src/main/java/org/keycloak/testsuite/client/resources/TestingLDAPResource.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/federation/ldap/LDAPRoleMapperTest.java
Labels: area/user-federation, impact/medium, kind/bug
