Repository keycloak/keycloak, pull requests merged in 2020-11, with the labels that each got.

#7562 [KEYCLOAK-16116] - PersistedConfigSource for resolving build time properties
  quarkus/deployment/src/main/java/org/keycloak/quarkus/deployment/KeycloakProcessor.java
  quarkus/runtime/src/main/java/org/keycloak/cli/ShowConfigCommand.java
  quarkus/runtime/src/main/java/org/keycloak/configuration/ConfigArgsConfigSource.java
  quarkus/runtime/src/main/java/org/keycloak/configuration/KeycloakConfigSourceProvider.java
  quarkus/runtime/src/main/java/org/keycloak/configuration/PersistedConfigSource.java
  quarkus/runtime/src/main/java/org/keycloak/configuration/SysPropConfigSource.java
  quarkus/runtime/src/main/java/org/keycloak/quarkus/KeycloakRecorder.java
Labels: component/quarkus

#7563 [KEYCLOAK-11698] - Change context path of Keycloak to / for Keycloak.X
  quarkus/server/src/main/resources/application.properties
  testsuite/integration-arquillian/servers/auth-server/quarkus/ant/configure.xml
Labels: component/quarkus

#7558 KEYCLOAK-16115 Remove need for MapStorage.keySet() and values()
  model/map/src/main/java/org/keycloak/models/map/client/MapClientProvider.java
  model/map/src/main/java/org/keycloak/models/map/group/MapGroupProvider.java
  model/map/src/main/java/org/keycloak/models/map/role/MapRoleAdapter.java
  model/map/src/main/java/org/keycloak/models/map/role/MapRoleProvider.java
  model/map/src/main/java/org/keycloak/models/map/storage/MapKeycloakTransaction.java
  model/map/src/main/java/org/keycloak/models/map/storage/MapStorage.java
Labels: area/storage, component/core, kind/feature

#7493 [KEYCLOAK-16055] Update DefaultKeyManager kid is null logging
  services/src/main/java/org/keycloak/keys/DefaultKeyManager.java
Labels: missing/jira

#7578 Minor updates to config based on design document changes
  quarkus/deployment/src/main/java/org/keycloak/quarkus/deployment/KeycloakProcessor.java
  quarkus/runtime/src/main/java/org/keycloak/cli/MainCommand.java
  quarkus/runtime/src/main/java/org/keycloak/cli/ShowConfigCommand.java
  quarkus/runtime/src/main/java/org/keycloak/configuration/Configuration.java
  quarkus/runtime/src/main/java/org/keycloak/configuration/KeycloakConfigSourceProvider.java
  quarkus/runtime/src/main/java/org/keycloak/configuration/PersistedConfigSource.java
  quarkus/runtime/src/main/java/org/keycloak/configuration/PropertyMapper.java
  quarkus/runtime/src/main/java/org/keycloak/configuration/PropertyMappers.java
  quarkus/runtime/src/main/java/org/keycloak/quarkus/KeycloakRecorder.java
  quarkus/runtime/src/main/java/org/keycloak/util/Environment.java
  quarkus/runtime/src/test/java/org/keycloak/provider/quarkus/ConfigurationTest.java
Labels: component/quarkus

#7588 [KEYCLOAK-16126] - Windows support
  distribution/server-x-dist/src/main/content/bin/kc.bat
  quarkus/runtime/src/main/java/org/keycloak/cli/MainCommand.java
  quarkus/runtime/src/main/java/org/keycloak/configuration/Database.java
  quarkus/runtime/src/main/java/org/keycloak/util/Environment.java
  quarkus/runtime/src/test/java/org/keycloak/provider/quarkus/ConfigurationTest.java
Labels: component/quarkus, kind/bug

#7541 KEYCLOAK-15898 Streamification of Keymanager
  server-spi-private/src/main/java/org/keycloak/keys/KeyProvider.java
  server-spi/src/main/java/org/keycloak/models/KeyManager.java
  services/src/main/java/org/keycloak/broker/saml/SAMLIdentityProvider.java
  services/src/main/java/org/keycloak/keys/AbstractEcdsaKeyProvider.java
  services/src/main/java/org/keycloak/keys/AbstractGeneratedSecretKeyProvider.java
  services/src/main/java/org/keycloak/keys/AbstractRsaKeyProvider.java
  services/src/main/java/org/keycloak/keys/DefaultKeyManager.java
  services/src/main/java/org/keycloak/protocol/oidc/OIDCLoginProtocolService.java
  services/src/main/java/org/keycloak/protocol/saml/IDPMetadataDescriptor.java
  services/src/main/java/org/keycloak/protocol/saml/SamlService.java
  services/src/main/java/org/keycloak/services/resources/admin/KeyResource.java
Labels: area/storage, component/core, kind/feature

#7524 [KEYCLOAK-15200] Complement methods for accessing users with Stream v…
  federation/ldap/src/main/java/org/keycloak/storage/ldap/LDAPStorageProvider.java
  federation/ldap/src/main/java/org/keycloak/storage/ldap/mappers/FullNameLDAPStorageMapper.java
  federation/ldap/src/main/java/org/keycloak/storage/ldap/mappers/HardcodedAttributeMapper.java
  federation/ldap/src/main/java/org/keycloak/storage/ldap/mappers/UserAttributeLDAPStorageMapper.java
  federation/ldap/src/main/java/org/keycloak/storage/ldap/mappers/msad/MSADUserAccountControlStorageMapper.java
  federation/ldap/src/main/java/org/keycloak/storage/ldap/mappers/msadlds/MSADLDSUserAccountControlStorageMapper.java
  model/infinispan/src/main/java/org/keycloak/models/cache/infinispan/UserAdapter.java
  model/infinispan/src/main/java/org/keycloak/models/cache/infinispan/UserCacheSession.java
  model/infinispan/src/main/java/org/keycloak/models/cache/infinispan/entities/CachedUser.java
  model/jpa/src/main/java/org/keycloak/models/jpa/JpaUserProvider.java
  model/jpa/src/main/java/org/keycloak/models/jpa/UserAdapter.java
  model/jpa/src/main/java/org/keycloak/storage/jpa/JpaUserFederatedStorageProvider.java
  server-spi-private/src/main/java/org/keycloak/storage/adapter/InMemoryUserAdapter.java
  server-spi/src/main/java/org/keycloak/models/UserModel.java
  server-spi/src/main/java/org/keycloak/models/UserProvider.java
  server-spi/src/main/java/org/keycloak/models/utils/UserModelDelegate.java
  server-spi/src/main/java/org/keycloak/storage/adapter/AbstractUserAdapter.java
  server-spi/src/main/java/org/keycloak/storage/adapter/AbstractUserAdapterFederatedStorage.java
  server-spi/src/main/java/org/keycloak/storage/federated/UserAttributeFederatedStorage.java
  server-spi/src/main/java/org/keycloak/storage/federated/UserBrokerLinkFederatedStorage.java
  server-spi/src/main/java/org/keycloak/storage/federated/UserConsentFederatedStorage.java
  server-spi/src/main/java/org/keycloak/storage/federated/UserFederatedStorageProvider.java
  server-spi/src/main/java/org/keycloak/storage/federated/UserFederatedUserCredentialStore.java
  server-spi/src/main/java/org/keycloak/storage/federated/UserGroupMembershipFederatedStorage.java
  server-spi/src/main/java/org/keycloak/storage/federated/UserRequiredActionsFederatedStorage.java
  server-spi/src/main/java/org/keycloak/storage/federated/UserRoleMappingsFederatedStorage.java
  server-spi/src/main/java/org/keycloak/storage/user/UserQueryProvider.java
  services/src/main/java/org/keycloak/authentication/authenticators/broker/IdpReviewProfileAuthenticator.java
  services/src/main/java/org/keycloak/storage/UserStorageManager.java
  testsuite/integration-arquillian/servers/auth-server/services/testsuite-providers/src/main/java/org/keycloak/testsuite/federation/BackwardsCompatibilityUserStorage.java
  testsuite/integration-arquillian/servers/auth-server/services/testsuite-providers/src/main/java/org/keycloak/testsuite/federation/FailableHardcodedStorageProvider.java
  testsuite/integration-arquillian/servers/auth-server/services/testsuite-providers/src/main/java/org/keycloak/testsuite/federation/UserMapStorage.java
  testsuite/integration-arquillian/servers/auth-server/services/testsuite-providers/src/main/java/org/keycloak/testsuite/federation/UserPropertyFileStorage.java
  testsuite/integration-arquillian/servers/auth-server/services/testsuite-providers/src/main/java/org/keycloak/testsuite/util/LDAPTestUtils.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/federation/ldap/LDAPBinaryAttributesTest.java
  testsuite/utils/src/main/java/org/keycloak/testsuite/util/cli/LdapManyObjectsInitializerCommand.java
Labels: area/storage, impact/medium, kind/feature, status/in-review

#7566 [KEYCLOAK-16139] Serialize the calls for groups tab on admin console
  themes/src/main/resources/theme/base/admin/resources/js/controllers/users.js
Labels: Run UI Tests, area/user-federation, impact/low, status/in-review

#7482 KEYCLOAK-15889 Streamification of ProtocolMappers
  model/infinispan/src/main/java/org/keycloak/models/cache/infinispan/ClientAdapter.java
  model/infinispan/src/main/java/org/keycloak/models/cache/infinispan/ClientScopeAdapter.java
  model/infinispan/src/main/java/org/keycloak/models/cache/infinispan/entities/CachedClient.java
  model/infinispan/src/main/java/org/keycloak/models/cache/infinispan/entities/CachedClientScope.java
  model/jpa/src/main/java/org/keycloak/models/jpa/ClientAdapter.java
  model/jpa/src/main/java/org/keycloak/models/jpa/ClientScopeAdapter.java
  model/map/src/main/java/org/keycloak/models/map/client/MapClientAdapter.java
  server-spi-private/src/main/java/org/keycloak/migration/migrators/MigrationUtils.java
  server-spi-private/src/main/java/org/keycloak/models/utils/ModelToRepresentation.java
  server-spi-private/src/main/java/org/keycloak/models/utils/RepresentationToModel.java
  server-spi-private/src/main/java/org/keycloak/storage/client/AbstractReadOnlyClientStorageAdapter.java
  server-spi/src/main/java/org/keycloak/models/ClientSessionContext.java
  server-spi/src/main/java/org/keycloak/models/ProtocolMapperContainerModel.java
  services/src/main/java/org/keycloak/forms/account/freemarker/model/ApplicationsBean.java
  services/src/main/java/org/keycloak/protocol/ProtocolMapperUtils.java
  services/src/main/java/org/keycloak/protocol/docker/DockerAuthV2Protocol.java
  services/src/main/java/org/keycloak/protocol/oidc/TokenManager.java
  services/src/main/java/org/keycloak/protocol/oidc/endpoints/TokenEndpoint.java
  services/src/main/java/org/keycloak/protocol/oidc/installation/KeycloakOIDCClientInstallation.java
  services/src/main/java/org/keycloak/protocol/saml/SamlProtocol.java
  services/src/main/java/org/keycloak/protocol/saml/mappers/RoleListMapper.java
  services/src/main/java/org/keycloak/services/clientregistration/oidc/OIDCClientRegistrationProvider.java
  services/src/main/java/org/keycloak/services/clientregistration/policy/impl/ProtocolMappersClientRegistrationPolicy.java
  services/src/main/java/org/keycloak/services/managers/AuthenticationManager.java
  services/src/main/java/org/keycloak/services/managers/ClientManager.java
  services/src/main/java/org/keycloak/services/resources/admin/ClientScopeEvaluateResource.java
  services/src/main/java/org/keycloak/services/resources/admin/ClientScopeEvaluateScopeMappingsResource.java
  services/src/main/java/org/keycloak/services/resources/admin/ProtocolMappersResource.java
  services/src/main/java/org/keycloak/services/util/DefaultClientSessionContext.java
  services/src/main/java/org/keycloak/storage/openshift/OpenshiftSAClientAdapter.java
  testsuite/integration-arquillian/servers/auth-server/services/testsuite-providers/src/main/java/org/keycloak/testsuite/federation/HardcodedClientStorageProvider.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/adapter/servlet/UserStorageConsentTest.java
Labels: area/storage, component/core, impact/low, kind/feature

#7545 [KEYCLOAK-14468] - Scope permission sometimes not removed when removing scopes
  model/jpa/src/main/java/org/keycloak/authorization/jpa/entities/PolicyEntity.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/admin/client/authorization/ScopeManagementTest.java
Labels: area/authorization

#7596 KEYCLOAK-16244 RealmRealmLocalizationResourceTest fails on auth-serve…
  model/jpa/src/main/java/org/keycloak/models/jpa/JpaRealmProvider.java
  model/jpa/src/main/java/org/keycloak/models/jpa/RealmAdapter.java
  model/jpa/src/main/java/org/keycloak/models/jpa/entities/RealmLocalizationTextsEntity.java
Labels: component/quarkus

#7594 KEYCLOAK-14206 Client Policy - Executor : Enforce more secure state and nonce treatment for preventing CSRF
  services/src/main/java/org/keycloak/services/clientpolicy/executor/SecureSessionEnforceExecutor.java
  services/src/main/java/org/keycloak/services/clientpolicy/executor/SecureSessionEnforceExecutorFactory.java
  services/src/main/resources/META-INF/services/org.keycloak.services.clientpolicy.executor.ClientPolicyExecutorProviderFactory
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/client/ClientPolicyBasicsTest.java
Labels: area/oidc, kind/feature, status/in-review

#7518 KEYCLOAK-13639. Added metrics and custom healthcheck endpoints.
  quarkus/deployment/pom.xml
  quarkus/deployment/src/main/java/org/keycloak/quarkus/deployment/KeycloakProcessor.java
  quarkus/runtime/pom.xml
  quarkus/runtime/src/main/java/org/keycloak/configuration/Configuration.java
  quarkus/runtime/src/main/java/org/keycloak/configuration/PropertyMapper.java
  quarkus/runtime/src/main/java/org/keycloak/configuration/PropertyMappers.java
  quarkus/runtime/src/main/java/org/keycloak/provider/quarkus/QuarkusRequestFilter.java
  quarkus/runtime/src/main/java/org/keycloak/quarkus/KeycloakRecorder.java
  quarkus/runtime/src/main/java/org/keycloak/services/health/KeycloakReadyHealthCheck.java
  quarkus/server/src/main/resources/META-INF/keycloak.properties
  quarkus/server/src/main/resources/application.properties
  services/src/main/java/org/keycloak/transaction/JtaTransactionWrapper.java
Labels: component/quarkus

#7597 [KEYCLOAK-16245] - Update Quarkus 1.10.0.CR1
  .github/workflows/ci.yml
  quarkus/deployment/pom.xml
  quarkus/pom.xml
  quarkus/runtime/src/main/java/org/keycloak/cli/MainCommand.java
  services/src/main/java/org/keycloak/services/resources/LoginActionsService.java
  services/src/main/java/org/keycloak/services/resources/account/AccountFormService.java
  services/src/main/java/org/keycloak/transaction/JtaTransactionWrapper.java
  testsuite/integration-arquillian/servers/auth-server/services/testsuite-providers/src/main/java/org/keycloak/testsuite/rest/TestApplicationResourceProvider.java
  testsuite/integration-arquillian/servers/auth-server/services/testsuite-providers/src/main/java/org/keycloak/testsuite/rest/TestApplicationResourceProviderFactory.java
Labels: component/quarkus, impact/medium, kind/enhancement

#7604 [KEYCLOAK-13639] - Improvements to metrics and health status
  quarkus/deployment/src/main/java/org/keycloak/quarkus/deployment/KeycloakProcessor.java
  quarkus/runtime/src/main/java/org/keycloak/provider/quarkus/QuarkusRequestFilter.java
  quarkus/runtime/src/main/java/org/keycloak/quarkus/KeycloakRecorder.java
  quarkus/runtime/src/main/java/org/keycloak/services/NotFoundHandler.java
  quarkus/runtime/src/main/java/org/keycloak/services/health/KeycloakMetricsHandler.java
  quarkus/server/src/main/resources/application.properties
  services/src/main/java/org/keycloak/transaction/JtaTransactionWrapper.java
Labels: component/quarkus, impact/medium, kind/bug

#7606 [KEYCLOAK-11330] - Fixing client and realm tests
  testsuite/integration-arquillian/servers/auth-server/services/testsuite-providers/src/main/java/org/keycloak/testsuite/rest/TestApplicationResourceProvider.java
Labels: area/testsuite, component/quarkus, impact/low

#7600 KEYCLOAK-13644. Added healthcheck endpoints tests.
  quarkus/deployment/src/test/java/test/org/keycloak/quarkus/services/health/KeycloakNegativeHealthCheckTest.java
  quarkus/deployment/src/test/java/test/org/keycloak/quarkus/services/health/KeycloakReadyHealthCheckTest.java
  quarkus/deployment/src/test/resources/application.properties
  quarkus/deployment/src/test/resources/keycloak.properties
  quarkus/runtime/pom.xml
  quarkus/runtime/src/test/java/org/keycloak/provider/quarkus/ConfigurationTest.java
  quarkus/runtime/src/test/resources/META-INF/keycloak.properties
Labels: component/quarkus, kind/feature, priority/important, status/in-review

#7609 KEYCLOAK-16074 Fix check3pCookiesSupported message callback
  adapters/oidc/js/src/main/resources/keycloak.js
  testsuite/integration-arquillian/tests/base/src/main/java/org/keycloak/testsuite/util/javascript/JavascriptTestExecutor.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/javascript/JavascriptAdapterTest.java
Labels: area/adapters, priority/critical, status/ready

#7620 [KEYCLOAK-14352] JavaScript injection vulnerability of Realm registration REST API
  services/src/main/java/org/keycloak/services/managers/RealmManager.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/model/BadRealmTest.java
Labels: component/admin-rest, impact/medium

#7627 KEYCLOAK-16381: error text moved to constants file
  server-spi-private/src/main/java/org/keycloak/events/Errors.java
  services/src/main/java/org/keycloak/broker/saml/SAMLEndpoint.java
  services/src/main/java/org/keycloak/protocol/saml/SamlService.java
Labels: area/saml, kind/enhancement

#7619 [KEYCLOAK-16341] Make the new stream-based methods in server-spi user…
  federation/ldap/src/main/java/org/keycloak/storage/ldap/LDAPStorageProvider.java
  federation/ldap/src/main/java/org/keycloak/storage/ldap/ReadonlyLDAPUserModelDelegate.java
  model/infinispan/src/main/java/org/keycloak/models/cache/infinispan/GroupAdapter.java
  model/infinispan/src/main/java/org/keycloak/models/cache/infinispan/UserAdapter.java
  model/infinispan/src/main/java/org/keycloak/models/cache/infinispan/UserCacheSession.java
  model/jpa/src/main/java/org/keycloak/models/jpa/GroupAdapter.java
  model/jpa/src/main/java/org/keycloak/models/jpa/JpaUserProvider.java
  model/jpa/src/main/java/org/keycloak/models/jpa/UserAdapter.java
  model/jpa/src/main/java/org/keycloak/storage/jpa/JpaUserFederatedStorageProvider.java
  model/map/src/main/java/org/keycloak/models/map/group/AbstractGroupModel.java
  server-spi-private/src/main/java/org/keycloak/storage/adapter/InMemoryUserAdapter.java
  server-spi/src/main/java/org/keycloak/models/GroupModel.java
  server-spi/src/main/java/org/keycloak/models/RoleMapperModel.java
  server-spi/src/main/java/org/keycloak/models/UserModel.java
  server-spi/src/main/java/org/keycloak/models/UserModelDefaultMethods.java
  server-spi/src/main/java/org/keycloak/models/UserProvider.java
  server-spi/src/main/java/org/keycloak/models/cache/CachedUserModel.java
  server-spi/src/main/java/org/keycloak/models/cache/UserCache.java
  server-spi/src/main/java/org/keycloak/models/utils/UserModelDelegate.java
  server-spi/src/main/java/org/keycloak/storage/adapter/AbstractUserAdapter.java
  server-spi/src/main/java/org/keycloak/storage/adapter/AbstractUserAdapterFederatedStorage.java
  server-spi/src/main/java/org/keycloak/storage/federated/UserAttributeFederatedStorage.java
  server-spi/src/main/java/org/keycloak/storage/federated/UserBrokerLinkFederatedStorage.java
  server-spi/src/main/java/org/keycloak/storage/federated/UserConsentFederatedStorage.java
  server-spi/src/main/java/org/keycloak/storage/federated/UserFederatedStorageProvider.java
  server-spi/src/main/java/org/keycloak/storage/federated/UserFederatedUserCredentialStore.java
  server-spi/src/main/java/org/keycloak/storage/federated/UserGroupMembershipFederatedStorage.java
  server-spi/src/main/java/org/keycloak/storage/federated/UserRequiredActionsFederatedStorage.java
  server-spi/src/main/java/org/keycloak/storage/federated/UserRoleMappingsFederatedStorage.java
  server-spi/src/main/java/org/keycloak/storage/user/UserQueryProvider.java
  services/src/main/java/org/keycloak/storage/UserStorageManager.java
  testsuite/integration-arquillian/servers/auth-server/services/testsuite-providers/src/main/java/org/keycloak/testsuite/federation/BackwardsCompatibilityUserStorage.java
  testsuite/integration-arquillian/servers/auth-server/services/testsuite-providers/src/main/java/org/keycloak/testsuite/federation/FailableHardcodedStorageProvider.java
  testsuite/integration-arquillian/servers/auth-server/services/testsuite-providers/src/main/java/org/keycloak/testsuite/federation/HardcodedGroupStorageProvider.java
  testsuite/integration-arquillian/servers/auth-server/services/testsuite-providers/src/main/java/org/keycloak/testsuite/federation/PassThroughFederatedUserStorageProvider.java
  testsuite/integration-arquillian/servers/auth-server/services/testsuite-providers/src/main/java/org/keycloak/testsuite/federation/UserMapStorage.java
  testsuite/integration-arquillian/servers/auth-server/services/testsuite-providers/src/main/java/org/keycloak/testsuite/federation/UserPropertyFileStorage.java
Labels: area/storage, kind/bug, priority/critical, status/in-review

#7613 KEYCLOAK-16323 Speedup GHA
  .github/workflows/ci.yml
Labels: area/ci

#7610 KEYCLOAK-16143 Honor forwardedErrorMessage when rendering forms
  services/src/main/java/org/keycloak/authentication/FormAuthenticationFlow.java
Labels: area/authentication, kind/bug

#7534 KEYCLOAK-16065 Replace last UrlConnection uses with HttpClientProvider
  services/src/main/java/org/keycloak/authentication/authenticators/x509/CertificateValidator.java
  services/src/main/java/org/keycloak/authentication/authenticators/x509/OCSPUtils.java
Labels: area/authentication, kind/enhancement

#7629 KEYCLOAK-16392 Client Policy - Condition : NPE without any initial configuration
  services/src/main/java/org/keycloak/services/clientpolicy/condition/ClientAccessTypeCondition.java
  services/src/main/java/org/keycloak/services/clientpolicy/condition/ClientIpAddressCondition.java
  services/src/main/java/org/keycloak/services/clientpolicy/condition/ClientScopesCondition.java
  services/src/main/java/org/keycloak/services/clientpolicy/condition/ClientUpdateContextCondition.java
  services/src/main/java/org/keycloak/services/clientpolicy/executor/SecureRequestObjectExecutor.java
  services/src/main/java/org/keycloak/services/clientpolicy/executor/SecureSigningAlgorithmEnforceExecutor.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/client/ClientPolicyBasicsTest.java
Labels: area/oidc, missing/tests

#7624 KEYCLOAK-16354: Update serialize-javascript dependency
  themes/src/main/resources/theme/keycloak-preview/account/src/package-lock.json
  themes/src/main/resources/theme/keycloak-preview/account/src/package.json
Labels: area/ui, impact/medium, priority/important

#7488 KEYCLOAK-14137 Upgrade Authentication selector screen
  testsuite/integration-arquillian/tests/base/src/main/java/org/keycloak/testsuite/pages/SelectAuthenticatorPage.java
  themes/src/main/resources/theme/base/login/select-authenticator.ftl
  themes/src/main/resources/theme/keycloak/login/resources/css/login.css
  themes/src/main/resources/theme/keycloak/login/theme.properties
Labels: area/authentication, component/themes, kind/enhancement

#7543 [KEYCLOAK-15634] Prevent federated user removal with new account console
  testsuite/integration-arquillian/tests/other/base-ui/src/test/java/org/keycloak/testsuite/ui/account2/PersonalInfoTest.java
  themes/src/main/resources/theme/keycloak.v2/account/src/app/content/account-page/AccountPage.tsx
Labels: area/ui, kind/bug, missing/tests
