Repository keycloak/keycloak, pull requests merged in 2020-05, with the labels that each got.

#7014 KEYCLOAK-12783 changed to base account url for new console
  services/src/main/java/org/keycloak/services/resources/admin/UserResource.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/admin/ImpersonationTest.java
Labels: Missing Tests, Run UI Tests

#6897 KEYCLOAK-12916 add name or username in toolbar
  testsuite/integration-arquillian/tests/other/base-ui/src/test/java/org/keycloak/testsuite/ui/account2/PersonalInfoTest.java
  testsuite/integration-arquillian/tests/other/base-ui/src/test/java/org/keycloak/testsuite/ui/account2/WelcomeScreenTest.java
  testsuite/integration-arquillian/tests/other/base-ui/src/test/java/org/keycloak/testsuite/ui/account2/page/PersonalInfoPage.java
  testsuite/integration-arquillian/tests/other/base-ui/src/test/java/org/keycloak/testsuite/ui/account2/page/fragment/LoggedInPageHeader.java
  testsuite/integration-arquillian/tests/other/base-ui/src/test/java/org/keycloak/testsuite/ui/account2/page/fragment/WelcomeScreenHeader.java
  themes/src/main/resources/theme/keycloak-preview/account/index.ftl
  themes/src/main/resources/theme/keycloak-preview/account/messages/messages_en.properties
  themes/src/main/resources/theme/keycloak-preview/account/resources/WelcomePageScripts.js
  themes/src/main/resources/theme/keycloak-preview/account/resources/app/App.tsx
Labels: Hold

#7030 KEYCLOAK-13998 ConditionalRoleAuthenticator doesn't work with composite roles
  services/src/main/java/org/keycloak/authentication/authenticators/conditional/ConditionalRoleAuthenticator.java
  services/src/main/java/org/keycloak/authentication/authenticators/conditional/ConditionalRoleAuthenticatorFactory.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/forms/BrowserFlowTest.java
Labels: Bug fix, Missing Tests

#6984 KEYCLOAK-13823: "Dir" Full export/import: On import, service account roles and authorization info are not imported
  services/src/main/java/org/keycloak/exportimport/dir/DirImportProvider.java
  services/src/main/java/org/keycloak/exportimport/util/ImportUtils.java
  services/src/main/java/org/keycloak/services/managers/RealmManager.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/exportimport/ExportImportTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/exportimport/ExportImportUtil.java
  testsuite/integration-arquillian/tests/base/src/test/resources/import/import-without-clients.json
  testsuite/integration-arquillian/tests/base/src/test/resources/import/partial-import.json
  testsuite/integration-arquillian/tests/base/src/test/resources/model/testrealm.json
Labels: Bug fix

#6899 KEYCLOAK-12045 Improve UX for the Credentials tab in Admin Console
  themes/src/main/resources/theme/base/admin/resources/js/controllers/users.js
  themes/src/main/resources/theme/base/admin/resources/partials/modal/user-credential-data.html
  themes/src/main/resources/theme/base/admin/resources/partials/user-credentials.html
  themes/src/main/resources/theme/keycloak/admin/resources/css/styles.css
Labels: Hold

#7063 [KEYCLOAK-11719] - Remove need for servlets/undertow from Quarkus dist
  distribution/feature-packs/server-feature-pack/src/main/resources/modules/system/layers/keycloak/org/keycloak/keycloak-server-subsystem/main/server-war/WEB-INF/web.xml
  quarkus/extensions/pom.xml
  quarkus/extensions/src/main/java/org/keycloak/QuarkusKeycloakApplication.java
  quarkus/extensions/src/main/java/org/keycloak/provider/quarkus/QuarkusFilter.java
  quarkus/extensions/src/main/java/org/keycloak/provider/quarkus/QuarkusLifecycleObserver.java
  quarkus/pom.xml
  quarkus/server/pom.xml
  quarkus/server/src/main/resources/META-INF/web.xml
  quarkus/server/src/main/resources/application.properties
  services/pom.xml
  services/src/main/java/org/keycloak/authentication/AuthenticationProcessor.java
  services/src/main/java/org/keycloak/services/filters/KeycloakTransactionCommitter.java
  services/src/main/java/org/keycloak/services/resources/KeycloakApplication.java
  services/src/main/java/org/keycloak/services/resources/admin/ClientInitialAccessResource.java
  testsuite/integration-arquillian/servers/auth-server/undertow/src/main/java/org/keycloak/testsuite/arquillian/undertow/KeycloakOnUndertow.java
  testsuite/utils/src/main/java/org/keycloak/testsuite/KeycloakServer.java
  testsuite/utils/src/main/java/org/keycloak/testsuite/KeycloakSessionServletFilter.java
  testsuite/utils/src/main/java/org/keycloak/testsuite/TestKeycloakSessionServletFilter.java
  testsuite/utils/src/main/java/org/keycloak/testsuite/TestPlatform.java
  wildfly/extensions/pom.xml
  wildfly/extensions/src/main/java/org/keycloak/provider/wildfly/KeycloakSessionServletFilter.java
  wildfly/extensions/src/main/java/org/keycloak/provider/wildfly/WildflyPlatform.java
Labels: Quarkus

#7061 KEYCLOAK-12414 Remove the need to specify defaults in config file
  core/src/main/java/org/keycloak/Config.java
  model/jpa/src/main/java/org/keycloak/models/jpa/session/JpaUserSessionPersisterProviderFactory.java
  quarkus/extensions/src/main/java/org/keycloak/connections/jpa/QuarkusJpaConnectionProviderFactory.java
  quarkus/extensions/src/main/java/org/keycloak/transaction/QuarkusJtaTransactionManagerLookup.java
  quarkus/server/src/main/resources/META-INF/keycloak.properties
  server-spi/src/main/java/org/keycloak/urls/HostnameProviderFactory.java
  services/src/main/java/org/keycloak/services/DefaultKeycloakSessionFactory.java
  services/src/main/java/org/keycloak/services/resources/KeycloakApplication.java
  services/src/main/java/org/keycloak/services/util/CacheControlUtil.java
  services/src/main/java/org/keycloak/services/util/JsonConfigProvider.java
  testsuite/utils/src/main/resources/META-INF/keycloak-server.json
Labels: Quarkus

#7060 KEYCLOAK-14135 Don't include built-in themes in themes directory of Q…
  distribution/server-x/pom.xml
  distribution/server-x/src/main/content/providers/README.txt
  distribution/server-x/src/main/content/themes/README.txt
Labels: Quarkus

#7062 [KEYCLOAK-11784] - Hibermate ORM Extension and Improvements to JPA and LiquiBase
  model/jpa/src/main/resources/META-INF/beans.xml
  quarkus/extensions/pom.xml
  quarkus/extensions/src/main/java/org/keycloak/connections/jpa/QuarkusJpaConnectionProvider.java
  quarkus/extensions/src/main/java/org/keycloak/connections/jpa/QuarkusJpaConnectionProviderFactory.java
  quarkus/extensions/src/main/java/org/keycloak/connections/liquibase/FastServiceLocator.java
  quarkus/extensions/src/main/java/org/keycloak/connections/liquibase/KeycloakLogger.java
  quarkus/extensions/src/main/java/org/keycloak/connections/liquibase/QuarkusJpaUpdaterProvider.java
  quarkus/extensions/src/main/java/org/keycloak/connections/liquibase/QuarkusJpaUpdaterProviderFactory.java
  quarkus/extensions/src/main/java/org/keycloak/connections/liquibase/QuarkusLiquibaseConnectionProvider.java
  quarkus/extensions/src/main/resources/META-INF/beans.xml
  quarkus/extensions/src/main/resources/META-INF/services/org.keycloak.connections.jpa.updater.JpaUpdaterProviderFactory
  quarkus/extensions/src/main/resources/META-INF/services/org.keycloak.connections.jpa.updater.liquibase.conn.LiquibaseConnectionProviderFactory
  quarkus/pom.xml
  quarkus/server/pom.xml
  quarkus/server/src/main/java/org/keycloak/services/resources/Dummy.java
  quarkus/server/src/main/resources/META-INF/keycloak.properties
  quarkus/server/src/main/resources/META-INF/persistence.xml
  quarkus/server/src/main/resources/application.properties
  services/src/main/java/org/keycloak/services/resources/KeycloakApplication.java
  testsuite/utils/src/main/java/org/keycloak/testsuite/TestPlatform.java
  wildfly/extensions/src/main/java/org/keycloak/provider/wildfly/WildflyPlatform.java
Labels: Quarkus

#7038 KEYCLOAK-13047 LDAP no-import fixes. Avoid lost updates - dont allow …
  federation/ldap/src/main/java/org/keycloak/storage/ldap/LDAPStorageProvider.java
  federation/ldap/src/main/java/org/keycloak/storage/ldap/LDAPStorageProviderFactory.java
  federation/ldap/src/main/java/org/keycloak/storage/ldap/LDAPWritesOnlyUserModelDelegate.java
  federation/ldap/src/main/java/org/keycloak/storage/ldap/ReadonlyLDAPUserModelDelegate.java
  federation/ldap/src/main/java/org/keycloak/storage/ldap/UnsyncedLDAPUserModelDelegate.java
  federation/ldap/src/main/java/org/keycloak/storage/ldap/WritableLDAPUserModelDelegate.java
  federation/ldap/src/main/java/org/keycloak/storage/ldap/idm/store/ldap/LDAPIdentityStore.java
  federation/ldap/src/main/java/org/keycloak/storage/ldap/mappers/AbstractLDAPStorageMapper.java
  federation/ldap/src/main/java/org/keycloak/storage/ldap/mappers/FullNameLDAPStorageMapper.java
  federation/ldap/src/main/java/org/keycloak/storage/ldap/mappers/LDAPTransaction.java
  federation/ldap/src/main/java/org/keycloak/storage/ldap/mappers/TxAwareLDAPUserModelDelegate.java
  federation/ldap/src/main/java/org/keycloak/storage/ldap/mappers/UserAttributeLDAPStorageMapper.java
  federation/ldap/src/main/java/org/keycloak/storage/ldap/mappers/msad/MSADUserAccountControlStorageMapper.java
  server-spi-private/src/main/java/org/keycloak/models/LDAPConstants.java
  server-spi-private/src/main/java/org/keycloak/models/utils/ReadOnlyUserModelDelegate.java
  server-spi-private/src/main/java/org/keycloak/storage/adapter/InMemoryUserAdapter.java
  server-spi-private/src/main/java/org/keycloak/storage/adapter/UpdateOnlyChangeUserModelDelegate.java
  services/src/main/java/org/keycloak/services/resources/admin/ClientRoleMappingsResource.java
  services/src/main/java/org/keycloak/services/resources/admin/RoleMapperResource.java
  services/src/main/java/org/keycloak/services/resources/admin/UserResource.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/federation/ldap/LDAPGroupMapperTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/federation/ldap/noimport/LDAPProvidersIntegrationNoImportTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/oauth/ServiceAccountTest.java
  themes/src/main/resources/theme/base/admin/messages/messages_en.properties
Labels: Bug fix, Docs

#7081 [KEYCLOAK-11784] - Quarkus Keycloak Application
  quarkus/runtime/src/main/java/org/keycloak/QuarkusKeycloakApplication.java
Labels: Quarkus

#7071 KEYCLOAK-14038: Re-allow special characters for Roles only
  services/src/main/java/org/keycloak/services/resources/admin/RoleContainerResource.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/admin/client/ClientRolesTest.java
  testsuite/integration-arquillian/tests/other/console/src/test/java/org/keycloak/testsuite/console/roles/RealmRolesTest.java
  themes/src/main/resources/theme/base/admin/resources/partials/client-role-detail.html
  themes/src/main/resources/theme/base/admin/resources/partials/role-detail.html
  themes/src/main/resources/theme/base/admin/resources/templates/kc-provider-config.html
Labels: Run UI Tests

#7091 [KEYCLOAK-11679] - Server startup on Quarkus
  quarkus/deployment/src/main/java/org/keycloak/quarkus/deployment/KeycloakProcessor.java
  quarkus/deployment/src/test/java/test/org/keycloak/quarkus/StartupTest.java
  quarkus/pom.xml
  quarkus/runtime/src/main/java/org/keycloak/QuarkusKeycloakApplication.java
  quarkus/runtime/src/main/java/org/keycloak/QuarkusKeycloakSessionFactory.java
  quarkus/runtime/src/main/java/org/keycloak/UserProviderLoader.java
  quarkus/runtime/src/main/java/org/keycloak/connections/jpa/QuarkusJpaConnectionProviderFactory.java
  quarkus/runtime/src/main/java/org/keycloak/connections/liquibase/QuarkusLiquibaseConnectionProvider.java
  quarkus/runtime/src/main/java/org/keycloak/provider/quarkus/QuarkusCacheManagerProvider.java
  quarkus/runtime/src/main/java/org/keycloak/runtime/KeycloakRecorder.java
  quarkus/runtime/src/main/java/org/keycloak/services/resources/QuarkusWelcomeResource.java
  quarkus/runtime/src/main/java/org/keycloak/transaction/QuarkusJtaTransactionManagerLookup.java
  services/src/main/java/org/keycloak/services/DefaultKeycloakSessionFactory.java
Labels: Quarkus

#7110 [KEYCLOAK-11679] - Avoid reflection when handlign startup event
  quarkus/runtime/src/main/java/org/keycloak/provider/quarkus/QuarkusLifecycleObserver.java
Labels: Quarkus
