Repository keycloak/keycloak, pull requests merged in 2020-08, with the labels that each got.

#7238 KEYCLOAK-8493: Added danish translation from abandoned PR-5567
  themes/src/main/resources-community/theme/base/account/messages/messages_da.properties
  themes/src/main/resources-community/theme/base/account/theme.properties
  themes/src/main/resources-community/theme/base/email/messages/messages_da.properties
  themes/src/main/resources-community/theme/base/email/theme.properties
  themes/src/main/resources-community/theme/base/login/messages/messages_da.properties
  themes/src/main/resources-community/theme/base/login/theme.properties
  themes/src/main/resources/theme/base/login/messages/messages_en.properties
Labels: area/ui, component/translations

#7293 KEYCLOAK-14851: make AIA max auth age configurable per AIA
  server-spi-private/src/main/java/org/keycloak/authentication/RequiredActionProvider.java
  services/src/main/java/org/keycloak/protocol/oidc/OIDCLoginProtocol.java
Labels: Run UI Tests, area/server, area/ui

#7310 KEYCLOAK-14944 - Unit test failure in keycloak-services on Java 11
  services/src/test/java/org/keycloak/connections/httpclient/DefaultHttpClientFactoryTest.java
Labels: area/testsuite, component/quarkus

#7313 KEYCLOAK-14978: Optimize addDefaultClientScopes()
  server-spi-private/src/main/java/org/keycloak/protocol/AbstractLoginProtocolFactory.java
Labels: area/oidc, impact/low, kind/enhancement

#7301 KEYCLOAK-14890 Improve null handling in case of missing NameId
  services/src/main/java/org/keycloak/broker/saml/SAMLEndpoint.java
  services/src/main/java/org/keycloak/broker/saml/SAMLIdentityProvider.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/saml/BrokerTest.java
Labels: area/saml, impact/low, kind/bug, missing/tests, status/in-review

#7332 [KEYCLOAK-11322] - Update Quarkus 1.7.0.Final
  quarkus/deployment/src/main/java/org/keycloak/quarkus/deployment/LiquibaseProcessor.java
  quarkus/pom.xml
Labels: component/quarkus

#7333 KEYCLOAK-15156 backchannel logout offline session handling
  core/src/main/java/org/keycloak/representations/oidc/OIDCClientRepresentation.java
  core/src/main/java/org/keycloak/util/TokenUtil.java
  services/src/main/java/org/keycloak/jose/jws/DefaultTokenManager.java
  services/src/main/java/org/keycloak/protocol/oidc/OIDCAdvancedConfigWrapper.java
  services/src/main/java/org/keycloak/protocol/oidc/OIDCConfigAttributes.java
  services/src/main/java/org/keycloak/protocol/oidc/OIDCLoginProtocolFactory.java
  services/src/main/java/org/keycloak/protocol/oidc/endpoints/LogoutEndpoint.java
  services/src/main/java/org/keycloak/services/clientregistration/oidc/DescriptionConverter.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/broker/OidcBackchannelLogoutBrokerConfiguration.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/oauth/BackchannelLogoutTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/util/LogoutTokenUtil.java
  themes/src/main/resources/theme/base/admin/messages/admin-messages_en.properties
  themes/src/main/resources/theme/base/admin/resources/js/controllers/clients.js
  themes/src/main/resources/theme/base/admin/resources/partials/client-detail.html
Labels: area/oidc, impact/low, kind/enhancement

#7315 KEYCLOAK-14972 Add independent GroupProvider interface
  federation/sssd/src/main/java/org/keycloak/federation/sssd/SSSDFederationProvider.java
  model/infinispan/src/main/java/org/keycloak/models/cache/infinispan/GroupAdapter.java
  model/infinispan/src/main/java/org/keycloak/models/cache/infinispan/RealmAdapter.java
  model/infinispan/src/main/java/org/keycloak/models/cache/infinispan/RealmCacheSession.java
  model/infinispan/src/main/java/org/keycloak/models/cache/infinispan/UserAdapter.java
  model/jpa/src/main/java/org/keycloak/models/jpa/JpaGroupProviderFactory.java
  model/jpa/src/main/java/org/keycloak/models/jpa/JpaRealmProvider.java
  model/jpa/src/main/java/org/keycloak/models/jpa/RealmAdapter.java
  model/jpa/src/main/resources/META-INF/services/org.keycloak.models.GroupProviderFactory
  server-spi-private/src/main/java/org/keycloak/models/GroupProviderFactory.java
  server-spi-private/src/main/java/org/keycloak/models/GroupSpi.java
  server-spi-private/src/main/java/org/keycloak/models/cache/CacheRealmProvider.java
  server-spi-private/src/main/resources/META-INF/services/org.keycloak.provider.Spi
  server-spi/src/main/java/org/keycloak/models/GroupProvider.java
  server-spi/src/main/java/org/keycloak/models/KeycloakSession.java
  server-spi/src/main/java/org/keycloak/models/RealmProvider.java
  services/src/main/java/org/keycloak/services/DefaultKeycloakSession.java
  services/src/main/java/org/keycloak/services/resources/admin/RoleContainerResource.java
  services/src/main/java/org/keycloak/services/resources/admin/UserResource.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/admin/FineGrainAdminUnitTest.java
  testsuite/integration-arquillian/tests/base/src/test/resources/META-INF/keycloak-server.json
  testsuite/utils/src/main/resources/META-INF/keycloak-server.json
Labels: area/storage, component/core, kind/enhancement, status/ready

#7348 KEYCLOAK-14996 Fix performance bottleneck in GroupLDAPStorageMapper.g…
  federation/ldap/src/main/java/org/keycloak/storage/ldap/mappers/membership/group/GroupLDAPStorageMapper.java
Labels: area/user-federation, impact/medium, kind/bug, status/in-review

#7321 [KEYCLOAK-14730] - Consent not working when using federation storage
  model/jpa/src/main/java/org/keycloak/storage/jpa/JpaUserFederatedStorageProvider.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/adapter/servlet/UserStorageConsentTest.java
Labels: area/authentication, area/oidc, area/user-federation, impact/low, kind/bug, priority/important

#7351 KEYCLOAK-15207 Fix map storage test failures
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/broker/OidcBackchannelLogoutBrokerConfiguration.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/federation/ldap/LDAPRoleMapperTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/oauth/BackchannelLogoutTest.java
Labels: area/testsuite, impact/low, kind/bug

#7326 KEYCLOAK-15087 : Reduce get client and get roles calls in realm create
  server-spi-private/src/main/java/org/keycloak/models/utils/RepresentationToModel.java
  services/src/main/java/org/keycloak/services/managers/RealmManager.java
Labels: component/core, impact/medium, kind/enhancement, status/requires-discussion

#7356 KEYCLOAK-15139 Backwards compatibility for LDAP Read-only mode with I…
  federation/ldap/src/main/java/org/keycloak/storage/ldap/LDAPStorageProvider.java
  federation/ldap/src/main/java/org/keycloak/storage/ldap/ReadonlyLDAPUserModelDelegate.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/federation/ldap/LDAPReadOnlyTest.java
Labels: area/user-federation, component/core, impact/medium, kind/bug

#7349 KEYCLOAK-14945 Improve the instructions for running the tests
  docs/building.md
  docs/tests.md
  testsuite/integration-arquillian/HOW-TO-RUN.md
Labels: area/testsuite, impact/low

#7358 [KEYCLOAK-14432] Unhandled NPE in identity broker auth response
  services/src/main/java/org/keycloak/broker/oidc/AbstractOAuth2IdentityProvider.java
  services/src/main/java/org/keycloak/services/messages/Messages.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/broker/KcOidcBrokerTest.java
  themes/src/main/resources/theme/base/login/messages/messages_en.properties
Labels: area/oidc, component/core, impact/low, kind/bug, missing/tests, status/in-review

#7294 KEYCLOAK-14902 Replace SAML SP metadata export with link to descriptor
  themes/src/main/resources/theme/base/admin/messages/admin-messages_en.properties
  themes/src/main/resources/theme/base/admin/resources/js/controllers/realm.js
  themes/src/main/resources/theme/base/admin/resources/partials/realm-identity-provider-export.html
  themes/src/main/resources/theme/base/admin/resources/partials/realm-identity-provider-saml.html
  themes/src/main/resources/theme/base/admin/resources/templates/kc-tabs-identity-provider.html
Labels: area/saml, area/ui, impact/medium, kind/enhancement, status/in-review
