Repository keycloak/keycloak, pull requests merged in 2021-05, with the labels that each got.

#7986 KEYCLOAK-17774 Implement equals method for work cache events
  model/infinispan/src/main/java/org/keycloak/cluster/infinispan/WrapperClusterEvent.java
  model/infinispan/src/main/java/org/keycloak/connections/infinispan/DefaultInfinispanConnectionProviderFactory.java
  model/infinispan/src/main/java/org/keycloak/models/cache/infinispan/ClearCacheEvent.java
  model/infinispan/src/main/java/org/keycloak/models/cache/infinispan/authorization/events/PermissionTicketRemovedEvent.java
  model/infinispan/src/main/java/org/keycloak/models/cache/infinispan/authorization/events/PermissionTicketUpdatedEvent.java
  model/infinispan/src/main/java/org/keycloak/models/cache/infinispan/authorization/events/PolicyRemovedEvent.java
  model/infinispan/src/main/java/org/keycloak/models/cache/infinispan/authorization/events/PolicyUpdatedEvent.java
  model/infinispan/src/main/java/org/keycloak/models/cache/infinispan/authorization/events/ResourceRemovedEvent.java
  model/infinispan/src/main/java/org/keycloak/models/cache/infinispan/authorization/events/ResourceServerRemovedEvent.java
  model/infinispan/src/main/java/org/keycloak/models/cache/infinispan/authorization/events/ResourceUpdatedEvent.java
  model/infinispan/src/main/java/org/keycloak/models/cache/infinispan/authorization/events/ScopeRemovedEvent.java
  model/infinispan/src/main/java/org/keycloak/models/cache/infinispan/authorization/events/ScopeUpdatedEvent.java
  model/infinispan/src/main/java/org/keycloak/models/cache/infinispan/events/AuthenticationSessionAuthNoteUpdateEvent.java
  model/infinispan/src/main/java/org/keycloak/models/cache/infinispan/events/ClientAddedEvent.java
  model/infinispan/src/main/java/org/keycloak/models/cache/infinispan/events/ClientRemovedEvent.java
  model/infinispan/src/main/java/org/keycloak/models/cache/infinispan/events/ClientScopeAddedEvent.java
  model/infinispan/src/main/java/org/keycloak/models/cache/infinispan/events/ClientScopeRemovedEvent.java
  model/infinispan/src/main/java/org/keycloak/models/cache/infinispan/events/ClientTemplateEvent.java
  model/infinispan/src/main/java/org/keycloak/models/cache/infinispan/events/ClientUpdatedEvent.java
  model/infinispan/src/main/java/org/keycloak/models/cache/infinispan/events/GroupAddedEvent.java
  model/infinispan/src/main/java/org/keycloak/models/cache/infinispan/events/GroupMovedEvent.java
  model/infinispan/src/main/java/org/keycloak/models/cache/infinispan/events/GroupRemovedEvent.java
  model/infinispan/src/main/java/org/keycloak/models/cache/infinispan/events/RealmRemovedEvent.java
  model/infinispan/src/main/java/org/keycloak/models/cache/infinispan/events/RealmUpdatedEvent.java
  model/infinispan/src/main/java/org/keycloak/models/cache/infinispan/events/RoleAddedEvent.java
  model/infinispan/src/main/java/org/keycloak/models/cache/infinispan/events/RoleRemovedEvent.java
  model/infinispan/src/main/java/org/keycloak/models/cache/infinispan/events/RoleUpdatedEvent.java
  model/infinispan/src/main/java/org/keycloak/models/cache/infinispan/events/UserFederationLinkRemovedEvent.java
  model/infinispan/src/main/java/org/keycloak/models/cache/infinispan/events/UserFullInvalidationEvent.java
  model/infinispan/src/main/java/org/keycloak/models/cache/infinispan/events/UserUpdatedEvent.java
  model/infinispan/src/main/java/org/keycloak/models/sessions/infinispan/changes/sessions/LastSessionRefreshEvent.java
  model/infinispan/src/main/java/org/keycloak/models/sessions/infinispan/events/ClientRemovedSessionEvent.java
  model/infinispan/src/main/java/org/keycloak/models/sessions/infinispan/events/SessionClusterEvent.java
  model/map/src/main/java/org/keycloak/models/map/authSession/MapAuthenticationSessionAuthNoteUpdateEvent.java
  services/src/main/java/org/keycloak/services/managers/UserStorageSyncManager.java
  testsuite/model/src/test/java/org/keycloak/testsuite/model/KeycloakModelTest.java
  testsuite/model/src/test/java/org/keycloak/testsuite/model/infinispan/CacheExpirationTest.java
  testsuite/model/src/test/java/org/keycloak/testsuite/model/session/UserSessionInitializerTest.java
  testsuite/model/src/test/resources/log4j.properties
Labels: kind/bug

#7987 KEYCLOAK-17934 * fixed cache inconsistency when cache limit is exceeded
  model/infinispan/src/main/java/org/keycloak/models/cache/infinispan/CacheManager.java
Labels: area/storage, kind/bug

#7883 KEYCLOAK-17501 Add support for map storage in WildFly
  distribution/feature-packs/server-feature-pack/src/main/resources/modules/system/layers/keycloak/org/keycloak/keycloak-model-map/main/module.xml
  distribution/feature-packs/server-feature-pack/src/main/resources/modules/system/layers/keycloak/org/keycloak/keycloak-services/main/module.xml
  distribution/server-dist/assembly.xml
  distribution/server-dist/src/main/docs/examples/map-storage-concurrenthashmap.cli
  model/infinispan/src/main/java/org/keycloak/models/sessions/infinispan/InfinispanActionTokenStoreProviderFactory.java
  model/infinispan/src/main/java/org/keycloak/models/sessions/infinispan/InfinispanAuthenticationSessionProviderFactory.java
  model/infinispan/src/main/java/org/keycloak/models/sessions/infinispan/InfinispanCodeToTokenStoreProviderFactory.java
  model/infinispan/src/main/java/org/keycloak/models/sessions/infinispan/InfinispanOAuth2DeviceTokenStoreProviderFactory.java
  model/infinispan/src/main/java/org/keycloak/models/sessions/infinispan/InfinispanSamlArtifactSessionMappingStoreProviderFactory.java
  model/infinispan/src/main/java/org/keycloak/models/sessions/infinispan/InfinispanSingleUseTokenStoreProviderFactory.java
  model/infinispan/src/main/java/org/keycloak/models/sessions/infinispan/InfinispanStickySessionEncoderProviderFactory.java
  model/infinispan/src/main/java/org/keycloak/models/sessions/infinispan/InfinispanTokenRevocationStoreProviderFactory.java
  model/infinispan/src/main/java/org/keycloak/models/sessions/infinispan/InfinispanUserLoginFailureProviderFactory.java
  model/infinispan/src/main/java/org/keycloak/models/sessions/infinispan/InfinispanUserSessionProviderFactory.java
  model/jpa/src/main/java/org/keycloak/authorization/jpa/store/JPAAuthorizationStoreFactory.java
  model/jpa/src/main/java/org/keycloak/models/jpa/JpaClientProviderFactory.java
  model/jpa/src/main/java/org/keycloak/models/jpa/JpaClientScopeProviderFactory.java
  model/jpa/src/main/java/org/keycloak/models/jpa/JpaGroupProviderFactory.java
  model/jpa/src/main/java/org/keycloak/models/jpa/JpaRealmProviderFactory.java
  model/jpa/src/main/java/org/keycloak/models/jpa/JpaRoleProviderFactory.java
  model/jpa/src/main/java/org/keycloak/models/jpa/JpaServerInfoProviderFactory.java
  model/jpa/src/main/java/org/keycloak/models/jpa/JpaUserCredentialStoreFactory.java
  model/jpa/src/main/java/org/keycloak/models/jpa/JpaUserProviderFactory.java
  model/map/src/main/java/org/keycloak/models/map/storage/chm/ConcurrentHashMapStorageProvider.java
  services/src/main/java/org/keycloak/services/DefaultKeycloakSessionFactory.java
  wildfly/server-subsystem/src/main/java/org/keycloak/subsystem/server/extension/KeycloakProviderDependencyProcessor.java
Labels: area/server, area/storage, impact/medium, kind/feature

#7799 KEYCLOAK-17074 Infinite loop logging as an user or impersonating an user as admin
  testsuite/integration-arquillian/tests/other/base-ui/src/test/java/org/keycloak/testsuite/ui/account2/PermissionsTest.java
  themes/src/main/resources/theme/keycloak.v2/account/src/app/account-service/account.service.ts
  themes/src/main/resources/theme/keycloak.v2/account/src/app/keycloak-service/keycloak.service.ts
Labels: area/ui, impact/medium, kind/bug

#7946 KEYCLOAK-17804 added documentation to KeycloakConfigResolver-interface
  adapters/oidc/adapter-core/src/main/java/org/keycloak/adapters/KeycloakConfigResolver.java
Labels: impact/low

#7999 KEYCLOAK-18009 Invalid role creation with oracle database
  model/jpa/src/main/java/org/keycloak/models/jpa/JpaRealmProvider.java
  model/jpa/src/main/java/org/keycloak/models/jpa/entities/RoleEntity.java
Labels: area/storage, kind/bug

#8019 [KEYCLOAK-17923] - No marshaller registered for clustered sessions in Keycloak.X
  quarkus/runtime/pom.xml
  quarkus/runtime/src/main/java/org/keycloak/provider/quarkus/QuarkusCacheManagerProvider.java
Labels: component/quarkus, impact/medium, kind/bug

#8013 [KEYCLOAK-17885] - Delete user-managed policies when removing groups
  model/jpa/src/main/java/org/keycloak/authorization/jpa/store/JPAPolicyStore.java
  model/map/src/main/java/org/keycloak/models/map/authorization/MapPolicyStore.java
  server-spi-private/src/main/java/org/keycloak/authorization/model/Policy.java
  server-spi-private/src/main/java/org/keycloak/authorization/store/syncronization/GroupSynchronizer.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/authz/UserManagedPermissionServiceTest.java
Labels: area/authorization, impact/medium, kind/bug

#7853 KEYCLOAK-17400: allow installed adapter to be reused
  adapters/oidc/installed/src/main/java/org/keycloak/adapters/installed/KeycloakInstalled.java
Labels: area/adapters, kind/feature

#8029 KEYCLOAK-18074 Ignore server version for MySQL in ChangeLogHistoryService
  model/jpa/src/main/java/org/keycloak/connections/jpa/updater/liquibase/conn/CustomChangeLogHistoryService.java
Labels: area/storage, kind/bug

#8032 KEYCLOAK-17348 Add manual pagination into UserStorageManager#query
  services/src/main/java/org/keycloak/storage/UserStorageManager.java
  testsuite/integration-arquillian/servers/auth-server/services/testsuite-providers/src/main/java/org/keycloak/testsuite/federation/UserPropertyFileStorage.java
  testsuite/model/pom.xml
  testsuite/model/src/test/java/org/keycloak/testsuite/model/UserPaginationTest.java
  testsuite/model/src/test/java/org/keycloak/testsuite/model/parameters/TestsuiteUserFileStorage.java
  testsuite/model/src/test/resources/file-storage-provider/read-only-user-password.properties
  testsuite/model/src/test/resources/file-storage-provider/user-password.properties
Labels: area/storage, kind/bug

#8012 KEYCLOAK-18039: Optimise offline session load on startup
  model/infinispan/src/main/java/org/keycloak/connections/infinispan/DefaultInfinispanConnectionProviderFactory.java
  model/infinispan/src/main/java/org/keycloak/models/sessions/infinispan/initializer/OfflinePersistentUserSessionLoader.java
  model/infinispan/src/main/java/org/keycloak/models/sessions/infinispan/initializer/OfflinePersistentWorkerContext.java
  model/infinispan/src/main/java/org/keycloak/models/sessions/infinispan/initializer/OfflinePersistentWorkerResult.java
  model/jpa/src/main/java/org/keycloak/models/jpa/session/JpaUserSessionPersisterProvider.java
  model/jpa/src/main/java/org/keycloak/models/jpa/session/PersistentClientSessionEntity.java
  model/jpa/src/main/java/org/keycloak/models/jpa/session/PersistentUserSessionEntity.java
  server-spi-private/src/main/java/org/keycloak/models/session/DisabledUserSessionPersisterProvider.java
  server-spi-private/src/main/java/org/keycloak/models/session/UserSessionPersisterProvider.java
  testsuite/integration-arquillian/servers/auth-server/services/testsuite-providers/src/main/java/org/keycloak/testsuite/model/infinispan/InfinispanTestUtil.java
  testsuite/integration-arquillian/servers/auth-server/services/testsuite-providers/src/main/java/org/keycloak/testsuite/model/infinispan/KeycloakTestTimeService.java
  testsuite/integration-arquillian/servers/auth-server/services/testsuite-providers/src/main/java/org/keycloak/testsuite/rest/TestingResourceProvider.java
  testsuite/integration-arquillian/tests/base/src/main/java/org/keycloak/testsuite/client/resources/TestingResource.java
  testsuite/model/src/test/java/org/keycloak/testsuite/model/parameters/Infinispan.java
  testsuite/model/src/test/java/org/keycloak/testsuite/model/session/UserSessionPersisterProviderTest.java
  testsuite/model/src/test/java/org/keycloak/testsuite/model/session/UserSessionProviderModelTest.java
  testsuite/model/src/test/java/org/keycloak/testsuite/model/session/UserSessionProviderOfflineModelTest.java
  testsuite/utils/src/main/java/org/keycloak/testsuite/util/cli/LoadPersistentSessionsCommand.java
Labels: area/storage, kind/bug

#8037 [KEYCLOAK-18086] - cluster-stack setting not working
  quarkus/runtime/src/main/java/org/keycloak/configuration/PropertyMappers.java
  quarkus/runtime/src/test/java/org/keycloak/provider/quarkus/ConfigurationTest.java
Labels: component/quarkus, impact/medium, kind/bug

#8035 [KEYCLOAK-17588] - Authz confirmation popping out twice
  testsuite/integration-arquillian/tests/other/console/src/test/java/org/keycloak/testsuite/console/authorization/DisableAuthorizationSettingsTest.java
  themes/src/main/resources/theme/base/admin/resources/js/controllers/clients.js
  themes/src/main/resources/theme/base/admin/resources/partials/client-detail.html
Labels: area/authorization, area/ui, impact/medium, kind/bug

#7870 KEYCLOAK-17084 KEYCLOAK-17434 Support querying clients by client attributes
  integration/admin-client/src/main/java/org/keycloak/admin/client/resource/ClientsResource.java
  model/infinispan/src/main/java/org/keycloak/models/cache/infinispan/RealmAdapter.java
  model/infinispan/src/main/java/org/keycloak/models/cache/infinispan/RealmCacheSession.java
  model/jpa/src/main/java/org/keycloak/models/jpa/JpaClientProviderFactory.java
  model/jpa/src/main/java/org/keycloak/models/jpa/JpaClientScopeProviderFactory.java
  model/jpa/src/main/java/org/keycloak/models/jpa/JpaGroupProviderFactory.java
  model/jpa/src/main/java/org/keycloak/models/jpa/JpaRealmProvider.java
  model/jpa/src/main/java/org/keycloak/models/jpa/JpaRealmProviderFactory.java
  model/jpa/src/main/java/org/keycloak/models/jpa/JpaRoleProviderFactory.java
  model/jpa/src/main/java/org/keycloak/models/jpa/JpaServerInfoProviderFactory.java
  model/jpa/src/main/java/org/keycloak/models/jpa/RealmAdapter.java
  model/map/src/main/java/org/keycloak/models/map/client/MapClientProvider.java
  model/map/src/main/java/org/keycloak/models/map/realm/MapRealmAdapter.java
  model/map/src/main/java/org/keycloak/models/map/realm/MapRealmProvider.java
  model/map/src/main/java/org/keycloak/models/map/storage/MapFieldPredicates.java
  server-spi/src/main/java/org/keycloak/models/ClientModel.java
  server-spi/src/main/java/org/keycloak/models/RealmModel.java
  server-spi/src/main/java/org/keycloak/storage/client/ClientLookupProvider.java
  services/src/main/java/org/keycloak/services/resources/admin/ClientsResource.java
  services/src/main/java/org/keycloak/storage/ClientStorageManager.java
  services/src/main/java/org/keycloak/storage/openshift/OpenshiftClientStorageProvider.java
  services/src/main/java/org/keycloak/utils/SearchQueryUtils.java
  services/src/test/java/org/keycloak/utils/SearchQueryUtilsTest.java
  testsuite/integration-arquillian/servers/auth-server/services/testsuite-providers/src/main/java/org/keycloak/testsuite/federation/HardcodedClientStorageProvider.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/admin/client/ClientSearchTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/federation/storage/ClientStorageTest.java
Labels: area/storage

#7781 KEYCLOAK-17140
  themes/src/main/resources/theme/base/admin/resources/templates/kc-menu.html
Labels: area/ui, kind/bug

#8043 KEYCLOAK-18113 Refactor some executor/condition provider IDs
  services/src/main/java/org/keycloak/services/clientpolicy/condition/ClientAccessTypeConditionFactory.java
  services/src/main/java/org/keycloak/services/clientpolicy/condition/ClientRolesConditionFactory.java
  services/src/main/java/org/keycloak/services/clientpolicy/condition/ClientScopesConditionFactory.java
  services/src/main/java/org/keycloak/services/clientpolicy/condition/ClientUpdaterContextCondition.java
  services/src/main/java/org/keycloak/services/clientpolicy/condition/ClientUpdaterContextConditionFactory.java
  services/src/main/java/org/keycloak/services/clientpolicy/condition/ClientUpdaterSourceGroupsCondition.java
  services/src/main/java/org/keycloak/services/clientpolicy/condition/ClientUpdaterSourceGroupsConditionFactory.java
  services/src/main/java/org/keycloak/services/clientpolicy/condition/ClientUpdaterSourceHostsCondition.java
  services/src/main/java/org/keycloak/services/clientpolicy/condition/ClientUpdaterSourceHostsConditionFactory.java
  services/src/main/java/org/keycloak/services/clientpolicy/condition/ClientUpdaterSourceRolesCondition.java
  services/src/main/java/org/keycloak/services/clientpolicy/condition/ClientUpdaterSourceRolesConditionFactory.java
  services/src/main/java/org/keycloak/services/clientpolicy/executor/ConfidentialClientAcceptExecutorFactory.java
  services/src/main/java/org/keycloak/services/clientpolicy/executor/ConsentRequiredExecutorFactory.java
  services/src/main/java/org/keycloak/services/clientpolicy/executor/HolderOfKeyEnforcerExecutor.java
  services/src/main/java/org/keycloak/services/clientpolicy/executor/HolderOfKeyEnforcerExecutorFactory.java
  services/src/main/java/org/keycloak/services/clientpolicy/executor/PKCEEnforcerExecutor.java
  services/src/main/java/org/keycloak/services/clientpolicy/executor/PKCEEnforcerExecutorFactory.java
  services/src/main/java/org/keycloak/services/clientpolicy/executor/SecureClientAuthenticatorExecutor.java
  services/src/main/java/org/keycloak/services/clientpolicy/executor/SecureClientAuthenticatorExecutorFactory.java
  services/src/main/java/org/keycloak/services/clientpolicy/executor/SecureClientUrisExecutor.java
  services/src/main/java/org/keycloak/services/clientpolicy/executor/SecureClientUrisExecutorFactory.java
  services/src/main/java/org/keycloak/services/clientpolicy/executor/SecureRequestObjectExecutorFactory.java
  services/src/main/java/org/keycloak/services/clientpolicy/executor/SecureResponseTypeExecutorFactory.java
  services/src/main/java/org/keycloak/services/clientpolicy/executor/SecureSessionEnforceExecutorFactory.java
  services/src/main/java/org/keycloak/services/clientpolicy/executor/SecureSigningAlgorithmEnforceExecutorFactory.java
  services/src/main/java/org/keycloak/services/clientpolicy/executor/SecureSigningAlgorithmExecutor.java
  services/src/main/java/org/keycloak/services/clientpolicy/executor/SecureSigningAlgorithmExecutorFactory.java
  services/src/main/java/org/keycloak/services/clientpolicy/executor/SecureSigningAlgorithmForSignedJwtExecutor.java
  services/src/main/java/org/keycloak/services/clientpolicy/executor/SecureSigningAlgorithmForSignedJwtExecutorFactory.java
  services/src/main/resources/META-INF/services/org.keycloak.services.clientpolicy.condition.ClientPolicyConditionProviderFactory
  services/src/main/resources/META-INF/services/org.keycloak.services.clientpolicy.executor.ClientPolicyExecutorProviderFactory
  services/src/main/resources/keycloak-default-client-profiles.json
  testsuite/integration-arquillian/servers/auth-server/services/testsuite-providers/src/main/java/org/keycloak/testsuite/services/clientpolicy/condition/TestRaiseExeptionConditionFactory.java
  testsuite/integration-arquillian/servers/auth-server/services/testsuite-providers/src/main/java/org/keycloak/testsuite/services/clientpolicy/executor/TestRaiseExeptionExecutorFactory.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/client/AbstractClientPoliciesTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/client/ClientPoliciesLoadUpdateTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/client/ClientPoliciesTest.java
  themes/src/main/resources/theme/base/admin/messages/admin-messages_en.properties
Labels: kind/enhancement, priority/important, status/in-review

#8047 KEYCLOAK-17749 Remove need for iterating by all clients
  server-spi-private/src/main/java/org/keycloak/authorization/store/syncronization/UserSynchronizer.java
Labels: area/authorization, area/storage

#8041 KEYCLOAK-18108 Refactoring retrieve of condition/executor providers. …
  core/src/main/java/org/keycloak/representations/idm/ClientPolicyConditionRepresentation.java
  core/src/main/java/org/keycloak/representations/idm/ClientPolicyExecutorRepresentation.java
  core/src/test/java/org/keycloak/JsonParserTest.java
  core/src/test/resources/sample-client-policy.json
  server-spi/src/main/java/org/keycloak/component/JsonConfigComponentModel.java
  server-spi/src/main/java/org/keycloak/models/KeycloakSession.java
  services/src/main/java/org/keycloak/services/DefaultKeycloakSession.java
  services/src/main/java/org/keycloak/services/clientpolicy/ClientPoliciesUtil.java
  services/src/main/java/org/keycloak/services/clientpolicy/ClientPolicy.java
  services/src/main/java/org/keycloak/services/clientpolicy/ClientProfile.java
  services/src/main/java/org/keycloak/services/clientpolicy/DefaultClientPolicyManager.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/client/AbstractClientPoliciesTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/client/ClientPoliciesImportExportTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/client/ClientPoliciesTest.java
Labels: priority/important, status/in-review

#7904 KEYCLOAK-17655 - Can't impersonate with client_credential flow
  services/src/main/java/org/keycloak/services/resources/admin/UserResource.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/admin/ImpersonationTest.java
Labels: missing/tests

#8055 KEYCLOAK-17906 Use auto-configure instead of is-augment. Use default-…
  services/src/main/java/org/keycloak/services/clientpolicy/executor/HolderOfKeyEnforcerExecutor.java
  services/src/main/java/org/keycloak/services/clientpolicy/executor/HolderOfKeyEnforcerExecutorFactory.java
  services/src/main/java/org/keycloak/services/clientpolicy/executor/PKCEEnforcerExecutor.java
  services/src/main/java/org/keycloak/services/clientpolicy/executor/PKCEEnforcerExecutorFactory.java
  services/src/main/java/org/keycloak/services/clientpolicy/executor/SecureClientAuthenticatorExecutor.java
  services/src/main/java/org/keycloak/services/clientpolicy/executor/SecureClientAuthenticatorExecutorFactory.java
  services/src/main/java/org/keycloak/services/clientpolicy/executor/SecureSigningAlgorithmForSignedJwtExecutor.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/client/AbstractClientPoliciesTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/client/ClientPoliciesLoadUpdateTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/client/ClientPoliciesTest.java
Labels: area/oidc, status/in-review

#8042 KEYCLOAK-17267 Add index to user attribute name and value to support …
  model/jpa/src/main/resources/META-INF/jpa-changelog-14.0.0.xml
  model/jpa/src/main/resources/META-INF/jpa-changelog-master.xml
  testsuite/model/src/main/java/org/keycloak/testsuite/model/KeycloakModelParameters.java
  testsuite/model/src/main/java/org/keycloak/testsuite/model/RequireProvider.java
  testsuite/model/src/test/java/org/keycloak/testsuite/model/KeycloakModelParameters.java
  testsuite/model/src/test/java/org/keycloak/testsuite/model/RequireProvider.java
  testsuite/model/src/test/java/org/keycloak/testsuite/model/RequireProviders.java
  testsuite/model/src/test/java/org/keycloak/testsuite/model/UserSyncTest.java
Labels: area/storage, kind/bug

#8053 KEYCLOAK-2045 Simple Validation SPI for UserProfile SPI
  server-spi-private/src/main/java/org/keycloak/validate/AbstractSimpleValidator.java
  server-spi-private/src/main/java/org/keycloak/validate/AbstractStringValidator.java
  server-spi-private/src/main/java/org/keycloak/validate/SimpleValidator.java
  server-spi-private/src/main/java/org/keycloak/validate/ValidationContext.java
  server-spi-private/src/main/java/org/keycloak/validate/ValidationError.java
  server-spi-private/src/main/java/org/keycloak/validate/ValidationResult.java
  server-spi-private/src/main/java/org/keycloak/validate/Validator.java
  server-spi-private/src/main/java/org/keycloak/validate/ValidatorConfig.java
  server-spi-private/src/main/java/org/keycloak/validate/ValidatorFactory.java
  server-spi-private/src/main/java/org/keycloak/validate/ValidatorSPI.java
  server-spi-private/src/main/java/org/keycloak/validate/Validators.java
  server-spi-private/src/main/java/org/keycloak/validate/validators/AbstractNumberValidator.java
  server-spi-private/src/main/java/org/keycloak/validate/validators/DoubleValidator.java
  server-spi-private/src/main/java/org/keycloak/validate/validators/EmailValidator.java
  server-spi-private/src/main/java/org/keycloak/validate/validators/IntegerValidator.java
  server-spi-private/src/main/java/org/keycloak/validate/validators/LengthValidator.java
  server-spi-private/src/main/java/org/keycloak/validate/validators/NotBlankValidator.java
  server-spi-private/src/main/java/org/keycloak/validate/validators/NotEmptyValidator.java
  server-spi-private/src/main/java/org/keycloak/validate/validators/PatternValidator.java
  server-spi-private/src/main/java/org/keycloak/validate/validators/UriValidator.java
  server-spi-private/src/main/java/org/keycloak/validate/validators/ValidatorConfigValidator.java
  server-spi-private/src/main/resources/META-INF/services/org.keycloak.provider.Spi
  server-spi-private/src/test/java/org/keycloak/validate/BuiltinValidatorsTest.java
  server-spi-private/src/test/java/org/keycloak/validate/ValidatorTest.java
  themes/src/main/resources/theme/base/login/messages/messages_en.properties
Labels: component/core, kind/enhancement, status/in-review

#8031 KEYCLOAK-18031 Update to 13.0.0 fails due to liquibase error
  model/jpa/src/main/resources/META-INF/jpa-changelog-13.0.0.xml
Labels: area/storage

#8024 KEYCLOAK-14301 OTP secrets migrated incorrectly
  model/jpa/src/main/resources/META-INF/jpa-changelog-8.0.0.xml
Labels: area/storage, kind/bug

#8052 KEYCLOAK-17756 KEYCLOAK-17757 Optimize IdP-first lookup
  model/jpa/src/main/java/org/keycloak/models/jpa/JpaClientProviderFactory.java
  services/src/main/java/org/keycloak/broker/saml/SAMLEndpoint.java
  services/src/main/java/org/keycloak/protocol/saml/SamlService.java
Labels: area/saml

#8038 [KEYCLOAK-18111] - Error when processing path without associated resource
  adapters/oidc/adapter-core/src/main/java/org/keycloak/adapters/authorization/PolicyEnforcer.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/admin/client/authorization/PolicyEnforcerTest.java
  testsuite/integration-arquillian/tests/base/src/test/resources/authorization-test/enforcer-lazyload-with-paths.json
Labels: area/authorization, impact/medium, kind/bug

#8078 KEYCLOAK-18258 Not possible to login with public client, which was co…
  services/src/main/java/org/keycloak/authentication/ClientAuthenticationFlow.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/oidc/OIDCPublicClientTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/openshift/OpenShiftTokenReviewEndpointTest.java
Labels: area/oidc, kind/bug, status/in-review

#8067 KEYCLOAK-16450 X509 Direct Grant Auth does not verify certificate timestamp validity
  services/src/main/java/org/keycloak/authentication/authenticators/x509/ValidateX509CertificateUsername.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/x509/X509DirectGrantTest.java
Labels: area/authentication, area/oidc

#7998 [KEYCLOAK-18007] - Configure resolved paths with the method config from configuration
  adapters/oidc/adapter-core/src/main/java/org/keycloak/adapters/authorization/PolicyEnforcer.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/admin/client/authorization/PolicyEnforcerTest.java
  testsuite/integration-arquillian/tests/base/src/test/resources/authorization-test/enforcer-paths-use-method-config.json
Labels: impact/low, kind/enhancement

#8033 KEYCLOAK-11019 Initial support for lazy offline user-session loading
  model/infinispan/src/main/java/org/keycloak/models/sessions/infinispan/InfinispanUserSessionProvider.java
  model/infinispan/src/main/java/org/keycloak/models/sessions/infinispan/InfinispanUserSessionProviderFactory.java
  model/infinispan/src/main/java/org/keycloak/models/sessions/infinispan/stream/UserSessionPredicate.java
  model/jpa/src/main/java/org/keycloak/models/jpa/session/JpaUserSessionPersisterProvider.java
  model/jpa/src/main/java/org/keycloak/models/jpa/session/PersistentClientSessionEntity.java
  model/jpa/src/main/java/org/keycloak/models/jpa/session/PersistentUserSessionEntity.java
  model/jpa/src/main/resources/META-INF/jpa-changelog-14.0.0.xml
  server-spi-private/src/main/java/org/keycloak/models/session/DisabledUserSessionPersisterProvider.java
  server-spi-private/src/main/java/org/keycloak/models/session/UserSessionPersisterProvider.java
  testsuite/model/pom.xml
  testsuite/model/src/test/java/org/keycloak/testsuite/model/session/OfflineSessionPersistenceTest.java
  testsuite/model/src/test/java/org/keycloak/testsuite/model/session/UserSessionInitializerTest.java
Labels: area/storage, kind/enhancement

#8068 [KEYCLOAK-8730] Ensure role mappers don't remove roles already grante…
  server-spi-private/src/main/java/org/keycloak/broker/provider/BrokeredIdentityContext.java
  server-spi-private/src/main/java/org/keycloak/models/Constants.java
  services/src/main/java/org/keycloak/broker/oidc/mappers/AbstractClaimToRoleMapper.java
  services/src/main/java/org/keycloak/broker/oidc/mappers/AdvancedClaimToRoleMapper.java
  services/src/main/java/org/keycloak/broker/oidc/mappers/ClaimToRoleMapper.java
  services/src/main/java/org/keycloak/broker/oidc/mappers/ExternalKeycloakRoleToRoleMapper.java
  services/src/main/java/org/keycloak/broker/saml/mappers/AbstractAttributeToRoleMapper.java
  services/src/main/java/org/keycloak/broker/saml/mappers/AdvancedAttributeToRoleMapper.java
  services/src/main/java/org/keycloak/broker/saml/mappers/AttributeToRoleMapper.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/broker/KcSamlMultipleAttributeToRoleMappersTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/broker/OidcClaimToRoleMapperTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/broker/OidcMultipleClaimToRoleMappersTest.java
Labels: area/saml, kind/bug

#8088 KEYCLOAK-18073 avoid ModelDuplicateException during parallel starup o…
  distribution/server-dist/src/main/docs/examples/map-storage-concurrenthashmap.cli
  server-spi-private/src/main/java/org/keycloak/models/dblock/NoLockingDBLockProviderFactory.java
  server-spi-private/src/main/resources/META-INF/services/org.keycloak.models.dblock.DBLockProviderFactory
  services/src/main/java/org/keycloak/services/resources/KeycloakApplication.java
  testsuite/integration-arquillian/tests/base/pom.xml
  testsuite/integration-arquillian/tests/base/src/test/resources/META-INF/keycloak-server.json
  testsuite/model/src/test/java/org/keycloak/testsuite/model/DBLockTest.java
  testsuite/model/src/test/java/org/keycloak/testsuite/model/KeycloakModelTest.java
  testsuite/model/src/test/java/org/keycloak/testsuite/model/parameters/Jpa.java
  testsuite/model/src/test/java/org/keycloak/testsuite/model/parameters/Map.java
  testsuite/utils/src/main/resources/META-INF/keycloak-server.json
Labels: area/storage, kind/bug

#8099 KEYCLOAK-18286 Add index to client_attributes
  model/jpa/src/main/java/org/keycloak/connections/jpa/updater/liquibase/conn/DefaultLiquibaseConnectionProvider.java
  model/jpa/src/main/resources/META-INF/jpa-changelog-14.0.0.xml
Labels: area/storage

#8090 KEYCLOAK-16616 authenticationSessions map in RootAuthenticationSessionEntity grows unboundedly
  model/infinispan/src/main/java/org/keycloak/models/sessions/infinispan/AuthenticationSessionAdapter.java
  model/infinispan/src/main/java/org/keycloak/models/sessions/infinispan/InfinispanAuthenticationSessionProvider.java
  model/infinispan/src/main/java/org/keycloak/models/sessions/infinispan/InfinispanAuthenticationSessionProviderFactory.java
  model/infinispan/src/main/java/org/keycloak/models/sessions/infinispan/RootAuthenticationSessionAdapter.java
  model/infinispan/src/main/java/org/keycloak/models/sessions/infinispan/entities/AuthenticationSessionEntity.java
  model/map/src/main/java/org/keycloak/models/map/authSession/MapAuthenticationSessionEntity.java
  model/map/src/main/java/org/keycloak/models/map/authSession/MapRootAuthenticationSessionAdapter.java
  server-spi/src/main/java/org/keycloak/sessions/AuthenticationSessionModel.java
  server-spi/src/main/java/org/keycloak/sessions/RootAuthenticationSessionModel.java
  services/src/main/java/org/keycloak/services/managers/AuthenticationSessionManager.java
  services/src/main/java/org/keycloak/services/resources/IdentityBrokerService.java
  testsuite/integration-arquillian/tests/base/src/test/resources/META-INF/keycloak-server.json
  testsuite/model/src/test/java/org/keycloak/testsuite/model/parameters/Infinispan.java
  testsuite/model/src/test/java/org/keycloak/testsuite/model/parameters/Map.java
  testsuite/model/src/test/java/org/keycloak/testsuite/model/session/AuthenticationSessionTest.java
  testsuite/utils/src/main/resources/META-INF/keycloak-server.json
Labels: status/ready

#8097 KEYCLOAK-18146 Search for clients by client attribute when doing saml…
  model/jpa/src/main/java/org/keycloak/connections/jpa/updater/liquibase/custom/JpaUpdate14_0_0_MigrateSamlArtifactAttribute.java
  model/jpa/src/main/java/org/keycloak/models/jpa/JpaClientProviderFactory.java
  model/jpa/src/main/resources/META-INF/jpa-changelog-14.0.0.xml
  server-spi-private/src/main/java/org/keycloak/models/utils/RepresentationToModel.java
  server-spi-private/src/main/java/org/keycloak/protocol/saml/ArtifactResolver.java
  server-spi-private/src/main/java/org/keycloak/protocol/saml/util/ArtifactBindingUtils.java
  services/src/main/java/org/keycloak/protocol/saml/DefaultSamlArtifactResolver.java
  services/src/main/java/org/keycloak/protocol/saml/SamlClient.java
  services/src/main/java/org/keycloak/protocol/saml/SamlConfigAttributes.java
  services/src/main/java/org/keycloak/protocol/saml/SamlProtocolFactory.java
  services/src/main/java/org/keycloak/protocol/saml/SamlService.java
  services/src/main/java/org/keycloak/protocol/util/ArtifactBindingUtils.java
  services/src/main/java/org/keycloak/services/managers/ClientManager.java
  services/src/main/java/org/keycloak/services/resources/admin/ClientResource.java
  testsuite/integration-arquillian/servers/auth-server/services/testsuite-providers/src/main/java/org/keycloak/testsuite/authentication/CustomTestingSamlArtifactResolver.java
  testsuite/integration-arquillian/servers/auth-server/services/testsuite-providers/src/main/java/org/keycloak/testsuite/authentication/CustomTestingSamlArtifactResolverFactory.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/client/SAMLClientRegistrationTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/migration/AbstractMigrationTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/saml/ArtifactBindingTest.java
  testsuite/integration-arquillian/tests/base/src/test/resources/migration-test/migration-realm-1.9.8.Final.json
  testsuite/integration-arquillian/tests/base/src/test/resources/migration-test/migration-realm-2.5.5.Final.json
  testsuite/integration-arquillian/tests/base/src/test/resources/migration-test/migration-realm-3.4.3.Final.json
  testsuite/integration-arquillian/tests/base/src/test/resources/migration-test/migration-realm-4.8.3.Final.json
  testsuite/integration-arquillian/tests/base/src/test/resources/migration-test/migration-realm-9.0.3.json
  testsuite/integration-arquillian/tests/other/console/src/test/java/org/keycloak/testsuite/console/clients/AbstractClientTest.java
  testsuite/integration-arquillian/tests/other/console/src/test/java/org/keycloak/testsuite/console/clients/ClientSettingsTest.java
Labels: area/saml, kind/bug

#8102 KEYCLOAK-18264 Fix SamlLogoutTest with different consumer and provide…
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/broker/AbstractBaseBrokerTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/broker/KcSamlLogoutTest.java
Labels: area/testsuite, kind/bug

#8039 KEYCLOAK-18112 Token introspection of the revoked refresh token
  services/src/main/java/org/keycloak/protocol/oidc/TokenManager.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/oauth/TokenIntrospectionTest.java
Labels: area/oidc, kind/bug
