Repository keycloak/keycloak, pull requests merged in 2021-06, with the labels that each got.

#7745 KEYCLOAK-16947 add error parameters to access token response
  core/src/main/java/org/keycloak/representations/AccessTokenResponse.java
  services/src/main/java/org/keycloak/broker/oidc/OIDCIdentityProvider.java
  testsuite/integration-arquillian/test-apps/servlets/src/main/java/org/keycloak/testsuite/adapter/servlet/LinkAndExchangeServlet.java
Labels: priority/important

#8130 KEYCLOAK-18368 Invalidate client session after refresh token re-use
  core/src/main/java/org/keycloak/representations/JsonWebToken.java
  model/infinispan/src/main/java/org/keycloak/models/sessions/infinispan/InfinispanUserSessionProvider.java
  model/map/src/main/java/org/keycloak/models/map/userSession/MapUserSessionProvider.java
  server-spi/src/main/java/org/keycloak/models/AuthenticatedClientSessionModel.java
  services/src/main/java/org/keycloak/protocol/oidc/TokenManager.java
  services/src/main/java/org/keycloak/protocol/oidc/endpoints/UserInfoEndpoint.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/crossdc/LastSessionRefreshCrossDCTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/oauth/OfflineTokenTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/oauth/RefreshTokenTest.java
Labels: kind/bug, priority/important, status/in-review

#8113 KEYCLOAK-18069 Migration of client policies JSON from Keycloak 13
  core/src/main/java/org/keycloak/representations/idm/RealmRepresentation.java
  distribution/feature-packs/server-feature-pack/src/main/resources/modules/system/layers/keycloak/org/keycloak/keycloak-core/main/module.xml
  server-spi-private/src/main/java/org/keycloak/migration/MigrationModelManager.java
  server-spi-private/src/main/java/org/keycloak/migration/migrators/MigrateTo14_0_0.java
  services/src/main/java/org/keycloak/services/clientpolicy/ClientPoliciesUtil.java
  services/src/main/java/org/keycloak/services/clientpolicy/DefaultClientPolicyManager.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/client/ClientPoliciesLoadUpdateTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/migration/JsonFileImport1301MigrationClientPoliciesTest.java
  testsuite/integration-arquillian/tests/base/src/test/resources/migration-test/migration-realm-13.0.1-client-policies.json
Labels: kind/bug, priority/important, status/in-review

#8142 [KEYCLOAK-18117] - Unhandled exceptions not releasing worker thread
  quarkus/runtime/src/main/java/org/keycloak/provider/quarkus/QuarkusRequestFilter.java
Labels: component/quarkus, impact/medium, kind/bug

#8120 KEYCLOAK-18328 "access_denied" instead of "interaction_required" should
  services/src/main/java/org/keycloak/protocol/oidc/OIDCLoginProtocol.java
Labels: area/oidc, missing/tests

#8150 KEYCLOAK-18332 Client Scopes are reset to realm's default when Client is updated
  model/jpa/src/main/java/org/keycloak/models/jpa/ClientAdapter.java
  model/map/src/main/java/org/keycloak/models/map/client/MapClientAdapter.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/admin/client/ClientScopeTest.java
Labels: kind/bug, priority/critical

#8135 KEYCLOAK-18369 Create MapKeycloakTransaction interface
  model/map/src/main/java/org/keycloak/models/map/authorization/MapPermissionTicketStore.java
  model/map/src/main/java/org/keycloak/models/map/authorization/MapPolicyStore.java
  model/map/src/main/java/org/keycloak/models/map/authorization/MapResourceStore.java
  model/map/src/main/java/org/keycloak/models/map/authorization/MapScopeStore.java
  model/map/src/main/java/org/keycloak/models/map/client/MapClientProvider.java
  model/map/src/main/java/org/keycloak/models/map/clientscope/MapClientScopeProvider.java
  model/map/src/main/java/org/keycloak/models/map/group/MapGroupProvider.java
  model/map/src/main/java/org/keycloak/models/map/loginFailure/MapUserLoginFailureProvider.java
  model/map/src/main/java/org/keycloak/models/map/realm/MapRealmProvider.java
  model/map/src/main/java/org/keycloak/models/map/role/MapRoleProvider.java
  model/map/src/main/java/org/keycloak/models/map/storage/MapKeycloakTransaction.java
  model/map/src/main/java/org/keycloak/models/map/storage/chm/ConcurrentHashMapKeycloakTransaction.java
  model/map/src/main/java/org/keycloak/models/map/storage/chm/ConcurrentHashMapStorage.java
  model/map/src/main/java/org/keycloak/models/map/storage/chm/UserSessionConcurrentHashMapStorage.java
  model/map/src/main/java/org/keycloak/models/map/user/MapUserProvider.java
  model/map/src/main/java/org/keycloak/models/map/userSession/MapUserSessionProvider.java
Labels: area/storage, kind/enhancement

#8131 KEYCLOAK-18359 Default role migration is not performed correctly when empty realm id
  model/jpa/src/main/java/org/keycloak/connections/jpa/updater/liquibase/custom/JpaUpdate13_0_0_MigrateDefaultRoles.java
  services/src/main/java/org/keycloak/services/managers/RealmManager.java
Labels: kind/bug

#8171 [KEYCLOAK-18464] - Failures when running without tls
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/admin/userprofile/UserProfileAdminTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/forms/RegisterWithUserProfileTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/forms/VerifyProfileTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/user/profile/UserProfileTest.java
Labels: area/testsuite, impact/low, kind/bug

#8179 [KEYCLOAK-18447] Dynamically select attributes based on requested scopes
  server-spi-private/src/main/java/org/keycloak/userprofile/UserProfileMetadata.java
  services/src/main/java/org/keycloak/userprofile/config/DeclarativeUserProfileProvider.java
  services/src/main/java/org/keycloak/userprofile/config/UPAttribute.java
  services/src/main/java/org/keycloak/userprofile/config/UPAttributeSelector.java
  services/src/main/java/org/keycloak/userprofile/legacy/AbstractUserProfileProvider.java
  services/src/main/java/org/keycloak/userprofile/legacy/DefaultUserProfileProvider.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/forms/VerifyProfileTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/user/profile/UserProfileTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/user/profile/config/UPConfigParserTest.java
  testsuite/integration-arquillian/tests/base/src/test/resources/org/keycloak/testsuite/user/profile/config/test-OK.json
Labels: component/core, impact/medium, kind/enhancement

#7429 [KEYCLOAK-14046] Allow finegrain group admins to create users in console
  themes/src/main/resources/theme/base/admin/resources/partials/user-detail.html
  themes/src/main/resources/theme/base/admin/resources/partials/user-list.html
Labels: component/themes, kind/enhancement

#8188 KEYCLOAK-12500: Avoid NPE when parsing JWKS and keys without the "use" parameter
  core/src/main/java/org/keycloak/util/JWKSUtils.java
  core/src/test/java/org/keycloak/util/JWKSUtilsTest.java
Labels: area/oidc, status/in-review

#7380 KEYCLOAK-15371 Dont show backchannel logout options for bearer only clients in admin ui
  themes/src/main/resources/theme/base/admin/resources/partials/client-detail.html
Labels: area/oidc, component/themes, kind/enhancement, priority/important

#8214 [KEYCLOAK-18427] - Allowing switching to declarative provider
  common/src/main/java/org/keycloak/common/Profile.java
  common/src/test/java/org/keycloak/common/ProfileTest.java
  server-spi-private/src/main/java/org/keycloak/models/utils/RepresentationToModel.java
  server-spi-private/src/main/java/org/keycloak/userprofile/DefaultAttributes.java
  services/src/main/java/org/keycloak/services/resources/admin/UserResource.java
  services/src/main/java/org/keycloak/userprofile/AbstractUserProfileProvider.java
  services/src/main/java/org/keycloak/userprofile/DeclarativeAttributes.java
  services/src/main/java/org/keycloak/userprofile/DeclarativeUserProfileProvider.java
  services/src/main/java/org/keycloak/userprofile/config/DeclarativeUserProfileModel.java
  services/src/main/java/org/keycloak/userprofile/config/UPConfigUtils.java
  services/src/main/java/org/keycloak/userprofile/legacy/DefaultUserProfileProvider.java
  services/src/main/resources/META-INF/services/org.keycloak.userprofile.UserProfileProviderFactory
  testsuite/integration-arquillian/servers/auth-server/jboss/common/jboss-cli/keycloak-server-subsystem.cli
  testsuite/integration-arquillian/servers/auth-server/quarkus/src/main/content/conf/keycloak.properties
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/admin/userprofile/UserProfileAdminTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/forms/RegisterTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/forms/RegisterWithUserProfileTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/forms/UserProfileRegisterTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/forms/VerifyProfileTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/user/profile/AbstractUserProfileTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/user/profile/UserProfileTest.java
  testsuite/integration-arquillian/tests/base/src/test/resources/META-INF/keycloak-server.json
  testsuite/utils/src/main/resources/META-INF/keycloak-server.json
  themes/src/main/resources/theme/base/admin/messages/admin-messages_en.properties
  themes/src/main/resources/theme/base/admin/resources/js/controllers/realm.js
  themes/src/main/resources/theme/base/admin/resources/partials/realm-detail.html
  themes/src/main/resources/theme/base/admin/resources/templates/kc-tabs-realm.html
Labels: component/core, component/themes, impact/medium, kind/enhancement

#8006 KEYCLOAK-17936 FAPI-CIBA : support Signed Authentication Request
  core/src/main/java/org/keycloak/protocol/oidc/representations/OIDCConfigurationRepresentation.java
  core/src/main/java/org/keycloak/representations/oidc/OIDCClientRepresentation.java
  server-spi-private/src/main/java/org/keycloak/crypto/SignatureProvider.java
  server-spi/src/main/java/org/keycloak/models/CibaConfig.java
  services/src/main/java/org/keycloak/crypto/AsymmetricSignatureProvider.java
  services/src/main/java/org/keycloak/crypto/ECDSASignatureProvider.java
  services/src/main/java/org/keycloak/crypto/MacSecretSignatureProvider.java
  services/src/main/java/org/keycloak/protocol/oidc/OIDCWellKnownProvider.java
  services/src/main/java/org/keycloak/protocol/oidc/grants/ciba/CibaGrantType.java
  services/src/main/java/org/keycloak/protocol/oidc/grants/ciba/endpoints/BackchannelAuthenticationEndpoint.java
  services/src/main/java/org/keycloak/protocol/oidc/grants/ciba/endpoints/request/BackchannelAuthenticationEndpointRequest.java
  services/src/main/java/org/keycloak/protocol/oidc/grants/ciba/endpoints/request/BackchannelAuthenticationEndpointRequestBodyParser.java
  services/src/main/java/org/keycloak/protocol/oidc/grants/ciba/endpoints/request/BackchannelAuthenticationEndpointRequestParser.java
  services/src/main/java/org/keycloak/protocol/oidc/grants/ciba/endpoints/request/BackchannelAuthenticationEndpointRequestParserProcessor.java
  services/src/main/java/org/keycloak/protocol/oidc/grants/ciba/endpoints/request/BackchannelAuthenticationEndpointSignedRequestParser.java
  services/src/main/java/org/keycloak/services/clientregistration/oidc/DescriptionConverter.java
  testsuite/integration-arquillian/servers/auth-server/services/testsuite-providers/src/main/java/org/keycloak/testsuite/rest/resource/TestingOIDCEndpointsApplicationResource.java
  testsuite/integration-arquillian/tests/base/src/main/java/org/keycloak/testsuite/client/resources/TestOIDCEndpointsApplicationResource.java
  testsuite/integration-arquillian/tests/base/src/main/java/org/keycloak/testsuite/util/OAuthClient.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/client/CIBATest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/oidc/OIDCWellKnownProviderTest.java
  themes/src/main/resources/theme/base/admin/messages/admin-messages_en.properties
  themes/src/main/resources/theme/base/admin/resources/js/controllers/clients.js
  themes/src/main/resources/theme/base/admin/resources/partials/client-detail.html
Labels: area/oidc, priority/important, status/in-review

#8141 KEYCLOAK-18390 GroupProvider search implementation of JPA and Map del…
  model/map/src/main/java/org/keycloak/models/map/group/MapGroupProvider.java
  server-spi/src/main/java/org/keycloak/storage/group/GroupLookupProvider.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/admin/group/GroupTest.java
Labels: area/storage, kind/bug

#7931 KEYCLOAK-17781 Make exists and notExists collection aware
  model/map/src/main/java/org/keycloak/models/map/realm/MapRealmAdapter.java
  model/map/src/main/java/org/keycloak/models/map/realm/MapRealmEntity.java
  model/map/src/main/java/org/keycloak/models/map/storage/CriteriaOperator.java
  model/map/src/main/java/org/keycloak/models/map/storage/MapFieldPredicates.java
  model/map/src/main/java/org/keycloak/models/map/storage/ModelCriteriaBuilder.java
Labels: area/storage, kind/enhancement, status/hold, status/needs-rebase

#8219 KEYCLOAK-18589 map-storage profile for KeycloakServer
  model/jpa/src/main/java/org/keycloak/connections/jpa/DefaultJpaConnectionProviderFactory.java
  testsuite/utils/pom.xml
  testsuite/utils/src/main/resources/META-INF/keycloak-server.json
  testsuite/utils/src/main/resources/log4j.properties
Labels: area/storage
