Repository keycloak/keycloak, pull requests merged in 2021-07, with the labels that each got.

#8199 KEYCLOAK-15572 make attributes multi-valued for map storage entities
  model/map/src/main/java/org/keycloak/models/map/client/MapClientAdapter.java
  model/map/src/main/java/org/keycloak/models/map/client/MapClientEntity.java
  model/map/src/main/java/org/keycloak/models/map/clientscope/MapClientScopeAdapter.java
  model/map/src/main/java/org/keycloak/models/map/clientscope/MapClientScopeEntity.java
  model/map/src/main/java/org/keycloak/models/map/realm/MapRealmAdapter.java
  model/map/src/main/java/org/keycloak/models/map/realm/MapRealmEntity.java
  model/map/src/main/java/org/keycloak/models/map/storage/MapFieldPredicates.java
Labels: area/storage, kind/enhancement

#8234 KEYCLOAK-18635 Move classes specific to ConcurrentHashMap to chm package
  model/map/src/main/java/org/keycloak/models/map/storage/chm/ConcurrentHashMapKeycloakTransaction.java
  model/map/src/main/java/org/keycloak/models/map/storage/chm/ConcurrentHashMapStorage.java
  model/map/src/main/java/org/keycloak/models/map/storage/chm/CriteriaOperator.java
  model/map/src/main/java/org/keycloak/models/map/storage/chm/MapFieldPredicates.java
  model/map/src/main/java/org/keycloak/models/map/storage/chm/MapModelCriteriaBuilder.java
Labels: area/storage, kind/enhancement

#7357 KEYCLOAK-15221 Add sid claim to ID Token and fix backchannel logout Content-Type
  core/src/main/java/org/keycloak/representations/IDToken.java
  services/src/main/java/org/keycloak/services/managers/ResourceAdminManager.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/oauth/AccessTokenTest.java
Labels: area/oidc, kind/bug

#8215 KEYCLOAK-18518 Add expiration lifespan configuration to every distrib…
  distribution/galleon-feature-packs/server-galleon-pack/src/main/resources/content/bin/migrate-domain-clustered.cli
  distribution/galleon-feature-packs/server-galleon-pack/src/main/resources/content/bin/migrate-standalone-ha.cli
  distribution/galleon-feature-packs/server-galleon-pack/src/main/resources/feature_groups/infinispan-dist-keycloak.xml
  quarkus/runtime/src/main/resources/cluster-default.xml
  wildfly/server-subsystem/src/main/resources/subsystem-templates/keycloak-infinispan.xml
Labels: area/storage, kind/bug, priority/critical

#8243 [KEYCLOAK-18630] - Request object encryption support
  core/src/main/java/org/keycloak/jose/JOSE.java
  core/src/main/java/org/keycloak/jose/JOSEHeader.java
  core/src/main/java/org/keycloak/jose/JOSEParser.java
  core/src/main/java/org/keycloak/jose/jwe/JWE.java
  core/src/main/java/org/keycloak/jose/jwe/JWEHeader.java
  core/src/main/java/org/keycloak/jose/jwe/JWERegistry.java
  core/src/main/java/org/keycloak/jose/jwk/JWKBuilder.java
  core/src/main/java/org/keycloak/jose/jws/JWSHeader.java
  core/src/main/java/org/keycloak/jose/jws/JWSInput.java
  core/src/main/java/org/keycloak/protocol/oidc/representations/OIDCConfigurationRepresentation.java
  core/src/main/java/org/keycloak/representations/idm/KeysMetadataRepresentation.java
  server-spi-private/src/main/java/org/keycloak/models/utils/DefaultKeyProviders.java
  server-spi/src/main/java/org/keycloak/models/TokenManager.java
  services/src/main/java/org/keycloak/jose/jws/DefaultTokenManager.java
  services/src/main/java/org/keycloak/keys/AbstractRsaKeyProvider.java
  services/src/main/java/org/keycloak/keys/Attributes.java
  services/src/main/java/org/keycloak/keys/GeneratedRsaKeyProviderFactory.java
  services/src/main/java/org/keycloak/keys/ImportedRsaKeyProvider.java
  services/src/main/java/org/keycloak/keys/JavaKeystoreKeyProvider.java
  services/src/main/java/org/keycloak/protocol/oidc/OIDCLoginProtocolService.java
  services/src/main/java/org/keycloak/protocol/oidc/OIDCWellKnownProvider.java
  services/src/main/java/org/keycloak/protocol/oidc/endpoints/request/AuthzEndpointRequestObjectParser.java
  services/src/main/java/org/keycloak/protocol/oidc/grants/ciba/endpoints/request/BackchannelAuthenticationEndpointSignedRequestParser.java
  services/src/main/java/org/keycloak/services/resources/admin/KeyResource.java
  testsuite/integration-arquillian/tests/base/src/main/java/org/keycloak/testsuite/admin/ApiUtil.java
  testsuite/integration-arquillian/tests/base/src/main/java/org/keycloak/testsuite/util/KeyUtils.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/admin/client/InstallationTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/admin/group/AbstractGroupTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/broker/KcOIDCBrokerWithSignatureTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/broker/KcOidcBrokerPrivateKeyJwtTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/broker/KcSamlSignedBrokerTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/oidc/OIDCAdvancedRequestParamsTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/oidc/OIDCWellKnownProviderTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/oidc/UserInfoTest.java
  themes/src/main/resources/theme/base/admin/messages/admin-messages_en.properties
  themes/src/main/resources/theme/base/admin/resources/partials/realm-keys.html
Labels: area/oidc, kind/enhancement

#7452 KEYCLOAK-16398 - Fix storeToken label association for gitlab idp
  themes/src/main/resources/theme/base/admin/resources/partials/realm-identity-provider-gitlab.html
Labels: component/themes, missing/jira

#8195 KEYCLOAK-18467 support unicode for realm localization texts
  model/jpa/src/main/java/org/keycloak/models/jpa/entities/RealmLocalizationTextsEntity.java
  model/jpa/src/main/resources/META-INF/jpa-changelog-15.0.0.xml
  model/jpa/src/main/resources/META-INF/jpa-changelog-master.xml
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/i18n/RealmLocalizationTest.java
Labels: area/storage, kind/enhancement

#7988 KEYCLOAK-17947 Propagate security domain to ejb
  distribution/adapters/wildfly-adapter/cli/adapter-elytron-install-offline.cli
Labels: area/adapters, impact/low, kind/enhancement

#8227 KEYCLOAK-18370 Introduce QueryParameters
  model/map/src/main/java/org/keycloak/models/map/authSession/MapRootAuthenticationSessionProvider.java
  model/map/src/main/java/org/keycloak/models/map/authorization/MapPermissionTicketStore.java
  model/map/src/main/java/org/keycloak/models/map/authorization/MapPolicyStore.java
  model/map/src/main/java/org/keycloak/models/map/authorization/MapResourceStore.java
  model/map/src/main/java/org/keycloak/models/map/authorization/MapScopeStore.java
  model/map/src/main/java/org/keycloak/models/map/authorization/entity/MapPermissionTicketEntity.java
  model/map/src/main/java/org/keycloak/models/map/authorization/entity/MapPolicyEntity.java
  model/map/src/main/java/org/keycloak/models/map/authorization/entity/MapResourceEntity.java
  model/map/src/main/java/org/keycloak/models/map/client/MapClientProvider.java
  model/map/src/main/java/org/keycloak/models/map/clientscope/MapClientScopeProvider.java
  model/map/src/main/java/org/keycloak/models/map/group/MapGroupProvider.java
  model/map/src/main/java/org/keycloak/models/map/loginFailure/MapUserLoginFailureProvider.java
  model/map/src/main/java/org/keycloak/models/map/realm/MapRealmProvider.java
  model/map/src/main/java/org/keycloak/models/map/role/MapRoleProvider.java
  model/map/src/main/java/org/keycloak/models/map/storage/MapKeycloakTransaction.java
  model/map/src/main/java/org/keycloak/models/map/storage/MapStorage.java
  model/map/src/main/java/org/keycloak/models/map/storage/QueryParameters.java
  model/map/src/main/java/org/keycloak/models/map/storage/chm/ConcurrentHashMapKeycloakTransaction.java
  model/map/src/main/java/org/keycloak/models/map/storage/chm/ConcurrentHashMapStorage.java
  model/map/src/main/java/org/keycloak/models/map/storage/chm/ConcurrentHashMapStorageProviderFactory.java
  model/map/src/main/java/org/keycloak/models/map/storage/chm/MapFieldPredicates.java
  model/map/src/main/java/org/keycloak/models/map/storage/chm/UserSessionConcurrentHashMapStorage.java
  model/map/src/main/java/org/keycloak/models/map/user/MapUserEntity.java
  model/map/src/main/java/org/keycloak/models/map/user/MapUserProvider.java
  model/map/src/main/java/org/keycloak/models/map/userSession/MapUserSessionProvider.java
  server-spi/src/main/java/org/keycloak/storage/SearchableModelField.java
Labels: area/storage

#8220 KEYCLOAK-18590 Realm localizations of one realm must not affect themes displayed in context of other realms
  services/src/main/java/org/keycloak/email/freemarker/FreeMarkerEmailTemplateProvider.java
  services/src/main/java/org/keycloak/forms/account/freemarker/FreeMarkerAccountProvider.java
  services/src/main/java/org/keycloak/forms/login/freemarker/FreeMarkerLoginFormsProvider.java
  services/src/main/java/org/keycloak/services/resources/admin/AdminMessageFormatter.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/i18n/LoginPageTest.java
Labels: kind/bug, missing/tests

#8264 KEYCLOAK-18747 Turn MapClientEntity into interface + introduce delegates
  model/map/src/main/java/org/keycloak/models/map/client/MapClientEntity.java
  model/map/src/main/java/org/keycloak/models/map/client/MapClientEntityDelegate.java
  model/map/src/main/java/org/keycloak/models/map/client/MapClientEntityImpl.java
  model/map/src/main/java/org/keycloak/models/map/client/MapClientEntityLazyDelegate.java
  model/map/src/main/java/org/keycloak/models/map/client/MapClientProvider.java
  model/map/src/main/java/org/keycloak/models/map/storage/chm/ConcurrentHashMapStorageProviderFactory.java
  testsuite/model/src/test/java/org/keycloak/testsuite/model/MapStorageTest.java
Labels: area/storage, kind/enhancement

#8262 [KEYCLOAK-18729] - Support JAR when using PAR
  services/src/main/java/org/keycloak/protocol/oidc/endpoints/request/AuthorizationEndpointRequestParserProcessor.java
  services/src/main/java/org/keycloak/protocol/oidc/endpoints/request/AuthzEndpointRequestObjectParser.java
  services/src/main/java/org/keycloak/protocol/oidc/par/endpoints/request/AuthzEndpointParParser.java
  services/src/main/java/org/keycloak/services/clientpolicy/executor/SecureRequestObjectExecutor.java
  testsuite/integration-arquillian/servers/auth-server/services/testsuite-providers/src/main/java/org/keycloak/testsuite/rest/resource/TestingOIDCEndpointsApplicationResource.java
  testsuite/integration-arquillian/tests/base/src/main/java/org/keycloak/testsuite/client/resources/TestOIDCEndpointsApplicationResource.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/client/AbstractClientPoliciesTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/client/ClientPoliciesTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/oidc/OIDCAdvancedRequestParamsTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/par/ParTest.java
Labels: area/oidc, kind/enhancement

#8266 [KEYCLOAK-18745] - Client JWT authentication should allow PAR endpoint as audience
  core/src/main/java/org/keycloak/representations/JsonWebToken.java
  services/src/main/java/org/keycloak/authentication/authenticators/client/JWTClientAuthenticator.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/oauth/ClientAuthSignedJWTTest.java
Labels: area/oidc, kind/bug

#8274 [KEYCLOAK-18819] - SecureResponseType executor shall allow response_type=code when using JARM and response_mode=jwt
  services/src/main/java/org/keycloak/protocol/oidc/utils/OIDCResponseMode.java
  services/src/main/java/org/keycloak/protocol/oidc/utils/OIDCResponseType.java
  services/src/main/java/org/keycloak/services/clientpolicy/executor/SecureResponseTypeExecutor.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/client/ClientPoliciesTest.java
Labels: area/oidc, kind/enhancement

#8275 [KEYCLOAK-18807] - Fixing claims in JARM responses
  core/src/main/java/org/keycloak/OAuth2Constants.java
  services/src/main/java/org/keycloak/protocol/oidc/utils/OIDCRedirectUriBuilder.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/oidc/AuthorizationTokenResponseModeTest.java
Labels: area/oidc, kind/bug

#8261 [KEYCLOAK-18723] - Configurable constraints for request object encryption
  services/src/main/java/org/keycloak/protocol/oidc/OIDCAdvancedConfigWrapper.java
  services/src/main/java/org/keycloak/protocol/oidc/OIDCConfigAttributes.java
  services/src/main/java/org/keycloak/protocol/oidc/endpoints/request/AuthzEndpointRequestObjectParser.java
  services/src/main/java/org/keycloak/protocol/oidc/endpoints/request/AuthzEndpointRequestParser.java
  services/src/main/java/org/keycloak/services/clientpolicy/executor/SecureRequestObjectExecutor.java
  services/src/main/java/org/keycloak/services/clientpolicy/executor/SecureRequestObjectExecutorFactory.java
  services/src/main/java/org/keycloak/services/clientregistration/oidc/DescriptionConverter.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/client/ClientPoliciesTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/oidc/OIDCAdvancedRequestParamsTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/util/ClientPoliciesUtil.java
  themes/src/main/resources/theme/base/admin/messages/admin-messages_en.properties
  themes/src/main/resources/theme/base/admin/resources/js/controllers/clients.js
  themes/src/main/resources/theme/base/admin/resources/partials/client-detail.html
Labels: area/oidc, kind/enhancement

#8289 [KEYCLOAK-18741] - Review error messages when validating PAR requests
  core/src/main/java/org/keycloak/OAuthErrorException.java
  services/src/main/java/org/keycloak/protocol/oidc/endpoints/request/AuthzEndpointRequestObjectParser.java
  services/src/main/java/org/keycloak/protocol/oidc/par/endpoints/ParEndpoint.java
  services/src/main/java/org/keycloak/services/clientpolicy/context/AuthorizationRequestContext.java
  services/src/main/java/org/keycloak/services/clientpolicy/executor/SecureRequestObjectExecutor.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/client/ClientPoliciesTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/client/FAPI1Test.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/par/ParTest.java
Labels: area/oidc, kind/enhancement

#8272 KEYCLOAK-18815 Update MapKeycloakTransaction return types to match MapStorage
  model/map/src/main/java/org/keycloak/models/map/authSession/MapRootAuthenticationSessionProvider.java
  model/map/src/main/java/org/keycloak/models/map/authorization/MapPermissionTicketStore.java
  model/map/src/main/java/org/keycloak/models/map/authorization/MapPolicyStore.java
  model/map/src/main/java/org/keycloak/models/map/authorization/MapResourceServerStore.java
  model/map/src/main/java/org/keycloak/models/map/authorization/MapResourceStore.java
  model/map/src/main/java/org/keycloak/models/map/authorization/MapScopeStore.java
  model/map/src/main/java/org/keycloak/models/map/client/MapClientProvider.java
  model/map/src/main/java/org/keycloak/models/map/clientscope/MapClientScopeProvider.java
  model/map/src/main/java/org/keycloak/models/map/common/MapStorageUtils.java
  model/map/src/main/java/org/keycloak/models/map/group/MapGroupProvider.java
  model/map/src/main/java/org/keycloak/models/map/loginFailure/MapUserLoginFailureProvider.java
  model/map/src/main/java/org/keycloak/models/map/realm/MapRealmProvider.java
  model/map/src/main/java/org/keycloak/models/map/role/MapRoleProvider.java
  model/map/src/main/java/org/keycloak/models/map/storage/MapKeycloakTransaction.java
  model/map/src/main/java/org/keycloak/models/map/storage/MapStorage.java
  model/map/src/main/java/org/keycloak/models/map/storage/chm/ConcurrentHashMapKeycloakTransaction.java
  model/map/src/main/java/org/keycloak/models/map/storage/chm/UserSessionConcurrentHashMapStorage.java
  model/map/src/main/java/org/keycloak/models/map/user/MapUserProvider.java
  model/map/src/main/java/org/keycloak/models/map/userSession/MapUserSessionProvider.java
Labels: area/storage, kind/enhancement

#8290 [KEYCLOAK-18857] - Do not force default to RS256 when verifying tokens sent by clients and JWK does not hold an algorithm
  core/src/main/java/org/keycloak/crypto/AsymmetricSignatureSignerContext.java
  core/src/main/java/org/keycloak/crypto/AsymmetricSignatureVerifierContext.java
  core/src/main/java/org/keycloak/crypto/KeyWrapper.java
  core/src/main/java/org/keycloak/crypto/MacSignatureSignerContext.java
  core/src/main/java/org/keycloak/crypto/MacSignatureVerifierContext.java
  core/src/main/java/org/keycloak/util/JWKSUtils.java
  core/src/test/java/org/keycloak/util/JWKSUtilsTest.java
  model/infinispan/src/main/java/org/keycloak/keys/infinispan/InfinispanPublicKeyStorageProvider.java
  services/src/main/java/org/keycloak/crypto/ClientAsymmetricSignatureVerifierContext.java
  services/src/main/java/org/keycloak/keys/DefaultKeyManager.java
  services/src/main/java/org/keycloak/protocol/oidc/OIDCLoginProtocolService.java
  services/src/main/java/org/keycloak/services/resources/admin/KeyResource.java
  testsuite/integration-arquillian/servers/auth-server/services/testsuite-providers/src/main/java/org/keycloak/testsuite/rest/TestApplicationResourceProviderFactory.java
  testsuite/integration-arquillian/servers/auth-server/services/testsuite-providers/src/main/java/org/keycloak/testsuite/rest/resource/TestingOIDCEndpointsApplicationResource.java
  testsuite/integration-arquillian/tests/base/src/main/java/org/keycloak/testsuite/client/resources/TestOIDCEndpointsApplicationResource.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/oauth/ClientAuthSignedJWTTest.java
Labels: area/authentication, area/oidc

#8297 KEYCLOAK-18865 CIBATests failing for auth-server-remote
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/client/CIBATest.java
Labels: priority/important, status/in-review

#8276 KEYCLOAK-18824 Simplify MapStorageTransaction and move registerEntityForChanges to CHM transaction
  model/map/src/main/java/org/keycloak/models/map/authSession/MapRootAuthenticationSessionEntity.java
  model/map/src/main/java/org/keycloak/models/map/authSession/MapRootAuthenticationSessionProvider.java
  model/map/src/main/java/org/keycloak/models/map/authSession/MapRootAuthenticationSessionProviderFactory.java
  model/map/src/main/java/org/keycloak/models/map/authorization/MapAuthorizationStoreFactory.java
  model/map/src/main/java/org/keycloak/models/map/authorization/MapPermissionTicketStore.java
  model/map/src/main/java/org/keycloak/models/map/authorization/MapPolicyStore.java
  model/map/src/main/java/org/keycloak/models/map/authorization/MapResourceServerStore.java
  model/map/src/main/java/org/keycloak/models/map/authorization/MapResourceStore.java
  model/map/src/main/java/org/keycloak/models/map/authorization/MapScopeStore.java
  model/map/src/main/java/org/keycloak/models/map/authorization/entity/MapPermissionTicketEntity.java
  model/map/src/main/java/org/keycloak/models/map/authorization/entity/MapPolicyEntity.java
  model/map/src/main/java/org/keycloak/models/map/authorization/entity/MapResourceEntity.java
  model/map/src/main/java/org/keycloak/models/map/authorization/entity/MapResourceServerEntity.java
  model/map/src/main/java/org/keycloak/models/map/authorization/entity/MapScopeEntity.java
  model/map/src/main/java/org/keycloak/models/map/client/MapClientEntity.java
  model/map/src/main/java/org/keycloak/models/map/client/MapClientProvider.java
  model/map/src/main/java/org/keycloak/models/map/client/MapClientProviderFactory.java
  model/map/src/main/java/org/keycloak/models/map/clientscope/MapClientScopeEntity.java
  model/map/src/main/java/org/keycloak/models/map/clientscope/MapClientScopeProvider.java
  model/map/src/main/java/org/keycloak/models/map/clientscope/MapClientScopeProviderFactory.java
  model/map/src/main/java/org/keycloak/models/map/common/AbstractEntity.java
  model/map/src/main/java/org/keycloak/models/map/common/AbstractMapProviderFactory.java
  model/map/src/main/java/org/keycloak/models/map/common/MapStorageUtils.java
  model/map/src/main/java/org/keycloak/models/map/group/MapGroupEntity.java
  model/map/src/main/java/org/keycloak/models/map/group/MapGroupProvider.java
  model/map/src/main/java/org/keycloak/models/map/group/MapGroupProviderFactory.java
  model/map/src/main/java/org/keycloak/models/map/loginFailure/MapUserLoginFailureEntity.java
  model/map/src/main/java/org/keycloak/models/map/loginFailure/MapUserLoginFailureProvider.java
  model/map/src/main/java/org/keycloak/models/map/loginFailure/MapUserLoginFailureProviderFactory.java
  model/map/src/main/java/org/keycloak/models/map/realm/MapRealmEntity.java
  model/map/src/main/java/org/keycloak/models/map/realm/MapRealmProvider.java
  model/map/src/main/java/org/keycloak/models/map/realm/MapRealmProviderFactory.java
  model/map/src/main/java/org/keycloak/models/map/role/MapRoleEntity.java
  model/map/src/main/java/org/keycloak/models/map/role/MapRoleProvider.java
  model/map/src/main/java/org/keycloak/models/map/role/MapRoleProviderFactory.java
  model/map/src/main/java/org/keycloak/models/map/storage/MapKeycloakTransaction.java
  model/map/src/main/java/org/keycloak/models/map/storage/MapStorage.java
  model/map/src/main/java/org/keycloak/models/map/storage/MapStorageProvider.java
  model/map/src/main/java/org/keycloak/models/map/storage/chm/ConcurrentHashMapKeycloakTransaction.java
  model/map/src/main/java/org/keycloak/models/map/storage/chm/ConcurrentHashMapStorage.java
  model/map/src/main/java/org/keycloak/models/map/storage/chm/ConcurrentHashMapStorageProvider.java
  model/map/src/main/java/org/keycloak/models/map/storage/chm/ConcurrentHashMapStorageProviderFactory.java
  model/map/src/main/java/org/keycloak/models/map/storage/chm/MapFieldPredicates.java
  model/map/src/main/java/org/keycloak/models/map/storage/chm/UserSessionConcurrentHashMapStorage.java
  model/map/src/main/java/org/keycloak/models/map/user/MapUserEntity.java
  model/map/src/main/java/org/keycloak/models/map/user/MapUserProvider.java
  model/map/src/main/java/org/keycloak/models/map/user/MapUserProviderFactory.java
  model/map/src/main/java/org/keycloak/models/map/userSession/MapAuthenticatedClientSessionEntity.java
  model/map/src/main/java/org/keycloak/models/map/userSession/MapUserSessionEntity.java
  model/map/src/main/java/org/keycloak/models/map/userSession/MapUserSessionProvider.java
  model/map/src/main/java/org/keycloak/models/map/userSession/MapUserSessionProviderFactory.java
  server-spi/src/main/java/org/keycloak/storage/SearchableModelField.java
  testsuite/model/src/test/java/org/keycloak/testsuite/model/MapStorageTest.java
Labels: area/storage

#7817 KEYCLOAK-17290 SAML Client - Generate AttributeConsumingService SP metadata section
  saml-core/src/main/java/org/keycloak/saml/SPMetadataDescriptor.java
  services/src/main/java/org/keycloak/broker/saml/SAMLIdentityProvider.java
  services/src/main/java/org/keycloak/broker/saml/SAMLIdentityProviderConfig.java
  services/src/main/java/org/keycloak/broker/saml/mappers/UserAttributeMapper.java
  services/src/main/java/org/keycloak/protocol/saml/installation/SamlSPDescriptorClientInstallation.java
  services/src/main/java/org/keycloak/protocol/saml/mappers/SamlMetadataDescriptorUpdater.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/broker/KcSamlAttributeConsumingServiceIndexTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/broker/KcSamlSpDescriptorTest.java
  themes/src/main/resources/theme/base/admin/messages/admin-messages_en.properties
  themes/src/main/resources/theme/base/admin/resources/partials/realm-identity-provider-saml.html
Labels: area/saml, kind/enhancement, status/in-review

#8306 KEYCLOAK-18876 Fix intermittent LoginTest failures
  testsuite/integration-arquillian/tests/base/src/main/java/org/keycloak/testsuite/updaters/RealmAttributeUpdater.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/forms/LoginTest.java
Labels: area/testsuite, kind/bug

#8233 KEYCLOAK-18552 - Grouping of attributes in user profile (step 1)
  server-spi-private/src/main/java/org/keycloak/userprofile/AttributeGroupMetadata.java
  server-spi-private/src/main/java/org/keycloak/userprofile/AttributeMetadata.java
  services/src/main/java/org/keycloak/forms/login/freemarker/model/AbstractUserProfileBean.java
  services/src/main/java/org/keycloak/userprofile/AbstractUserProfileProvider.java
  services/src/main/java/org/keycloak/userprofile/DeclarativeUserProfileProvider.java
  services/src/main/java/org/keycloak/userprofile/config/UPAttribute.java
  services/src/main/java/org/keycloak/userprofile/config/UPConfig.java
  services/src/main/java/org/keycloak/userprofile/config/UPConfigUtils.java
  services/src/main/java/org/keycloak/userprofile/config/UPGroup.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/actions/RequiredActionUpdateProfileWithUserProfileTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/broker/KcOidcFirstBrokerLoginWithUserProfileTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/forms/RegisterWithUserProfileTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/forms/VerifyProfileTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/user/profile/UserProfileTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/user/profile/config/UPConfigParserTest.java
  testsuite/integration-arquillian/tests/base/src/test/resources/org/keycloak/testsuite/user/profile/config/test-OK.json
  themes/src/main/resources/theme/base/login/user-profile-commons.ftl
  themes/src/main/resources/theme/keycloak/login/theme.properties
Labels: kind/enhancement, status/hold

#8314 KEYCLOAK-18594 CIBA Ping Mode
  core/src/main/java/org/keycloak/representations/oidc/OIDCClientRepresentation.java
  server-spi-private/src/main/java/org/keycloak/models/OAuth2DeviceCodeModel.java
  server-spi/src/main/java/org/keycloak/models/CibaConfig.java
  services/src/main/java/org/keycloak/protocol/oidc/OIDCWellKnownProvider.java
  services/src/main/java/org/keycloak/protocol/oidc/grants/ciba/CibaClientValidation.java
  services/src/main/java/org/keycloak/protocol/oidc/grants/ciba/channel/CIBAAuthenticationRequest.java
  services/src/main/java/org/keycloak/protocol/oidc/grants/ciba/endpoints/BackchannelAuthenticationCallbackEndpoint.java
  services/src/main/java/org/keycloak/protocol/oidc/grants/ciba/endpoints/BackchannelAuthenticationEndpoint.java
  services/src/main/java/org/keycloak/protocol/oidc/grants/ciba/endpoints/ClientNotificationEndpointRequest.java
  services/src/main/java/org/keycloak/protocol/oidc/grants/device/endpoints/DeviceEndpoint.java
  services/src/main/java/org/keycloak/services/clientpolicy/executor/SecureClientUrisExecutor.java
  services/src/main/java/org/keycloak/services/clientregistration/oidc/DescriptionConverter.java
  services/src/main/java/org/keycloak/validation/DefaultClientValidationProvider.java
  testsuite/integration-arquillian/servers/auth-server/services/testsuite-providers/src/main/java/org/keycloak/testsuite/rest/TestApplicationResourceProvider.java
  testsuite/integration-arquillian/servers/auth-server/services/testsuite-providers/src/main/java/org/keycloak/testsuite/rest/TestApplicationResourceProviderFactory.java
  testsuite/integration-arquillian/servers/auth-server/services/testsuite-providers/src/main/java/org/keycloak/testsuite/rest/resource/TestingOIDCEndpointsApplicationResource.java
  testsuite/integration-arquillian/tests/base/src/main/java/org/keycloak/testsuite/client/resources/TestApplicationResourceUrls.java
  testsuite/integration-arquillian/tests/base/src/main/java/org/keycloak/testsuite/client/resources/TestOIDCEndpointsApplicationResource.java
  testsuite/integration-arquillian/tests/base/src/main/java/org/keycloak/testsuite/util/OAuthClient.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/client/CIBATest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/client/OIDCClientRegistrationTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/oidc/OIDCWellKnownProviderTest.java
  themes/src/main/resources/theme/base/admin/messages/admin-messages_en.properties
  themes/src/main/resources/theme/base/admin/resources/js/controllers/clients.js
  themes/src/main/resources/theme/base/admin/resources/partials/ciba-policy.html
  themes/src/main/resources/theme/base/admin/resources/partials/client-detail.html
Labels: area/oidc, kind/feature, priority/important, status/in-review

#8250 KEYCLOAK-18695 Support user lookup by ID with Novell eDirectory
  federation/ldap/src/main/java/org/keycloak/storage/ldap/idm/store/ldap/LDAPOperationManager.java
  federation/ldap/src/main/java/org/keycloak/storage/ldap/idm/store/ldap/LDAPUtil.java
Labels: kind/bug

#8320 KEYCLOAK-18901 Test for update clientNotificationEndpoint to 'http' U…
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/client/ClientPoliciesTest.java
Labels: kind/enhancement, priority/important, status/in-review

#8313 KEYCLOAK-18875 UI for managing group of attributes
  themes/src/main/resources/theme/base/admin/messages/admin-messages_en.properties
  themes/src/main/resources/theme/base/admin/resources/js/controllers/realm.js
  themes/src/main/resources/theme/base/admin/resources/partials/realm-user-profile.html
Labels: area/ui, component/user-profile, kind/enhancement

#8300 KEYCLOAK-18706 Add UPDATE_PASSWORD required action only to authentica…
  federation/ldap/src/main/java/org/keycloak/storage/ldap/mappers/msad/MSADUserAccountControlStorageMapper.java
Labels: area/user-federation, priority/important

#8322 KEYCLOAK-18636 The mtls_endpoint_aliases claim is not advertized in t…
  core/src/main/java/org/keycloak/protocol/oidc/representations/MTLSEndpointAliases.java
  core/src/main/java/org/keycloak/protocol/oidc/representations/OIDCConfigurationRepresentation.java
  services/src/main/java/org/keycloak/protocol/oidc/OIDCWellKnownProvider.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/oidc/OIDCWellKnownProviderTest.java
Labels: priority/important, status/in-review

#8324 [KEYCLOAK-18875] - Minor improvements to attribute group UI
  themes/src/main/resources/theme/base/admin/messages/admin-messages_en.properties
  themes/src/main/resources/theme/base/admin/resources/partials/realm-user-profile.html
Labels: component/user-profile, kind/bug, kind/enhancement

#8323 KEYCLOAK-18903 More customizable OIDC WellKnown provider
  services/src/main/java/org/keycloak/protocol/oidc/OIDCWellKnownProvider.java
  services/src/main/java/org/keycloak/protocol/oidc/OIDCWellKnownProviderFactory.java
  services/src/main/java/org/keycloak/services/resources/RealmsResource.java
  services/src/main/java/org/keycloak/wellknown/WellKnownProviderFactory.java
  testsuite/integration-arquillian/servers/auth-server/services/testsuite-providers/src/main/java/org/keycloak/testsuite/rest/TestingResourceProvider.java
  testsuite/integration-arquillian/servers/auth-server/services/testsuite-providers/src/main/java/org/keycloak/testsuite/wellknown/CustomOIDCWellKnownProvider.java
  testsuite/integration-arquillian/servers/auth-server/services/testsuite-providers/src/main/java/org/keycloak/testsuite/wellknown/CustomOIDCWellKnownProviderFactory.java
  testsuite/integration-arquillian/servers/auth-server/services/testsuite-providers/src/main/resources/META-INF/services/org.keycloak.wellknown.WellKnownProviderFactory
  testsuite/integration-arquillian/servers/auth-server/services/testsuite-providers/src/main/resources/wellknown/oidc-well-known-config-override.json
  testsuite/integration-arquillian/tests/base/src/main/java/org/keycloak/testsuite/client/resources/TestingResource.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/oidc/OIDCWellKnownProviderTest.java
Labels: kind/enhancement, priority/important, status/in-review

#7769 KEYCLOAK-16996 User not able to revoke his offline token for directGr…
  services/src/main/java/org/keycloak/services/resources/account/AccountRestService.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/account/AbstractRestServiceTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/account/AccountRestServiceTest.java
  themes/src/main/resources/theme/keycloak.v2/account/src/app/content/applications-page/ApplicationsPage.tsx
Labels: component/account-rest, kind/bug, status/in-review

#8210 [KEYCLOAK-18559] Fix SAML adapters so they allow unescaped characters…
  adapters/oidc/adapter-core/src/main/java/org/keycloak/adapters/OAuthRequestAuthenticator.java
  adapters/oidc/adapter-core/src/main/java/org/keycloak/adapters/ServerRequest.java
  adapters/saml/undertow/src/main/java/org/keycloak/adapters/saml/undertow/ServletSamlSessionStore.java
  adapters/saml/wildfly-elytron/src/main/java/org/keycloak/adapters/saml/elytron/ElytronSamlSessionStore.java
  adapters/spi/undertow-adapter-spi/src/main/java/org/keycloak/adapters/undertow/UndertowHttpFacade.java
  common/src/main/java/org/keycloak/common/util/KeycloakUriBuilder.java
  core/src/main/java/org/keycloak/AbstractOAuthClient.java
Labels: area/saml, kind/bug

#8159 KEYCLOAK-18913 Update messages_cs.properties
  themes/src/main/resources-community/theme/base/login/messages/messages_cs.properties
Labels: component/translations, status/ready

#8156 [KEYCLOAK-18417] Support SAML 2.0 AttributeValue with user-defined xsi types
  saml-core/src/main/java/org/keycloak/saml/processing/core/parsers/saml/assertion/SAMLAttributeValueParser.java
  saml-core/src/test/java/org/keycloak/saml/processing/core/parsers/saml/SAMLAttributeValueParserTest.java
Labels: area/saml, kind/enhancement, status/ready

#8332 KEYCLOAK-18680 Always close result stream
  model/jpa/src/main/java/org/keycloak/authorization/jpa/store/JPAPermissionTicketStore.java
  model/jpa/src/main/java/org/keycloak/models/jpa/JpaRealmProvider.java
  model/jpa/src/main/java/org/keycloak/models/jpa/session/JpaUserSessionPersisterProvider.java
Labels: kind/bug

#8331 [KEYCLOAK-18922] - Ignore empty values for internal attributes not set to user
  services/src/main/java/org/keycloak/userprofile/validator/ReadOnlyAttributeUnchangedValidator.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/federation/ldap/LDAPAdminRestApiWithUserProfileTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/forms/VerifyProfileTest.java
Labels: component/user-profile, kind/bug
