Repository keycloak/keycloak, pull requests merged in 2021-12, with the labels that each got.

#8918 KEYCLOAK-13847 fix offline token refresh date
  services/src/main/java/org/keycloak/services/resources/admin/UserResource.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/admin/ClientTest.java
Labels: missing/tests

#8968 Closes #8808 - Convert MapRoleEntity to interface
  model/map/src/main/java/org/keycloak/models/map/role/MapRoleAdapter.java
  model/map/src/main/java/org/keycloak/models/map/role/MapRoleEntity.java
  model/map/src/main/java/org/keycloak/models/map/role/MapRoleProvider.java
  model/map/src/main/java/org/keycloak/models/map/storage/chm/ConcurrentHashMapStorageProviderFactory.java
Labels: area/storage

#8953 [KEYCLOAK-19859] - Patching request filter to properly end responses
  quarkus/runtime/src/main/java/org/keycloak/quarkus/runtime/integration/web/QuarkusRequestFilter.java
  testsuite/integration-arquillian/tests/base/src/main/java/org/keycloak/testsuite/arquillian/annotation/SetDefaultProvider.java
  testsuite/integration-arquillian/tests/base/src/main/java/org/keycloak/testsuite/arquillian/containers/KeycloakQuarkusServerDeployableContainer.java
  testsuite/integration-arquillian/tests/base/src/main/java/org/keycloak/testsuite/util/SpiProvidersSwitchingUtils.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/user/profile/CustomUserProfileTest.java
Labels: kind/bug, area/dist/quarkus

#9026 Introduce model-entity util methods
  model/map/src/main/java/org/keycloak/models/map/common/DeepCloner.java
  model/map/src/main/java/org/keycloak/models/map/storage/ModelEntityUtil.java
  model/map/src/main/java/org/keycloak/models/map/storage/chm/ConcurrentHashMapStorageProviderFactory.java
Labels: kind/enhancement, area/storage

#9002 [KEYCLOAK-19686] - Update bat script with latest changes
  distribution/server-x-dist/src/main/content/bin/kc.bat
  quarkus/runtime/src/main/java/org/keycloak/quarkus/runtime/cli/Picocli.java
  quarkus/runtime/src/main/java/org/keycloak/quarkus/runtime/configuration/PersistedConfigSource.java
Labels: kind/bug, area/dist/quarkus

#9020 Fix NPE for component creation when realm unset but config known
  server-spi-private/src/main/java/org/keycloak/models/utils/KeycloakModelUtils.java
  services/src/main/java/org/keycloak/services/DefaultComponentFactoryProviderFactory.java
  services/src/main/java/org/keycloak/services/DefaultKeycloakSession.java
Labels: kind/bug, area/core

#9023 Simplify component model overrides
  server-spi-private/src/main/java/org/keycloak/component/ComponentModelScope.java
  server-spi/src/main/java/org/keycloak/component/ComponentModel.java
Labels: kind/enhancement, area/core

#9032 Refactor StorageId
  server-spi/src/main/java/org/keycloak/storage/StorageId.java
  server-spi/src/test/java/org/keycloak/storage/StorageIdTest.java
Labels: kind/enhancement, area/core, area/storage

#8975 8942 - port in location header is -1 when doing SAML global logout
  adapters/saml/wildfly-elytron/src/main/java/org/keycloak/adapters/saml/elytron/KeycloakHttpServerAuthenticationMechanism.java
Labels: area/adapter/jee-saml

#9039 Create delegates and empty instances in DeepCloner
  model/build-processor/src/main/java/org/keycloak/models/map/processor/AbstractGenerateEntityImplementationsProcessor.java
  model/build-processor/src/main/java/org/keycloak/models/map/processor/GenerateEntityImplementationsProcessor.java
  model/build-processor/src/main/java/org/keycloak/models/map/processor/Util.java
  model/map/src/main/java/org/keycloak/models/map/common/DeepCloner.java
  model/map/src/main/java/org/keycloak/models/map/common/EntityField.java
  model/map/src/main/java/org/keycloak/models/map/common/delegate/DelegateProvider.java
  model/map/src/main/java/org/keycloak/models/map/common/delegate/EntityFieldDelegate.java
  model/map/src/main/java/org/keycloak/models/map/common/delegate/HasEntityFieldDelegate.java
  model/map/src/main/java/org/keycloak/models/map/common/delegate/LazyDelegateProvider.java
  model/map/src/main/java/org/keycloak/models/map/common/delegate/SimpleDelegateProvider.java
  model/map/src/main/java/org/keycloak/models/map/storage/tree/EmptyMapStorage.java
  model/map/src/test/java/org/keycloak/models/map/client/MapClientEntityClonerTest.java
  testsuite/model/src/test/java/org/keycloak/testsuite/model/storage/tree/sample/Dict.java
  testsuite/model/src/test/java/org/keycloak/testsuite/model/storage/tree/sample/DictStorage.java
  testsuite/model/src/test/java/org/keycloak/testsuite/model/storage/tree/sample/DictTest.java
Labels: kind/enhancement, area/storage

#9024 Enhance available tree operations
  model/map/src/main/java/org/keycloak/models/map/storage/tree/DefaultTreeNode.java
  model/map/src/main/java/org/keycloak/models/map/storage/tree/TreeNode.java
  model/map/src/test/java/org/keycloak/models/map/storage/tree/DefaultTreeNodeTest.java
Labels: kind/enhancement, area/storage

#9129 [fixes #9128] - Enable new admin console to Dist.X
  themes/src/main/resources-community/META-INF/keycloak-themes.json
Labels: kind/bug, area/dist/quarkus

#8921 KEYCLOAK-19391: Add custom search filter when lookup for a user by ID
  federation/ldap/src/main/java/org/keycloak/storage/ldap/idm/store/ldap/LDAPOperationManager.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/federation/ldap/LDAPProvidersIntegrationTest.java
Labels: missing/tests

#9142 Use DeepCloner.Builder().constructorDC in cases when possible
  model/map-hot-rod/src/main/java/org/keycloak/models/map/storage/hotRod/HotRodMapStorageProviderFactory.java
  model/map/src/main/java/org/keycloak/models/map/storage/chm/ConcurrentHashMapStorageProviderFactory.java
Labels: area/storage

#9140 Fix DB Migration Script to 13.0.0
  model/jpa/src/main/java/org/keycloak/connections/jpa/updater/liquibase/custom/JpaUpdate13_0_0_MigrateDefaultRoles.java
Labels: priority/critical

#9220 Remove server-overlay from distribution downloads
  distribution/downloads/src/main/resources/files
Labels: priority/important

#7897 KEYCLOAK-847 Add support for step up authentication
  core/src/main/java/org/keycloak/representations/ClaimsRepresentation.java
  core/src/test/java/org/keycloak/JsonParserTest.java
  core/src/test/resources/sample-claims.json
  quarkus/runtime/src/test/java/org/keycloak/quarkus/runtime/configuration/test/ConfigurationTest.java
  server-spi-private/src/main/java/org/keycloak/authentication/AuthenticationFlowCallback.java
  server-spi-private/src/main/java/org/keycloak/authentication/AuthenticationFlowCallbackFactory.java
  server-spi-private/src/main/java/org/keycloak/models/Constants.java
  services/src/main/java/org/keycloak/authentication/AuthenticationSelectionResolver.java
  services/src/main/java/org/keycloak/authentication/AuthenticatorUtil.java
  services/src/main/java/org/keycloak/authentication/DefaultAuthenticationFlow.java
  services/src/main/java/org/keycloak/authentication/authenticators/browser/CookieAuthenticator.java
  services/src/main/java/org/keycloak/authentication/authenticators/conditional/ConditionalLoaAuthenticator.java
  services/src/main/java/org/keycloak/authentication/authenticators/conditional/ConditionalLoaAuthenticatorFactory.java
  services/src/main/java/org/keycloak/protocol/oidc/TokenManager.java
  services/src/main/java/org/keycloak/protocol/oidc/endpoints/AuthorizationEndpoint.java
  services/src/main/java/org/keycloak/protocol/oidc/utils/AcrUtils.java
  services/src/main/java/org/keycloak/services/messages/Messages.java
  services/src/main/resources/META-INF/services/org.keycloak.authentication.AuthenticatorFactory
  testsuite/integration-arquillian/tests/base/src/main/java/org/keycloak/testsuite/pages/PushTheButtonPage.java
  testsuite/integration-arquillian/tests/base/src/main/java/org/keycloak/testsuite/util/OAuthClient.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/admin/authentication/ProvidersTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/forms/LevelOfAssuranceFlowTest.java
  themes/src/main/resources/theme/base/admin/messages/admin-messages_en.properties
  themes/src/main/resources/theme/base/admin/resources/js/controllers/clients.js
  themes/src/main/resources/theme/base/admin/resources/partials/client-detail.html
  themes/src/main/resources/theme/base/login/messages/messages_en.properties
  themes/src/main/resources/theme/keycloak/admin/resources/css/styles.css
  themes/src/main/resources/theme/keycloak/common/resources/node_modules/rcue/dist/img/git-logo.svg
Labels: area/authentication, kind/feature, priority/important

#9253 Refactoring of constructors for generated entities
  model/build-processor/src/main/java/org/keycloak/models/map/processor/AbstractGenerateEntityImplementationsProcessor.java
  model/build-processor/src/main/java/org/keycloak/models/map/processor/FieldAccessorType.java
  model/build-processor/src/main/java/org/keycloak/models/map/processor/GenerateEntityImplementationsProcessor.java
  model/build-processor/src/main/java/org/keycloak/models/map/processor/GenerateHotRodEntityImplementationsProcessor.java
  model/build-processor/src/main/java/org/keycloak/models/map/processor/Util.java
  model/map-hot-rod/src/main/java/org/keycloak/models/map/storage/hotRod/HotRodMapStorageProviderFactory.java
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/client/entity/JpaClientEntity.java
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/client/entity/JpaClientMetadata.java
  model/map/src/main/java/org/keycloak/models/map/common/DeepCloner.java
  model/map/src/main/java/org/keycloak/models/map/storage/chm/ConcurrentHashMapStorageProviderFactory.java
  model/map/src/test/java/org/keycloak/models/map/client/MapClientEntityClonerTest.java
Labels: area/storage
