Repository keycloak/keycloak, pull requests merged in 2021-02, with the labels that each got.

#7706 [KEYCLOAK-16667] - Can't set key when setting up TLS using PEM files
  quarkus/runtime/src/main/java/org/keycloak/configuration/PropertyMappers.java
Labels: component/quarkus, impact/low

#7744 KEYCLOAK-16939 : Performance testsuite stabilization
  testsuite/performance/pom.xml
  testsuite/performance/tests/docker-compose.sh
  testsuite/performance/tests/pom.xml
  testsuite/performance/tests/src/main/gnuplot/jstat/gc-ev.gp
  testsuite/performance/tests/src/main/gnuplot/jstat/gc-t.gp
  testsuite/performance/tests/src/test/resources/dataset/100r_100c_100000u.properties
  testsuite/performance/tests/src/test/resources/dataset/10r_50c_100000u.properties
Labels: area/testsuite, kind/bug

#7544 KECLOAK-16009 Add a method to check if the token request has duplicat…
  services/src/main/java/org/keycloak/protocol/oidc/endpoints/TokenEndpoint.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/oauth/AccessTokenTest.java
Labels: area/oidc, kind/bug

#7736 KEYCLOAK-16755 ClearExpiredUserSessions optimization. Rely on infinis…
  common/src/main/java/org/keycloak/common/util/Time.java
  model/infinispan/src/main/java/org/keycloak/cluster/infinispan/InfinispanClusterProviderFactory.java
  model/infinispan/src/main/java/org/keycloak/connections/infinispan/DefaultInfinispanConnectionProviderFactory.java
  model/infinispan/src/main/java/org/keycloak/models/sessions/infinispan/AuthenticatedClientSessionAdapter.java
  model/infinispan/src/main/java/org/keycloak/models/sessions/infinispan/InfinispanAuthenticationSessionProvider.java
  model/infinispan/src/main/java/org/keycloak/models/sessions/infinispan/InfinispanCodeToTokenStoreProvider.java
  model/infinispan/src/main/java/org/keycloak/models/sessions/infinispan/InfinispanKeycloakTransaction.java
  model/infinispan/src/main/java/org/keycloak/models/sessions/infinispan/InfinispanSingleUseTokenStoreProvider.java
  model/infinispan/src/main/java/org/keycloak/models/sessions/infinispan/InfinispanTokenRevocationStoreProvider.java
  model/infinispan/src/main/java/org/keycloak/models/sessions/infinispan/InfinispanUserSessionProvider.java
  model/infinispan/src/main/java/org/keycloak/models/sessions/infinispan/InfinispanUserSessionProviderFactory.java
  model/infinispan/src/main/java/org/keycloak/models/sessions/infinispan/RootAuthenticationSessionAdapter.java
  model/infinispan/src/main/java/org/keycloak/models/sessions/infinispan/changes/InfinispanChangelogBasedTransaction.java
  model/infinispan/src/main/java/org/keycloak/models/sessions/infinispan/changes/MergedUpdate.java
  model/infinispan/src/main/java/org/keycloak/models/sessions/infinispan/changes/SessionUpdateTask.java
  model/infinispan/src/main/java/org/keycloak/models/sessions/infinispan/remotestore/RemoteCacheInvoker.java
  model/infinispan/src/main/java/org/keycloak/models/sessions/infinispan/remotestore/RemoteCacheSessionListener.java
  model/infinispan/src/main/java/org/keycloak/models/sessions/infinispan/util/InfinispanUtil.java
  model/infinispan/src/main/java/org/keycloak/models/sessions/infinispan/util/SessionTimeouts.java
  model/infinispan/src/test/java/org/keycloak/cluster/infinispan/ConcurrencyJDGCacheReplaceTest.java
  model/map/src/main/java/org/keycloak/models/map/authSession/MapRootAuthenticationSessionProvider.java
  server-spi/src/main/java/org/keycloak/models/UserSessionProvider.java
  server-spi/src/main/java/org/keycloak/sessions/AuthenticationSessionProvider.java
  services/src/main/java/org/keycloak/services/scheduled/ClearExpiredUserSessions.java
  testsuite/integration-arquillian/servers/auth-server/services/testsuite-providers/src/main/java/org/keycloak/testsuite/model/infinispan/InfinispanTestUtil.java
  testsuite/integration-arquillian/servers/auth-server/services/testsuite-providers/src/main/java/org/keycloak/testsuite/model/infinispan/KeycloakTestTimeService.java
  testsuite/integration-arquillian/servers/auth-server/services/testsuite-providers/src/main/java/org/keycloak/testsuite/rest/TestingResourceProvider.java
  testsuite/integration-arquillian/servers/auth-server/services/testsuite-providers/src/main/java/org/keycloak/testsuite/rest/resource/TestCacheResource.java
  testsuite/integration-arquillian/servers/auth-server/services/testsuite-providers/src/main/resources/org/keycloak/testsuite/integration-arquillian-testsuite-providers/main/module.xml
  testsuite/integration-arquillian/tests/base/src/main/java/org/keycloak/testsuite/client/resources/TestingCacheResource.java
  testsuite/integration-arquillian/tests/base/src/main/java/org/keycloak/testsuite/client/resources/TestingResource.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/crossdc/AbstractCrossDCTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/crossdc/LastSessionRefreshCrossDCTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/crossdc/SessionExpirationCrossDCTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/forms/LoginTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/model/AuthenticationSessionProviderTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/model/UserSessionProviderOfflineTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/model/UserSessionProviderTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/util/InfinispanTestTimeServiceRule.java
Labels: area/storage, kind/enhancement, status/in-review

#7763 [KEYCLOAK-17031] - ClientInvalidationClusterTest failing on Quarkus due to unreliable comparison
  common/src/main/java/org/keycloak/common/util/reflections/Reflections.java
  common/src/main/java/org/keycloak/common/util/reflections/UnSetAccessiblePrivilegedAction.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/cluster/AbstractInvalidationClusterTest.java
Labels: area/testsuite, kind/bug

#7758 [KEYCLOAK-13115] - Unable to add a role to a user if username query matches multiple acounts
  integration/client-cli/admin-cli/src/main/java/org/keycloak/client/admin/cli/operations/UserOperations.java
  integration/client-cli/admin-cli/src/main/java/org/keycloak/client/admin/cli/util/HttpUtil.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/cli/admin/KcAdmTest.java
Labels: impact/low, kind/bug

#7755 [KEYCLOAK-14366] - Missing check for iss claim in JWT validation on Client Authentication (Token Endpoint)
  adapters/oidc/adapter-core/src/main/java/org/keycloak/adapters/authentication/JWTClientSecretCredentialsProvider.java
  services/src/main/java/org/keycloak/authentication/authenticators/client/JWTClientAuthenticator.java
  services/src/main/java/org/keycloak/authentication/authenticators/client/JWTClientSecretAuthenticator.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/oauth/ClientAuthSecretSignedJWTTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/oauth/ClientAuthSignedJWTTest.java
Labels: area/oidc, impact/medium, kind/bug

#7743 KEYCLOAK-16625 : Testsuite -> auth.server.remote: adding keystore and certificate files
  testsuite/integration-arquillian/tests/base/pom.xml
  testsuite/integration-arquillian/tests/other/adapters/jboss/remote/pom.xml
Labels: area/testsuite, impact/medium, kind/bug

#7761 [KEYCLOAK-14947] - Removing unnecessary code
  services/src/main/java/org/keycloak/services/resources/admin/permissions/IdentityProviderPermissions.java
Labels: area/authorization, component/token-exchange, kind/bug

#7540 KEYCLOAK-4544 Broker Login autolink with disabled user creation
  services/src/main/java/org/keycloak/authentication/authenticators/broker/IdpDetectExistingBrokerUserAuthenticator.java
  services/src/main/java/org/keycloak/authentication/authenticators/broker/IdpDetectExistingBrokerUserAuthenticatorFactory.java
  services/src/main/java/org/keycloak/services/messages/Messages.java
  services/src/main/resources/META-INF/services/org.keycloak.authentication.AuthenticatorFactory
  testsuite/integration-arquillian/tests/base/src/main/java/org/keycloak/testsuite/pages/LoginPage.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/admin/authentication/ProvidersTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/broker/KcOidcFirstBrokerLoginDetectExistingUserTest.java
  themes/src/main/resources/theme/base/login/messages/messages_en.properties
Labels: area/oidc, kind/enhancement, missing/docs, status/in-review

#7772 KEYCLOAK-15719 CORS headers missing on userinfo error response
  services/src/main/java/org/keycloak/protocol/oidc/endpoints/UserInfoEndpoint.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/oauth/UserInfoEndpointCorsTest.java
Labels: area/oidc, impact/low, kind/bug

#7760 [KEYCLOAK-10752] - Passing id_token_hint when login out
  adapters/oidc/installed/src/main/java/org/keycloak/adapters/installed/KeycloakInstalled.java
Labels: area/adapters, impact/medium, kind/bug

#7754 [KEYCLOAK-14034] - Adding tests for matching uris once updated
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/admin/client/authorization/ResourceManagementWithAuthzClientTest.java
Labels: area/authorization, area/testsuite, impact/low, kind/enhancement

#7777 KEYCLOAK-16708 Unexpected exceptions during client authentication
  services/src/main/java/org/keycloak/authentication/AuthenticationProcessor.java
  testsuite/integration-arquillian/servers/auth-server/services/testsuite-providers/src/main/java/org/keycloak/testsuite/forms/PassThroughClientAuthenticator.java
  testsuite/integration-arquillian/tests/base/src/main/java/org/keycloak/testsuite/util/OAuthClient.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/forms/CustomFlowTest.java
Labels: area/oidc, impact/low, kind/bug, status/in-review

#7499 [KEYCLOAK-15893] - Incorrect resource match is returned for some cases when using wildcard in uri
  common/src/main/java/org/keycloak/common/util/PathMatcher.java
  common/src/test/java/org/keycloak/common/util/PathMatcherTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/admin/client/authorization/ResourceManagementWithAuthzClientTest.java
Labels: area/authorization, impact/medium, kind/bug

#7778 [KEYCLOAK-17123] - Avoid validation and updates for read-only attributes
  server-spi-private/src/main/java/org/keycloak/userprofile/UserProfileAttributes.java
  server-spi-private/src/main/java/org/keycloak/userprofile/UserProfileContext.java
  server-spi-private/src/main/java/org/keycloak/userprofile/UserProfileProvider.java
  server-spi-private/src/main/java/org/keycloak/userprofile/validation/UserProfileValidationResult.java
  services/src/main/java/org/keycloak/authentication/authenticators/broker/IdpReviewProfileAuthenticator.java
  services/src/main/java/org/keycloak/authentication/forms/RegistrationProfile.java
  services/src/main/java/org/keycloak/authentication/forms/RegistrationUserCreation.java
  services/src/main/java/org/keycloak/authentication/requiredactions/UpdateProfile.java
  services/src/main/java/org/keycloak/services/resources/account/AccountFormService.java
  services/src/main/java/org/keycloak/services/resources/account/AccountRestService.java
  services/src/main/java/org/keycloak/services/resources/admin/UserResource.java
  services/src/main/java/org/keycloak/userprofile/LegacyUserProfileProvider.java
  services/src/main/java/org/keycloak/userprofile/profile/AbstractUserProfile.java
  services/src/main/java/org/keycloak/userprofile/profile/DefaultUserProfileContext.java
  services/src/main/java/org/keycloak/userprofile/profile/UserProfileContextFactory.java
  services/src/main/java/org/keycloak/userprofile/profile/representations/AccountUserRepresentationUserProfile.java
  services/src/main/java/org/keycloak/userprofile/profile/representations/AttributeUserProfile.java
  services/src/main/java/org/keycloak/userprofile/profile/representations/IdpUserProfile.java
  services/src/main/java/org/keycloak/userprofile/profile/representations/UserModelUserProfile.java
  services/src/main/java/org/keycloak/userprofile/profile/representations/UserRepresentationUserProfile.java
  services/src/main/java/org/keycloak/userprofile/utils/UserUpdateHelper.java
  services/src/main/java/org/keycloak/userprofile/validation/StaticValidators.java
  services/src/test/java/org/keycloak/userprofile/validation/ValidationChainTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/account/AccountRestServiceReadOnlyAttributesTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/federation/ldap/LDAPAccountRestApiTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/federation/ldap/LDAPAdminRestApiTest.java
Labels: component/core, impact/medium, kind/bug

#7612 KEYCLOAK-16329 CVE-2020-1695 resteasy: Improper validation of response header
  integration/admin-client/pom.xml
Labels: kind/bug, priority/important, status/ready

#7790 [KEYCLOAK-16521] - Fixing secret for non-confidential clients
  server-spi-private/src/main/java/org/keycloak/migration/migrators/MigrateTo1_2_0.java
  server-spi-private/src/main/java/org/keycloak/migration/migrators/MigrateTo9_0_0.java
  server-spi-private/src/main/java/org/keycloak/models/utils/KeycloakModelUtils.java
  server-spi-private/src/main/java/org/keycloak/models/utils/RepresentationToModel.java
  services/src/main/java/org/keycloak/protocol/oidc/OIDCLoginProtocolFactory.java
  services/src/main/java/org/keycloak/services/clientregistration/AbstractClientRegistrationProvider.java
  services/src/main/java/org/keycloak/services/clientregistration/AdapterInstallationClientRegistrationProvider.java
  services/src/main/java/org/keycloak/services/clientregistration/ClientRegistrationAuth.java
  services/src/main/java/org/keycloak/services/clientregistration/oidc/DescriptionConverter.java
  services/src/main/java/org/keycloak/services/managers/RealmManager.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/account/AccountFormServiceTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/admin/ClientTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/admin/partialexport/PartialExportTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/client/OIDCClientRegistrationTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/federation/ldap/LDAPMultipleAttributesTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/oauth/AccessTokenTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/openshift/OpenShiftTokenReviewEndpointTest.java
Labels: area/oidc, impact/medium, kind/bug

#7771 [KEYCLOAK-17087] - X509 OCSP Validation Not Checking Intermediate CAs
  services/src/main/java/org/keycloak/authentication/authenticators/x509/CertificateValidator.java
  services/src/main/java/org/keycloak/truststore/FileTruststoreProviderFactory.java
  testsuite/integration-arquillian/servers/auth-server/jboss/common/keystore/test-user-cert-intermediary-ca.jks
  testsuite/integration-arquillian/servers/auth-server/jboss/common/pki/README.md
  testsuite/integration-arquillian/servers/auth-server/jboss/pom.xml
  testsuite/integration-arquillian/servers/auth-server/quarkus/pom.xml
  testsuite/integration-arquillian/tests/base/pom.xml
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/x509/X509OCSPResponderTest.java
  testsuite/integration-arquillian/tests/base/src/test/resources/keystore/keycloak.truststore
  testsuite/integration-arquillian/tests/other/adapters/jboss/remote/pom.xml
Labels: area/authentication, impact/medium, kind/bug

#7795 [KEYCLOAK-17173] - Support for script providers in keycloak.x
  authz/policy/common/src/main/java/org/keycloak/authorization/policy/provider/js/DeployedScriptPolicyFactory.java
  core/src/main/java/org/keycloak/representations/provider/ScriptProviderMetadata.java
  quarkus/deployment/src/main/java/org/keycloak/quarkus/deployment/KeycloakProcessor.java
  quarkus/runtime/src/main/java/org/keycloak/QuarkusKeycloakSessionFactory.java
  quarkus/runtime/src/main/java/org/keycloak/quarkus/KeycloakRecorder.java
  services/src/main/java/org/keycloak/authentication/authenticators/browser/DeployedScriptAuthenticatorFactory.java
  services/src/main/java/org/keycloak/protocol/oidc/mappers/DeployedScriptOIDCProtocolMapper.java
Labels: component/quarkus, impact/medium, kind/bug

#7768 KEYCLOAK-16006 User should not be required to re-authenticate after r…
  services/src/main/java/org/keycloak/protocol/oidc/TokenManager.java
  services/src/main/java/org/keycloak/protocol/oidc/endpoints/TokenRevocationEndpoint.java
  services/src/main/java/org/keycloak/services/managers/AuthenticationManager.java
  services/src/main/java/org/keycloak/services/managers/UserConsentManager.java
  services/src/main/java/org/keycloak/services/resources/account/AccountFormService.java
  services/src/main/java/org/keycloak/services/resources/account/AccountRestService.java
  services/src/main/java/org/keycloak/services/resources/admin/UserResource.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/adapter/servlet/OfflineServletsAdapterTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/admin/ConsentsTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/oauth/OAuthGrantTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/oauth/TokenRevocationTest.java
Labels: area/oidc, impact/medium, kind/bug, status/in-review

#7770 KEYCLOAK-16517 Make sure that just real clients with standardFlow or …
  services/src/main/java/org/keycloak/protocol/oidc/utils/RedirectUtils.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/forms/LogoutTest.java
Labels: area/oidc, impact/medium, kind/bug, status/in-review

#7674 [KEYCLOAK-16536] Implement Audit Events for Authorization Services requests
  server-spi-private/src/main/java/org/keycloak/events/Details.java
  server-spi-private/src/main/java/org/keycloak/events/Errors.java
  services/src/main/java/org/keycloak/authorization/authorization/AuthorizationTokenService.java
  services/src/main/java/org/keycloak/protocol/oidc/endpoints/TokenEndpoint.java
  services/src/main/java/org/keycloak/services/CorsErrorResponseException.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/authz/AbstractResourceServerTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/authz/EntitlementAPITest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/authz/UserManagedAccessTest.java
Labels: area/authorization, status/in-review

#7800 [KEYCLOAK-17206] - Avoid removing attributes when updating user and profile
  services/src/main/java/org/keycloak/services/resources/admin/UserResource.java
  services/src/main/java/org/keycloak/userprofile/utils/UserUpdateHelper.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/actions/RequiredActionUpdateProfileTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/admin/UserTest.java
Labels: component/admin-rest, kind/bug, priority/critical

#7801 KEYCLOAK-15239 Reset Password Success Message not shown when Kerberos…
  services/src/main/java/org/keycloak/authentication/AuthenticationProcessor.java
  services/src/main/java/org/keycloak/authentication/FormAuthenticationFlow.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/federation/kerberos/AbstractKerberosTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/forms/ResetPasswordTest.java
Labels: area/authentication, impact/low, priority/important, status/in-review

#7807 KEYCLOAK-14483 Broker state param fix
  server-spi-private/src/main/java/org/keycloak/broker/provider/BrokeredIdentityContext.java
  server-spi-private/src/main/java/org/keycloak/broker/provider/IdentityProvider.java
  services/src/main/java/org/keycloak/broker/oidc/AbstractOAuth2IdentityProvider.java
  services/src/main/java/org/keycloak/broker/saml/SAMLEndpoint.java
  services/src/main/java/org/keycloak/services/resources/IdentityBrokerService.java
  services/src/main/java/org/keycloak/social/twitter/TwitterIdentityProvider.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/broker/KcOidcBrokerStateParameterTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/broker/KcOidcBrokerTest.java
Labels: area/oidc, impact/medium, kind/bug, priority/important
