Repository keycloak/keycloak, pull requests merged in 2021-01, with the labels that each got.

#7675 KEYCLOAK-16605 add localpart username template transformer
  services/src/main/java/org/keycloak/broker/saml/mappers/UsernameTemplateMapper.java
Labels: impact/low, kind/enhancement

#7686 KEYCLOAK-16652 New Account Console: When langage is not english, no user name displayed at the upper right
  themes/src/main/resources-community/theme/keycloak.v2/account/messages/messages_ca.properties
  themes/src/main/resources-community/theme/keycloak.v2/account/messages/messages_cs.properties
  themes/src/main/resources-community/theme/keycloak.v2/account/messages/messages_da.properties
  themes/src/main/resources-community/theme/keycloak.v2/account/messages/messages_de.properties
  themes/src/main/resources-community/theme/keycloak.v2/account/messages/messages_es.properties
  themes/src/main/resources-community/theme/keycloak.v2/account/messages/messages_fr.properties
  themes/src/main/resources-community/theme/keycloak.v2/account/messages/messages_hu.properties
  themes/src/main/resources-community/theme/keycloak.v2/account/messages/messages_it.properties
  themes/src/main/resources-community/theme/keycloak.v2/account/messages/messages_ja.properties
  themes/src/main/resources-community/theme/keycloak.v2/account/messages/messages_lt.properties
  themes/src/main/resources-community/theme/keycloak.v2/account/messages/messages_nl.properties
  themes/src/main/resources-community/theme/keycloak.v2/account/messages/messages_no.properties
  themes/src/main/resources-community/theme/keycloak.v2/account/messages/messages_pl.properties
  themes/src/main/resources-community/theme/keycloak.v2/account/messages/messages_pt_BR.properties
  themes/src/main/resources-community/theme/keycloak.v2/account/messages/messages_ru.properties
  themes/src/main/resources-community/theme/keycloak.v2/account/messages/messages_sk.properties
  themes/src/main/resources-community/theme/keycloak.v2/account/messages/messages_sv.properties
  themes/src/main/resources-community/theme/keycloak.v2/account/messages/messages_tr.properties
  themes/src/main/resources-community/theme/keycloak.v2/account/messages/messages_zh_CN.properties
Labels: area/ui, component/themes, kind/bug

#7700 KEYCLOAK-16350 invalid_scope error response should be displayed for o…
  services/src/main/java/org/keycloak/protocol/oidc/endpoints/AuthorizationEndpoint.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/oauth/OAuthScopeInTokenResponseTest.java
Labels: area/oidc, kind/bug, status/in-review

#7381 KEYCLOAK-13923 Support PKCE for OIDC based Identity Providers
  services/src/main/java/org/keycloak/broker/oidc/AbstractOAuth2IdentityProvider.java
  services/src/main/java/org/keycloak/broker/oidc/KeycloakOIDCIdentityProvider.java
  services/src/main/java/org/keycloak/broker/oidc/OAuth2IdentityProviderConfig.java
  services/src/main/java/org/keycloak/broker/oidc/OIDCIdentityProvider.java
  services/src/main/java/org/keycloak/broker/oidc/OIDCIdentityProviderConfig.java
  services/src/main/java/org/keycloak/protocol/oidc/endpoints/TokenEndpoint.java
  services/src/main/java/org/keycloak/protocol/oidc/utils/PkceUtils.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/broker/KcOidcBrokerPkceTest.java
  themes/src/main/resources/theme/base/admin/messages/admin-messages_en.properties
  themes/src/main/resources/theme/base/admin/resources/partials/realm-identity-provider-oidc.html
Labels: area/oidc, kind/feature, missing/tests

#7690 [KEYCLOAK-16668] - Error when creating admin user when starting Keycloak.x for the first time
  quarkus/runtime/src/main/java/org/keycloak/services/resources/QuarkusWelcomeResource.java
Labels: component/quarkus, impact/low, priority/critical

#7698 KEYCLOAK-16249 Client Policy - Condition : Client - Any Client
  services/src/main/java/org/keycloak/services/clientpolicy/condition/AnyClientCondition.java
  services/src/main/java/org/keycloak/services/clientpolicy/condition/AnyClientConditionFactory.java
  services/src/main/resources/META-INF/services/org.keycloak.services.clientpolicy.condition.ClientPolicyConditionProviderFactory
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/client/ClientPolicyBasicsTest.java
Labels: area/oidc, status/in-review

#7657 KEYCLOAK-11908 Support for conditional creating indices based on number
  model/jpa/src/main/java/org/keycloak/connections/jpa/updater/liquibase/conn/DefaultLiquibaseConnectionProvider.java
  model/jpa/src/main/java/org/keycloak/connections/jpa/updater/liquibase/custom/CustomCreateIndexChange.java
Labels: area/storage, impact/medium, kind/enhancement, status/hold

#7666 KEYCLOAK-16790 French translation for 'impersonate'
  themes/src/main/resources-community/theme/base/login/messages/messages_fr.properties
Labels: component/translations

#7634 KEYCLOAK-16428 Move certificate timestamp validation configuration to CertificateValidatorBuilder
  services/src/main/java/org/keycloak/authentication/authenticators/x509/AbstractX509ClientCertificateAuthenticator.java
  services/src/main/java/org/keycloak/authentication/authenticators/x509/CertificateValidator.java
  services/src/main/java/org/keycloak/authentication/authenticators/x509/X509ClientCertificateAuthenticator.java
  services/src/test/java/org/keycloak/authentication/authenticators/x509/CertificateValidatorTest.java
Labels: area/authentication, impact/low, kind/enhancement

#7611 KEYCLOAK-16330 Expose ActionTokenLifespans in RealmBean to freemarker login themes
  services/src/main/java/org/keycloak/forms/login/freemarker/model/RealmBean.java
  services/src/test/java/org/keycloak/forms/login/freemarker/model/LoginRealmBeanTest.java
Labels: area/ui, kind/enhancement, missing/tests

#7589 KEYCLOAK-16296 messages_fr to use linkExpirationFormatter
  themes/src/main/resources-community/theme/base/email/messages/messages_fr.properties
Labels: component/translations

#7687 KEYCLOAK-16660: Fix typo in translation-string for account.v2
  themes/src/main/resources-community/theme/base/account/messages/messages_da.properties
  themes/src/main/resources-community/theme/base/account/messages/messages_hu.properties
  themes/src/main/resources-community/theme/base/account/messages/messages_it.properties
  themes/src/main/resources-community/theme/base/account/messages/messages_ja.properties
  themes/src/main/resources-community/theme/base/account/messages/messages_tr.properties
  themes/src/main/resources/theme/keycloak.v2/account/src/app/content/applications-page/ApplicationsPage.tsx
Labels: area/ui, component/themes, component/translations

#7702 [KEYCLOAK-16515] - Scope permissions not added to result if previous permission is granted
  server-spi-private/src/main/java/org/keycloak/authorization/policy/evaluation/DecisionPermissionCollector.java
  services/src/main/java/org/keycloak/authorization/admin/PolicyEvaluationService.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/authz/EntitlementAPITest.java
Labels: area/authorization, impact/low, kind/bug

#7676 KEYCLOAK-16606 add default value to mandatory LDAP attributes
  federation/ldap/src/main/java/org/keycloak/storage/ldap/mappers/UserAttributeLDAPStorageMapper.java
  federation/ldap/src/main/java/org/keycloak/storage/ldap/mappers/UserAttributeLDAPStorageMapperFactory.java
Labels: area/storage, impact/low, kind/enhancement

#7711 KEYCLOAK-4250 Include certificates without name for validation
  adapters/saml/core/src/main/java/org/keycloak/adapters/saml/rotation/SamlDescriptorPublicKeyLocator.java
Labels: area/saml, impact/low, kind/enhancement, priority/important

#7714 KEYCLOAK-14019 Improvements for request_uri parameter
  core/src/main/java/org/keycloak/protocol/oidc/representations/OIDCConfigurationRepresentation.java
  services/src/main/java/org/keycloak/protocol/oidc/OIDCAdvancedConfigWrapper.java
  services/src/main/java/org/keycloak/protocol/oidc/OIDCConfigAttributes.java
  services/src/main/java/org/keycloak/protocol/oidc/OIDCWellKnownProvider.java
  services/src/main/java/org/keycloak/protocol/oidc/endpoints/request/AuthorizationEndpointRequestParserProcessor.java
  services/src/main/java/org/keycloak/protocol/oidc/utils/RedirectUtils.java
  services/src/main/java/org/keycloak/services/clientregistration/oidc/DescriptionConverter.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/client/ClientPolicyBasicsTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/client/OIDCClientRegistrationTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/oidc/OIDCAdvancedRequestParamsTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/oidc/OIDCWellKnownProviderTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/util/ClientManager.java
  themes/src/main/resources/theme/base/admin/messages/admin-messages_en.properties
  themes/src/main/resources/theme/base/admin/resources/js/controllers/clients.js
  themes/src/main/resources/theme/base/admin/resources/partials/client-detail.html
Labels: area/oidc

#7678 KEYCLOAK-14718 Adding test case for User Client Role Mapper
  testsuite/integration-arquillian/tests/base/src/main/java/org/keycloak/testsuite/updaters/ClientAttributeUpdater.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/oauth/OIDCProtocolMappersTest.java
Labels: area/oidc, area/testsuite, impact/low

#7394 Translation error
  themes/src/main/resources-community/theme/base/login/messages/messages_zh_CN.properties
Labels: component/translations

#7692 KEYCLOAK-16693 HTTP 404 for `all.css` on the login page
  themes/src/main/resources/theme/keycloak/login/theme.properties
Labels: area/ui, component/themes, kind/bug

#7644 KEYCLOAK-15846 Upgrade locale dropdown to PF4
  themes/src/main/resources/theme/base/login/template.ftl
  themes/src/main/resources/theme/keycloak/login/resources/css/login.css
  themes/src/main/resources/theme/keycloak/login/theme.properties
Labels: Run UI Tests, area/ui, component/themes

#7719 KEYCLOAK-16803 Update German translations
  themes/src/main/resources-community/theme/base/account/messages/messages_de.properties
  themes/src/main/resources-community/theme/base/email/messages/messages_de.properties
  themes/src/main/resources-community/theme/base/login/messages/messages_de.properties
  themes/src/main/resources-community/theme/keycloak.v2/account/messages/messages_de.properties
Labels: component/translations, kind/enhancement

#7715 KEYCLOAK-16844 Create an index to support offline sessions loading
  model/jpa/src/main/resources/META-INF/jpa-changelog-13.0.0.xml
Labels: area/storage, impact/medium, kind/bug

#7374 KEYCLOAK-15298 IDP facebook does not get correct name
  services/src/main/java/org/keycloak/social/facebook/FacebookIdentityProvider.java
Labels: area/user-federation, component/core, kind/bug

#7718 KEYCLOAK-16801 Improve performance of ClearExpiredEvents background task
  model/jpa/src/main/java/org/keycloak/events/jpa/JpaEventStoreProvider.java
  model/jpa/src/main/java/org/keycloak/events/jpa/JpaEventStoreProviderFactory.java
  server-spi-private/src/main/java/org/keycloak/events/EventStoreProvider.java
  server-spi-private/src/main/java/org/keycloak/models/utils/KeycloakModelUtils.java
  services/src/main/java/org/keycloak/services/scheduled/ClearExpiredEvents.java
  services/src/main/java/org/keycloak/services/scheduled/ClearExpiredUserSessions.java
  testsuite/integration-arquillian/servers/auth-server/services/testsuite-providers/src/main/java/org/keycloak/testsuite/rest/TestingResourceProvider.java
  testsuite/integration-arquillian/tests/base/src/main/java/org/keycloak/testsuite/client/resources/TestingResource.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/events/EventStoreProviderTest.java
Labels: area/storage, component/core, kind/enhancement, status/in-review

#7725 [KEYCLOAK-16837] - Authz client still relying on refresh tokens when doing client credentials
  authz/client/src/main/java/org/keycloak/authorization/client/util/Throwables.java
  authz/client/src/main/java/org/keycloak/authorization/client/util/TokenCallable.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/authz/AuthzClientCredentialsTest.java
  testsuite/integration-arquillian/tests/base/src/test/resources/authorization-test/default-session-keycloak-no-rt.json
Labels: area/authorization, impact/medium, kind/bug

#7742 KEYCLOAK-16828 Fix HttpClient failures and close HttpResponses
  server-spi-private/src/main/java/org/keycloak/connections/httpclient/HttpClientProvider.java
  services/src/main/java/org/keycloak/authentication/authenticators/x509/CertificateValidator.java
  services/src/main/java/org/keycloak/authentication/authenticators/x509/OCSPUtils.java
  services/src/main/java/org/keycloak/authentication/forms/RegistrationRecaptcha.java
  services/src/main/java/org/keycloak/connections/httpclient/DefaultHttpClientFactory.java
  services/src/main/java/org/keycloak/protocol/saml/SamlProtocol.java
  services/src/main/java/org/keycloak/services/managers/ResourceAdminManager.java
  services/src/test/java/org/keycloak/connections/httpclient/DefaultHttpClientFactoryTest.java
  testsuite/integration-arquillian/tests/base/src/test/resources/META-INF/keycloak-server.json
Labels: area/testsuite, impact/medium, kind/bug

#7701 [KEYCLOAK-16497] - AuthzClient.create() fails when env variables are used in auth-server-url
  authz/client/src/main/java/org/keycloak/authorization/client/AuthzClient.java
  testsuite/integration-arquillian/tests/base/pom.xml
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/authz/AuthzClientTest.java
Labels: area/authorization, impact/low, kind/enhancement

#7738 KEYCLOAK-16908 Refactor UserSessionPersisterProvider
  model/infinispan/src/main/java/org/keycloak/models/sessions/infinispan/AuthenticatedClientSessionAdapter.java
  model/infinispan/src/main/java/org/keycloak/models/sessions/infinispan/InfinispanUserSessionProvider.java
  model/jpa/src/main/java/org/keycloak/models/jpa/session/JpaUserSessionPersisterProvider.java
  model/jpa/src/main/java/org/keycloak/models/jpa/session/JpaUserSessionPersisterProviderFactory.java
  server-spi-private/src/main/java/org/keycloak/models/session/PersistentAuthenticatedClientSessionAdapter.java
  server-spi-private/src/main/java/org/keycloak/models/session/UserSessionPersisterProviderFactory.java
  server-spi/src/main/java/org/keycloak/models/UserSessionProvider.java
  services/src/main/java/org/keycloak/services/managers/ClientManager.java
  services/src/main/java/org/keycloak/services/managers/RealmManager.java
  services/src/main/java/org/keycloak/services/managers/UserSessionManager.java
  services/src/main/java/org/keycloak/services/scheduled/ClearExpiredUserSessions.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/model/UserSessionInitializerTest.java
Labels: area/storage, impact/medium, kind/enhancement

#7717 [KEYCLOAK-16780] - Allow batching writes to storage when running migration
  model/jpa/src/main/java/org/keycloak/connections/jpa/DefaultJpaConnectionProviderFactory.java
  model/jpa/src/main/java/org/keycloak/connections/jpa/PersistenceExceptionConverter.java
  quarkus/runtime/src/main/java/org/keycloak/connections/jpa/QuarkusJpaConnectionProviderFactory.java
  server-spi-private/src/main/java/org/keycloak/migration/MigrationModelManager.java
  server-spi-private/src/main/java/org/keycloak/models/Constants.java
Labels: component/core, impact/low, kind/enhancement, missing/docs

#7724 KEYCLOAK-16832: using realm name instead of id
  themes/src/main/resources/theme/base/admin/resources/js/controllers/realm.js
Labels: Run UI Tests, area/ui, kind/bug
