Repository keycloak/keycloak, pull requests merged in 2021-10, with the labels that each got.

#7639 KEYCLOAK-16456 X509 Auth: add option for OCSP fail-open behavior
  services/src/main/java/org/keycloak/authentication/authenticators/x509/AbstractX509ClientCertificateAuthenticator.java
  services/src/main/java/org/keycloak/authentication/authenticators/x509/AbstractX509ClientCertificateAuthenticatorFactory.java
  services/src/main/java/org/keycloak/authentication/authenticators/x509/CertificateValidator.java
  services/src/main/java/org/keycloak/authentication/authenticators/x509/X509AuthenticatorConfigModel.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/x509/X509OCSPResponderFailOpenTest.java
Labels: missing/docs

#8515 [KEYCLOAK-19424] - Rename the config command to build
  quarkus/runtime/src/main/java/org/keycloak/cli/KeycloakMain.java
  quarkus/runtime/src/main/java/org/keycloak/cli/MainCommand.java
  quarkus/runtime/src/main/java/org/keycloak/cli/Picocli.java
  testsuite/integration-arquillian/servers/auth-server/quarkus/ant/configure.xml
  testsuite/integration-arquillian/tests/base/src/main/java/org/keycloak/testsuite/arquillian/containers/KeycloakQuarkusServerDeployableContainer.java
Labels: component/quarkus, kind/enhancement

#7539 KEYCLOAK-15167 Retrieve email from Twitter IdP
  services/src/main/java/org/keycloak/social/twitter/TwitterIdentityProvider.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/broker/SocialLoginTest.java
Labels: area/user-federation, kind/enhancement, area/storage

#8360 KEYCLOAK-18940 Add support for searching composite roles
  integration/admin-client/src/main/java/org/keycloak/admin/client/resource/RoleByIdResource.java
  model/infinispan/src/main/java/org/keycloak/models/cache/infinispan/RealmCacheSession.java
  model/infinispan/src/main/java/org/keycloak/models/cache/infinispan/RoleAdapter.java
  model/jpa/src/main/java/org/keycloak/models/jpa/JpaRealmProvider.java
  model/jpa/src/main/java/org/keycloak/models/jpa/RoleAdapter.java
  model/jpa/src/main/java/org/keycloak/models/jpa/entities/RoleEntity.java
  model/map/src/main/java/org/keycloak/models/map/realm/MapRealmProvider.java
  model/map/src/main/java/org/keycloak/models/map/role/MapRoleAdapter.java
  model/map/src/main/java/org/keycloak/models/map/role/MapRoleProvider.java
  server-spi/src/main/java/org/keycloak/models/RoleModel.java
  server-spi/src/main/java/org/keycloak/models/RoleProvider.java
  services/src/main/java/org/keycloak/services/resources/admin/RoleByIdResource.java
  services/src/main/java/org/keycloak/storage/RoleStorageManager.java
  testsuite/integration-arquillian/servers/auth-server/services/testsuite-providers/src/main/java/org/keycloak/testsuite/federation/HardcodedRoleStorageProvider.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/admin/RoleByIdResourceTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/admin/client/ClientRolesTest.java
  testsuite/model/src/test/java/org/keycloak/testsuite/model/role/RoleModelTest.java
Labels: kind/enhancement, area/storage

#7626 KEYCLOAK-16380 Make IdP display name available to idp link email subject
  services/src/main/java/org/keycloak/email/freemarker/FreeMarkerEmailTemplateProvider.java
Labels: kind/enhancement, component/themes

#8524 [KEYCLOAK-19426] - Support for auto-build when starting the server
  distribution/server-x-dist/src/main/content/bin/kc.sh
  quarkus/runtime/src/main/java/org/keycloak/cli/KeycloakMain.java
  quarkus/runtime/src/main/java/org/keycloak/cli/MainCommand.java
  quarkus/runtime/src/main/java/org/keycloak/cli/Picocli.java
Labels: component/quarkus
