Repository keycloak/keycloak, pull requests merged in 2021-11, with the labels that each got.

#8659 [KEYCLOAK-18255] - Vault Support in Dist.X
  core/src/main/java/org/keycloak/Config.java
  quarkus/deployment/pom.xml
  quarkus/deployment/src/main/java/org/keycloak/quarkus/deployment/KeycloakProcessor.java
  quarkus/deployment/src/test/resources/application.properties
  quarkus/runtime/pom.xml
  quarkus/runtime/src/main/java/org/keycloak/quarkus/runtime/Environment.java
  quarkus/runtime/src/main/java/org/keycloak/quarkus/runtime/cli/Picocli.java
  quarkus/runtime/src/main/java/org/keycloak/quarkus/runtime/cli/command/ShowConfig.java
  quarkus/runtime/src/main/java/org/keycloak/quarkus/runtime/configuration/ConfigArgsConfigSource.java
  quarkus/runtime/src/main/java/org/keycloak/quarkus/runtime/configuration/Configuration.java
  quarkus/runtime/src/main/java/org/keycloak/quarkus/runtime/configuration/EnvConfigSource.java
  quarkus/runtime/src/main/java/org/keycloak/quarkus/runtime/configuration/KeycloakConfigSourceProvider.java
  quarkus/runtime/src/main/java/org/keycloak/quarkus/runtime/configuration/KeycloakPropertiesConfigSource.java
  quarkus/runtime/src/main/java/org/keycloak/quarkus/runtime/configuration/MicroProfileConfigProvider.java
  quarkus/runtime/src/main/java/org/keycloak/quarkus/runtime/configuration/PersistedConfigSource.java
  quarkus/runtime/src/main/java/org/keycloak/quarkus/runtime/configuration/PropertyMapper.java
  quarkus/runtime/src/main/java/org/keycloak/quarkus/runtime/configuration/PropertyMappers.java
  quarkus/runtime/src/main/java/org/keycloak/quarkus/runtime/vault/QuarkusVaultProvider.java
  quarkus/runtime/src/main/java/org/keycloak/quarkus/runtime/vault/QuarkusVaultProviderFactory.java
  quarkus/runtime/src/main/resources/META-INF/services/org.keycloak.vault.VaultProviderFactory
  quarkus/runtime/src/test/java/org/keycloak/provider/quarkus/ConfigurationTest.java
  server-spi-private/src/main/java/org/keycloak/component/ComponentModelScope.java
  server-spi-private/src/main/java/org/keycloak/provider/EnvironmentDependentProviderFactory.java
  services/src/main/java/org/keycloak/services/util/JsonConfigProvider.java
  services/src/test/java/org/keycloak/vault/PlainTextVaultProviderFactoryTest.java
  testsuite/integration-arquillian/servers/auth-server/quarkus/pom.xml
  testsuite/integration-arquillian/servers/auth-server/quarkus/src/main/content/conf/keycloak.properties
  testsuite/integration-arquillian/tests/base/src/main/java/org/keycloak/testsuite/arquillian/AuthServerTestEnricher.java
  testsuite/integration-arquillian/tests/base/src/main/java/org/keycloak/testsuite/arquillian/VaultTestExecutionDecider.java
  testsuite/integration-arquillian/tests/base/src/main/java/org/keycloak/testsuite/util/VaultUtils.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/admin/UserFederationLdapConnectionTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/admin/client/ClientSearchTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/broker/KcOidcBrokerVaultTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/federation/ldap/LDAPUserLoginTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/federation/ldap/LDAPVaultCredentialsTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/url/FixedHostnameTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/vault/KeycloakVaultTest.java
  wildfly/extensions/src/test/java/org/keycloak/vault/ElytronCSKeyStoreProviderTest.java
Labels: area/testsuite, kind/enhancement, area/dist/quarkus

#8685 KEYCLOAK-19749 Optimize DefaultModelCriteria creation
  model/map/src/main/java/org/keycloak/models/map/storage/ModelCriteriaBuilder.java
  model/map/src/main/java/org/keycloak/models/map/storage/chm/ConcurrentHashMapStorage.java
  model/map/src/main/java/org/keycloak/models/map/storage/chm/MapFieldPredicates.java
  model/map/src/main/java/org/keycloak/models/map/storage/chm/MapModelCriteriaBuilder.java
  model/map/src/main/java/org/keycloak/models/map/storage/criteria/DefaultModelCriteria.java
  model/map/src/main/java/org/keycloak/models/map/storage/criteria/ModelCriteriaNode.java
  model/map/src/test/java/org/keycloak/models/map/storage/criteria/DefaultModelCriteriaTest.java
Labels: area/storage

#8678 KEYCLOAK-19709 Remove MapStorage.createCriteriaBuilder
  model/map/src/main/java/org/keycloak/models/map/authSession/MapRootAuthenticationSessionProvider.java
  model/map/src/main/java/org/keycloak/models/map/authorization/MapPermissionTicketStore.java
  model/map/src/main/java/org/keycloak/models/map/authorization/MapPolicyStore.java
  model/map/src/main/java/org/keycloak/models/map/authorization/MapResourceStore.java
  model/map/src/main/java/org/keycloak/models/map/authorization/MapScopeStore.java
  model/map/src/main/java/org/keycloak/models/map/client/MapClientProvider.java
  model/map/src/main/java/org/keycloak/models/map/clientscope/MapClientScopeProvider.java
  model/map/src/main/java/org/keycloak/models/map/group/MapGroupProvider.java
  model/map/src/main/java/org/keycloak/models/map/loginFailure/MapUserLoginFailureProvider.java
  model/map/src/main/java/org/keycloak/models/map/realm/MapRealmProvider.java
  model/map/src/main/java/org/keycloak/models/map/role/MapRoleProvider.java
  model/map/src/main/java/org/keycloak/models/map/storage/MapStorage.java
  model/map/src/main/java/org/keycloak/models/map/storage/ModelCriteriaBuilder.java
  model/map/src/main/java/org/keycloak/models/map/storage/chm/ConcurrentHashMapKeycloakTransaction.java
  model/map/src/main/java/org/keycloak/models/map/storage/chm/ConcurrentHashMapStorage.java
  model/map/src/main/java/org/keycloak/models/map/storage/chm/ConcurrentHashMapStorageProviderFactory.java
  model/map/src/main/java/org/keycloak/models/map/storage/chm/MapModelCriteriaBuilder.java
  model/map/src/main/java/org/keycloak/models/map/storage/chm/UserSessionConcurrentHashMapStorage.java
  model/map/src/main/java/org/keycloak/models/map/storage/criteria/DefaultModelCriteria.java
  model/map/src/main/java/org/keycloak/models/map/user/MapUserProvider.java
  model/map/src/main/java/org/keycloak/models/map/userSession/MapUserSessionProvider.java
Labels: area/storage

#8460 KEYCLOAK-18744 OpenBanking Brasil fix for X509 client authentication …
  services/src/main/java/org/keycloak/authentication/authenticators/client/X509ClientAuthenticator.java
  services/src/main/java/org/keycloak/protocol/oidc/OIDCAdvancedConfigWrapper.java
  services/src/main/java/org/keycloak/services/clientregistration/oidc/DescriptionConverter.java
  testsuite/integration-arquillian/servers/auth-server/jboss/common/keystore/test-user-obb.jks
  testsuite/integration-arquillian/servers/auth-server/jboss/common/pki/README.md
  testsuite/integration-arquillian/servers/auth-server/jboss/common/pki/root/ca/certs/clients/test-user-obb@localhost.cert.pem
  testsuite/integration-arquillian/servers/auth-server/jboss/common/pki/root/ca/certs/clients/test-user-obb@localhost.csr.pem
  testsuite/integration-arquillian/servers/auth-server/jboss/common/pki/root/ca/certs/clients/test-user-obb@localhost.key.pem
  testsuite/integration-arquillian/servers/auth-server/jboss/common/pki/root/ca/certs/clients/test-user-obb@localhost.p12
  testsuite/integration-arquillian/servers/auth-server/jboss/common/pki/root/ca/intermediate/index.txt
  testsuite/integration-arquillian/servers/auth-server/jboss/common/pki/root/ca/intermediate/index.txt.old
  testsuite/integration-arquillian/servers/auth-server/jboss/common/pki/root/ca/intermediate/newcerts/2009.pem
  testsuite/integration-arquillian/servers/auth-server/jboss/common/pki/root/ca/intermediate/newcerts/200A.pem
  testsuite/integration-arquillian/servers/auth-server/jboss/common/pki/root/ca/intermediate/openssl-obb.cnf
  testsuite/integration-arquillian/servers/auth-server/jboss/common/pki/root/ca/intermediate/serial
  testsuite/integration-arquillian/servers/auth-server/jboss/common/pki/root/ca/intermediate/serial.old
  testsuite/integration-arquillian/servers/auth-server/jboss/pom.xml
  testsuite/integration-arquillian/servers/auth-server/quarkus/pom.xml
  testsuite/integration-arquillian/tests/base/pom.xml
  testsuite/integration-arquillian/tests/base/src/main/java/org/keycloak/testsuite/util/MutualTLSUtils.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/client/MutualTLSClientTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/client/OIDCClientRegistrationTest.java
  testsuite/integration-arquillian/tests/other/adapters/jboss/remote/pom.xml
  testsuite/integration-arquillian/tests/pom.xml
  themes/src/main/resources/theme/base/admin/messages/admin-messages_en.properties
  themes/src/main/resources/theme/base/admin/resources/js/controllers/clients.js
  themes/src/main/resources/theme/base/admin/resources/partials/client-credentials-x509.html
Labels: area/oidc, status/in-review

#8694 KEYCLOAK-19726 Fix return types of ModelCriteriaBuilder methods
  model/map/src/main/java/org/keycloak/models/map/authSession/MapRootAuthenticationSessionProvider.java
  model/map/src/main/java/org/keycloak/models/map/authorization/MapPermissionTicketStore.java
  model/map/src/main/java/org/keycloak/models/map/authorization/MapPolicyStore.java
  model/map/src/main/java/org/keycloak/models/map/authorization/MapResourceStore.java
  model/map/src/main/java/org/keycloak/models/map/authorization/MapScopeStore.java
  model/map/src/main/java/org/keycloak/models/map/client/MapClientProvider.java
  model/map/src/main/java/org/keycloak/models/map/clientscope/MapClientScopeProvider.java
  model/map/src/main/java/org/keycloak/models/map/group/MapGroupProvider.java
  model/map/src/main/java/org/keycloak/models/map/loginFailure/MapUserLoginFailureProvider.java
  model/map/src/main/java/org/keycloak/models/map/realm/MapRealmProvider.java
  model/map/src/main/java/org/keycloak/models/map/role/MapRoleProvider.java
  model/map/src/main/java/org/keycloak/models/map/storage/ModelCriteriaBuilder.java
  model/map/src/main/java/org/keycloak/models/map/storage/QueryParameters.java
  model/map/src/main/java/org/keycloak/models/map/storage/chm/ConcurrentHashMapKeycloakTransaction.java
  model/map/src/main/java/org/keycloak/models/map/storage/chm/ConcurrentHashMapStorage.java
  model/map/src/main/java/org/keycloak/models/map/storage/chm/ConcurrentHashMapStorageProviderFactory.java
  model/map/src/main/java/org/keycloak/models/map/storage/chm/MapModelCriteriaBuilder.java
  model/map/src/main/java/org/keycloak/models/map/storage/chm/UserSessionConcurrentHashMapStorage.java
  model/map/src/main/java/org/keycloak/models/map/storage/criteria/DefaultModelCriteria.java
  model/map/src/main/java/org/keycloak/models/map/storage/criteria/ModelCriteriaNode.java
  model/map/src/main/java/org/keycloak/models/map/user/MapUserProvider.java
  model/map/src/main/java/org/keycloak/models/map/userSession/MapUserSessionProvider.java
  model/map/src/test/java/org/keycloak/models/map/storage/criteria/DefaultModelCriteriaTest.java
Labels: area/storage

#8713 [KEYCLOAK-19767] - Changing paramLabel and options formatting in help
  quarkus/runtime/src/main/java/org/keycloak/quarkus/runtime/cli/Help.java
  quarkus/runtime/src/main/java/org/keycloak/quarkus/runtime/cli/OptionRenderer.java
  quarkus/runtime/src/main/java/org/keycloak/quarkus/runtime/cli/Picocli.java
  quarkus/runtime/src/main/java/org/keycloak/quarkus/runtime/cli/SubCommandListRenderer.java
  quarkus/runtime/src/main/java/org/keycloak/quarkus/runtime/cli/command/AbstractCommand.java
  quarkus/runtime/src/main/java/org/keycloak/quarkus/runtime/cli/command/Build.java
  quarkus/runtime/src/main/java/org/keycloak/quarkus/runtime/cli/command/Completion.java
  quarkus/runtime/src/main/java/org/keycloak/quarkus/runtime/cli/command/Export.java
  quarkus/runtime/src/main/java/org/keycloak/quarkus/runtime/cli/command/Import.java
  quarkus/runtime/src/main/java/org/keycloak/quarkus/runtime/cli/command/Main.java
  quarkus/runtime/src/main/java/org/keycloak/quarkus/runtime/cli/command/ShowConfig.java
  quarkus/runtime/src/main/java/org/keycloak/quarkus/runtime/cli/command/Start.java
  quarkus/runtime/src/main/java/org/keycloak/quarkus/runtime/cli/command/StartDev.java
  quarkus/runtime/src/main/java/org/keycloak/quarkus/runtime/cli/command/Tools.java
  quarkus/runtime/src/main/java/org/keycloak/quarkus/runtime/configuration/mappers/ClusteringPropertyMappers.java
  quarkus/runtime/src/main/java/org/keycloak/quarkus/runtime/configuration/mappers/ConfigCategory.java
  quarkus/runtime/src/main/java/org/keycloak/quarkus/runtime/configuration/mappers/DatabasePropertyMappers.java
  quarkus/runtime/src/main/java/org/keycloak/quarkus/runtime/configuration/mappers/HostnamePropertyMappers.java
  quarkus/runtime/src/main/java/org/keycloak/quarkus/runtime/configuration/mappers/HttpPropertyMappers.java
  quarkus/runtime/src/main/java/org/keycloak/quarkus/runtime/configuration/mappers/MetricsPropertyMappers.java
  quarkus/runtime/src/main/java/org/keycloak/quarkus/runtime/configuration/mappers/PropertyMapper.java
  quarkus/runtime/src/main/java/org/keycloak/quarkus/runtime/configuration/mappers/ProxyPropertyMappers.java
  quarkus/runtime/src/main/java/org/keycloak/quarkus/runtime/configuration/mappers/VaultPropertyMappers.java
Labels: kind/enhancement, area/dist/quarkus

#8731 [KEYCLOAK-19310] - MSSQL Support
  quarkus/deployment/pom.xml
  quarkus/deployment/src/main/java/org/keycloak/quarkus/deployment/LiquibaseProcessor.java
  quarkus/runtime/pom.xml
  quarkus/runtime/src/main/java/org/keycloak/quarkus/runtime/KeycloakRecorder.java
  quarkus/runtime/src/main/java/org/keycloak/quarkus/runtime/cli/OptionRenderer.java
  quarkus/runtime/src/main/java/org/keycloak/quarkus/runtime/cli/Picocli.java
  quarkus/runtime/src/main/java/org/keycloak/quarkus/runtime/cli/PropertyMapperParameterConsumer.java
  quarkus/runtime/src/main/java/org/keycloak/quarkus/runtime/cli/command/Start.java
  quarkus/runtime/src/main/java/org/keycloak/quarkus/runtime/configuration/ConfigArgsConfigSource.java
  quarkus/runtime/src/main/java/org/keycloak/quarkus/runtime/configuration/mappers/ClusteringPropertyMappers.java
  quarkus/runtime/src/main/java/org/keycloak/quarkus/runtime/configuration/mappers/DatabasePropertyMappers.java
  quarkus/runtime/src/main/java/org/keycloak/quarkus/runtime/integration/QuarkusKeycloakSessionFactory.java
  quarkus/runtime/src/main/java/org/keycloak/quarkus/runtime/integration/web/QuarkusRequestFilter.java
  quarkus/runtime/src/main/java/org/keycloak/quarkus/runtime/storage/database/Database.java
  quarkus/runtime/src/main/java/org/keycloak/quarkus/runtime/storage/database/jpa/QuarkusJpaConnectionProviderFactory.java
  quarkus/runtime/src/main/java/org/keycloak/quarkus/runtime/storage/database/liquibase/FastServiceLocator.java
  quarkus/runtime/src/main/java/org/keycloak/quarkus/runtime/storage/database/liquibase/KeycloakLogger.java
  quarkus/runtime/src/main/java/org/keycloak/quarkus/runtime/storage/database/liquibase/QuarkusLiquibaseConnectionProvider.java
  quarkus/runtime/src/main/java/org/keycloak/quarkus/runtime/storage/database/liquibase/database/CustomMSSQLDatabase.java
  quarkus/runtime/src/main/java/org/keycloak/quarkus/runtime/storage/infinispan/CacheInitializer.java
  quarkus/runtime/src/test/java/org/keycloak/provider/quarkus/ConfigurationTest.java
Labels: kind/enhancement, area/dist/quarkus

#7944 KEYCLOAK-17039 Local file in a webview fails with "Origin: null"
  adapters/oidc/adapter-core/src/main/java/org/keycloak/adapters/PreAuthActionsHandler.java
  services/src/main/java/org/keycloak/services/resources/Cors.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/oidc/OIDCWellKnownProviderTest.java
Labels: kind/bug, area/core

#8779 [KEYCLOAK-19310] - Oracle Support
  quarkus/deployment/pom.xml
  quarkus/runtime/pom.xml
  quarkus/runtime/src/main/java/org/keycloak/quarkus/runtime/configuration/KcEnvConfigSource.java
  quarkus/runtime/src/main/java/org/keycloak/quarkus/runtime/configuration/KeycloakConfigSourceProvider.java
  quarkus/runtime/src/main/java/org/keycloak/quarkus/runtime/storage/database/Database.java
  quarkus/runtime/src/test/java/org/keycloak/provider/quarkus/ConfigurationTest.java
Labels: kind/enhancement, area/dist/quarkus

#8665 KEYCLOAK-19028 KEYCLOAK-19029 Add HotRod Map storage implementation
  .github/workflows/ci.yml
  model/map-hot-rod/pom.xml
  model/map-hot-rod/src/main/java/org/keycloak/models/map/client/HotRodAttributeEntity.java
  model/map-hot-rod/src/main/java/org/keycloak/models/map/client/HotRodClientEntity.java
  model/map-hot-rod/src/main/java/org/keycloak/models/map/client/HotRodProtocolMapperEntity.java
  model/map-hot-rod/src/main/java/org/keycloak/models/map/common/HotRodEntityDescriptor.java
  model/map-hot-rod/src/main/java/org/keycloak/models/map/common/HotRodPair.java
  model/map-hot-rod/src/main/java/org/keycloak/models/map/common/HotRodUtils.java
  model/map-hot-rod/src/main/java/org/keycloak/models/map/common/ProtoSchemaInitializer.java
  model/map-hot-rod/src/main/java/org/keycloak/models/map/common/Versioned.java
  model/map-hot-rod/src/main/java/org/keycloak/models/map/connections/DefaultHotRodConnectionProvider.java
  model/map-hot-rod/src/main/java/org/keycloak/models/map/connections/DefaultHotRodConnectionProviderFactory.java
  model/map-hot-rod/src/main/java/org/keycloak/models/map/connections/HotRodConnectionProvider.java
  model/map-hot-rod/src/main/java/org/keycloak/models/map/connections/HotRodConnectionProviderFactory.java
  model/map-hot-rod/src/main/java/org/keycloak/models/map/connections/HotRodConnectionSpi.java
  model/map-hot-rod/src/main/java/org/keycloak/models/map/storage/hotRod/HotRodMapStorage.java
  model/map-hot-rod/src/main/java/org/keycloak/models/map/storage/hotRod/HotRodMapStorageProvider.java
  model/map-hot-rod/src/main/java/org/keycloak/models/map/storage/hotRod/HotRodMapStorageProviderFactory.java
  model/map-hot-rod/src/main/java/org/keycloak/models/map/storage/hotRod/IckleQueryMapModelCriteriaBuilder.java
  model/map-hot-rod/src/main/java/org/keycloak/models/map/storage/hotRod/IckleQueryOperators.java
  model/map-hot-rod/src/main/java/org/keycloak/models/map/storage/hotRod/IckleQueryWhereClauses.java
  model/map-hot-rod/src/main/resources/META-INF/services/org.keycloak.models.map.connections.HotRodConnectionProviderFactory
  model/map-hot-rod/src/main/resources/META-INF/services/org.keycloak.models.map.storage.MapStorageProviderFactory
  model/map-hot-rod/src/main/resources/META-INF/services/org.keycloak.provider.Spi
  model/map-hot-rod/src/main/resources/config/cacheConfig.xml
  model/map-hot-rod/src/main/resources/config/infinispan.xml
  model/map-hot-rod/src/test/java/org/keycloak/models/map/storage/hotRod/IckleQueryMapModelCriteriaBuilderTest.java
  model/map/src/main/java/org/keycloak/models/map/storage/chm/ConcurrentHashMapCrudOperations.java
  model/map/src/main/java/org/keycloak/models/map/storage/chm/ConcurrentHashMapKeycloakTransaction.java
  model/map/src/main/java/org/keycloak/models/map/storage/chm/ConcurrentHashMapStorage.java
  model/map/src/main/java/org/keycloak/models/map/storage/chm/UserSessionConcurrentHashMapStorage.java
  model/pom.xml
  pom.xml
  testsuite/integration-arquillian/servers/cache-server/infinispan/pom.xml
  testsuite/integration-arquillian/tests/base/src/main/java/org/keycloak/testsuite/arquillian/AuthServerTestEnricher.java
  testsuite/integration-arquillian/tests/base/src/main/java/org/keycloak/testsuite/arquillian/HotRodStoreTestEnricher.java
  testsuite/integration-arquillian/tests/base/src/main/java/org/keycloak/testsuite/arquillian/KeycloakArquillianExtension.java
  testsuite/integration-arquillian/tests/base/src/main/java/org/keycloak/testsuite/arquillian/SuiteContext.java
  testsuite/integration-arquillian/tests/base/src/main/java/org/keycloak/testsuite/arquillian/containers/KeycloakContainerEventsController.java
  testsuite/integration-arquillian/tests/base/src/test/resources/META-INF/keycloak-server.json
  testsuite/integration-arquillian/tests/base/src/test/resources/arquillian.xml
  testsuite/integration-arquillian/tests/pom.xml
  testsuite/model/src/test/java/org/keycloak/testsuite/model/ClientModelTest.java
  testsuite/model/src/test/java/org/keycloak/testsuite/model/ConcurrentHashMapStorageTest.java
  testsuite/model/src/test/java/org/keycloak/testsuite/model/parameters/HotRodMapStorage.java
  testsuite/model/src/test/java/org/keycloak/testsuite/model/parameters/Map.java
Labels: kind/feature, area/storage

#8819 [KEYCLOAK-19798] - Hostname support for Dist.X
  quarkus/deployment/src/main/java/org/keycloak/quarkus/deployment/KeycloakProcessor.java
  quarkus/deployment/src/test/resources/keycloak.properties
  quarkus/runtime/src/main/java/org/keycloak/quarkus/runtime/cli/Picocli.java
  quarkus/runtime/src/main/java/org/keycloak/quarkus/runtime/configuration/mappers/DatabasePropertyMappers.java
  quarkus/runtime/src/main/java/org/keycloak/quarkus/runtime/configuration/mappers/HostnamePropertyMappers.java
  quarkus/runtime/src/main/java/org/keycloak/quarkus/runtime/configuration/mappers/PropertyMapper.java
  quarkus/runtime/src/main/java/org/keycloak/quarkus/runtime/configuration/mappers/PropertyMappers.java
  quarkus/runtime/src/main/java/org/keycloak/quarkus/runtime/hostname/DefaultHostnameProvider.java
  quarkus/runtime/src/main/resources/META-INF/services/org.keycloak.urls.HostnameProviderFactory
  quarkus/server/src/main/resources/META-INF/keycloak.properties
  testsuite/integration-arquillian/servers/auth-server/quarkus/src/main/content/conf/keycloak.properties
  testsuite/integration-arquillian/tests/base/src/main/java/org/keycloak/testsuite/util/OAuthClient.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/url/AbstractHostnameTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/url/DefaultHostnameTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/url/FixedHostnameTest.java
Labels: kind/enhancement, area/dist/quarkus

#8847 KEYCLOAK-19824: Use Config variables instead of system variables to change default jdbc url host/database/properties
  quarkus/runtime/src/main/java/org/keycloak/quarkus/runtime/configuration/mappers/DatabasePropertyMappers.java
  quarkus/runtime/src/test/java/org/keycloak/provider/quarkus/ConfigurationTest.java
Labels: kind/enhancement, area/dist/quarkus

#8092 KEYCLOAK-18276 consent screen enhancement
  core/src/main/java/org/keycloak/representations/account/ClientRepresentation.java
  saml-core-api/src/main/java/org/keycloak/dom/saml/v2/mdui/KeywordsType.java
  saml-core-api/src/main/java/org/keycloak/dom/saml/v2/mdui/LogoType.java
  saml-core-api/src/main/java/org/keycloak/dom/saml/v2/mdui/UIInfoType.java
  saml-core-api/src/main/java/org/keycloak/dom/saml/v2/metadata/ExtensionsType.java
  saml-core-api/src/main/java/org/keycloak/saml/common/constants/JBossSAMLURIConstants.java
  saml-core/src/main/java/org/keycloak/saml/processing/core/parsers/saml/mdui/SAMLUIInfoParser.java
  saml-core/src/main/java/org/keycloak/saml/processing/core/parsers/saml/metadata/SAMLExtensionsParser.java
  saml-core/src/main/java/org/keycloak/saml/processing/core/parsers/saml/metadata/SAMLMetadataQNames.java
  server-spi/src/main/java/org/keycloak/models/ClientModel.java
  services/src/main/java/org/keycloak/protocol/oidc/OIDCAdvancedConfigWrapper.java
  services/src/main/java/org/keycloak/protocol/saml/EntityDescriptorDescriptionConverter.java
  services/src/main/java/org/keycloak/services/clientregistration/oidc/DescriptionConverter.java
  services/src/main/java/org/keycloak/services/resources/account/AccountRestService.java
  services/src/main/java/org/keycloak/validation/DefaultClientValidationProvider.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/admin/ConsentsTest.java
  themes/src/main/resources/theme/base/admin/messages/admin-messages_en.properties
  themes/src/main/resources/theme/base/admin/resources/partials/client-detail.html
  themes/src/main/resources/theme/base/login/login-oauth-grant.ftl
  themes/src/main/resources/theme/base/login/messages/messages_en.properties
  themes/src/main/resources/theme/keycloak.v2/account/messages/messages_en.properties
  themes/src/main/resources/theme/keycloak.v2/account/src/app/content/applications-page/ApplicationsPage.tsx
Labels: missing/tests, area/oidc, kind/enhancement

#8848 [KEYCLOAK-19798] - Move pf,cf,v options to the root command and error handling
  distribution/server-x-dist/src/main/content/bin/kc.sh
  quarkus/README.md
  quarkus/runtime/src/main/java/org/keycloak/quarkus/runtime/Environment.java
  quarkus/runtime/src/main/java/org/keycloak/quarkus/runtime/KeycloakMain.java
  quarkus/runtime/src/main/java/org/keycloak/quarkus/runtime/Messages.java
  quarkus/runtime/src/main/java/org/keycloak/quarkus/runtime/cli/ExecutionExceptionHandler.java
  quarkus/runtime/src/main/java/org/keycloak/quarkus/runtime/cli/Picocli.java
  quarkus/runtime/src/main/java/org/keycloak/quarkus/runtime/cli/command/AbstractCommand.java
  quarkus/runtime/src/main/java/org/keycloak/quarkus/runtime/cli/command/AbstractExportImportCommand.java
  quarkus/runtime/src/main/java/org/keycloak/quarkus/runtime/cli/command/AbstractStartCommand.java
  quarkus/runtime/src/main/java/org/keycloak/quarkus/runtime/cli/command/Build.java
  quarkus/runtime/src/main/java/org/keycloak/quarkus/runtime/cli/command/Main.java
  quarkus/runtime/src/main/java/org/keycloak/quarkus/runtime/cli/command/Start.java
  quarkus/runtime/src/main/java/org/keycloak/quarkus/runtime/configuration/ConfigArgsConfigSource.java
  quarkus/runtime/src/main/java/org/keycloak/quarkus/runtime/configuration/mappers/DatabasePropertyMappers.java
  quarkus/runtime/src/main/java/org/keycloak/quarkus/runtime/configuration/mappers/HttpPropertyMappers.java
  quarkus/runtime/src/main/java/org/keycloak/quarkus/runtime/configuration/mappers/ProxyPropertyMappers.java
  quarkus/server/src/main/resources/application.properties
Labels: kind/enhancement, area/dist/quarkus

#8413 KEYCLOAK-19229 : french translation of emailInstructionUsername
  themes/src/main/resources-community/theme/base/login/messages/messages_fr.properties
Labels: area/translations

#8854 [KEYCLOAK-19830] Update Quarkus distribution dependencies
  quarkus/pom.xml
Labels: area/dist/quarkus

#8467 KEYCLOAK-19283 Implemented new "Advanced claim to group" idp mapper
  server-spi-private/src/main/java/org/keycloak/broker/provider/BrokeredIdentityContext.java
  server-spi-private/src/main/java/org/keycloak/broker/provider/ConfigConstants.java
  server-spi-private/src/main/java/org/keycloak/models/Constants.java
  server-spi/src/main/java/org/keycloak/provider/ProviderConfigProperty.java
  services/src/main/java/org/keycloak/broker/oidc/mappers/AbstractClaimToGroupMapper.java
  services/src/main/java/org/keycloak/broker/oidc/mappers/AdvancedClaimToGroupMapper.java
  services/src/main/resources/META-INF/services/org.keycloak.broker.provider.IdentityProviderMapper
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/admin/IdentityProviderTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/broker/AbstractAdvancedGroupMapperTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/broker/AbstractGroupMapperTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/broker/OidcAdvancedClaimToGroupMapperTest.java
  themes/src/main/resources/theme/base/admin/messages/admin-messages_en.properties
  themes/src/main/resources/theme/base/admin/resources/js/app.js
  themes/src/main/resources/theme/base/admin/resources/partials/modal/group-selector.html
  themes/src/main/resources/theme/base/admin/resources/templates/kc-provider-config.html
  themes/src/main/resources/theme/keycloak/common/resources/lib/angular/treeview/angular.treeview.js
Labels: status/needs-manual-testing

#8875 [KEYCLOAK-19833] Fix command line completion on ZSH
  quarkus/runtime/src/main/java/org/keycloak/quarkus/runtime/Environment.java
  quarkus/runtime/src/main/java/org/keycloak/quarkus/runtime/cli/command/AbstractCommand.java
  quarkus/runtime/src/main/java/org/keycloak/quarkus/runtime/cli/command/Main.java
Labels: kind/bug, area/dist/quarkus

#7880 KEYCLOAK-17522 fixed bug that keycloak instance not recognized by Safari
  themes/src/main/resources/theme/keycloak.v2/account/index.ftl
Labels: kind/bug, area/account/ui

#8867 KEYCLOAK-19028 Remove duplicated maven dependencies
  pom.xml
Labels: area/storage

#8858 [KEYCLOAK-19311] - Baseline for Dist.X tests
  .github/workflows/ci.yml
  distribution/server-x-dist/assembly.xml
  quarkus/deployment/src/test/java/test/org/keycloak/quarkus/StartupTest.java
  quarkus/deployment/src/test/java/test/org/keycloak/quarkus/services/health/KeycloakNegativeHealthCheckTest.java
  quarkus/deployment/src/test/java/test/org/keycloak/quarkus/services/health/KeycloakReadyHealthCheckTest.java
  quarkus/deployment/src/test/resources/application.properties
  quarkus/pom.xml
  quarkus/runtime/src/main/java/org/keycloak/quarkus/runtime/Environment.java
  quarkus/runtime/src/main/java/org/keycloak/quarkus/runtime/KeycloakMain.java
  quarkus/runtime/src/main/java/org/keycloak/quarkus/runtime/cli/ExecutionExceptionHandler.java
  quarkus/runtime/src/main/java/org/keycloak/quarkus/runtime/cli/Picocli.java
  quarkus/runtime/src/main/java/org/keycloak/quarkus/runtime/cli/command/Build.java
  quarkus/runtime/src/main/java/org/keycloak/quarkus/runtime/cli/command/Main.java
  quarkus/runtime/src/main/java/org/keycloak/quarkus/runtime/cli/command/ShowConfig.java
  quarkus/runtime/src/main/java/org/keycloak/quarkus/runtime/configuration/ConfigArgsConfigSource.java
  quarkus/runtime/src/main/java/org/keycloak/quarkus/runtime/configuration/KeycloakConfigSourceProvider.java
  quarkus/runtime/src/main/java/org/keycloak/quarkus/runtime/configuration/KeycloakPropertiesConfigSource.java
  quarkus/runtime/src/main/java/org/keycloak/quarkus/runtime/configuration/mappers/DatabasePropertyMappers.java
  quarkus/runtime/src/main/java/org/keycloak/quarkus/runtime/integration/QuarkusPlatform.java
  quarkus/runtime/src/main/java/org/keycloak/quarkus/runtime/storage/infinispan/CacheInitializer.java
  quarkus/runtime/src/main/resources/META-INF/keycloak.properties
  quarkus/runtime/src/main/resources/application.properties
  quarkus/server/src/main/resources/application.properties
  quarkus/tests/integration/pom.xml
  quarkus/tests/integration/src/main/java/org/keycloak/it/junit5/extension/CLIResult.java
  quarkus/tests/integration/src/main/java/org/keycloak/it/junit5/extension/CLITest.java
  quarkus/tests/integration/src/main/java/org/keycloak/it/junit5/extension/CLITestExtension.java
  quarkus/tests/integration/src/main/java/org/keycloak/it/junit5/extension/DistributionTest.java
  quarkus/tests/integration/src/main/java/org/keycloak/it/utils/KeycloakDistribution.java
  quarkus/tests/integration/src/main/java/org/keycloak/it/utils/Maven.java
  quarkus/tests/integration/src/test/java/org/keycloak/it/cli/HelpCommandTest.java
  quarkus/tests/integration/src/test/java/org/keycloak/it/cli/OptionValidationTest.java
  quarkus/tests/integration/src/test/java/org/keycloak/it/cli/ShowConfigCommandTest.java
  quarkus/tests/integration/src/test/java/org/keycloak/it/cli/StartCommandTest.java
  quarkus/tests/integration/src/test/java/org/keycloak/it/cli/StartDevCommandTest.java
  quarkus/tests/integration/src/test/java/org/keycloak/it/cli/dist/BuildCommandDistTest.java
  quarkus/tests/integration/src/test/java/org/keycloak/it/cli/dist/HelpCommandDistTest.java
  quarkus/tests/integration/src/test/java/org/keycloak/it/cli/dist/MetricsDistTest.java
  quarkus/tests/integration/src/test/java/org/keycloak/it/cli/dist/StartCommandDistTest.java
  quarkus/tests/integration/src/test/java/org/keycloak/it/cli/dist/StartDevCommandDistTest.java
  quarkus/tests/pom.xml
Labels: area/testsuite, kind/enhancement, area/dist/quarkus

#8802 KEYCLOAK-19773 BFD and Direct Grant - inconsistent number of failures
  services/src/main/java/org/keycloak/authentication/authenticators/directgrant/ValidateUsername.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/forms/BruteForceTest.java
Labels: missing/tests

#8956 Closes #8954 - move Hot Rod classes to hotRod package
  model/map-hot-rod/src/main/java/org/keycloak/models/map/storage/hotRod/HotRodMapStorage.java
  model/map-hot-rod/src/main/java/org/keycloak/models/map/storage/hotRod/HotRodMapStorageProvider.java
  model/map-hot-rod/src/main/java/org/keycloak/models/map/storage/hotRod/HotRodMapStorageProviderFactory.java
  model/map-hot-rod/src/main/java/org/keycloak/models/map/storage/hotRod/IckleQueryOperators.java
  model/map-hot-rod/src/main/java/org/keycloak/models/map/storage/hotRod/client/HotRodAttributeEntity.java
  model/map-hot-rod/src/main/java/org/keycloak/models/map/storage/hotRod/client/HotRodClientEntity.java
  model/map-hot-rod/src/main/java/org/keycloak/models/map/storage/hotRod/client/HotRodProtocolMapperEntity.java
  model/map-hot-rod/src/main/java/org/keycloak/models/map/storage/hotRod/common/HotRodEntityDescriptor.java
  model/map-hot-rod/src/main/java/org/keycloak/models/map/storage/hotRod/common/HotRodPair.java
  model/map-hot-rod/src/main/java/org/keycloak/models/map/storage/hotRod/common/HotRodUtils.java
  model/map-hot-rod/src/main/java/org/keycloak/models/map/storage/hotRod/common/ProtoSchemaInitializer.java
  model/map-hot-rod/src/main/java/org/keycloak/models/map/storage/hotRod/common/Versioned.java
  model/map-hot-rod/src/main/java/org/keycloak/models/map/storage/hotRod/connections/DefaultHotRodConnectionProvider.java
  model/map-hot-rod/src/main/java/org/keycloak/models/map/storage/hotRod/connections/DefaultHotRodConnectionProviderFactory.java
  model/map-hot-rod/src/main/java/org/keycloak/models/map/storage/hotRod/connections/HotRodConnectionProvider.java
  model/map-hot-rod/src/main/java/org/keycloak/models/map/storage/hotRod/connections/HotRodConnectionProviderFactory.java
  model/map-hot-rod/src/main/java/org/keycloak/models/map/storage/hotRod/connections/HotRodConnectionSpi.java
  model/map-hot-rod/src/main/resources/META-INF/services/org.keycloak.models.map.storage.hotRod.connections.HotRodConnectionProviderFactory
  model/map-hot-rod/src/main/resources/META-INF/services/org.keycloak.provider.Spi
  model/map-hot-rod/src/test/java/org/keycloak/models/map/storage/hotRod/IckleQueryMapModelCriteriaBuilderTest.java
  testsuite/model/src/main/java/org/keycloak/testsuite/model/HotRodServerRule.java
  testsuite/model/src/test/java/org/keycloak/testsuite/model/parameters/HotRodMapStorage.java
Labels: area/storage
