Repository keycloak/keycloak, pull requests merged in 2021-03, with the labels that each got.

#7691 KEYCLOAK-16679 Add algorithm settings for client assertion signature in OIDC identity broker
  services/src/main/java/org/keycloak/broker/oidc/AbstractOAuth2IdentityProvider.java
  services/src/main/java/org/keycloak/broker/oidc/OAuth2IdentityProviderConfig.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/broker/KcOidcBrokerClientSecretJwtCustomSignAlgTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/broker/KcOidcBrokerPrivateKeyJwtCustomSignAlgTest.java
  themes/src/main/resources-community/theme/base/admin/messages/admin-messages_ja.properties
  themes/src/main/resources/theme/base/admin/messages/admin-messages_en.properties
  themes/src/main/resources/theme/base/admin/resources/partials/realm-identity-provider-oidc.html
Labels: area/oidc, kind/enhancement, missing/tests

#7751 [KEYCLOAK-16676] - Client attributes should not be stored if null or empty
  model/jpa/src/main/java/org/keycloak/models/jpa/ClientAdapter.java
  model/map/src/main/java/org/keycloak/models/map/client/MapClientAdapter.java
  testsuite/integration-arquillian/servers/auth-server/services/testsuite-providers/src/main/java/org/keycloak/testsuite/rest/TestApplicationResourceProvider.java
  testsuite/integration-arquillian/servers/auth-server/services/testsuite-providers/src/main/java/org/keycloak/testsuite/rest/TestApplicationResourceProviderFactory.java
  testsuite/integration-arquillian/tests/base/src/main/java/org/keycloak/testsuite/client/resources/TestApplicationResource.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/admin/ClientTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/oauth/LogoutTest.java
Labels: area/oidc, area/storage, impact/medium, kind/bug

#7794 [KEYCLOAK-17174] - New admin console using wrong base URI for redirection
  services/src/main/java/org/keycloak/services/resources/account/AccountConsole.java
Labels: area/ui, component/account-rest

#7812 KEYCLOAK-17259 Add a method to check if the introspection request has…
  services/src/main/java/org/keycloak/protocol/oidc/endpoints/TokenIntrospectionEndpoint.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/oauth/TokenIntrospectionTest.java
Labels: area/oidc, impact/low, status/in-review

#7495 KEYCLOAK-15535 Account Log of user login with realm not available de…
  server-spi-private/src/main/java/org/keycloak/events/Details.java
  services/src/main/java/org/keycloak/authentication/forms/RegistrationUserCreation.java
  services/src/main/java/org/keycloak/authentication/requiredactions/UpdateProfile.java
  services/src/main/java/org/keycloak/services/resources/account/AccountFormService.java
  services/src/main/java/org/keycloak/services/resources/account/Constants.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/account/AccountFormServiceTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/actions/AppInitiatedActionUpdateProfileTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/actions/RequiredActionMultipleActionsTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/actions/RequiredActionPriorityTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/actions/RequiredActionUpdateProfileTest.java
Labels: area/authentication, kind/bug, status/needs-rebase

#7818 [KEYCLOAK-17174] - Fxing not passing referrer param when reaching the account console
  services/src/main/java/org/keycloak/services/resources/account/AccountConsole.java
Labels: component/account-rest, kind/bug

#7825 KEYCLOAK-16793 KEYCLOAK-16948 Cors on error responses for logoutEndpo…
  services/src/main/java/org/keycloak/protocol/oidc/endpoints/LogoutEndpoint.java
  services/src/main/java/org/keycloak/protocol/oidc/endpoints/TokenEndpoint.java
  services/src/main/java/org/keycloak/protocol/oidc/endpoints/TokenIntrospectionEndpoint.java
  services/src/main/java/org/keycloak/protocol/oidc/endpoints/TokenRevocationEndpoint.java
  services/src/main/java/org/keycloak/protocol/oidc/utils/AuthorizeClientUtil.java
  services/src/main/java/org/keycloak/protocol/openshift/OpenShiftTokenReviewEndpoint.java
  services/src/main/java/org/keycloak/services/resources/ClientsManagementService.java
  services/src/main/java/org/keycloak/services/resources/Cors.java
  testsuite/integration-arquillian/tests/base/src/main/java/org/keycloak/testsuite/util/OAuthClient.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/oauth/LogoutCorsTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/oauth/TokenEndpointCorsTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/util/ClientManager.java
Labels: area/oidc, impact/low, kind/bug, status/in-review

#7803 [KEYCLOAK-14913] GitLab Identity Provider shouldn't request for 'api'…
  services/src/main/java/org/keycloak/social/gitlab/GitLabIdentityProvider.java
  themes/src/main/resources-community/theme/base/admin/messages/admin-messages_de.properties
  themes/src/main/resources/theme/base/admin/messages/admin-messages_en.properties
Labels: priority/important, status/in-review

#7750 KEYCLOAK-17021 Client scope map store
  .github/workflows/ci.yml
  model/infinispan/src/main/java/org/keycloak/models/cache/infinispan/ClientAdapter.java
  model/infinispan/src/main/java/org/keycloak/models/cache/infinispan/ClientScopeAdapter.java
  model/infinispan/src/main/java/org/keycloak/models/cache/infinispan/RealmAdapter.java
  model/infinispan/src/main/java/org/keycloak/models/cache/infinispan/RealmCacheManager.java
  model/infinispan/src/main/java/org/keycloak/models/cache/infinispan/RealmCacheSession.java
  model/infinispan/src/main/java/org/keycloak/models/cache/infinispan/entities/ClientScopeListQuery.java
  model/infinispan/src/main/java/org/keycloak/models/cache/infinispan/entities/ClientScopeQuery.java
  model/infinispan/src/main/java/org/keycloak/models/cache/infinispan/events/ClientScopeAddedEvent.java
  model/infinispan/src/main/java/org/keycloak/models/cache/infinispan/events/ClientScopeRemovedEvent.java
  model/jpa/src/main/java/org/keycloak/models/jpa/ClientAdapter.java
  model/jpa/src/main/java/org/keycloak/models/jpa/JpaClientScopeProviderFactory.java
  model/jpa/src/main/java/org/keycloak/models/jpa/JpaRealmProvider.java
  model/jpa/src/main/java/org/keycloak/models/jpa/RealmAdapter.java
  model/jpa/src/main/java/org/keycloak/models/jpa/entities/ClientScopeClientMappingEntity.java
  model/jpa/src/main/java/org/keycloak/models/jpa/entities/ClientScopeEntity.java
  model/jpa/src/main/java/org/keycloak/models/jpa/entities/DefaultClientScopeRealmMappingEntity.java
  model/jpa/src/main/java/org/keycloak/models/jpa/entities/RealmEntity.java
  model/jpa/src/main/resources/META-INF/jpa-changelog-13.0.0.xml
  model/jpa/src/main/resources/META-INF/services/org.keycloak.models.ClientScopeProviderFactory
  model/map/src/main/java/org/keycloak/models/map/clientscope/AbstractClientScopeEntity.java
  model/map/src/main/java/org/keycloak/models/map/clientscope/AbstractClientScopeModel.java
  model/map/src/main/java/org/keycloak/models/map/clientscope/MapClientScopeAdapter.java
  model/map/src/main/java/org/keycloak/models/map/clientscope/MapClientScopeEntity.java
  model/map/src/main/java/org/keycloak/models/map/clientscope/MapClientScopeProvider.java
  model/map/src/main/java/org/keycloak/models/map/clientscope/MapClientScopeProviderFactory.java
  model/map/src/main/java/org/keycloak/models/map/storage/MapFieldPredicates.java
  model/map/src/main/resources/META-INF/services/org.keycloak.models.ClientScopeProviderFactory
  server-spi-private/src/main/java/org/keycloak/models/ClientScopeProviderFactory.java
  server-spi-private/src/main/java/org/keycloak/models/ClientScopeSpi.java
  server-spi-private/src/main/java/org/keycloak/models/cache/CacheRealmProvider.java
  server-spi-private/src/main/java/org/keycloak/storage/clientscope/ClientScopeStorageProvider.java
  server-spi-private/src/main/java/org/keycloak/storage/clientscope/ClientScopeStorageProviderFactory.java
  server-spi-private/src/main/java/org/keycloak/storage/clientscope/ClientScopeStorageProviderModel.java
  server-spi-private/src/main/java/org/keycloak/storage/clientscope/ClientScopeStorageProviderSpi.java
  server-spi-private/src/main/resources/META-INF/services/org.keycloak.provider.Spi
  server-spi/src/main/java/org/keycloak/models/ClientScopeModel.java
  server-spi/src/main/java/org/keycloak/models/ClientScopeProvider.java
  server-spi/src/main/java/org/keycloak/models/KeycloakSession.java
  server-spi/src/main/java/org/keycloak/models/RealmModel.java
  server-spi/src/main/java/org/keycloak/models/RealmProvider.java
  server-spi/src/main/java/org/keycloak/storage/clientscope/ClientScopeLookupProvider.java
  services/src/main/java/org/keycloak/services/DefaultKeycloakSession.java
  services/src/main/java/org/keycloak/storage/ClientScopeStorageManager.java
  testsuite/integration-arquillian/servers/auth-server/services/testsuite-providers/src/main/java/org/keycloak/testsuite/federation/HardcodedClientScopeStorageProvider.java
  testsuite/integration-arquillian/servers/auth-server/services/testsuite-providers/src/main/java/org/keycloak/testsuite/federation/HardcodedClientScopeStorageProviderFactory.java
  testsuite/integration-arquillian/servers/auth-server/services/testsuite-providers/src/main/resources/META-INF/services/org.keycloak.storage.clientscope.ClientScopeStorageProviderFactory
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/admin/client/ClientScopeTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/exportimport/ExportImportTest.java
  testsuite/integration-arquillian/tests/base/src/test/resources/META-INF/keycloak-server.json
  testsuite/model/src/test/java/org/keycloak/testsuite/model/ClientScopeStorageTest.java
  testsuite/model/src/test/java/org/keycloak/testsuite/model/KeycloakModelTest.java
  testsuite/model/src/test/java/org/keycloak/testsuite/model/parameters/Jpa.java
  testsuite/model/src/test/java/org/keycloak/testsuite/model/parameters/JpaFederation.java
  testsuite/utils/src/main/resources/META-INF/keycloak-server.json
Labels: area/storage, impact/medium, kind/feature

#7845 KEYCLOAK-16006. Fixed Spring Boot tests with new offset value.
  testsuite/integration-arquillian/tests/other/springboot-tests/src/test/java/org/keycloak/testsuite/springboot/OfflineTokenSpringBootTest.java
Labels: area/testsuite, impact/low, kind/bug, status/in-review

#7847 KEYCLOAK-17377 Fix invalidation cluster tests
  model/infinispan/src/main/java/org/keycloak/connections/infinispan/DefaultInfinispanConnectionProviderFactory.java
  model/infinispan/src/main/resources/default-configs/default-keycloak-jgroups-udp.xml
  services/src/main/java/org/keycloak/services/filters/AbstractRequestFilter.java
  testsuite/integration-arquillian/servers/auth-server/undertow/src/main/java/org/keycloak/testsuite/arquillian/undertow/KeycloakOnUndertow.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/cluster/AbstractInvalidationClusterTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/cluster/ClientInvalidationClusterTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/cluster/GroupInvalidationClusterTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/cluster/RealmInvalidationClusterTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/cluster/RoleInvalidationClusterTest.java
  testsuite/integration-arquillian/tests/pom.xml
  testsuite/utils/src/main/java/org/keycloak/testsuite/KeycloakServer.java
  testsuite/utils/src/main/java/org/keycloak/testsuite/UndertowRequestFilter.java
Labels: kind/bug

#7798 KEYCLOAK-17192 Add jaxb module dependency required by JAXBUtil class
  distribution/feature-packs/server-feature-pack/src/main/resources/modules/system/layers/keycloak/org/keycloak/keycloak-saml-core/main/module.xml
  distribution/saml-adapters/as7-eap6-adapter/as7-modules/src/main/resources/modules/org/keycloak/keycloak-saml-core/main/module.xml
  distribution/saml-adapters/wildfly-adapter/wildfly-modules/src/main/resources/modules/org/keycloak/keycloak-saml-core/main/module.xml
Labels: area/adapters, area/saml, impact/medium, kind/bug

#7835 KEYCLOAK-17342 Make the default value of default signature algorithm …
  server-spi-private/src/main/java/org/keycloak/models/Constants.java
  server-spi-private/src/main/java/org/keycloak/models/utils/RepresentationToModel.java
  services/src/main/java/org/keycloak/jose/jws/DefaultTokenManager.java
  services/src/main/java/org/keycloak/services/managers/ApplianceBootstrap.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/admin/AdminSignatureAlgorithmTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/admin/realm/RealmTest.java
Labels: area/oidc, impact/low, kind/bug, missing/tests

#7316 Correct "doesn't exists" typos - fixes KEYCLOAK-14986
  adapters/oidc/tomcat/tomcat-core/src/main/java/org/keycloak/adapters/tomcat/AbstractKeycloakAuthenticatorValve.java
  adapters/oidc/undertow/src/main/java/org/keycloak/adapters/undertow/KeycloakServletExtension.java
  adapters/saml/tomcat/tomcat-core/src/main/java/org/keycloak/adapters/saml/AbstractSamlAuthenticatorValve.java
  adapters/saml/undertow/src/main/java/org/keycloak/adapters/saml/undertow/SamlServletExtension.java
  federation/ldap/src/main/java/org/keycloak/storage/ldap/mappers/membership/group/GroupLDAPStorageMapper.java
  federation/ldap/src/main/java/org/keycloak/storage/ldap/mappers/membership/group/GroupTreeResolver.java
  federation/ldap/src/test/java/org/keycloak/storage/ldap/idm/model/GroupTreeResolverTest.java
  server-spi-private/src/main/java/org/keycloak/models/utils/RepresentationToModel.java
  services/src/main/java/org/keycloak/exportimport/dir/DirImportProvider.java
  services/src/main/java/org/keycloak/forms/login/freemarker/model/AuthenticationContextBean.java
  services/src/main/java/org/keycloak/services/managers/AuthenticationManager.java
  services/src/main/java/org/keycloak/services/managers/UserSessionCrossDCManager.java
  services/src/main/java/org/keycloak/services/resources/admin/AuthenticationManagementResource.java
  testsuite/integration-arquillian/servers/auth-server/services/testsuite-providers/src/main/java/org/keycloak/testsuite/rest/TestingResourceProvider.java
  testsuite/integration-arquillian/test-apps/servlets/src/main/java/org/keycloak/testsuite/adapter/servlet/SendUsernameServlet.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/admin/authentication/FlowTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/forms/BrowserFlowTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/forms/ResetPasswordTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/x509/X509BrowserCRLTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/x509/X509DirectGrantTest.java
Labels: kind/enhancement, status/needs-rebase, status/ready

#7834 [KEYCLOAK-9841] use LDAPUser UUID as an identifier instead of username
  federation/ldap/src/main/java/org/keycloak/storage/ldap/LDAPStorageProvider.java
  federation/ldap/src/main/java/org/keycloak/storage/ldap/LDAPStorageProviderFactory.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/federation/ldap/LDAPProvidersIntegrationTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/federation/ldap/LDAPSyncTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/federation/ldap/noimport/LDAPProvidersIntegrationNoImportTest.java
Labels: area/user-federation, impact/medium, status/in-review

#7859 KEYCLOAK-17000 Adding server tmp directory inside the auth-server hom…
  quarkus/runtime/src/main/java/org/keycloak/configuration/KeycloakConfigSourceProvider.java
  quarkus/runtime/src/main/java/org/keycloak/provider/quarkus/QuarkusPlatform.java
  services/src/main/java/org/keycloak/encoding/GzipResourceEncodingProviderFactory.java
  services/src/main/java/org/keycloak/exportimport/dir/DirExportProvider.java
  services/src/main/java/org/keycloak/exportimport/dir/DirImportProvider.java
  services/src/main/java/org/keycloak/platform/PlatformProvider.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/theme/ThemeResourceProviderTest.java
  testsuite/utils/src/main/java/org/keycloak/testsuite/KeycloakServer.java
  testsuite/utils/src/main/java/org/keycloak/testsuite/TestPlatform.java
  wildfly/extensions/src/main/java/org/keycloak/provider/wildfly/WildflyPlatform.java
Labels: impact/low, kind/bug, priority/important, status/in-review

#7789 KEYCLOAK-16356 update JUnit to the latest version
  pom.xml
Labels: status/ready

#7863 [KEYCLOAK-17442] - Upgrade to Quarkus 1.12.2
  quarkus/deployment/src/main/java/org/keycloak/quarkus/deployment/KeycloakProcessor.java
  quarkus/pom.xml
  quarkus/runtime/src/main/java/org/keycloak/provider/quarkus/ClientConnectionContextInjector.java
  quarkus/runtime/src/main/java/org/keycloak/provider/quarkus/KeycloakContextInjector.java
  quarkus/runtime/src/main/java/org/keycloak/provider/quarkus/QuarkusRequestFilter.java
  quarkus/runtime/src/main/java/org/keycloak/provider/quarkus/ResteasyVertxProvider.java
  quarkus/runtime/src/main/resources/META-INF/services/org.keycloak.common.util.ResteasyProvider
Labels: component/quarkus, kind/enhancement

#7035 [KEYCLOAK-14046] Include groups in user creation via Admin Console
  testsuite/integration-arquillian/tests/base/src/main/java/org/keycloak/testsuite/console/page/fragment/AbstractMultipleSelect2.java
  testsuite/integration-arquillian/tests/other/console/src/main/java/org/keycloak/testsuite/console/page/groups/CreateGroup.java
  testsuite/integration-arquillian/tests/other/console/src/main/java/org/keycloak/testsuite/console/page/groups/CreateGroupForm.java
  testsuite/integration-arquillian/tests/other/console/src/main/java/org/keycloak/testsuite/console/page/groups/Groups.java
  testsuite/integration-arquillian/tests/other/console/src/main/java/org/keycloak/testsuite/console/page/users/UserAttributesForm.java
  testsuite/integration-arquillian/tests/other/console/src/test/java/org/keycloak/testsuite/console/groups/AbstractGroupTest.java
  testsuite/integration-arquillian/tests/other/console/src/test/java/org/keycloak/testsuite/console/groups/GroupTest.java
  testsuite/integration-arquillian/tests/other/console/src/test/java/org/keycloak/testsuite/console/users/UserAttributesTest.java
  themes/src/main/resources/theme/base/admin/messages/admin-messages_en.properties
  themes/src/main/resources/theme/base/admin/resources/js/controllers/users.js
  themes/src/main/resources/theme/base/admin/resources/partials/group-list.html
  themes/src/main/resources/theme/base/admin/resources/partials/user-detail.html
  themes/src/main/resources/theme/keycloak/admin/resources/css/styles.css
Labels: status/in-review

#7858 KEYCLOAK-16660 Fix typo in 'applicationName'
  themes/src/main/resources-community/theme/base/account/messages/messages_fr.properties
Labels: component/themes, impact/low, kind/bug, missing/jira

#7537 KEYCLOAK-16048 SAML Client import - add md:RequestedAttribute as "User Attribute" ProtocolMapper
  services/src/main/java/org/keycloak/protocol/saml/EntityDescriptorDescriptionConverter.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/client/SAMLClientRegistrationTest.java
  testsuite/integration-arquillian/tests/base/src/test/resources/clientreg-test/saml-entity-descriptor.xml
Labels: area/saml, impact/medium, kind/enhancement

#7643 KEYCLOAK-15015 Extend KeyWrapper to add whole certificate chain in x5c parameter
  core/src/main/java/org/keycloak/crypto/KeyWrapper.java
  core/src/main/java/org/keycloak/jose/jwk/JWKBuilder.java
  core/src/test/java/org/keycloak/jose/jwk/JWKTest.java
  services/src/main/java/org/keycloak/keys/AbstractRsaKeyProvider.java
  services/src/main/java/org/keycloak/keys/JavaKeystoreKeyProvider.java
  services/src/main/java/org/keycloak/protocol/oidc/OIDCLoginProtocolService.java
  testsuite/integration-arquillian/tests/base/src/test/resources/org/keycloak/testsuite/keys/keystore.jks
Labels: area/oidc, impact/low, kind/enhancement, missing/docs

#7876 Adding a test when custom policies are used
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/authz/UserManagedPermissionServiceTest.java
Labels: area/authorization, area/testsuite, impact/low

#7843 KEYCLOAK-17407 - Add Retry
  testsuite/integration-arquillian/tests/other/console/src/test/java/org/keycloak/testsuite/console/authorization/DisableAuthorizationSettingsTest.java
Labels: area/testsuite, kind/bug

#7793 [KEYCLOAK-17166] Use radio buttons for otp select
  testsuite/integration-arquillian/tests/base/src/main/java/org/keycloak/testsuite/pages/LoginTotpPage.java
  themes/src/main/resources/theme/base/login/login-otp.ftl
  themes/src/main/resources/theme/keycloak/login/resources/css/tile.css
  themes/src/main/resources/theme/keycloak/login/theme.properties
Labels: area/authentication, area/ui, impact/low, status/in-review

#7397 KEYCLOAK-15459 Fix serialization of multi-subtag locales in admin console's “whoami” response
  services/src/main/java/org/keycloak/services/resources/admin/AdminConsole.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/admin/AdminConsoleWhoAmILocaleTest.java
Labels: area/server, kind/bug

#7872 [KEYCLOAK-17484] OIDC Conformance - Authorization response with Hybrid flow does not contain token_type
  adapters/oidc/js/src/main/resources/keycloak.js
  core/src/main/java/org/keycloak/OAuth2Constants.java
  services/src/main/java/org/keycloak/protocol/oidc/OIDCLoginProtocol.java
  testsuite/integration-arquillian/tests/base/src/main/java/org/keycloak/testsuite/util/OAuthClient.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/oidc/flows/OIDCBasicResponseTypeCodeTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/oidc/flows/OIDCHybridResponseTypeCodeIDTokenTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/oidc/flows/OIDCHybridResponseTypeCodeIDTokenTokenTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/oidc/flows/OIDCHybridResponseTypeCodeTokenTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/oidc/flows/OIDCImplicitResponseTypeIDTokenTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/oidc/flows/OIDCImplicitResponseTypeIDTokenTokenTest.java
Labels: area/oidc, missing/tests

#7806 KEYCLOAK-5657 Support for transient NameIDPolicy and AllowCreate in S…
  services/src/main/java/org/keycloak/broker/saml/SAMLIdentityProvider.java
  services/src/main/java/org/keycloak/broker/saml/SAMLIdentityProviderConfig.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/broker/KcSamlIdPInitiatedSsoTest.java
  themes/src/main/resources/theme/base/admin/messages/admin-messages_en.properties
  themes/src/main/resources/theme/base/admin/resources/js/controllers/realm.js
  themes/src/main/resources/theme/base/admin/resources/partials/realm-identity-provider-saml.html
Labels: area/saml, impact/low, kind/enhancement, status/ready
