Repository keycloak/keycloak, pull requests merged in 2021-04, with the labels that each got.

#7808 KEYCLOAK-16898 Locale dropdown is broken in IE11
  themes/src/main/resources/theme/keycloak/login/resources/css/login.css
Labels: area/ui, kind/bug

#7861 KEYCLOAK-17202 Restrict Issuance of Refresh tokens to specific clients
  services/src/main/java/org/keycloak/authorization/authorization/AuthorizationTokenService.java
  services/src/main/java/org/keycloak/protocol/oidc/OIDCAdvancedConfigWrapper.java
  services/src/main/java/org/keycloak/protocol/oidc/OIDCConfigAttributes.java
  services/src/main/java/org/keycloak/protocol/oidc/TokenManager.java
  services/src/main/java/org/keycloak/protocol/oidc/endpoints/TokenEndpoint.java
  services/src/main/java/org/keycloak/services/clientregistration/oidc/DescriptionConverter.java
  services/src/main/java/org/keycloak/services/clientregistration/oidc/OIDCClientRegistrationProvider.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/authz/UmaGrantTypeTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/client/OIDCClientRegistrationTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/oauth/AccessTokenTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/oauth/ClientTokenExchangeTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/oauth/OAuth2DeviceAuthorizationGrantTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/oauth/RefreshTokenTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/oauth/ResourceOwnerPasswordCredentialsGrantTest.java
  themes/src/main/resources/theme/base/admin/messages/admin-messages_en.properties
  themes/src/main/resources/theme/base/admin/resources/js/controllers/clients.js
  themes/src/main/resources/theme/base/admin/resources/partials/client-detail.html
Labels: area/authorization, area/oidc, kind/feature

#7893 KEYCLOAK-17619 - Fix DefaultRolesTest
  testsuite/integration-arquillian/tests/other/console/src/main/java/org/keycloak/testsuite/console/page/roles/RoleCompositeRoles.java
  testsuite/integration-arquillian/tests/other/console/src/test/java/org/keycloak/testsuite/console/roles/DefaultRolesTest.java
Labels: area/testsuite

#7894 KEYCLOAK-17620 - Fix ClientClientScopesTest
  testsuite/integration-arquillian/tests/other/console/src/test/java/org/keycloak/testsuite/console/clients/ClientClientScopesTest.java
Labels: area/testsuite

#7640 KEYCLOAK-16401 Deny/Allow access in a conditional context
  server-spi-private/src/main/java/org/keycloak/authentication/AuthenticationFlowError.java
  services/src/main/java/org/keycloak/authentication/authenticators/access/AllowAccessAuthenticator.java
  services/src/main/java/org/keycloak/authentication/authenticators/access/AllowAccessAuthenticatorFactory.java
  services/src/main/java/org/keycloak/authentication/authenticators/access/DenyAccessAuthenticator.java
  services/src/main/java/org/keycloak/authentication/authenticators/access/DenyAccessAuthenticatorFactory.java
  services/src/main/java/org/keycloak/authentication/authenticators/conditional/ConditionalRoleAuthenticator.java
  services/src/main/java/org/keycloak/authentication/authenticators/conditional/ConditionalRoleAuthenticatorFactory.java
  services/src/main/java/org/keycloak/authentication/authenticators/conditional/ConditionalUserConfiguredAuthenticator.java
  services/src/main/java/org/keycloak/services/messages/Messages.java
  services/src/main/resources/META-INF/services/org.keycloak.authentication.AuthenticatorFactory
  testsuite/integration-arquillian/servers/auth-server/services/testsuite-providers/src/main/java/org/keycloak/testsuite/authentication/ConditionalUserAttributeValue.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/admin/authentication/ProvidersTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/forms/AllowDenyAuthenticatorTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/forms/BrowserFlowTest.java
  themes/src/main/resources/theme/base/login/messages/messages_en.properties
Labels: area/authentication, missing/docs, status/in-review

#7905 KEYCLOAK-16913 Fix FuseAdapterTest
  adapters/oidc/osgi-adapter/src/main/java/org/keycloak/adapters/osgi/PaxWebIntegrationService.java
  adapters/spi/jetty-adapter-spi/src/main/java/org/keycloak/adapters/jetty/spi/JettyHttpFacade.java
  testsuite/integration-arquillian/test-apps/fuse/README.md
  testsuite/integration-arquillian/test-apps/fuse/cxf-jaxrs-fuse7-undertow/pom.xml
  testsuite/integration-arquillian/test-apps/fuse/cxf-jaxrs/pom.xml
  testsuite/integration-arquillian/test-apps/fuse/cxf-jaxws-fuse7-undertow/pom.xml
  testsuite/integration-arquillian/test-apps/fuse/cxf-jaxws/pom.xml
  testsuite/integration-arquillian/test-apps/fuse/product-app-fuse/pom.xml
  testsuite/integration-arquillian/test-apps/fuse/product-app-fuse/src/main/java/org/keycloak/example/ProductPortalServlet.java
  testsuite/integration-arquillian/test-apps/fuse/product-app-fuse7-undertow/pom.xml
  testsuite/integration-arquillian/test-apps/servlets/src/main/java/org/keycloak/testsuite/adapter/servlet/CustomerServlet.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/adapter/example/fuse/FuseAdapterTest.java
  testsuite/integration-arquillian/util/pom.xml
  testsuite/integration-arquillian/util/src/main/java/org/keycloak/testsuite/utils/fuse/FuseUtils.java
Labels: area/adapters, area/testsuite, kind/bug

#7913 KEYCLOAK-16918 Set custom user attribute to Name ID Format for a SAML client
  services/src/main/java/org/keycloak/protocol/saml/SamlProtocol.java
  services/src/main/java/org/keycloak/protocol/saml/mappers/NameIdMapperHelper.java
  services/src/main/java/org/keycloak/protocol/saml/mappers/SAMLNameIdMapper.java
  services/src/main/java/org/keycloak/protocol/saml/mappers/UserAttributeNameIdMapper.java
  services/src/main/resources/META-INF/services/org.keycloak.protocol.ProtocolMapper
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/saml/NameIdMapperTest.java
  themes/src/main/resources-community/theme/base/admin/messages/admin-messages_ja.properties
  themes/src/main/resources/theme/base/admin/messages/admin-messages_en.properties
Labels: area/saml, kind/enhancement, status/needs-rebase

#7951 [KEYCLOAK-17452] - Removing policies created from a user-managed policy
  server-spi-private/src/main/java/org/keycloak/authorization/AuthorizationProvider.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/authz/UserManagedPermissionServiceTest.java
Labels: area/authorization, impact/medium, kind/bug

#7942 KEYCLOAK-16935 Fix liquibase to work with MySQL 8.0.23+
  model/jpa/src/main/java/org/keycloak/connections/jpa/updater/liquibase/LiquibaseJpaUpdaterProvider.java
  model/jpa/src/main/java/org/keycloak/connections/jpa/updater/liquibase/conn/CustomChangeLogHistoryService.java
  model/jpa/src/main/java/org/keycloak/connections/jpa/updater/liquibase/conn/DefaultLiquibaseConnectionProvider.java
  pom.xml
  quarkus/runtime/src/main/java/org/keycloak/connections/liquibase/QuarkusJpaUpdaterProvider.java
  quarkus/runtime/src/main/java/org/keycloak/connections/liquibase/QuarkusLiquibaseConnectionProvider.java
Labels: kind/bug, priority/important

#7948 KEYCLOAK-17820 Adding default clustering configuration for Azure and GCP
  quarkus/runtime/src/main/java/org/keycloak/configuration/PropertyMappers.java
Labels: component/quarkus, impact/low, kind/enhancement

#7966 KEYCLOAK-17612- Invalid SAML Response : Invalid Destination
  services/src/main/java/org/keycloak/broker/saml/SAMLEndpoint.java
  testsuite/integration-arquillian/tests/base/src/main/java/org/keycloak/testsuite/util/SamlClientBuilder.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/broker/KcSamlBrokerConfiguration.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/broker/KcSamlBrokerFrontendUrlTest.java
Labels: area/saml, kind/bug

#7885 [KEYCLOAK-17208] - Upgrading to Quarkus 1.13.0.Final
  .github/workflows/ci.yml
  distribution/server-x-dist/src/main/content/bin/kc.sh
  quarkus/deployment/src/main/java/org/keycloak/quarkus/deployment/KeycloakProcessor.java
  quarkus/deployment/src/main/java/org/keycloak/quarkus/deployment/LiquibaseProcessor.java
  quarkus/deployment/src/test/resources/application.properties
  quarkus/pom.xml
  quarkus/runtime/src/main/java/org/keycloak/QuarkusKeycloakApplication.java
  quarkus/runtime/src/main/java/org/keycloak/configuration/Database.java
  quarkus/runtime/src/main/java/org/keycloak/configuration/PropertyMappers.java
  quarkus/runtime/src/main/java/org/keycloak/configuration/SysPropConfigSource.java
  quarkus/runtime/src/main/java/org/keycloak/connections/cache/QuarkusInfinispanConnectionFactory.java
  quarkus/runtime/src/main/java/org/keycloak/connections/jpa/QuarkusJpaConnectionProviderFactory.java
  quarkus/runtime/src/main/resources/META-INF/services/org.keycloak.connections.infinispan.InfinispanConnectionProviderFactory
  quarkus/runtime/src/test/java/org/keycloak/provider/quarkus/ConfigurationTest.java
  quarkus/server/src/main/resources/application.properties
Labels: component/quarkus, kind/enhancement

#7899 KEYCLOAK-17637 Client Scope Policy for authorization service
  authz/client/src/main/java/org/keycloak/authorization/client/AuthzClient.java
  authz/client/src/main/java/org/keycloak/authorization/client/util/HttpMethodAuthenticator.java
  authz/client/src/main/java/org/keycloak/authorization/client/util/TokenCallable.java
  authz/policy/common/src/main/java/org/keycloak/authorization/policy/provider/clientscope/ClientScopePolicyProvider.java
  authz/policy/common/src/main/java/org/keycloak/authorization/policy/provider/clientscope/ClientScopePolicyProviderFactory.java
  authz/policy/common/src/main/resources/META-INF/services/org.keycloak.authorization.policy.provider.PolicyProviderFactory
  core/src/main/java/org/keycloak/representations/idm/authorization/ClientScopePolicyRepresentation.java
  integration/admin-client/src/main/java/org/keycloak/admin/client/resource/ClientScopePoliciesResource.java
  integration/admin-client/src/main/java/org/keycloak/admin/client/resource/PoliciesResource.java
  model/jpa/src/main/java/org/keycloak/models/jpa/JpaRealmProvider.java
  model/map/src/main/java/org/keycloak/models/map/clientscope/MapClientScopeProvider.java
  server-spi/src/main/java/org/keycloak/models/ClientScopeModel.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/authz/ClientScopePolicyTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/util/ClientBuilder.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/util/ClientScopeBuilder.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/util/RealmBuilder.java
  themes/src/main/resources/theme/base/admin/messages/admin-messages_en.properties
  themes/src/main/resources/theme/base/admin/resources/js/authz/authz-app.js
  themes/src/main/resources/theme/base/admin/resources/js/authz/authz-controller.js
  themes/src/main/resources/theme/base/admin/resources/partials/authz/policy/provider/resource-server-policy-client-scope-detail.html
Labels: area/authorization, impact/medium, kind/feature

#7934 KEYCLOAK-17615 Move database initialization to JpaConnectionProviderFactory
  .github/workflows/ci.yml
  model/jpa/src/main/java/org/keycloak/connections/jpa/DefaultJpaConnectionProviderFactory.java
  model/jpa/src/main/java/org/keycloak/models/jpa/MigrationModelAdapter.java
  model/map/src/main/java/org/keycloak/models/map/serverinfo/MapServerInfoProviderFactory.java
  model/map/src/main/resources/META-INF/services/org.keycloak.models.ServerInfoProviderFactory
  quarkus/runtime/src/main/java/org/keycloak/connections/jpa/QuarkusJpaConnectionProviderFactory.java
  server-spi/src/main/java/org/keycloak/migration/MigrationModel.java
  services/src/main/java/org/keycloak/services/resources/KeycloakApplication.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/admin/ServerInfoTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/migration/AbstractMigrationTest.java
  testsuite/integration-arquillian/tests/base/src/test/resources/META-INF/keycloak-server.json
  testsuite/model/src/test/java/org/keycloak/testsuite/model/KeycloakModelTest.java
  testsuite/model/src/test/java/org/keycloak/testsuite/model/MigrationModelTest.java
  testsuite/model/src/test/java/org/keycloak/testsuite/model/parameters/Jpa.java
  testsuite/model/src/test/java/org/keycloak/testsuite/model/parameters/JpaFederation.java
  testsuite/utils/src/main/resources/META-INF/keycloak-server.json
Labels: area/storage, kind/enhancement

#7865 KEYCLOAK-17284 Evaluate ID-Token and UserInfo-Endpoint
  services/src/main/java/org/keycloak/protocol/oidc/TokenManager.java
  services/src/main/java/org/keycloak/protocol/oidc/endpoints/UserInfoEndpoint.java
  services/src/main/java/org/keycloak/services/resources/admin/ClientScopeEvaluateResource.java
  themes/src/main/resources/theme/base/admin/messages/admin-messages_en.properties
  themes/src/main/resources/theme/base/admin/resources/js/controllers/clients.js
  themes/src/main/resources/theme/base/admin/resources/js/services.js
  themes/src/main/resources/theme/base/admin/resources/partials/client-scopes-evaluate.html
Labels: area/oidc, area/ui, component/admin-rest, kind/enhancement, status/in-review

#7982 [KEYCLOAK-17208] - Upgrade Quarkus 1.13.3.Final
  quarkus/pom.xml
  quarkus/runtime/src/main/java/org/keycloak/connections/jpa/QuarkusJpaConnectionProviderFactory.java
Labels: component/quarkus, impact/medium, kind/enhancement
