Repository keycloak/keycloak, pull requests merged in 2021-09, with the labels that each got.

#8401 KEYCLOAK-19104 Add custom ForeignKeySnapshotGenerator
  model/jpa/src/main/java/org/keycloak/connections/jpa/updater/liquibase/CustomForeignKeySnapshotGenerator.java
  model/jpa/src/main/java/org/keycloak/connections/jpa/updater/liquibase/conn/DefaultLiquibaseConnectionProvider.java
  testsuite/utils/pom.xml
Labels: kind/bug, area/storage

#8403 KEYCLOAK-19159 KcSamlEncryptedIdTest failure for undertow
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/broker/KcSamlEncryptedIdTest.java
Labels: area/testsuite, kind/bug

#8407 KEYCLOAK-19143 Split note for broker and SP SAML request ID
  services/src/main/java/org/keycloak/broker/saml/SAMLEndpoint.java
  services/src/main/java/org/keycloak/broker/saml/SAMLIdentityProvider.java
  services/src/main/java/org/keycloak/protocol/saml/SamlProtocol.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/saml/BrokerTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/saml/ConcurrentAuthnRequestTest.java
Labels: area/saml, kind/bug

#8415 KEYCLOAK-18842: deleteExpiredClientSessions very slow on MariaDB
  model/jpa/src/main/java/org/keycloak/connections/jpa/DefaultJpaConnectionProviderFactory.java
  model/jpa/src/main/java/org/keycloak/connections/jpa/util/JpaUtils.java
  model/jpa/src/main/java/org/keycloak/models/jpa/session/PersistentClientSessionEntity.java
  model/jpa/src/main/resources/META-INF/queries-default.properties
  model/jpa/src/main/resources/META-INF/queries-mariadb.properties
  model/jpa/src/main/resources/META-INF/queries-mysql.properties
  quarkus/runtime/src/main/java/org/keycloak/connections/jpa/QuarkusJpaConnectionProviderFactory.java
Labels: area/storage

#8364 [KEYCLOAK-17866] - Upgrade to Quarkus v2
  .github/workflows/ci.yml
  distribution/pom.xml
  docs/building.md
  pom.xml
  quarkus/README.md
  quarkus/deployment/pom.xml
  quarkus/deployment/src/main/java/org/keycloak/quarkus/deployment/KeycloakProcessor.java
  quarkus/deployment/src/test/resources/application.properties
  quarkus/pom.xml
  quarkus/runtime/pom.xml
  quarkus/runtime/src/main/java/org/keycloak/cli/KeycloakMain.java
  quarkus/runtime/src/main/java/org/keycloak/cli/ShowConfigCommand.java
  quarkus/runtime/src/main/java/org/keycloak/configuration/KeycloakConfigSourceProvider.java
  quarkus/runtime/src/main/java/org/keycloak/configuration/SysPropConfigSource.java
  quarkus/runtime/src/main/java/org/keycloak/connections/jpa/QuarkusJpaConnectionProviderFactory.java
  quarkus/runtime/src/main/java/org/keycloak/provider/quarkus/ResteasyVertxProvider.java
  quarkus/runtime/src/main/java/org/keycloak/provider/quarkus/dev/QuarkusDevRequestFilter.java
  quarkus/runtime/src/main/java/org/keycloak/quarkus/KeycloakRecorder.java
  quarkus/runtime/src/main/java/org/keycloak/services/health/KeycloakReadyHealthCheck.java
  quarkus/runtime/src/main/java/org/keycloak/util/Environment.java
  quarkus/runtime/src/main/resources/META-INF/quarkus-extension.yaml
  quarkus/runtime/src/test/java/org/keycloak/provider/quarkus/ConfigurationTest.java
  quarkus/server/pom.xml
  quarkus/server/src/main/java/org/keycloak/quarkus/_private/IDELauncher.java
  quarkus/server/src/main/resources/META-INF/keycloak.properties
  quarkus/server/src/main/resources/application.properties
  testsuite/integration-arquillian/servers/auth-server/pom.xml
  testsuite/integration-arquillian/servers/auth-server/quarkus/ant/configure.xml
  testsuite/integration-arquillian/tests/base/src/main/java/org/keycloak/testsuite/arquillian/containers/KeycloakQuarkusServerDeployableContainer.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/admin/AbstractAdminTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/cli/admin/KcAdmSessionTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/forms/VerifyProfileTest.java
Labels: component/quarkus, kind/enhancement

#7641 KEYCLOAK-16462 X509 Auth: add option to revalidate certificate trust
  services/src/main/java/org/keycloak/authentication/authenticators/x509/AbstractX509ClientCertificateAuthenticator.java
  services/src/main/java/org/keycloak/authentication/authenticators/x509/AbstractX509ClientCertificateAuthenticatorFactory.java
  services/src/main/java/org/keycloak/authentication/authenticators/x509/CertificateValidator.java
  services/src/main/java/org/keycloak/authentication/authenticators/x509/ValidateX509CertificateUsername.java
  services/src/main/java/org/keycloak/authentication/authenticators/x509/X509AuthenticatorConfigModel.java
  services/src/main/java/org/keycloak/authentication/authenticators/x509/X509ClientCertificateAuthenticator.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/x509/AbstractX509AuthenticationTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/x509/X509BrowserLoginTest.java
Labels: area/authentication, kind/enhancement, status/in-review

#7838 KEYCLOAK-17368 Show forwarded errors when a default remote IdP is configured
  services/src/main/java/org/keycloak/authentication/AuthenticationProcessor.java
  services/src/main/java/org/keycloak/authentication/authenticators/browser/IdentityProviderAuthenticator.java
  services/src/main/java/org/keycloak/broker/saml/SAMLEndpoint.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/broker/KcSamlDefaultIdpTest.java
Labels: missing/tests, area/authentication, kind/bug, status/in-review

#8257 [KEYCLOAK-18556] Check for federated credentials when resolving authenticators
  services/src/main/java/org/keycloak/authentication/AuthenticationSelectionResolver.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/federation/ldap/LDAPUserMultipleCredentialTest.java
Labels: missing/tests, area/authentication, area/user-federation

#8096 KEYCLOAK-18288
  server-spi-private/src/main/java/org/keycloak/models/utils/ModelToRepresentation.java
  services/src/main/java/org/keycloak/services/resources/admin/RealmsAdminResource.java
  themes/src/main/resources/theme/base/admin/resources/js/services.js
Labels: area/ui

#7970 KEYCLOAK-10603 adjust user-role and group-role assignments
  federation/ldap/src/main/java/org/keycloak/storage/ldap/mappers/HardcodedLDAPRoleStorageMapper.java
  model/infinispan/src/main/java/org/keycloak/models/cache/infinispan/ClientAdapter.java
  model/infinispan/src/main/java/org/keycloak/models/cache/infinispan/ClientScopeAdapter.java
  model/infinispan/src/main/java/org/keycloak/models/cache/infinispan/GroupAdapter.java
  model/infinispan/src/main/java/org/keycloak/models/cache/infinispan/UserAdapter.java
  model/jpa/src/main/java/org/keycloak/models/jpa/GroupAdapter.java
  model/jpa/src/main/java/org/keycloak/models/jpa/UserAdapter.java
  model/map/src/main/java/org/keycloak/models/map/client/MapClientAdapter.java
  model/map/src/main/java/org/keycloak/models/map/group/MapGroupAdapter.java
  model/map/src/main/java/org/keycloak/models/map/user/MapUserAdapter.java
  server-spi-private/src/main/java/org/keycloak/models/delegate/ClientModelLazyDelegate.java
  server-spi-private/src/main/java/org/keycloak/storage/adapter/UpdateOnlyChangeUserModelDelegate.java
  server-spi/src/main/java/org/keycloak/models/ClientModel.java
  server-spi/src/main/java/org/keycloak/models/RoleMapperModel.java
  server-spi/src/main/java/org/keycloak/models/ScopeContainerModel.java
  server-spi/src/main/java/org/keycloak/models/utils/UserModelDelegate.java
  server-spi/src/main/java/org/keycloak/storage/adapter/AbstractUserAdapterFederatedStorage.java
  services/src/main/java/org/keycloak/services/resources/admin/ClientRoleMappingsResource.java
  services/src/main/java/org/keycloak/services/resources/admin/RoleMapperResource.java
  services/src/main/java/org/keycloak/services/resources/admin/ScopeMappedClientResource.java
  services/src/main/java/org/keycloak/services/resources/admin/ScopeMappedResource.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/admin/ClientTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/admin/UserTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/admin/client/ClientScopeTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/admin/group/GroupTest.java
  themes/src/main/resources-community/theme/base/admin/messages/admin-messages_de.properties
  themes/src/main/resources/theme/base/admin/messages/admin-messages_en.properties
Labels: priority/important

#8436 [KEYCLOAK-19274] - Avoid loading queries from properties at runtime for Dist.X
  model/jpa/src/main/java/org/keycloak/connections/jpa/DefaultJpaConnectionProviderFactory.java
  model/jpa/src/main/java/org/keycloak/connections/jpa/util/JpaUtils.java
  quarkus/deployment/src/main/java/org/keycloak/quarkus/deployment/KeycloakProcessor.java
  quarkus/runtime/src/main/java/org/keycloak/connections/jpa/QuarkusJpaConnectionProviderFactory.java
Labels: kind/enhancement, area/storage

#8469 [KEYCLOAK-19380] - Import not running once schema is inited and requiring full server setup
  quarkus/runtime/src/main/java/org/keycloak/cli/MainCommand.java
  quarkus/runtime/src/main/java/org/keycloak/configuration/PropertyMappers.java
  quarkus/runtime/src/main/java/org/keycloak/connections/jpa/QuarkusJpaConnectionProviderFactory.java
  quarkus/runtime/src/main/java/org/keycloak/util/Environment.java
  quarkus/server/src/main/resources/META-INF/keycloak.properties
Labels: component/quarkus, kind/bug

#8492 KEYCLOAK-13770 Working FixedHostnameTest for Quarkus
  testsuite/integration-arquillian/tests/base/src/main/java/org/keycloak/testsuite/arquillian/containers/KeycloakQuarkusServerDeployableContainer.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/url/AbstractHostnameTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/url/FixedHostnameTest.java
Labels: component/quarkus, area/testsuite, kind/enhancement

#8458 KEYCLOAK-19373 Update quarkus version to 2.2.3.Final
  quarkus/pom.xml
Labels: component/quarkus, kind/enhancement

#8502 KEYCLOAK-18981 Infinispan: prevent fetching all sessions from remotes
  model/infinispan/src/main/java/org/keycloak/models/sessions/infinispan/InfinispanUserSessionProvider.java
Labels: kind/bug, area/storage

#7101 KEYCLOAK-13760 Document allowed action values for execute-actions-email
  integration/admin-client/src/main/java/org/keycloak/admin/client/resource/UserResource.java
Labels: area/server, kind/enhancement, impact/low, component/docs

#7139 [KEYCLOAK-14378] Allow customization of debug settings for clustered …
  testsuite/integration-arquillian/servers/app-server/jboss/eap/src/main/java/org/keycloak/testsuite/arquillian/eap/container/EAPAppServerProvider.java
  testsuite/integration-arquillian/servers/app-server/jboss/eap6/src/main/java/org/keycloak/testsuite/arquillian/eap/container/EAP6AppServerProvider.java
  testsuite/integration-arquillian/servers/app-server/jboss/wildfly-deprecated/src/main/java/org/keycloak/testsuite/arquillian/wildfly/container/WildflyDeprecatedAppServerProvider.java
  testsuite/integration-arquillian/servers/app-server/jboss/wildfly/src/main/java/org/keycloak/testsuite/arquillian/wildfly/container/WildflyAppServerProvider.java
  testsuite/integration-arquillian/tests/pom.xml
Labels: area/testsuite, kind/enhancement, impact/low, status/needs-rebase

#7697 fix typos in sv login messages
  themes/src/main/resources-community/theme/base/login/messages/messages_sv.properties
Labels: component/translations

#8507 [KEYCLOAK-19427] - Upgrade to Quarkus 2.3.0.Final
  quarkus/pom.xml
Labels: component/quarkus, kind/enhancement

#7656 KEYCLOAK-16520 X509 Auth: Add option to verify certificate policy
  services/src/main/java/org/keycloak/authentication/authenticators/x509/AbstractX509ClientCertificateAuthenticator.java
  services/src/main/java/org/keycloak/authentication/authenticators/x509/AbstractX509ClientCertificateAuthenticatorFactory.java
  services/src/main/java/org/keycloak/authentication/authenticators/x509/CertificateValidator.java
  services/src/main/java/org/keycloak/authentication/authenticators/x509/ValidateX509CertificateUsername.java
  services/src/main/java/org/keycloak/authentication/authenticators/x509/X509AuthenticatorConfigModel.java
  services/src/main/java/org/keycloak/authentication/authenticators/x509/X509ClientCertificateAuthenticator.java
  services/src/test/java/org/keycloak/authentication/authenticators/x509/CertificateValidatorTest.java
  services/src/test/java/org/keycloak/authentication/authenticators/x509/X509AuthenticatorConfigModelTest.java
Labels: missing/docs, area/authentication, kind/enhancement, status/in-review, component/core

#7098 KEYCLOAK-11364 Revise Service Account roles page
  themes/src/main/resources/theme/base/admin/messages/admin-messages_en.properties
  themes/src/main/resources/theme/base/admin/resources/partials/client-service-account-roles.html
Labels: missing/tests, area/ui, kind/enhancement, component/themes
