Repository keycloak/keycloak, pull requests merged in 2022-03, with the labels that each got.

#10158 Single offlineSession imported correctly in Infinispan
  model/infinispan/src/main/java/org/keycloak/models/sessions/infinispan/InfinispanUserSessionProvider.java
Labels: kind/bug, area/storage, area/infinispan

#10507 Convert authentication session entities into interface
  model/build-processor/src/main/java/org/keycloak/models/map/processor/Util.java
  model/map/src/main/java/org/keycloak/models/map/authSession/MapAuthenticationSessionAdapter.java
  model/map/src/main/java/org/keycloak/models/map/authSession/MapAuthenticationSessionEntity.java
  model/map/src/main/java/org/keycloak/models/map/authSession/MapRootAuthenticationSessionAdapter.java
  model/map/src/main/java/org/keycloak/models/map/authSession/MapRootAuthenticationSessionEntity.java
  model/map/src/main/java/org/keycloak/models/map/authSession/MapRootAuthenticationSessionProvider.java
  model/map/src/main/java/org/keycloak/models/map/storage/chm/ConcurrentHashMapStorageProviderFactory.java
Labels: area/storage, team/storage-sig

#10308 Improve user search performance
  model/jpa/src/main/java/org/keycloak/models/jpa/JpaUserProvider.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/account/AccountFormServiceTest.java
Labels: status/ready, area/storage, team/storage-sig

#10532 Add section on how to add the initial admin user
  docs/guides/src/main/server/configuration.adoc
Labels: area/docs

#10508 Disable Authz caching for new storage tests
  model/map/src/main/java/org/keycloak/models/map/authorization/MapPermissionTicketStore.java
  model/map/src/main/java/org/keycloak/models/map/authorization/adapter/MapResourceAdapter.java
  services/src/main/java/org/keycloak/authorization/authorization/AuthorizationTokenService.java
  testsuite/integration-arquillian/tests/base/pom.xml
  testsuite/integration-arquillian/tests/base/src/test/resources/META-INF/keycloak-server.json
Labels: area/authorization-services, kind/enhancement, area/storage, team/storage-sig

#10511 Replace 'Store LoA in User Session' with 'Max Age'. Refactoring of st…
  server-spi-private/src/main/java/org/keycloak/models/Constants.java
  services/src/main/java/org/keycloak/authentication/AuthenticatorUtil.java
  services/src/main/java/org/keycloak/authentication/authenticators/browser/CookieAuthenticator.java
  services/src/main/java/org/keycloak/authentication/authenticators/conditional/ConditionalLoaAuthenticator.java
  services/src/main/java/org/keycloak/authentication/authenticators/conditional/ConditionalLoaAuthenticatorFactory.java
  services/src/main/java/org/keycloak/authentication/authenticators/util/AcrStore.java
  services/src/main/java/org/keycloak/authentication/authenticators/util/LoAUtil.java
  services/src/main/java/org/keycloak/protocol/oidc/OIDCWellKnownProvider.java
  services/src/main/java/org/keycloak/protocol/oidc/TokenManager.java
  services/src/main/java/org/keycloak/protocol/oidc/utils/AcrUtils.java
  services/src/main/java/org/keycloak/services/managers/AuthenticationManager.java
  services/src/main/java/org/keycloak/validation/DefaultClientValidationProvider.java
  testsuite/integration-arquillian/tests/base/src/main/java/org/keycloak/testsuite/util/OAuthClient.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/forms/AuthenticationFlowCallbackProviderTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/forms/LevelOfAssuranceFlowTest.java
  themes/src/main/resources/theme/base/admin/messages/admin-messages_en.properties
Labels: team/core-features

#10644 Introduce profile 'feature' for step-up authentication enabled by def…
  common/src/main/java/org/keycloak/common/Profile.java
  services/src/main/java/org/keycloak/authentication/authenticators/conditional/ConditionalLoaAuthenticatorFactory.java
  services/src/main/java/org/keycloak/protocol/oidc/TokenManager.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/forms/LevelOfAssuranceFlowTest.java
  themes/src/main/resources/theme/base/admin/resources/partials/client-detail.html
  themes/src/main/resources/theme/base/admin/resources/partials/realm-login-settings.html
Labels: team/core-features

#10605 TLS config in the operator
  operator/src/main/java/org/keycloak/operator/Constants.java
  operator/src/main/java/org/keycloak/operator/v2alpha1/KeycloakDeployment.java
  operator/src/main/java/org/keycloak/operator/v2alpha1/KeycloakRealmImportJob.java
  operator/src/main/java/org/keycloak/operator/v2alpha1/KeycloakService.java
  operator/src/main/java/org/keycloak/operator/v2alpha1/crds/KeycloakSpec.java
  operator/src/main/resources/base-keycloak-deployment.yaml
  operator/src/main/resources/example-keycloak.yml
  operator/src/test/java/org/keycloak/operator/ClusterOperatorTest.java
  operator/src/test/java/org/keycloak/operator/ClusteringE2EIT.java
  operator/src/test/java/org/keycloak/operator/KeycloakDeploymentE2EIT.java
  operator/src/test/java/org/keycloak/operator/PodTemplateTest.java
  operator/src/test/java/org/keycloak/operator/RealmImportE2EIT.java
  operator/src/test/java/org/keycloak/operator/utils/K8sUtils.java
  operator/src/test/resources/correct-podtemplate-keycloak.yml
  operator/src/test/resources/empty-podtemplate-keycloak.yml
Labels: team/cloud-native-sig, area/operator

#10649 Fix spelling error in field and classname
  model/map-hot-rod/src/main/java/org/keycloak/models/map/storage/hotRod/HotRodMapStorage.java
  model/map-hot-rod/src/main/java/org/keycloak/models/map/storage/hotRod/HotRodMapStorageProvider.java
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/JpaMapKeycloakTransaction.java
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/group/JpaGroupModelCriteriaBuilder.java
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/role/JpaRoleModelCriteriaBuilder.java
  model/map-ldap/src/main/java/org/keycloak/models/map/storage/ldap/MapModelCriteriaBuilderAssumingEqualForField.java
  model/map-ldap/src/main/java/org/keycloak/models/map/storage/ldap/role/LdapRoleMapKeycloakTransaction.java
  model/map/src/main/java/org/keycloak/models/map/common/StringKeyConverter.java
  model/map/src/main/java/org/keycloak/models/map/storage/chm/ConcurrentHashMapKeycloakTransaction.java
  model/map/src/main/java/org/keycloak/models/map/storage/chm/ConcurrentHashMapStorage.java
  model/map/src/main/java/org/keycloak/models/map/storage/chm/ConcurrentHashMapStorageProviderFactory.java
  model/map/src/main/java/org/keycloak/models/map/storage/chm/MapModelCriteriaBuilder.java
  model/map/src/main/java/org/keycloak/models/map/storage/chm/UserSessionConcurrentHashMapStorage.java
  testsuite/integration-arquillian/tests/base/src/main/java/org/keycloak/testsuite/updaters/ServerResourceUpdater.java
  testsuite/model/src/test/java/org/keycloak/testsuite/model/ConcurrentHashMapStorageTest.java
Labels: status/ready, area/storage, team/storage-sig

#10697 Make WebAuthn feature default for the product version
  common/src/main/java/org/keycloak/common/Profile.java
  common/src/test/java/org/keycloak/common/ProfileTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/account/AccountRestServiceTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/admin/authentication/ExecutionTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/admin/authentication/ProvidersTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/admin/authentication/RequiredActionsTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/forms/BrowserFlowTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/forms/MultiFactorAuthenticationTest.java
  testsuite/integration-arquillian/tests/other/webauthn/src/test/java/org/keycloak/testsuite/webauthn/AbstractWebAuthnVirtualTest.java
  testsuite/integration-arquillian/tests/other/webauthn/src/test/java/org/keycloak/testsuite/webauthn/AppInitiatedActionWebAuthnTest.java
  testsuite/integration-arquillian/tests/other/webauthn/src/test/java/org/keycloak/testsuite/webauthn/WebAuthnFeatureTest.java
  testsuite/integration-arquillian/tests/other/webauthn/src/test/java/org/keycloak/testsuite/webauthn/account/AbstractWebAuthnAccountTest.java
Labels: area/authentication/webauthn

#10648 Protocol mapper and client scope for 'acr' claim
  server-spi-private/src/main/java/org/keycloak/migration/MigrationModelManager.java
  server-spi-private/src/main/java/org/keycloak/migration/MigrationProvider.java
  server-spi-private/src/main/java/org/keycloak/migration/migrators/MigrateTo18_0_0.java
  services/src/main/java/org/keycloak/protocol/oidc/OIDCLoginProtocolFactory.java
  services/src/main/java/org/keycloak/protocol/oidc/TokenManager.java
  services/src/main/java/org/keycloak/protocol/oidc/mappers/AcrProtocolMapper.java
  services/src/main/java/org/keycloak/protocol/oidc/mappers/OIDCAttributeMapperHelper.java
  services/src/main/java/org/keycloak/services/migration/DefaultMigrationProvider.java
  services/src/main/resources/META-INF/services/org.keycloak.protocol.ProtocolMapper
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/exportimport/ExportImportUtil.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/forms/LevelOfAssuranceFlowTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/migration/AbstractMigrationTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/migration/JsonFileImport198MigrationTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/migration/JsonFileImport255MigrationTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/migration/JsonFileImport343MigrationTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/migration/JsonFileImport483MigrationTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/migration/JsonFileImport903MigrationTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/migration/MigrationTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/oidc/OIDCWellKnownProviderTest.java
Labels: team/core-features

#10687 Update to Quarkus 2.7.4
  pom.xml
  quarkus/pom.xml
Labels: area/dependencies, area/dist/quarkus, team/cloud-native-sig

#10606 The CodeQL analysis is broken due to the large content of the SARIF file
  .github/scripts/codeql/codeql-analyze.sh
  .github/scripts/codeql/codeql-database-create.sh
  .github/scripts/codeql/codeql-install.sh
  .github/workflows/codeql-analysis.yml
Labels: area/ci

#10623 Change the flush mode to auto and fixing check for entities loaded into the session
  model/jpa/src/main/java/org/keycloak/models/jpa/JpaUserProvider.java
  quarkus/runtime/src/main/java/org/keycloak/quarkus/runtime/storage/database/jpa/AbstractJpaConnectionProviderFactory.java
Labels: area/dist/quarkus

#10686 adding missing log4j configuration to prevent errors in the log
  model/jpa/pom.xml
  model/jpa/src/test/resources/log4j.properties
Labels: status/ready, area/storage, team/storage-sig

#10525 Append the legacy CRD using a Json patch
  operator/src/main/kubernetes/append_legacy_cr.yaml
  operator/src/main/kubernetes/kustomization.yml
Labels: team/cloud-native-sig, area/operator

#10683 GitHub Action to release Keycloak container
  .github/workflows/release-container.yml
Labels: area/ci

#10725 Failure to upload the SARIF file on pull requests
  .github/scripts/codeql/codeql-analyze.sh
  .github/scripts/codeql/codeql-database-create.sh
  .github/scripts/codeql/codeql-install.sh
  .github/workflows/codeql-analysis.yml
  .github/workflows/codeql-java-analysis.yml
  .github/workflows/codeql-js-adapter-analysis.yml
  .github/workflows/codeql-theme-analysis.yml
Labels: priority/critical, area/ci

#10750 include AuthnContextDecl if present during SAML Assertion Serialization
  saml-core/src/main/java/org/keycloak/saml/processing/core/saml/v2/writers/SAMLAssertionWriter.java
  saml-core/src/test/java/org/keycloak/saml/processing/core/saml/v2/writers/SAMLAssertionWriterTest.java
Labels: area/saml, kind/enhancement

#10661 Initial bootstrap admin
  operator/src/main/java/org/keycloak/operator/v2alpha1/KeycloakAdminSecret.java
  operator/src/main/java/org/keycloak/operator/v2alpha1/KeycloakController.java
  operator/src/main/java/org/keycloak/operator/v2alpha1/KeycloakDeployment.java
  operator/src/test/java/org/keycloak/operator/ClusterOperatorTest.java
  operator/src/test/java/org/keycloak/operator/KeycloakDeploymentE2EIT.java
  operator/src/test/java/org/keycloak/operator/PodTemplateTest.java
Labels: kind/feature, team/cloud-native-sig, area/operator

#10679 Update to Liquibase 4.8.0
  distribution/feature-packs/server-feature-pack/src/main/resources/licenses/keycloak/licenses.xml
  distribution/feature-packs/server-feature-pack/src/main/resources/licenses/keycloak/org.liquibase,liquibase-core,4.8.0,Apache Software License 2.0.txt
  distribution/feature-packs/server-feature-pack/src/main/resources/licenses/rh-sso/licenses.xml
  distribution/feature-packs/server-feature-pack/src/main/resources/licenses/rh-sso/org.liquibase,liquibase-core,4.8.0.redhat-00001,Apache Software License 2.0.txt
  distribution/galleon-feature-packs/server-galleon-pack/src/license/keycloak-server-galleon-pack-licenses.xml
  distribution/galleon-feature-packs/server-galleon-pack/src/license/rh-sso-server-galleon-pack-licenses.xml
  model/jpa/src/main/java/org/keycloak/connections/jpa/updater/liquibase/conn/DefaultLiquibaseConnectionProvider.java
  pom.xml
  quarkus/runtime/src/main/java/org/keycloak/quarkus/runtime/storage/database/liquibase/QuarkusLiquibaseConnectionProvider.java
Labels: kind/bug, impact/medium, area/storage, area/dependencies, team/storage-sig

#9981 KEYCLOAK-19329 Fix message for access token response claim in admin ui
  themes/src/main/resources/theme/base/admin/messages/admin-messages_en.properties
Labels: status/ready, area/admin/ui

#10770 Do not store undefined values in store
  model/build-processor/src/main/java/org/keycloak/models/map/processor/AbstractGenerateEntityImplementationsProcessor.java
  model/build-processor/src/main/java/org/keycloak/models/map/processor/GenerateEntityImplementationsProcessor.java
  model/build-processor/src/main/java/org/keycloak/models/map/processor/GenerateHotRodEntityImplementationsProcessor.java
  model/map/src/main/java/org/keycloak/models/map/client/MapProtocolMapperUtils.java
  model/map/src/main/java/org/keycloak/models/map/common/UndefinedValuesUtils.java
  model/map/src/main/java/org/keycloak/models/map/realm/MapRealmEntity.java
  model/map/src/main/java/org/keycloak/models/map/realm/entity/MapComponentEntity.java
  model/map/src/main/java/org/keycloak/models/map/realm/entity/MapIdentityProviderEntity.java
  model/map/src/main/java/org/keycloak/models/map/realm/entity/MapIdentityProviderMapperEntity.java
  model/map/src/main/java/org/keycloak/models/map/realm/entity/MapRequiredActionProviderEntity.java
  model/map/src/main/java/org/keycloak/models/map/realm/entity/MapWebAuthnPolicyEntity.java
  model/map/src/test/java/org/keycloak/models/map/client/MapClientEntityClonerTest.java
  model/map/src/test/java/org/keycloak/models/map/realm/RealmEntityUndefinedValuesTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/admin/client/ClientScopeTest.java
Labels: kind/enhancement, area/storage, team/storage-sig

#10334 Replace occurrences of getParameterTypes().length and getParameters()…
  adapters/oidc/as7-eap6/as7-adapter-spi/src/main/java/org/keycloak/adapters/jbossweb/JBossWebPrincipalFactory.java
  common/src/main/java/org/keycloak/common/util/reflections/Types.java
  federation/ldap/src/main/java/org/keycloak/storage/ldap/LDAPUtils.java
  server-spi-private/src/main/java/org/keycloak/models/utils/reflection/MethodPropertyImpl.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/admin/PermissionsTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/migration/cluster/MultiVersionClusterTest.java
Labels: status/ready, area/core

#7860 KEYCLOAK-16134 Allow webauthn idless login flow
  services/src/main/java/org/keycloak/authentication/AuthenticationSelectionResolver.java
  services/src/main/java/org/keycloak/authentication/DefaultAuthenticationFlow.java
  services/src/main/java/org/keycloak/authentication/authenticators/browser/WebAuthnAuthenticator.java
  services/src/main/java/org/keycloak/authentication/authenticators/browser/WebAuthnPasswordlessAuthenticator.java
  testsuite/integration-arquillian/tests/base/src/main/java/org/keycloak/testsuite/pages/SelectAuthenticatorPage.java
  testsuite/integration-arquillian/tests/other/webauthn/src/test/java/org/keycloak/testsuite/webauthn/WebAuthnIdlessTest.java
  themes/src/main/resources/theme/base/login/login-username.ftl
  themes/src/main/resources/theme/base/login/login.ftl
  themes/src/main/resources/theme/base/login/template.ftl
Labels: kind/feature, area/docs, area/authentication/webauthn

#10830 Add merge tasks optimization to ConcurrentHashMapKeycloakTransaction.…
  model/map/src/main/java/org/keycloak/models/map/storage/chm/ConcurrentHashMapKeycloakTransaction.java
Labels: area/storage, team/storage-sig

#10753 Update db.adoc
  docs/guides/src/main/server/db.adoc
Labels: status/ready, area/docs

#10841 Revert from getParameterCount() to getParameterTypes().length to be Java 1.7 compatible
  adapters/oidc/as7-eap6/as7-adapter-spi/src/main/java/org/keycloak/adapters/jbossweb/JBossWebPrincipalFactory.java
  common/src/main/java/org/keycloak/common/util/reflections/Types.java
  federation/ldap/src/main/java/org/keycloak/storage/ldap/LDAPUtils.java
  server-spi-private/src/main/java/org/keycloak/models/utils/reflection/MethodPropertyImpl.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/admin/PermissionsTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/migration/cluster/MultiVersionClusterTest.java
Labels: status/ready, kind/bug, priority/critical, area/core

#10716 Secret references in Keycloak CRD
  operator/src/main/java/org/keycloak/operator/Constants.java
  operator/src/main/java/org/keycloak/operator/v2alpha1/KeycloakController.java
  operator/src/main/java/org/keycloak/operator/v2alpha1/KeycloakDeployment.java
  operator/src/main/java/org/keycloak/operator/v2alpha1/WatchedSecretsStore.java
  operator/src/main/java/org/keycloak/operator/v2alpha1/crds/KeycloakSpec.java
  operator/src/main/java/org/keycloak/operator/v2alpha1/crds/KeycloakStatusBuilder.java
  operator/src/main/java/org/keycloak/operator/v2alpha1/crds/KeycloakStatusCondition.java
  operator/src/main/java/org/keycloak/operator/v2alpha1/crds/ValueOrSecret.java
  operator/src/main/resources/base-keycloak-deployment.yaml
  operator/src/main/resources/example-keycloak.yml
  operator/src/test/java/org/keycloak/operator/ClusterOperatorTest.java
  operator/src/test/java/org/keycloak/operator/ClusteringE2EIT.java
  operator/src/test/java/org/keycloak/operator/KeycloakDeploymentE2EIT.java
  operator/src/test/java/org/keycloak/operator/WatchedSecretsTestE2EIT.java
  operator/src/test/java/org/keycloak/operator/utils/CRAssert.java
  operator/src/test/java/org/keycloak/operator/utils/K8sUtils.java
  operator/src/test/resources/correct-podtemplate-keycloak.yml
  operator/src/test/resources/empty-podtemplate-keycloak.yml
Labels: status/ready, kind/feature, area/operator

#10774 10772 add expiration field for root authentication session
  model/infinispan/src/main/java/org/keycloak/models/sessions/infinispan/InfinispanAuthenticationSessionProvider.java
  model/infinispan/src/main/java/org/keycloak/models/sessions/infinispan/RootAuthenticationSessionAdapter.java
  model/map-hot-rod/src/main/java/org/keycloak/models/map/storage/hotRod/authSession/HotRodRootAuthenticationSessionEntity.java
  model/map/src/main/java/org/keycloak/models/map/authSession/MapRootAuthenticationSessionAdapter.java
  model/map/src/main/java/org/keycloak/models/map/authSession/MapRootAuthenticationSessionEntity.java
  model/map/src/main/java/org/keycloak/models/map/authSession/MapRootAuthenticationSessionProvider.java
  model/map/src/main/java/org/keycloak/models/map/storage/chm/MapFieldPredicates.java
  server-spi-private/src/main/java/org/keycloak/models/utils/SessionExpiration.java
  server-spi/src/main/java/org/keycloak/sessions/RootAuthenticationSessionModel.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/actions/RequiredActionEmailVerificationTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/broker/KcOidcBrokerWithConsentTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/forms/LoginTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/forms/ResetPasswordTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/model/AuthenticationSessionProviderTest.java
  testsuite/model/src/test/java/org/keycloak/testsuite/model/session/AuthenticationSessionTest.java
Labels: area/storage, team/storage-sig

#10853 Update secret rotation when the policy is enabled using jwt
  services/src/main/java/org/keycloak/authentication/authenticators/client/JWTClientSecretAuthenticator.java
  services/src/main/java/org/keycloak/protocol/oidc/AbstractClientConfigWrapper.java
  services/src/main/java/org/keycloak/protocol/oidc/OIDCClientSecretConfigWrapper.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/oauth/ClientAuthSecretSignedJWTTest.java
Labels: team/core-features

#10881 Avoid duplicating parsing logic in ModelVersion
  testsuite/model/src/test/java/org/keycloak/testsuite/model/MigrationModelTest.java
Labels: status/ready, area/storage, team/storage-sig

#10589 Reduce logging of errors during shutdown
  services/src/main/java/org/keycloak/executors/DefaultExecutorsProviderFactory.java
  testsuite/model/src/test/java/org/keycloak/testsuite/model/KeycloakModelTest.java
  testsuite/model/src/test/java/org/keycloak/testsuite/model/infinispan/CacheExpirationTest.java
  testsuite/model/src/test/java/org/keycloak/testsuite/model/session/OfflineSessionPersistenceTest.java
  testsuite/model/src/test/java/org/keycloak/testsuite/model/session/UserSessionProviderOfflineModelTest.java
  testsuite/model/src/test/resources/log4j.properties
Labels: status/ready, kind/enhancement, area/storage, team/storage-sig

#10797 KEYCLOAK-15976 Latvian language adjustments
  themes/src/main/resources-community/theme/base/login/messages/messages_lv.properties
Labels: status/ready, area/translations

#10848 Remove extensions support from the operator CRD
  operator/src/main/java/org/keycloak/operator/Config.java
  operator/src/main/java/org/keycloak/operator/Constants.java
  operator/src/main/java/org/keycloak/operator/v2alpha1/KeycloakDeployment.java
  operator/src/main/java/org/keycloak/operator/v2alpha1/crds/KeycloakSpec.java
  operator/src/main/resources/application.properties
  operator/src/test/java/org/keycloak/operator/KeycloakDeploymentE2EIT.java
  operator/src/test/java/org/keycloak/operator/PodTemplateTest.java
Labels: area/operator

#8831 Fix typo in exception message
  services/src/main/java/org/keycloak/storage/AbstractStorageManager.java
Labels: status/ready, area/storage, team/storage-sig

#8310 KEYCLOAK-12483 Add missing Hungarian translations
  themes/src/main/resources-community/theme/base/login/messages/messages_hu.properties
Labels: status/ready, area/translations

#8454 KEYCLOAK-19313 configure the name format in Attribute Importer IdP Ma…
  services/src/main/java/org/keycloak/broker/saml/mappers/UserAttributeMapper.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/broker/KcSamlSpDescriptorTest.java
Labels: area/saml, kind/enhancement

#10928 Build JavaDoc that matches the source version specified in the project.
  distribution/api-docs-dist/pom.xml
Labels: status/ready, kind/bug, area/docs

#10781 Upgrading Hibernate in line with WildFly 26.0.1.Final to support building Keycloak with OpenJDK 17
  pom.xml
Labels: area/storage, team/storage-sig

#10895 [#10894] SAML Adapters tests start failing in recent versions of EAP/wildfly
  adapters/oidc/wildfly-elytron/src/main/java/org/keycloak/adapters/elytron/ElytronHttpFacade.java
  adapters/saml/wildfly-elytron/pom.xml
  adapters/saml/wildfly-elytron/src/main/java/org/keycloak/adapters/saml/elytron/ElytronHttpFacade.java
  distribution/feature-packs/adapter-feature-pack/src/main/resources/modules/system/add-ons/keycloak/org/keycloak/keycloak-wildfly-elytron-oidc-adapter/main/module.xml
  distribution/saml-adapters/wildfly-adapter/wildfly-modules/src/main/resources/modules/org/keycloak/keycloak-saml-wildfly-elytron-adapter/main/module.xml
Labels: area/saml, priority/critical, area/adapter/jee-saml

#10777 Automatic scan Keycloak docker image for vulnerabilities
  .github/workflows/trivy-analysis.yml
Labels: area/ci

#10808 Introduce an additional dependency scanner for Keycloak
  .github/workflows/snyk.yml
Labels: area/ci

#8569 KEYCLOAK-19532 Finnish locales
  themes/src/main/resources-community/theme/base/account/messages/messages_fi.properties
  themes/src/main/resources-community/theme/base/account/theme.properties
  themes/src/main/resources-community/theme/base/admin/messages/admin-messages_fi.properties
  themes/src/main/resources-community/theme/base/admin/messages/messages_fi.properties
  themes/src/main/resources-community/theme/base/admin/theme.properties
  themes/src/main/resources-community/theme/base/email/messages/messages_fi.properties
  themes/src/main/resources-community/theme/base/email/theme.properties
  themes/src/main/resources-community/theme/base/login/messages/messages_fi.properties
  themes/src/main/resources-community/theme/base/login/theme.properties
  themes/src/main/resources/theme/base/account/messages/messages_en.properties
  themes/src/main/resources/theme/base/login/messages/messages_en.properties
Labels: status/ready, area/translations

#11009 Support for frontchannel_logout_session_required OIDC client parameter
  core/src/main/java/org/keycloak/representations/oidc/OIDCClientRepresentation.java
  services/src/main/java/org/keycloak/protocol/oidc/FrontChannelLogoutHandler.java
  services/src/main/java/org/keycloak/protocol/oidc/OIDCAdvancedConfigWrapper.java
  services/src/main/java/org/keycloak/protocol/oidc/OIDCConfigAttributes.java
  services/src/main/java/org/keycloak/services/clientregistration/oidc/DescriptionConverter.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/client/OIDCClientRegistrationTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/oauth/RPInitiatedLogoutTest.java
  themes/src/main/resources/theme/base/admin/messages/admin-messages_en.properties
  themes/src/main/resources/theme/base/admin/resources/js/controllers/clients.js
  themes/src/main/resources/theme/base/admin/resources/partials/client-detail.html
Labels: area/oidc, team/core-features

#11020 Fix for "updatedAt" user attribute in "profile" client scope
  services/src/main/java/org/keycloak/protocol/oidc/OIDCLoginProtocolFactory.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/oidc/OIDCScopeTest.java
Labels: team/core-features
