Repository keycloak/keycloak, pull requests merged in 2022-01, with the labels that each got.

#9260 Make JpaClientMapStorage generic
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/Constants.java
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/JpaMapStorageProvider.java
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/JpaMapStorageProviderFactory.java
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/client/JpaClientMapKeycloakTransaction.java
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/client/JpaClientMapStorage.java
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/client/JpaClientMapStorageProvider.java
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/client/entity/JpaClientEntity.java
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/hibernate/jsonb/JpaEntityMigration.java
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/liquibase/connection/DefaultLiquibaseConnectionProvider.java
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/liquibase/connection/DefaultLiquibaseConnectionProviderFactory.java
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/liquibase/connection/MapLiquibaseConnectionProvider.java
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/liquibase/connection/MapLiquibaseConnectionProviderFactory.java
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/liquibase/connection/MapLiquibaseConnectionSpi.java
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/liquibase/updater/MapJpaLiquibaseUpdaterProvider.java
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/liquibase/updater/MapJpaLiquibaseUpdaterProviderFactory.java
  model/map-jpa/src/main/resources/META-INF/clients/jpa-clients-changelog-1.xml
  model/map-jpa/src/main/resources/META-INF/jpa-clients-changelog.xml
  model/map-jpa/src/main/resources/META-INF/persistence.xml
  model/map-jpa/src/main/resources/META-INF/services/org.keycloak.models.map.storage.MapStorageProviderFactory
  model/map-jpa/src/main/resources/META-INF/services/org.keycloak.models.map.storage.jpa.liquibase.connection.MapLiquibaseConnectionProviderFactory
  model/map-jpa/src/main/resources/META-INF/services/org.keycloak.models.map.storage.jpa.updater.MapJpaUpdaterProviderFactory
  model/map-jpa/src/main/resources/META-INF/services/org.keycloak.provider.Spi
  testsuite/integration-arquillian/tests/base/src/test/resources/META-INF/keycloak-server.json
  testsuite/utils/src/main/resources/META-INF/keycloak-server.json
Labels: area/storage

#8728 Allow changing the session id on login in Tomcat adapter
  adapters/oidc/tomcat/tomcat/src/main/java/org/keycloak/adapters/tomcat/KeycloakAuthenticatorValve.java
Labels: status/needs-manual-testing

#9355 Fix for KEYCLOAK-18914 - Base64 decoding
  adapters/saml/core/src/main/java/org/keycloak/adapters/saml/profile/AbstractSamlAuthenticationHandler.java
  common/src/main/java/org/keycloak/common/util/Base64.java
  common/src/main/java/org/keycloak/common/util/Base64Url.java
  common/src/test/java/org/keycloak/common/util/Base64DecodeTest.java
  saml-core-api/src/main/java/org/keycloak/dom/xmlsec/w3/xmldsig/DSAKeyValueType.java
  saml-core-api/src/main/java/org/keycloak/dom/xmlsec/w3/xmldsig/RSAKeyValueType.java
  saml-core-api/src/main/java/org/keycloak/saml/common/util/Base64.java
  saml-core/src/main/java/org/keycloak/saml/SAMLRequestParser.java
  saml-core/src/main/java/org/keycloak/saml/processing/core/saml/v2/util/SignatureUtil.java
  saml-core/src/main/java/org/keycloak/saml/processing/core/util/XMLSignatureUtil.java
  saml-core/src/main/java/org/keycloak/saml/processing/web/util/PostBindingUtil.java
  saml-core/src/main/java/org/keycloak/saml/processing/web/util/RedirectBindingUtil.java
Labels: kind/bug, area/core, good first issue, migrated-from-jira

#9470 Validation for CIBA binding_message parameter
  core/src/main/java/org/keycloak/OAuthErrorException.java
  services/src/main/java/org/keycloak/protocol/oidc/grants/ciba/endpoints/BackchannelAuthenticationEndpoint.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/client/CIBATest.java
Labels: area/oidc, kind/enhancement

#9474 Fixes #9473 - change config ordinals
  distribution/server-x-dist/assembly.xml
  distribution/server-x-dist/src/main/content/conf/keycloak.properties
  quarkus/runtime/src/main/java/org/keycloak/quarkus/runtime/Environment.java
  quarkus/runtime/src/main/java/org/keycloak/quarkus/runtime/cli/command/ShowConfig.java
  quarkus/runtime/src/main/java/org/keycloak/quarkus/runtime/configuration/ConfigArgsConfigSource.java
  quarkus/runtime/src/main/java/org/keycloak/quarkus/runtime/configuration/KcEnvConfigSource.java
  quarkus/runtime/src/main/java/org/keycloak/quarkus/runtime/configuration/KeycloakPropertiesConfigSource.java
  quarkus/runtime/src/main/java/org/keycloak/quarkus/runtime/configuration/MicroProfileConfigProvider.java
  quarkus/runtime/src/main/java/org/keycloak/quarkus/runtime/configuration/PersistedConfigSource.java
  quarkus/runtime/src/main/java/org/keycloak/quarkus/runtime/configuration/SysPropConfigSource.java
  quarkus/runtime/src/main/resources/META-INF/keycloak.properties
Labels: keycloak.x

#9381 Baseline for the new Keycloak operator
  .github/workflows/operator-ci.yml
  operator/README.md
  operator/kubernetes/deployments-role.yaml
  operator/kustomization.yaml
  operator/pom.xml
  operator/src/main/java/org/keycloak/operator/Constants.java
  operator/src/main/java/org/keycloak/operator/v2alpha1/KeycloakController.java
  operator/src/main/java/org/keycloak/operator/v2alpha1/KeycloakDeployment.java
  operator/src/main/java/org/keycloak/operator/v2alpha1/crds/Keycloak.java
  operator/src/main/java/org/keycloak/operator/v2alpha1/crds/KeycloakSpec.java
  operator/src/main/java/org/keycloak/operator/v2alpha1/crds/KeycloakStatus.java
  operator/src/main/resources/application.properties
  operator/src/main/resources/base-deployment.yaml
  operator/src/main/resources/example-keycloak.yml
  pom.xml
Labels: kind/feature, keycloak.x, area/operator

#9489 Fix TimeUnit function and TimeUnit2 function
  themes/src/main/resources/theme/base/admin/resources/js/services.js
Labels: kind/bug, area/admin/ui

#8426 KEYCLOAK-19289 check if values to set is not null
  model/jpa/src/main/java/org/keycloak/models/jpa/UserAdapter.java
Labels: kind/bug

#9351 Allow JS adapter to be bundled as ES module
  adapters/oidc/js/.gitignore
  adapters/oidc/js/package-lock.json
  adapters/oidc/js/package.json
  adapters/oidc/js/pom.xml
  adapters/oidc/js/rollup.config.ts
  adapters/oidc/js/src/main/js/keycloak-authz.js
  adapters/oidc/js/src/main/js/keycloak.js
  adapters/oidc/js/src/main/resources/keycloak-authz.js
  adapters/oidc/js/src/main/resources/keycloak.js
  adapters/oidc/js/tsconfig.json
  distribution/adapters/js-adapter-npm-zip/assembly.xml
  distribution/adapters/js-adapter-npm-zip/pom.xml
  distribution/adapters/js-adapter-npm-zip/src/main/resources/package.json
  distribution/adapters/js-adapter-zip/assembly.xml
  distribution/adapters/js-adapter-zip/pom.xml
  pom.xml
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/theme/ThemeResourceProviderTest.java
  themes/pom.xml
Labels: kind/feature, area/adapter/javascript

#9481 Set order of LiquibaseDBLockProviderFactory to 1
  model/jpa/src/main/java/org/keycloak/connections/jpa/updater/liquibase/lock/LiquibaseDBLockProviderFactory.java
Labels: area/storage

#9538 Backward compatibility for lower-case bearer type in token responses
  services/src/main/java/org/keycloak/protocol/oidc/OIDCAdvancedConfigWrapper.java
  services/src/main/java/org/keycloak/protocol/oidc/OIDCConfigAttributes.java
  services/src/main/java/org/keycloak/protocol/oidc/TokenManager.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/oauth/AccessTokenTest.java
  themes/src/main/resources/theme/base/admin/messages/admin-messages_en.properties
  themes/src/main/resources/theme/base/admin/resources/js/controllers/clients.js
  themes/src/main/resources/theme/base/admin/resources/partials/client-detail.html
Labels: area/oidc, kind/enhancement

#8465 KEYCLOAK-19148 correct getGroupsCountByNameContaining of MapGroupProv…
  model/map/src/main/java/org/keycloak/models/map/group/MapGroupProvider.java
  server-spi/src/main/java/org/keycloak/models/GroupProvider.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/admin/group/GroupTest.java
Labels: missing/tests, kind/bug, area/storage

#9588 MapRoleProvider could return also client roles when searching for rea…
  model/map/src/main/java/org/keycloak/models/map/role/MapRoleProvider.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/admin/realm/RealmRolesTest.java
Labels: area/storage, team/storage-sig

#9546 JPA-Map storage might loose writes due to missing locking mechanism
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/client/entity/JpaClientEntity.java
  model/map-jpa/src/main/resources/META-INF/clients/jpa-clients-changelog-1.xml
Labels: area/storage, team/storage-sig

#9566 Closes #9562: Add DB index for UserEntity getRealmUserByServiceAccount
  model/jpa/src/main/resources/META-INF/jpa-changelog-17.0.0.xml
  model/jpa/src/main/resources/META-INF/jpa-changelog-master.xml
Labels: kind/enhancement, area/storage

#9652 Limit time for running model tests
  testsuite/model/test-all-profiles.sh
Labels: kind/bug, area/storage, team/storage-sig

#9656 Fix migration test
  services/src/main/java/org/keycloak/authentication/AuthenticatorUtil.java
  services/src/main/java/org/keycloak/protocol/oidc/TokenManager.java
Labels: kind/bug

#9161 KEYCLOAK-19571 Add indices to HotRodClientEntity fields
  model/map-hot-rod/src/main/java/org/keycloak/models/map/storage/hotRod/HotRodMapStorage.java
  model/map-hot-rod/src/main/java/org/keycloak/models/map/storage/hotRod/IckleQueryMapModelCriteriaBuilder.java
  model/map-hot-rod/src/main/java/org/keycloak/models/map/storage/hotRod/IckleQueryOperators.java
  model/map-hot-rod/src/main/java/org/keycloak/models/map/storage/hotRod/IckleQueryWhereClauses.java
  model/map-hot-rod/src/main/java/org/keycloak/models/map/storage/hotRod/client/HotRodClientEntity.java
  model/map-hot-rod/src/main/java/org/keycloak/models/map/storage/hotRod/common/HotRodAttributeEntity.java
  model/map-hot-rod/src/main/java/org/keycloak/models/map/storage/hotRod/common/HotRodAttributeEntityNonIndexed.java
  model/map-hot-rod/src/main/java/org/keycloak/models/map/storage/hotRod/common/HotRodTypesUtils.java
  model/map-hot-rod/src/main/java/org/keycloak/models/map/storage/hotRod/common/ProtoSchemaInitializer.java
  model/map-hot-rod/src/main/java/org/keycloak/models/map/storage/hotRod/connections/DefaultHotRodConnectionProviderFactory.java
  model/map-hot-rod/src/main/java/org/keycloak/models/map/storage/hotRod/group/HotRodGroupEntity.java
  model/map-hot-rod/src/main/resources/config/cacheConfig.xml
  model/map-hot-rod/src/main/resources/config/infinispan.xml
  model/map/src/main/java/org/keycloak/models/map/group/MapGroupProvider.java
  testsuite/integration-arquillian/tests/base/src/test/resources/META-INF/keycloak-server.json
  testsuite/model/src/main/resources/hotrod/infinispan.xml
  testsuite/model/src/test/java/org/keycloak/testsuite/model/ClientModelTest.java
Labels: area/storage, team/storage-sig

#9419 Closes #9418: Admin UI: sort the realm localization texts alphabetically
  themes/src/main/resources/theme/base/admin/resources/js/controllers/realm.js
  themes/src/main/resources/theme/base/admin/resources/partials/realm-localization.html
Labels: kind/enhancement, area/admin/ui

#9659 Convert MapClientScopeEntity to interface
  model/map/src/main/java/org/keycloak/models/map/client/MapClientAdapter.java
  model/map/src/main/java/org/keycloak/models/map/client/MapProtocolMapperUtils.java
  model/map/src/main/java/org/keycloak/models/map/clientscope/MapClientScopeAdapter.java
  model/map/src/main/java/org/keycloak/models/map/clientscope/MapClientScopeEntity.java
  model/map/src/main/java/org/keycloak/models/map/clientscope/MapClientScopeProvider.java
  model/map/src/main/java/org/keycloak/models/map/storage/chm/ConcurrentHashMapStorageProviderFactory.java
  server-spi-private/src/main/java/org/keycloak/migration/migrators/MigrationUtils.java
Labels: status/ready, kind/enhancement, area/storage, team/storage-sig

#9635 Adding missing database constraints for clients in JPA map storage
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/client/entity/JpaClientEntity.java
  model/map-jpa/src/main/resources/META-INF/clients/jpa-clients-changelog-1.xml
  model/map/src/main/java/org/keycloak/models/map/client/MapClientProvider.java
Labels: kind/bug, area/storage, keycloak.x, team/storage-sig

#9628 Baseline for Keycloak deployment in operator
  operator/src/main/java/org/keycloak/operator/Config.java
  operator/src/main/java/org/keycloak/operator/Constants.java
  operator/src/main/java/org/keycloak/operator/OperatorManagedResource.java
  operator/src/main/java/org/keycloak/operator/v2alpha1/KeycloakController.java
  operator/src/main/java/org/keycloak/operator/v2alpha1/KeycloakDeployment.java
  operator/src/main/java/org/keycloak/operator/v2alpha1/crds/KeycloakSpec.java
  operator/src/main/java/org/keycloak/operator/v2alpha1/crds/KeycloakStatus.java
  operator/src/main/java/org/keycloak/operator/v2alpha1/crds/KeycloakStatusBuilder.java
  operator/src/main/java/org/keycloak/operator/v2alpha1/crds/KeycloakStatusCondition.java
  operator/src/main/resources/application.properties
  operator/src/main/resources/base-keycloak-deployment.yaml
  operator/src/main/resources/example-keycloak.yml
  operator/src/main/resources/example-postgres.yaml
Labels: kind/feature, keycloak.x, area/operator

#9744 Added warning when map storage contains multi-valued attributes
  model/map/src/main/java/org/keycloak/models/map/client/MapClientAdapter.java
  model/map/src/main/java/org/keycloak/models/map/clientscope/MapClientScopeAdapter.java
  model/map/src/main/java/org/keycloak/models/map/realm/MapRealmAdapter.java
Labels: area/storage, keycloak.x, team/storage-sig

#9604 Features guide
  common/src/main/java/org/keycloak/common/Profile.java
  docs/guides/src/main/server/features.adoc
  docs/maven-plugin/pom.xml
  docs/maven-plugin/src/main/java/org/keycloak/guides/maven/Context.java
  docs/maven-plugin/src/main/java/org/keycloak/guides/maven/Features.java
Labels: status/hold

#9801 Improve enabling/disabling features in Quarkus distribution
  docs/guides/src/main/server/features.adoc
  quarkus/deployment/src/main/java/org/keycloak/quarkus/deployment/KeycloakProcessor.java
  quarkus/runtime/src/main/java/org/keycloak/quarkus/runtime/KeycloakRecorder.java
  quarkus/runtime/src/main/java/org/keycloak/quarkus/runtime/QuarkusProfile.java
  quarkus/runtime/src/main/java/org/keycloak/quarkus/runtime/cli/Picocli.java
  quarkus/runtime/src/main/java/org/keycloak/quarkus/runtime/cli/PropertyMapperParameterConsumer.java
  quarkus/runtime/src/main/java/org/keycloak/quarkus/runtime/cli/command/Build.java
  quarkus/runtime/src/main/java/org/keycloak/quarkus/runtime/configuration/mappers/FeaturePropertyMappers.java
  quarkus/runtime/src/main/java/org/keycloak/quarkus/runtime/configuration/mappers/PropertyMappers.java
  quarkus/tests/integration/src/test/java/org/keycloak/it/cli/dist/EnableFeatureDistTest.java
  quarkus/tests/integration/src/test/java/org/keycloak/it/cli/dist/FeaturesDistTest.java
  quarkus/tests/integration/src/test/resources/org/keycloak/it/cli/approvals/cli/help/HelpCommandTest.testBuildHelp.approved.txt
  quarkus/tests/integration/src/test/resources/org/keycloak/it/cli/approvals/cli/help/HelpCommandTest.testStartDevHelpAll.approved.txt
Labels: area/dist/quarkus

#9808 Mapped Quarkus properties should not be persisted
  quarkus/deployment/src/main/java/org/keycloak/quarkus/deployment/KeycloakProcessor.java
  quarkus/runtime/src/main/java/org/keycloak/quarkus/runtime/cli/Picocli.java
  quarkus/tests/integration/src/test/java/org/keycloak/it/cli/dist/StartAutoBuildDistTest.java
Labels: area/dist/quarkus

#9762 Hostname Guide V1
  docs/guides/src/main/server/hostname.adoc
  docs/guides/src/main/templates/kc.adoc
Labels: area/dist/quarkus

#9772 Vault Guide v1
  docs/guides/src/main/server/vault.adoc
Labels: area/dist/quarkus

#9646 Run from Container guide V1
  docs/guides/src/main/server/containers.adoc
  docs/guides/src/main/server/enabletls.adoc
  docs/guides/src/main/server/reverseproxy.adoc
Labels: area/dist/quarkus

#9840 Adding workaround for deadlock in tests for Infinispan 12.1.7
  model/infinispan/src/main/java/org/keycloak/cluster/infinispan/InfinispanClusterProviderFactory.java
  model/infinispan/src/main/java/org/keycloak/cluster/infinispan/InfinispanNotificationsManager.java
  model/infinispan/src/main/java/org/keycloak/connections/infinispan/DefaultInfinispanConnectionProviderFactory.java
Labels: kind/bug, area/storage, team/storage-sig

#9542 missing message entry added
  themes/src/main/resources-community/theme/base/login/messages/messages_de.properties
Labels: status/ready, area/translations

#9868 Stabilizing Model tests for Infinispan 12.1.7
  testsuite/model/src/test/java/org/keycloak/testsuite/model/KeycloakModelTest.java
  testsuite/model/src/test/java/org/keycloak/testsuite/model/infinispan/CacheExpirationTest.java
Labels: area/storage, team/storage-sig

#9761 Added ModelIllegalStateException to handle lazy loading exception.
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/JpaDelegateProvider.java
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/JpaRootEntity.java
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/client/JpaClientMapKeycloakTransaction.java
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/client/delegate/JpaClientDelegateProvider.java
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/client/entity/JpaClientEntity.java
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/role/JpaRoleMapKeycloakTransaction.java
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/role/delegate/JpaRoleDelegateProvider.java
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/role/entity/JpaRoleEntity.java
  server-spi-private/src/main/java/org/keycloak/models/delegate/ClientModelLazyDelegate.java
  server-spi-private/src/main/java/org/keycloak/models/utils/ModelToRepresentation.java
  server-spi/src/main/java/org/keycloak/models/ModelIllegalStateException.java
  services/src/main/java/org/keycloak/exportimport/util/ExportUtils.java
  services/src/main/java/org/keycloak/services/managers/ResourceAdminManager.java
  services/src/main/java/org/keycloak/services/resources/admin/ClientsResource.java
Labels: kind/bug, area/storage, keycloak.x, team/storage-sig

#9846 Convert authz entities into interfaces
  model/build-processor/src/main/java/org/keycloak/models/map/processor/AbstractGenerateEntityImplementationsProcessor.java
  model/map/src/main/java/org/keycloak/models/map/authorization/MapPermissionTicketStore.java
  model/map/src/main/java/org/keycloak/models/map/authorization/MapPolicyStore.java
  model/map/src/main/java/org/keycloak/models/map/authorization/MapResourceServerStore.java
  model/map/src/main/java/org/keycloak/models/map/authorization/MapResourceStore.java
  model/map/src/main/java/org/keycloak/models/map/authorization/MapScopeStore.java
  model/map/src/main/java/org/keycloak/models/map/authorization/adapter/MapPolicyAdapter.java
  model/map/src/main/java/org/keycloak/models/map/authorization/adapter/MapResourceAdapter.java
  model/map/src/main/java/org/keycloak/models/map/authorization/adapter/MapResourceServerAdapter.java
  model/map/src/main/java/org/keycloak/models/map/authorization/entity/MapPermissionTicketEntity.java
  model/map/src/main/java/org/keycloak/models/map/authorization/entity/MapPolicyEntity.java
  model/map/src/main/java/org/keycloak/models/map/authorization/entity/MapResourceEntity.java
  model/map/src/main/java/org/keycloak/models/map/authorization/entity/MapResourceServerEntity.java
  model/map/src/main/java/org/keycloak/models/map/authorization/entity/MapScopeEntity.java
  model/map/src/main/java/org/keycloak/models/map/storage/chm/ConcurrentHashMapStorageProviderFactory.java
  model/map/src/main/java/org/keycloak/models/map/storage/chm/MapFieldPredicates.java
Labels: kind/enhancement, area/storage, team/storage-sig

#9879 Quarkus update to 2.7.0.Final
  pom.xml
  quarkus/deployment/pom.xml
  quarkus/pom.xml
  quarkus/runtime/pom.xml
  quarkus/runtime/src/main/java/org/keycloak/quarkus/runtime/vault/QuarkusVaultProvider.java
  quarkus/runtime/src/main/resources/META-INF/services/quarkus.properties
  quarkus/tests/integration/src/main/java/org/keycloak/it/utils/RawKeycloakDistribution.java
  testsuite/integration-arquillian/servers/auth-server/quarkus/src/main/content/conf/quarkus.properties
Labels: area/dist/quarkus

#9851 Verify the WebAuthn functionality and settings for authentication
  services/src/main/java/org/keycloak/WebAuthnConstants.java
  services/src/main/java/org/keycloak/authentication/authenticators/browser/WebAuthnAuthenticator.java
  services/src/main/java/org/keycloak/authentication/requiredactions/WebAuthnRegister.java
  testsuite/integration-arquillian/tests/other/webauthn/src/main/java/org/keycloak/testsuite/webauthn/authenticators/DefaultVirtualAuthOptions.java
  testsuite/integration-arquillian/tests/other/webauthn/src/main/java/org/keycloak/testsuite/webauthn/authenticators/VirtualAuthenticatorManager.java
  testsuite/integration-arquillian/tests/other/webauthn/src/main/java/org/keycloak/testsuite/webauthn/pages/WebAuthnRegisterPage.java
  testsuite/integration-arquillian/tests/other/webauthn/src/main/java/org/keycloak/testsuite/webauthn/utils/PropertyRequirement.java
  testsuite/integration-arquillian/tests/other/webauthn/src/test/java/org/keycloak/testsuite/webauthn/AbstractWebAuthnVirtualTest.java
  testsuite/integration-arquillian/tests/other/webauthn/src/test/java/org/keycloak/testsuite/webauthn/VirtualAuthenticatorsManagerTest.java
  testsuite/integration-arquillian/tests/other/webauthn/src/test/java/org/keycloak/testsuite/webauthn/WebAuthnPropertyTest.java
  testsuite/integration-arquillian/tests/other/webauthn/src/test/java/org/keycloak/testsuite/webauthn/WebAuthnRegisterAndLoginTest.java
  testsuite/integration-arquillian/tests/other/webauthn/src/test/java/org/keycloak/testsuite/webauthn/account/WebAuthnSigningInTest.java
  testsuite/integration-arquillian/tests/other/webauthn/src/test/java/org/keycloak/testsuite/webauthn/admin/AbstractWebAuthnPolicySettingsTest.java
  testsuite/integration-arquillian/tests/other/webauthn/src/test/java/org/keycloak/testsuite/webauthn/admin/WebAuthnPolicyPasswordlessSettingsTest.java
  testsuite/integration-arquillian/tests/other/webauthn/src/test/java/org/keycloak/testsuite/webauthn/registration/AbstractWebAuthnRegisterTest.java
  testsuite/integration-arquillian/tests/other/webauthn/src/test/java/org/keycloak/testsuite/webauthn/registration/AttestationConveyanceRegisterTest.java
  testsuite/integration-arquillian/tests/other/webauthn/src/test/java/org/keycloak/testsuite/webauthn/registration/AuthAttachmentRegisterTest.java
  testsuite/integration-arquillian/tests/other/webauthn/src/test/java/org/keycloak/testsuite/webauthn/registration/PubKeySignRegisterTest.java
  testsuite/integration-arquillian/tests/other/webauthn/src/test/java/org/keycloak/testsuite/webauthn/registration/ResidentKeyRegisterTest.java
  testsuite/integration-arquillian/tests/other/webauthn/src/test/java/org/keycloak/testsuite/webauthn/registration/UserVerificationRegisterTest.java
  testsuite/integration-arquillian/tests/other/webauthn/src/test/java/org/keycloak/testsuite/webauthn/registration/WebAuthnOtherSettingsTest.java
Labels: area/testsuite, area/authentication/webauthn
