Repository keycloak/keycloak, pull requests merged in 2022-02, with the labels that each got.

#9839 Update default distribution to Quarkus
  distribution/downloads/src/main/resources/files
  distribution/pom.xml
  distribution/server-dist/pom.xml
  pom.xml
  quarkus/container/.gitignore
  quarkus/container/Dockerfile
  quarkus/dist/assembly.xml
  quarkus/dist/pom.xml
  quarkus/dist/src/main/README.md
  quarkus/dist/src/main/content/bin/kc.bat
  quarkus/dist/src/main/content/bin/kc.sh
  quarkus/dist/src/main/content/conf/README.md
  quarkus/dist/src/main/content/conf/keycloak.conf
  quarkus/dist/src/main/content/providers/README.md
  quarkus/dist/src/main/content/themes/README.md
  quarkus/dist/src/main/version.txt
  quarkus/pom.xml
  quarkus/tests/integration/pom.xml
  quarkus/tests/integration/src/main/java/org/keycloak/it/utils/DockerKeycloakDistribution.java
  quarkus/tests/integration/src/main/java/org/keycloak/it/utils/RawKeycloakDistribution.java
  set-version.sh
  testsuite/integration-arquillian/servers/auth-server/quarkus/pom.xml
Labels: priority/critical

#9900 Extend and fix tests for Resident Keys for WebAuthn
  testsuite/integration-arquillian/tests/other/webauthn/src/test/java/org/keycloak/testsuite/webauthn/AbstractWebAuthnVirtualTest.java
  testsuite/integration-arquillian/tests/other/webauthn/src/test/java/org/keycloak/testsuite/webauthn/registration/ResidentKeyRegisterTest.java
  testsuite/integration-arquillian/tests/other/webauthn/src/test/resources/webauthn/testrealm-webauthn.json
Labels: area/testsuite, area/authentication/webauthn

#9897 Test scenarios for verifying of JS injection for WebAuthn Policy
  testsuite/integration-arquillian/tests/other/webauthn/src/test/java/org/keycloak/testsuite/webauthn/registration/PolicyJsInjectionTest.java
  testsuite/integration-arquillian/tests/other/webauthn/src/test/java/org/keycloak/testsuite/webauthn/registration/passwordless/PwdLessPolicyJsInjectionTest.java
Labels: area/testsuite, area/authentication/webauthn

#9894 Ensure that parent's version ID is incremented when an attribute changes
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/JpaChildEntity.java
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/JpaChildEntityListener.java
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/JpaMapStorageProviderFactory.java
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/client/entity/JpaClientAttributeEntity.java
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/client/entity/JpaClientEntity.java
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/role/entity/JpaRoleAttributeEntity.java
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/role/entity/JpaRoleEntity.java
Labels: area/storage, keycloak.x, team/storage-sig

#9914 Complete support for Passwordless tests
  testsuite/integration-arquillian/tests/other/webauthn/src/main/java/org/keycloak/testsuite/webauthn/utils/WebAuthnRealmData.java
  testsuite/integration-arquillian/tests/other/webauthn/src/test/java/org/keycloak/testsuite/webauthn/admin/AbstractWebAuthnPolicySettingsTest.java
  testsuite/integration-arquillian/tests/other/webauthn/src/test/java/org/keycloak/testsuite/webauthn/admin/PwdLessPolicySettingsTest.java
  testsuite/integration-arquillian/tests/other/webauthn/src/test/java/org/keycloak/testsuite/webauthn/admin/WebAuthnPolicyPasswordlessSettingsTest.java
  testsuite/integration-arquillian/tests/other/webauthn/src/test/java/org/keycloak/testsuite/webauthn/admin/WebAuthnPolicySettingsTest.java
  testsuite/integration-arquillian/tests/other/webauthn/src/test/java/org/keycloak/testsuite/webauthn/passwordless/AppInitiatedActionPwdLessTest.java
  testsuite/integration-arquillian/tests/other/webauthn/src/test/java/org/keycloak/testsuite/webauthn/passwordless/WebAuthnPwdLessPropertyTest.java
Labels: area/testsuite, area/authentication/webauthn

#9559 Review Configuring a Database guide
  docs/guides/src/main/server/db.adoc
  quarkus/runtime/src/main/java/org/keycloak/quarkus/runtime/storage/database/Database.java
  quarkus/tests/integration/src/test/java/org/keycloak/it/cli/OptionValidationTest.java
  quarkus/tests/integration/src/test/java/org/keycloak/it/cli/dist/OptionValidationDistTest.java
  quarkus/tests/integration/src/test/resources/org/keycloak/it/cli/approvals/cli/help/HelpCommandTest.testBuildHelp.approved.txt
  quarkus/tests/integration/src/test/resources/org/keycloak/it/cli/approvals/cli/help/HelpCommandTest.testStartDevHelpAll.approved.txt
Labels: area/dist/quarkus

#9478 Configuration guide
  docs/guides/src/main/server/configuration_overview.adoc
  docs/guides/src/main/templates/kc.adoc
Labels: area/dist/quarkus

#9943 Client Scopes: Ensure that parent's version ID is incremented when an…
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/JpaChildEntity.java
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/client/entity/JpaClientAttributeEntity.java
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/clientscope/entity/JpaClientScopeAttributeEntity.java
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/clientscope/entity/JpaClientScopeEntity.java
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/role/entity/JpaRoleAttributeEntity.java
Labels: kind/bug, area/storage, keycloak.x, team/storage-sig

#9944 Client Scopes: Added ModelIllegalStateException to handle lazy loadin…
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/clientscope/delegate/JpaClientScopeDelegateProvider.java
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/clientscope/entity/JpaClientScopeEntity.java
Labels: kind/bug, area/storage, keycloak.x, team/storage-sig

#9926 Initial logging support
  quarkus/dist/src/main/content/bin/kc.bat
  quarkus/dist/src/main/content/bin/kc.sh
  quarkus/runtime/src/main/java/org/keycloak/quarkus/runtime/Messages.java
  quarkus/runtime/src/main/java/org/keycloak/quarkus/runtime/configuration/MicroProfileConfigProvider.java
  quarkus/runtime/src/main/java/org/keycloak/quarkus/runtime/configuration/mappers/ConfigCategory.java
  quarkus/runtime/src/main/java/org/keycloak/quarkus/runtime/configuration/mappers/LoggingPropertyMappers.java
  quarkus/runtime/src/main/java/org/keycloak/quarkus/runtime/configuration/mappers/PropertyMappers.java
  quarkus/runtime/src/main/resources/META-INF/services/quarkus.properties
  quarkus/tests/integration/src/test/java/org/keycloak/it/cli/dist/LoggingDistTest.java
  quarkus/tests/integration/src/test/java/org/keycloak/it/cli/dist/QuarkusPropertiesAutoBuildDistTest.java
  quarkus/tests/integration/src/test/java/org/keycloak/it/cli/dist/QuarkusPropertiesDistTest.java
  quarkus/tests/integration/src/test/resources/org/keycloak/it/cli/approvals/cli/help/HelpCommandTest.testStartDevHelp.approved.txt
  quarkus/tests/integration/src/test/resources/org/keycloak/it/cli/approvals/cli/help/HelpCommandTest.testStartDevHelpAll.approved.txt
  quarkus/tests/integration/src/test/resources/org/keycloak/it/cli/approvals/cli/help/HelpCommandTest.testStartHelp.approved.txt
Labels: missing/tests

#9414 Cross-site validation for lazy loading of offline sessions & Switch d…
  model/infinispan/src/main/java/org/keycloak/models/sessions/infinispan/InfinispanUserSessionProvider.java
  model/infinispan/src/main/java/org/keycloak/models/sessions/infinispan/InfinispanUserSessionProviderFactory.java
  model/jpa/src/main/java/org/keycloak/models/jpa/session/JpaUserSessionPersisterProvider.java
  model/jpa/src/main/java/org/keycloak/models/jpa/session/PersistentClientSessionEntity.java
  model/jpa/src/main/java/org/keycloak/models/jpa/session/PersistentUserSessionEntity.java
  services/src/main/java/org/keycloak/protocol/oidc/endpoints/LogoutEndpoint.java
  testsuite/integration-arquillian/servers/auth-server/jboss/common/ant/configure.xml
  testsuite/integration-arquillian/servers/auth-server/jboss/common/jboss-cli/cross-dc-setup.cli
  testsuite/integration-arquillian/servers/auth-server/jboss/pom.xml
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/crossdc/SessionsPreloadCrossDCTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/federation/storage/ClientStorageTest.java
  testsuite/integration-arquillian/tests/base/src/test/resources/arquillian.xml
  testsuite/model/pom.xml
  testsuite/model/src/test/java/org/keycloak/testsuite/model/session/UserSessionProviderOfflineModelTest.java
Labels: priority/important, area/storage, area/infinispan

#10007 Unify guide titles and update pinned-guides
  docs/guides/src/main/server/caching.adoc
  docs/guides/src/main/server/configuration-production.adoc
  docs/guides/src/main/server/configuration.adoc
  docs/guides/src/main/server/hostname.adoc
  docs/guides/src/main/server/outgoinghttp.adoc
  docs/guides/src/main/server/pinned-guides
  docs/guides/src/main/server/reverseproxy.adoc
  docs/guides/src/main/server/vault.adoc
Labels: area/dist/quarkus

#9977 Store information about transport media of WebAuthn authenticator
  server-spi/src/main/java/org/keycloak/models/credential/WebAuthnCredentialModel.java
  server-spi/src/main/java/org/keycloak/models/credential/dto/WebAuthnCredentialData.java
  services/src/main/java/org/keycloak/WebAuthnConstants.java
  services/src/main/java/org/keycloak/authentication/requiredactions/WebAuthnRegister.java
  services/src/main/java/org/keycloak/credential/WebAuthnCredentialModelInput.java
  services/src/main/java/org/keycloak/credential/WebAuthnCredentialProvider.java
  services/src/main/java/org/keycloak/forms/login/freemarker/model/WebAuthnAuthenticatorsBean.java
  testsuite/integration-arquillian/tests/other/webauthn/src/main/java/org/keycloak/testsuite/webauthn/pages/WebAuthnAuthenticatorsList.java
  testsuite/integration-arquillian/tests/other/webauthn/src/test/java/org/keycloak/testsuite/webauthn/WebAuthnTransportsTest.java
  testsuite/integration-arquillian/tests/other/webauthn/src/test/java/org/keycloak/testsuite/webauthn/account/AbstractWebAuthnAccountTest.java
  testsuite/integration-arquillian/tests/other/webauthn/src/test/java/org/keycloak/testsuite/webauthn/account/WebAuthnSigningInTest.java
  testsuite/integration-arquillian/tests/other/webauthn/src/test/java/org/keycloak/testsuite/webauthn/account/WebAuthnTransportLocaleTest.java
  themes/src/main/resources-community/theme/base/login/messages/messages_cs.properties
  themes/src/main/resources/theme/base/login/messages/messages_en.properties
  themes/src/main/resources/theme/base/login/select-authenticator.ftl
  themes/src/main/resources/theme/base/login/webauthn-authenticate.ftl
  themes/src/main/resources/theme/base/login/webauthn-register.ftl
  themes/src/main/resources/theme/keycloak/login/resources/css/login.css
  themes/src/main/resources/theme/keycloak/login/theme.properties
Labels: area/authentication/webauthn

#7920 KEYCLOAK-17690 Add missing test case for user email update
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/admin/UserTest.java
Labels: area/testsuite

#9933 WebAuthnSigningInTest failures in pipeline
  testsuite/integration-arquillian/tests/other/webauthn/src/test/java/org/keycloak/testsuite/webauthn/account/AbstractWebAuthnAccountTest.java
Labels: area/testsuite, area/authentication/webauthn

#9786 Update the entityVersion also for downgrades
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/JpaMapStorageProviderFactory.java
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/JpaRootEntity.java
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/client/entity/JpaClientEntity.java
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/clientscope/entity/JpaClientScopeEntity.java
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/hibernate/listeners/JpaEntityVersionListener.java
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/hibernate/listeners/JpaOptimisticLockingListener.java
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/role/entity/JpaRoleEntity.java
Labels: area/storage, keycloak.x, team/storage-sig

#10028 Not possible to register webauthn key on Firefox
  services/src/main/java/org/keycloak/credential/WebAuthnCredentialModelInput.java
  themes/src/main/resources/theme/base/login/webauthn-register.ftl
Labels: priority/critical, area/authentication/webauthn

#9995 Rework escaping of special characters in message properties for account console
  services/src/main/java/org/keycloak/services/resources/account/AccountConsole.java
  themes/src/main/resources/theme/keycloak.v2/account/index.ftl
  themes/src/main/resources/theme/keycloak.v2/account/src/app/widgets/Msg.tsx
Labels: kind/bug, area/account/ui

#9893 Update Portuguese (Brazil) translations #9892
  themes/src/main/resources-community/theme/base/login/messages/messages_pt_BR.properties
Labels: kind/bug, area/translations

#10061 Update generics in JPA Map storage to avoid casting and compiler warnings
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/JpaModelCriteriaBuilder.java
  model/map/src/main/java/org/keycloak/models/map/storage/ModelCriteriaBuilder.java
Labels: area/storage, keycloak.x, team/storage-sig

#9789 Unify package files for JS adapter
  adapters/oidc/js/.gitignore
  adapters/oidc/js/dist/keycloak-authz.d.ts
  adapters/oidc/js/dist/keycloak.d.ts
  adapters/oidc/js/package-lock.json
  adapters/oidc/js/package.json
  adapters/oidc/js/pom.xml
  adapters/oidc/js/rollup.config.ts
  adapters/oidc/js/src/keycloak-authz.js
  adapters/oidc/js/src/keycloak.js
  adapters/oidc/js/static/3p-cookies-step1.html
  adapters/oidc/js/static/3p-cookies-step2.html
  adapters/oidc/js/static/login-status-iframe.html
  distribution/adapters/js-adapter-npm-zip/assembly.xml
  distribution/adapters/js-adapter-npm-zip/src/main/resources/package.json
  pom.xml
  themes/src/main/resources/theme/keycloak.v2/account/src/app/keycloak-service/keycloak.service.ts
  themes/src/main/resources/theme/keycloak.v2/account/src/tsconfig.json
Labels: kind/enhancement, area/adapter/javascript

#10072 Create common parent for Jpa*AttributeEntity
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/JpaAttributeEntity.java
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/client/entity/JpaClientAttributeEntity.java
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/client/entity/JpaClientEntity.java
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/clientscope/entity/JpaClientScopeAttributeEntity.java
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/clientscope/entity/JpaClientScopeEntity.java
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/role/entity/JpaRoleAttributeEntity.java
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/role/entity/JpaRoleEntity.java
  model/map-jpa/src/main/resources/META-INF/client-scopes/jpa-client-scopes-changelog-1.xml
  model/map-jpa/src/main/resources/META-INF/clients/jpa-clients-changelog-1.xml
  model/map-jpa/src/main/resources/META-INF/roles/jpa-roles-changelog-1.xml
Labels: kind/enhancement, area/storage, team/storage-sig

#10049 Logging guide v1
  docs/guides/src/main/server/containers.adoc
  docs/guides/src/main/server/logging.adoc
  quarkus/runtime/src/main/resources/META-INF/services/quarkus.properties
  quarkus/runtime/src/test/resources/META-INF/services/quarkus.properties
  testsuite/integration-arquillian/servers/auth-server/quarkus/src/main/content/conf/quarkus.properties
Labels: area/dist/quarkus

#10069 JPA delegates can throw NoResultException when entity doesn't have an…
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/client/delegate/JpaClientDelegateProvider.java
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/clientscope/delegate/JpaClientScopeDelegateProvider.java
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/role/delegate/JpaRoleDelegateProvider.java
Labels: kind/bug, area/storage, keycloak.x, team/storage-sig

#10038 Handling JPA Map storage case when parent has been deleted
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/hibernate/listeners/JpaOptimisticLockingListener.java
Labels: status/ready, kind/bug, area/storage, keycloak.x, team/storage-sig

#10074 Reduced Quarkus image size
  quarkus/container/Dockerfile
Labels: area/dist/quarkus

#10124 Add prefix "kc_" to all existing tables
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/client/entity/JpaClientAttributeEntity.java
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/client/entity/JpaClientEntity.java
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/clientscope/entity/JpaClientScopeAttributeEntity.java
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/clientscope/entity/JpaClientScopeEntity.java
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/role/entity/JpaRoleAttributeEntity.java
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/role/entity/JpaRoleEntity.java
  model/map-jpa/src/main/resources/META-INF/client-scopes/jpa-client-scopes-changelog-1.xml
  model/map-jpa/src/main/resources/META-INF/clients/jpa-clients-changelog-1.xml
  model/map-jpa/src/main/resources/META-INF/roles/jpa-roles-changelog-1.xml
Labels: kind/enhancement, area/storage, team/storage-sig

#9940 [fixes #9920] Fixes collection comparison ignoring order
  common/src/main/java/org/keycloak/common/util/CollectionUtil.java
  common/src/main/java/org/keycloak/common/util/MultivaluedHashMap.java
  common/src/test/java/org/keycloak/common/util/CollectionUtilTest.java
  server-spi-private/src/main/java/org/keycloak/userprofile/DefaultUserProfile.java
  services/src/main/java/org/keycloak/userprofile/validator/ImmutableAttributeValidator.java
Labels: kind/bug, impact/low, area/storage, area/user-profile

#9798 Implement HotRod storage for Users
  model/build-processor/src/main/java/org/keycloak/models/map/annotations/IgnoreForEntityImplementationGenerator.java
  model/build-processor/src/main/java/org/keycloak/models/map/processor/AbstractGenerateEntityImplementationsProcessor.java
  model/build-processor/src/main/java/org/keycloak/models/map/processor/GenerateEntityImplementationsProcessor.java
  model/build-processor/src/main/java/org/keycloak/models/map/processor/GenerateHotRodEntityImplementationsProcessor.java
  model/map-hot-rod/src/main/java/org/keycloak/models/map/storage/hotRod/HotRodMapStorage.java
  model/map-hot-rod/src/main/java/org/keycloak/models/map/storage/hotRod/HotRodMapStorageProvider.java
  model/map-hot-rod/src/main/java/org/keycloak/models/map/storage/hotRod/HotRodMapStorageProviderFactory.java
  model/map-hot-rod/src/main/java/org/keycloak/models/map/storage/hotRod/IckleQueryMapModelCriteriaBuilder.java
  model/map-hot-rod/src/main/java/org/keycloak/models/map/storage/hotRod/IckleQueryWhereClauses.java
  model/map-hot-rod/src/main/java/org/keycloak/models/map/storage/hotRod/common/HotRodEntityDelegate.java
  model/map-hot-rod/src/main/java/org/keycloak/models/map/storage/hotRod/common/HotRodTypesUtils.java
  model/map-hot-rod/src/main/java/org/keycloak/models/map/storage/hotRod/common/ProtoSchemaInitializer.java
  model/map-hot-rod/src/main/java/org/keycloak/models/map/storage/hotRod/group/HotRodGroupEntity.java
  model/map-hot-rod/src/main/java/org/keycloak/models/map/storage/hotRod/user/HotRodUserConsentEntity.java
  model/map-hot-rod/src/main/java/org/keycloak/models/map/storage/hotRod/user/HotRodUserCredentialEntity.java
  model/map-hot-rod/src/main/java/org/keycloak/models/map/storage/hotRod/user/HotRodUserEntity.java
  model/map-hot-rod/src/main/java/org/keycloak/models/map/storage/hotRod/user/HotRodUserFederatedIdentityEntity.java
  model/map-hot-rod/src/main/resources/config/cacheConfig.xml
  model/map-hot-rod/src/main/resources/config/infinispan.xml
  model/map-hot-rod/src/test/java/org/keycloak/models/map/storage/hotRod/IckleQueryMapModelCriteriaBuilderTest.java
  model/map/src/main/java/org/keycloak/models/map/user/MapUserEntity.java
  model/map/src/main/java/org/keycloak/models/map/user/MapUserProvider.java
  model/map/src/test/java/org/keycloak/models/map/storage/criteria/DefaultModelCriteriaTest.java
  testsuite/integration-arquillian/tests/base/src/test/resources/META-INF/keycloak-server.json
  testsuite/integration-arquillian/tests/pom.xml
  testsuite/model/src/main/resources/hotrod/infinispan.xml
  testsuite/model/src/test/java/org/keycloak/testsuite/model/parameters/HotRodMapStorage.java
Labels: kind/enhancement, area/storage, team/storage-sig

#10129 Add CockroachDB support in the new JPA storage
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/liquibase/extension/CreateJsonIndexGenerator.java
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/liquibase/updater/MapJpaLiquibaseUpdaterProvider.java
  model/map-jpa/src/main/resources/META-INF/client-scopes/jpa-client-scopes-changelog-1.xml
  model/map-jpa/src/main/resources/META-INF/clients/jpa-clients-changelog-1.xml
  model/map-jpa/src/main/resources/META-INF/roles/jpa-roles-changelog-1.xml
Labels: area/storage, team/storage-sig

#10088 Show error in case of an unkown essential acr claim. Make sure correc…
  server-spi-private/src/main/java/org/keycloak/authentication/AuthenticationFlowCallback.java
  server-spi-private/src/main/java/org/keycloak/models/Constants.java
  services/src/main/java/org/keycloak/authentication/AuthenticationProcessor.java
  services/src/main/java/org/keycloak/authentication/AuthenticationSelectionResolver.java
  services/src/main/java/org/keycloak/authentication/AuthenticatorUtil.java
  services/src/main/java/org/keycloak/authentication/DefaultAuthenticationFlow.java
  services/src/main/java/org/keycloak/authentication/authenticators/conditional/ConditionalAuthenticatorFactory.java
  services/src/main/java/org/keycloak/authentication/authenticators/conditional/ConditionalLoaAuthenticator.java
  services/src/main/java/org/keycloak/authentication/authenticators/conditional/ConditionalLoaAuthenticatorFactory.java
  services/src/main/java/org/keycloak/protocol/oidc/endpoints/AuthorizationEndpoint.java
  services/src/main/java/org/keycloak/protocol/oidc/utils/AcrUtils.java
  services/src/main/java/org/keycloak/services/managers/AuthenticationManager.java
  services/src/main/java/org/keycloak/services/messages/Messages.java
  testsuite/integration-arquillian/servers/auth-server/services/testsuite-providers/src/main/java/org/keycloak/testsuite/authentication/CustomAuthenticationFlowCallback.java
  testsuite/integration-arquillian/servers/auth-server/services/testsuite-providers/src/main/java/org/keycloak/testsuite/authentication/CustomAuthenticationFlowCallbackFactory.java
  testsuite/integration-arquillian/servers/auth-server/services/testsuite-providers/src/main/resources/META-INF/services/org.keycloak.authentication.AuthenticatorFactory
  testsuite/integration-arquillian/tests/base/src/main/java/org/keycloak/testsuite/util/OAuthClient.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/admin/authentication/ProvidersTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/forms/AuthenticationFlowCallbackProviderTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/forms/LevelOfAssuranceFlowTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/util/AuthenticatorUtilTest.java
  themes/src/main/resources/theme/base/login/messages/messages_en.properties
Labels: area/authentication, team/core-features

#10202 Fix a wrong placeholder in French email translations when verifying an email address
  themes/src/main/resources-community/theme/base/email/messages/messages_fr.properties
Labels: status/ready, area/translations

#10147 Path parameter is missing in the get account endpoint
  services/src/main/java/org/keycloak/services/resources/account/AccountRestService.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/account/AccountRestServiceTest.java
Labels: area/user-profile

#10057 Refactor CacheExpirationTest for readability and structure
  testsuite/model/src/test/java/org/keycloak/testsuite/model/infinispan/CacheExpirationTest.java
Labels: kind/enhancement, area/storage, team/storage-sig

#7728 KEYCLOAK-16871 Update admin-messages_zh_CN.properties
  themes/src/main/resources-community/theme/base/admin/messages/admin-messages_zh_CN.properties
Labels: area/translations

#10248 Unstable AuthenticationFlowCallbackProviderTest for undertow-map
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/forms/AuthenticationFlowCallbackProviderTest.java
Labels: area/testsuite

#10106 Revising and clarifying content
  docs/guides/src/main/server/configuration.adoc
Labels: area/docs

#10214 Possibility to ignore tests for particular browsers
  testsuite/integration-arquillian/tests/base/src/main/java/org/keycloak/testsuite/arquillian/KeycloakArquillianExtension.java
  testsuite/integration-arquillian/tests/base/src/main/java/org/keycloak/testsuite/arquillian/annotation/IgnoreBrowserDriver.java
  testsuite/integration-arquillian/tests/base/src/main/java/org/keycloak/testsuite/arquillian/annotation/IgnoreBrowserDrivers.java
  testsuite/integration-arquillian/tests/base/src/main/java/org/keycloak/testsuite/arquillian/decider/BrowserDriverIgnoreDecider.java
  testsuite/integration-arquillian/tests/base/src/main/java/org/keycloak/testsuite/drone/KeycloakDronePostSetup.java
  testsuite/integration-arquillian/tests/base/src/main/java/org/keycloak/testsuite/util/BrowserDriverUtil.java
  testsuite/integration-arquillian/tests/other/console/src/test/java/org/keycloak/testsuite/console/other/IgnoreBrowserDriverClassTest.java
  testsuite/integration-arquillian/tests/other/console/src/test/java/org/keycloak/testsuite/console/other/IgnoreBrowserDriverMethodTest.java
  testsuite/integration-arquillian/tests/other/webauthn/src/main/java/org/keycloak/testsuite/webauthn/utils/WebAuthnBrowserDriverUtil.java
Labels: area/testsuite

#9937 Test more recent versions of Spring Boot
  adapters/oidc/spring-boot2/pom.xml
  misc/scripts/upgrade-wildfly/lib/wildfly/upgrade/__init__.py
  pom.xml
  testsuite/integration-arquillian/HOW-TO-RUN.md
  testsuite/integration-arquillian/test-apps/spring-boot-adapter-app/pom.xml
  testsuite/integration-arquillian/tests/other/springboot-tests/pom.xml
Labels: area/testsuite, area/adapter/spring

#10267 Add profile to conditionally build account2 theme
  themes/pom.xml
Labels: kind/enhancement, area/account/ui

#8431 KEYCLOAK-19297 Use real 'external' client object id to store Authenti…
  model/jpa/src/main/java/org/keycloak/models/jpa/session/JpaUserSessionPersisterProvider.java
  testsuite/model/pom.xml
  testsuite/model/src/test/java/org/keycloak/testsuite/model/parameters/HardcodedClientStorage.java
  testsuite/model/src/test/java/org/keycloak/testsuite/model/session/UserSessionPersisterProviderTest.java
Labels: kind/bug, area/storage

#8121 KEYCLOAK-18334 Fix null pointer exception when viewing flow executions
  services/src/main/java/org/keycloak/services/resources/admin/AuthenticationManagementResource.java
Labels: area/authentication

#10184 Change String client.id to ClientModel client in ResourceServerStore
  authz/policy/common/src/main/java/org/keycloak/authorization/policy/provider/client/ClientPolicyProviderFactory.java
  authz/policy/common/src/main/java/org/keycloak/authorization/policy/provider/role/RolePolicyProviderFactory.java
  model/infinispan/src/main/java/org/keycloak/models/cache/infinispan/authorization/StoreFactoryCacheSession.java
  model/jpa/src/main/java/org/keycloak/authorization/jpa/store/JPAResourceServerStore.java
  model/map/src/main/java/org/keycloak/models/map/authorization/MapResourceServerStore.java
  server-spi-private/src/main/java/org/keycloak/authorization/store/ResourceServerStore.java
  server-spi-private/src/main/java/org/keycloak/authorization/store/syncronization/ClientApplicationSynchronizer.java
  server-spi-private/src/main/java/org/keycloak/authorization/store/syncronization/RealmSynchronizer.java
  server-spi-private/src/main/java/org/keycloak/migration/migrators/MigrateTo2_1_0.java
  server-spi-private/src/main/java/org/keycloak/models/utils/ModelToRepresentation.java
  server-spi-private/src/main/java/org/keycloak/models/utils/RepresentationToModel.java
  services/src/main/java/org/keycloak/authorization/admin/AuthorizationService.java
  services/src/main/java/org/keycloak/authorization/admin/ResourceServerService.java
  services/src/main/java/org/keycloak/authorization/authorization/AuthorizationTokenService.java
  services/src/main/java/org/keycloak/authorization/protection/ProtectionService.java
  services/src/main/java/org/keycloak/exportimport/util/ExportUtils.java
  services/src/main/java/org/keycloak/services/resources/account/resources/ResourceService.java
  services/src/main/java/org/keycloak/services/resources/admin/permissions/MgmtPermissions.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/account/ResourcesRestServiceTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/admin/AuthzCleanupTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/authz/PolicyEvaluationCompositeRoleTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/authz/PolicyEvaluationTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/model/ImportTest.java
Labels: kind/enhancement, area/storage

#10380 Convert Map Realm Entities into interfaces
  model/build-processor/src/main/java/org/keycloak/models/map/processor/Util.java
  model/map/src/main/java/org/keycloak/models/map/realm/MapRealmAdapter.java
  model/map/src/main/java/org/keycloak/models/map/realm/MapRealmEntity.java
  model/map/src/main/java/org/keycloak/models/map/realm/MapRealmProvider.java
  model/map/src/main/java/org/keycloak/models/map/realm/entity/MapAuthenticationExecutionEntity.java
  model/map/src/main/java/org/keycloak/models/map/realm/entity/MapAuthenticationFlowEntity.java
  model/map/src/main/java/org/keycloak/models/map/realm/entity/MapAuthenticatorConfigEntity.java
  model/map/src/main/java/org/keycloak/models/map/realm/entity/MapClientInitialAccessEntity.java
  model/map/src/main/java/org/keycloak/models/map/realm/entity/MapComponentEntity.java
  model/map/src/main/java/org/keycloak/models/map/realm/entity/MapIdentityProviderEntity.java
  model/map/src/main/java/org/keycloak/models/map/realm/entity/MapIdentityProviderMapperEntity.java
  model/map/src/main/java/org/keycloak/models/map/realm/entity/MapOTPPolicyEntity.java
  model/map/src/main/java/org/keycloak/models/map/realm/entity/MapRequiredActionProviderEntity.java
  model/map/src/main/java/org/keycloak/models/map/realm/entity/MapRequiredCredentialEntity.java
  model/map/src/main/java/org/keycloak/models/map/realm/entity/MapWebAuthnPolicyEntity.java
  model/map/src/main/java/org/keycloak/models/map/storage/chm/ConcurrentHashMapStorageProviderFactory.java
  model/map/src/main/java/org/keycloak/models/map/storage/chm/MapFieldPredicates.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/forms/FlowOverrideTest.java
  testsuite/model/src/test/java/org/keycloak/testsuite/model/RealmModelTest.java
Labels: area/storage, team/storage-sig

#10221 ACR support in the javascript adapter
  adapters/oidc/js/dist/keycloak.d.ts
  adapters/oidc/js/src/keycloak.js
  testsuite/integration-arquillian/tests/base/src/main/java/org/keycloak/testsuite/util/javascript/JSObjectBuilder.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/javascript/JavascriptAdapterTest.java
Labels: area/adapter/javascript

#10468 Update sha256 import to be default import
  adapters/oidc/js/src/keycloak.js
Labels: kind/bug, priority/important, area/adapter/javascript

#10215 Test WebAuthn with multiple browsers
  testsuite/integration-arquillian/tests/other/webauthn/pom.xml
  testsuite/integration-arquillian/tests/other/webauthn/src/main/java/org/keycloak/testsuite/webauthn/pages/WebAuthnRegisterPage.java
  testsuite/integration-arquillian/tests/other/webauthn/src/test/java/org/keycloak/testsuite/webauthn/AbstractWebAuthnVirtualTest.java
  testsuite/integration-arquillian/tests/other/webauthn/src/test/java/org/keycloak/testsuite/webauthn/AppInitiatedActionWebAuthnTest.java
  testsuite/integration-arquillian/tests/other/webauthn/src/test/java/org/keycloak/testsuite/webauthn/VirtualAuthenticatorsManagerTest.java
  testsuite/integration-arquillian/tests/other/webauthn/src/test/java/org/keycloak/testsuite/webauthn/WebAuthnPropertyTest.java
  testsuite/integration-arquillian/tests/other/webauthn/src/test/java/org/keycloak/testsuite/webauthn/WebAuthnRegisterAndLoginTest.java
  testsuite/integration-arquillian/tests/other/webauthn/src/test/java/org/keycloak/testsuite/webauthn/WebAuthnTransportsTest.java
  testsuite/integration-arquillian/tests/other/webauthn/src/test/java/org/keycloak/testsuite/webauthn/account/AbstractWebAuthnAccountTest.java
  testsuite/integration-arquillian/tests/other/webauthn/src/test/java/org/keycloak/testsuite/webauthn/account/WebAuthnErrorTest.java
  testsuite/integration-arquillian/tests/other/webauthn/src/test/java/org/keycloak/testsuite/webauthn/account/WebAuthnTransportLocaleTest.java
  testsuite/integration-arquillian/tests/other/webauthn/src/test/java/org/keycloak/testsuite/webauthn/registration/AttestationConveyanceRegisterTest.java
  testsuite/integration-arquillian/tests/other/webauthn/src/test/java/org/keycloak/testsuite/webauthn/registration/AuthAttachmentRegisterTest.java
  testsuite/integration-arquillian/tests/other/webauthn/src/test/java/org/keycloak/testsuite/webauthn/registration/PolicyJsInjectionTest.java
  testsuite/integration-arquillian/tests/other/webauthn/src/test/java/org/keycloak/testsuite/webauthn/registration/PubKeySignRegisterTest.java
  testsuite/integration-arquillian/tests/other/webauthn/src/test/java/org/keycloak/testsuite/webauthn/registration/ResidentKeyRegisterTest.java
  testsuite/integration-arquillian/tests/other/webauthn/src/test/java/org/keycloak/testsuite/webauthn/registration/UserVerificationRegisterTest.java
  testsuite/integration-arquillian/tests/other/webauthn/src/test/java/org/keycloak/testsuite/webauthn/registration/WebAuthnOtherSettingsTest.java
  testsuite/integration-arquillian/tests/other/webauthn/src/test/java/org/keycloak/testsuite/webauthn/registration/passwordless/PwdLessAuthAttachmentRegTest.java
  testsuite/integration-arquillian/tests/other/webauthn/src/test/java/org/keycloak/testsuite/webauthn/registration/passwordless/PwdLessResidentKeyRegTest.java
  testsuite/integration-arquillian/tests/other/webauthn/src/test/java/org/keycloak/testsuite/webauthn/registration/passwordless/PwdLessUserVerRegTest.java
  testsuite/integration-arquillian/tests/other/webauthn/src/test/resources/firefox-user-preferences.js
Labels: area/testsuite, area/authentication/webauthn
