Repository keycloak/keycloak, pull requests merged in 2022-04, with the labels that each got.

#11044 Update Kubernetes Client to 5.12.1
  operator/pom.xml
Labels: area/operator

#11064 Update Infinispan to 13.0.8 to fix vulnerabilities reported on XStream
  quarkus/pom.xml
Labels: priority/important, area/dist/quarkus

#10947 Hot Rod map storage: Login failure no-downtime store
  model/map-hot-rod/src/main/java/org/keycloak/models/map/storage/hotRod/HotRodMapStorageProviderFactory.java
  model/map-hot-rod/src/main/java/org/keycloak/models/map/storage/hotRod/common/ProtoSchemaInitializer.java
  model/map-hot-rod/src/main/java/org/keycloak/models/map/storage/hotRod/loginFailure/HotRodUserLoginFailureEntity.java
  model/map-hot-rod/src/main/resources/config/cacheConfig.xml
  model/map-hot-rod/src/main/resources/config/infinispan.xml
  testsuite/integration-arquillian/tests/base/src/test/resources/META-INF/keycloak-server.json
  testsuite/integration-arquillian/tests/pom.xml
  testsuite/model/src/main/resources/hotrod/infinispan.xml
  testsuite/model/src/test/java/org/keycloak/testsuite/model/parameters/HotRodMapStorage.java
Labels: area/storage, team/storage-sig

#10828 CVE-2022-21724 vulnerability related to postgresql dependency
  pom.xml
Labels: area/storage, area/dependencies

#10989 Allow resoving theme resources from flat classpath
  quarkus/deployment/src/main/java/org/keycloak/quarkus/deployment/KeycloakProcessor.java
  quarkus/runtime/src/main/java/org/keycloak/quarkus/runtime/themes/FlatClasspathThemeResourceProviderFactory.java
  services/src/main/java/org/keycloak/theme/ClasspathThemeResourceProviderFactory.java
Labels: kind/bug, area/dist/quarkus

#11073 Update jackson-databind dependency to fix CVE-2020-36518
  quarkus/pom.xml
Labels: kind/bug, area/dist/quarkus

#10629 Add index to admin events table to improve performance of admin event…
  model/jpa/src/main/resources/META-INF/jpa-changelog-18.0.0.xml
  model/jpa/src/main/resources/META-INF/jpa-changelog-master.xml
Labels: status/ready, kind/bug, area/storage, team/storage-sig

#7021 KEYCLOAK-13828 Allow override of baseUrl and apiUrl in GitHub identity provider
  services/src/main/java/org/keycloak/social/github/GitHubIdentityProvider.java
  services/src/test/java/org/keycloak/social/github/GitHubIdentityProviderTest.java
  themes/src/main/resources/theme/base/admin/messages/admin-messages_en.properties
  themes/src/main/resources/theme/base/admin/resources/partials/realm-identity-provider-github-ext.html
Labels: missing/tests, kind/enhancement, impact/medium

#11150 CodeQL analysis always fails
  .github/workflows/codeql-java-analysis.yml
  .github/workflows/codeql-js-adapter-analysis.yml
  .github/workflows/codeql-theme-analysis.yml
Labels: priority/important, area/ci

#11106 Added german locales
  themes/src/main/resources-community/theme/base/admin/messages/admin-messages_de.properties
Labels: status/ready, kind/enhancement, area/translations

#11162 Add section about hostname syntax to hostname guide
  docs/guides/src/main/server/containers.adoc
  docs/guides/src/main/server/hostname.adoc
Labels: kind/enhancement, area/docs, area/dist/quarkus

#10893 Convert user / client session entities into interface
  model/map/src/main/java/org/keycloak/models/map/loginFailure/MapUserLoginFailureEntity.java
  model/map/src/main/java/org/keycloak/models/map/storage/chm/ConcurrentHashMapStorageProviderFactory.java
  model/map/src/main/java/org/keycloak/models/map/storage/chm/MapFieldPredicates.java
  model/map/src/main/java/org/keycloak/models/map/userSession/MapAuthenticatedClientSessionAdapter.java
  model/map/src/main/java/org/keycloak/models/map/userSession/MapAuthenticatedClientSessionEntity.java
  model/map/src/main/java/org/keycloak/models/map/userSession/MapUserSessionAdapter.java
  model/map/src/main/java/org/keycloak/models/map/userSession/MapUserSessionEntity.java
  model/map/src/main/java/org/keycloak/models/map/userSession/MapUserSessionProvider.java
  model/map/src/main/java/org/keycloak/models/map/userSession/SessionExpiration.java
Labels: status/ready, area/storage, team/storage-sig

#11120 Add clearUpdatedFlag so the flag in associated protocol mappers can b…
  model/map/src/main/java/org/keycloak/models/map/client/MapClientEntity.java
Labels: area/storage, team/storage-sig

#11052 Add JsonPropertyDescription on all CR fields
  operator/src/main/java/org/keycloak/operator/v2alpha1/crds/KeycloakSpec.java
Labels: status/ready

#11037 Add RealmImport CR docs
  docs/guides/src/main/operator/realm-import.adoc
Labels: status/ready

#11025 Add how to install extensions to the container docs
  docs/guides/src/main/server/containers.adoc
Labels: status/ready

#11065 Advanced Keycloak CR configuration
  docs/guides/src/main/operator/advanced-configuration.adoc
  docs/guides/src/main/operator/basic-deployment.adoc
Labels: status/ready

#11152 Script Mapper Performance Issues
  services/src/main/java/org/keycloak/scripting/DefaultScriptingProvider.java
  services/src/main/java/org/keycloak/scripting/DefaultScriptingProviderFactory.java
  services/src/main/java/org/keycloak/services/ServicesLogger.java
Labels: area/core, team/core-features

#10085 docs(keycloak-js): add README
  adapters/oidc/js/README.md
  distribution/adapters/js-adapter-npm-zip/assembly.xml
Labels: kind/enhancement, impact/low, area/docs, area/adapter/javascript

#11172 Avoid short-lived connections for ApacheDS to avoid errors
  model/map-ldap/src/main/java/org/keycloak/models/map/storage/ldap/LdapMapStorageProviderFactory.java
  model/map-ldap/src/main/java/org/keycloak/models/map/storage/ldap/role/LdapRoleMapKeycloakTransaction.java
  model/map-ldap/src/main/java/org/keycloak/models/map/storage/ldap/store/LdapMapIdentityStore.java
  model/map-ldap/src/main/java/org/keycloak/models/map/storage/ldap/store/LdapMapOperationManager.java
  testsuite/integration-arquillian/servers/auth-server/services/testsuite-providers/src/main/java/org/keycloak/testsuite/rest/resource/TestLDAPResource.java
  testsuite/integration-arquillian/tests/base/src/main/java/org/keycloak/testsuite/util/LDAPRule.java
  testsuite/integration-arquillian/tests/base/src/main/java/org/keycloak/testsuite/util/LDAPTestConfiguration.java
  testsuite/model/src/test/java/org/keycloak/testsuite/model/UserModelTest.java
  testsuite/model/src/test/java/org/keycloak/testsuite/model/parameters/LdapMapStorage.java
  testsuite/model/src/test/java/org/keycloak/testsuite/model/parameters/LdapUserStorage.java
  testsuite/model/src/test/java/org/keycloak/testsuite/model/role/RoleModelTest.java
  testsuite/utils/src/main/resources/META-INF/keycloak-server.json
Labels: kind/bug, area/storage, team/storage-sig

#11215 Revert Operator CI
  .github/workflows/operator-ci.yml
Labels: status/ready

#11224 Avoiding AvlPartitionFactory and using JdbmPartitionFactory for the embedded LDAP to work around unstable tests.
  model/map-ldap/src/main/java/org/keycloak/models/map/storage/ldap/role/LdapRoleMapKeycloakTransaction.java
  testsuite/integration-arquillian/servers/auth-server/services/testsuite-providers/src/main/java/org/keycloak/testsuite/rest/resource/TestLDAPResource.java
  testsuite/integration-arquillian/tests/base/src/main/java/org/keycloak/testsuite/util/LDAPRule.java
  testsuite/integration-arquillian/tests/base/src/main/java/org/keycloak/testsuite/util/LDAPTestConfiguration.java
  testsuite/model/src/test/java/org/keycloak/testsuite/model/parameters/LdapMapStorage.java
  testsuite/model/src/test/java/org/keycloak/testsuite/model/parameters/LdapUserStorage.java
  testsuite/model/src/test/java/org/keycloak/testsuite/model/role/RoleModelTest.java
  testsuite/model/src/test/resources/log4j.properties
  testsuite/utils/src/main/resources/META-INF/keycloak-server.json
  util/embedded-ldap/src/main/java/org/keycloak/util/ldap/JdbmPartitionFactoryFast.java
  util/embedded-ldap/src/main/java/org/keycloak/util/ldap/LDAPEmbeddedServer.java
Labels: area/storage, team/storage-sig

#11147 Store time stored as seconds as a long in map store
  model/map-hot-rod/src/main/java/org/keycloak/models/map/storage/hotRod/authSession/HotRodAuthenticationSessionEntity.java
  model/map-hot-rod/src/main/java/org/keycloak/models/map/storage/hotRod/authSession/HotRodRootAuthenticationSessionEntity.java
  model/map-hot-rod/src/main/java/org/keycloak/models/map/storage/hotRod/client/HotRodClientEntity.java
  model/map-hot-rod/src/main/java/org/keycloak/models/map/storage/hotRod/loginFailure/HotRodUserLoginFailureEntity.java
  model/map-hot-rod/src/main/java/org/keycloak/models/map/storage/hotRod/realm/HotRodRealmEntity.java
  model/map-hot-rod/src/main/java/org/keycloak/models/map/storage/hotRod/realm/entity/HotRodClientInitialAccessEntity.java
  model/map-hot-rod/src/main/java/org/keycloak/models/map/storage/hotRod/user/HotRodUserEntity.java
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/authSession/entity/JpaAuthenticationSessionEntity.java
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/authSession/entity/JpaRootAuthenticationSessionEntity.java
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/client/entity/JpaClientEntity.java
  model/map-jpa/src/main/resources/META-INF/auth-sessions/jpa-auth-sessions-changelog-1.xml
  model/map/src/main/java/org/keycloak/models/map/authSession/MapAuthenticationSessionEntity.java
  model/map/src/main/java/org/keycloak/models/map/authSession/MapRootAuthenticationSessionAdapter.java
  model/map/src/main/java/org/keycloak/models/map/authSession/MapRootAuthenticationSessionEntity.java
  model/map/src/main/java/org/keycloak/models/map/authSession/MapRootAuthenticationSessionProvider.java
  model/map/src/main/java/org/keycloak/models/map/client/MapClientAdapter.java
  model/map/src/main/java/org/keycloak/models/map/client/MapClientEntity.java
  model/map/src/main/java/org/keycloak/models/map/client/MapClientProvider.java
  model/map/src/main/java/org/keycloak/models/map/client/MapClientProviderFactory.java
  model/map/src/main/java/org/keycloak/models/map/common/TimeAdapter.java
  model/map/src/main/java/org/keycloak/models/map/loginFailure/MapUserLoginFailureAdapter.java
  model/map/src/main/java/org/keycloak/models/map/loginFailure/MapUserLoginFailureEntity.java
  model/map/src/main/java/org/keycloak/models/map/realm/MapRealmAdapter.java
  model/map/src/main/java/org/keycloak/models/map/realm/MapRealmEntity.java
  model/map/src/main/java/org/keycloak/models/map/realm/entity/MapClientInitialAccessEntity.java
  model/map/src/main/java/org/keycloak/models/map/user/MapUserEntity.java
  model/map/src/main/java/org/keycloak/models/map/user/MapUserProvider.java
  model/map/src/main/java/org/keycloak/models/map/userSession/MapAuthenticatedClientSessionAdapter.java
  model/map/src/main/java/org/keycloak/models/map/userSession/MapAuthenticatedClientSessionEntity.java
  model/map/src/main/java/org/keycloak/models/map/userSession/MapUserSessionAdapter.java
  model/map/src/main/java/org/keycloak/models/map/userSession/MapUserSessionEntity.java
  model/map/src/main/java/org/keycloak/models/map/userSession/MapUserSessionProvider.java
  model/map/src/main/java/org/keycloak/models/map/userSession/SessionExpiration.java
  model/map/src/test/java/org/keycloak/models/map/common/TimeAdapterTest.java
Labels: kind/enhancement, area/storage, team/storage-sig

#9336 Fail authenticate if credentialInput is not of type UserCredentialModel Closes #11191
  federation/ldap/src/main/java/org/keycloak/storage/ldap/LDAPStorageProvider.java
Labels: status/ready, area/ldap

#11253 Fix unmatched braces in error log formatter
  services/src/main/java/org/keycloak/keys/DefaultKeyManager.java
Labels: kind/bug, area/core

#11128 Add Dependabot config to keep Github Actions up-to-date
  .github/dependabot.yml
Labels: kind/enhancement, area/ci, area/dependencies

#9842 Add support for filtering by enabled attribute on users count endpoint
  integration/admin-client/src/main/java/org/keycloak/admin/client/resource/UsersResource.java
  model/jpa/src/main/java/org/keycloak/models/jpa/JpaUserProvider.java
  services/src/main/java/org/keycloak/services/resources/admin/UsersResource.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/admin/UserTest.java
Labels: kind/enhancement, area/admin/api

#11242 Mistyping correction
  server-spi/src/main/java/org/keycloak/urls/HostnameProvider.java
Labels: status/ready, kind/bug, area/core

#10936 Hot Rod map storage: User / client session no-downtime store
  model/build-processor/src/main/java/org/keycloak/models/map/processor/GenerateHotRodEntityImplementationsProcessor.java
  model/map-hot-rod/src/main/java/org/keycloak/models/map/storage/hotRod/HotRodMapStorageProviderFactory.java
  model/map-hot-rod/src/main/java/org/keycloak/models/map/storage/hotRod/IckleQueryMapModelCriteriaBuilder.java
  model/map-hot-rod/src/main/java/org/keycloak/models/map/storage/hotRod/IckleQueryWhereClauses.java
  model/map-hot-rod/src/main/java/org/keycloak/models/map/storage/hotRod/client/HotRodProtocolMapperEntity.java
  model/map-hot-rod/src/main/java/org/keycloak/models/map/storage/hotRod/common/HotRodStringPair.java
  model/map-hot-rod/src/main/java/org/keycloak/models/map/storage/hotRod/common/HotRodTypesUtils.java
  model/map-hot-rod/src/main/java/org/keycloak/models/map/storage/hotRod/common/ProtoSchemaInitializer.java
  model/map-hot-rod/src/main/java/org/keycloak/models/map/storage/hotRod/userSession/HotRodAuthenticatedClientSessionEntity.java
  model/map-hot-rod/src/main/java/org/keycloak/models/map/storage/hotRod/userSession/HotRodSessionState.java
  model/map-hot-rod/src/main/java/org/keycloak/models/map/storage/hotRod/userSession/HotRodUserSessionEntity.java
  model/map-hot-rod/src/main/resources/config/cacheConfig.xml
  model/map-hot-rod/src/main/resources/config/infinispan.xml
  testsuite/integration-arquillian/tests/base/src/test/resources/META-INF/keycloak-server.json
  testsuite/integration-arquillian/tests/pom.xml
  testsuite/model/src/main/resources/hotrod/infinispan.xml
  testsuite/model/src/test/java/org/keycloak/testsuite/model/parameters/HotRodMapStorage.java
Labels: status/ready, area/storage, team/storage-sig

#11291 Replace the cryptographic algorithm by SHA-2
  model/map/src/main/java/org/keycloak/models/map/deploymentState/MapDeploymentStateProviderFactory.java
Labels: area/storage, team/storage-sig

#11548 Add GPG signing to boms
  boms/pom.xml
Labels: status/hold, priority/critical

#11375 Increase column size for keys that refer to entities that can be stor…
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/liquibase/extension/GeneratedColumnSqlGenerator.java
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/liquibase/extension/KeycloakKeyDataType.java
  model/map-jpa/src/main/resources/META-INF/auth-sessions/jpa-auth-sessions-changelog-1.xml
  model/map-jpa/src/main/resources/META-INF/client-scopes/jpa-client-scopes-changelog-1.xml
  model/map-jpa/src/main/resources/META-INF/clients/jpa-clients-changelog-1.xml
  model/map-jpa/src/main/resources/META-INF/groups/jpa-groups-changelog-1.xml
  model/map-jpa/src/main/resources/META-INF/roles/jpa-roles-changelog-1.xml
  model/map-jpa/src/main/resources/META-INF/services/liquibase.datatype.LiquibaseDataType
Labels: area/storage, team/storage-sig

#11281 Include Admin UI as a regular dependency
  quarkus/runtime/pom.xml
  release.sh
  set-version.sh
  themes/pom.xml
Labels: kind/enhancement, status/hold, area/admin/ui

#11314 Ensure fundamental accessibility for basic login flow
  themes/src/main/resources/theme/base/login/template.ftl
Labels: status/ready, kind/bug, area/core

#8681 KEYCLOAK-19731: Make password field autofocus on login form, fixes #10027
  themes/src/main/resources/theme/base/login/login-password.ftl
Labels: status/ready, kind/enhancement, area/core

#10933 docs: Correct the base path for Admin REST APIs.
  services/src/docs/asciidoc/overview.adoc
Labels: status/ready, kind/bug, area/docs

#11547 Fixes wrong encoding in container image
  quarkus/container/Dockerfile
Labels: area/dist/quarkus, team/cloud-native-sig, triage/backport

#11590 LdapMapStorageProvider to use a full inline class for MapStorage
  model/map-ldap/src/main/java/org/keycloak/models/map/storage/ldap/LdapMapStorageProvider.java
Labels: area/storage, team/storage-sig, kind/task

#11597 Remove dependency of map modules on services module
  model/map-jpa/pom.xml
  model/map-jpa/src/main/java/org/keycloak/connections/jpa/PersistenceExceptionConverter.java
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/JpaMapKeycloakTransaction.java
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/JpaMapStorageProviderFactory.java
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/PaginationUtils.java
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/liquibase/updater/MapJpaLiquibaseUpdaterProvider.java
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/updater/MapJpaUpdaterProvider.java
  model/map-ldap/pom.xml
  model/map/pom.xml
  model/map/src/main/java/org/keycloak/models/map/client/MapClientProvider.java
  server-spi-private/src/main/java/org/keycloak/protocol/oidc/OIDCConfigAttributes.java
Labels: kind/enhancement, area/storage, team/storage-sig

#11328 Enlist JPA transaction in JpaMapStorageProvider.getStorage
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/JpaMapKeycloakTransaction.java
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/JpaMapStorageProvider.java
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/JpaMapStorageProviderFactory.java
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/JpaTransactionWrapper.java
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/hibernate/listeners/JpaAutoFlushListener.java
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/liquibase/updater/MapJpaLiquibaseUpdaterProvider.java
  model/map-jpa/src/main/resources/META-INF/jpa-aggregate-changelog.xml
Labels: area/storage, team/storage-sig

#11337 Update kc/kcadm/kcreg.sh to support JAVA and JAVA_HOME
  integration/client-cli/admin-cli/src/main/bin/kcadm.sh
  integration/client-cli/client-registration-cli/src/main/bin/kcreg.sh
  quarkus/dist/src/main/content/bin/kc.sh
Labels: status/ready, kind/enhancement, area/quarkus

#11723 Automated test for session-limits authenticator with identity brokering (post-broker login flow) (Issue #11004)
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/sessionlimits/AbstractUserSessionLimitsBrokerTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/sessionlimits/KcOidcUserSessionLimitsBrokerTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/sessionlimits/KcSamlUserSessionLimitsBrokerTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/sessionlimits/UserSessionLimitsTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/sessionlimits/UserSessionLimitsUtil.java
Labels: team/core-features

#11679 Clear import/export properties at the end of the test
  testsuite/integration-arquillian/tests/base/src/main/java/org/keycloak/testsuite/client/resources/TestingExportImportResource.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/adapter/servlet/BrokerLinkAndTokenExchangeTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/client/ClientPoliciesImportExportTest.java
Labels: kind/bug, area/storage

#11077 Deletion of all objects when realm is being removed
  model/infinispan/src/main/java/org/keycloak/connections/infinispan/DefaultInfinispanConnectionProviderFactory.java
  model/map/src/main/java/org/keycloak/models/map/authSession/MapRootAuthenticationSessionProviderFactory.java
  model/map/src/main/java/org/keycloak/models/map/client/MapClientProvider.java
  model/map/src/main/java/org/keycloak/models/map/client/MapClientProviderFactory.java
  model/map/src/main/java/org/keycloak/models/map/clientscope/MapClientScopeProvider.java
  model/map/src/main/java/org/keycloak/models/map/clientscope/MapClientScopeProviderFactory.java
  model/map/src/main/java/org/keycloak/models/map/common/AbstractMapProviderFactory.java
  model/map/src/main/java/org/keycloak/models/map/group/MapGroupProvider.java
  model/map/src/main/java/org/keycloak/models/map/group/MapGroupProviderFactory.java
  model/map/src/main/java/org/keycloak/models/map/loginFailure/MapUserLoginFailureProviderFactory.java
  model/map/src/main/java/org/keycloak/models/map/realm/MapRealmProvider.java
  model/map/src/main/java/org/keycloak/models/map/realm/MapRealmProviderFactory.java
  model/map/src/main/java/org/keycloak/models/map/role/MapRoleProvider.java
  model/map/src/main/java/org/keycloak/models/map/role/MapRoleProviderFactory.java
  model/map/src/main/java/org/keycloak/models/map/user/MapUserProvider.java
  model/map/src/main/java/org/keycloak/models/map/user/MapUserProviderFactory.java
  model/map/src/main/java/org/keycloak/models/map/userSession/MapUserSessionProviderFactory.java
  server-spi-private/src/main/java/org/keycloak/models/ClientProviderFactory.java
  server-spi-private/src/main/java/org/keycloak/models/ClientScopeProviderFactory.java
  server-spi-private/src/main/java/org/keycloak/models/GroupProviderFactory.java
  server-spi-private/src/main/java/org/keycloak/models/RealmProviderFactory.java
  server-spi-private/src/main/java/org/keycloak/models/RoleProviderFactory.java
  server-spi-private/src/main/java/org/keycloak/models/UserLoginFailureProviderFactory.java
  server-spi-private/src/main/java/org/keycloak/models/UserProviderFactory.java
  server-spi-private/src/main/java/org/keycloak/sessions/AuthenticationSessionProviderFactory.java
  server-spi/src/main/java/org/keycloak/models/KeycloakSession.java
  server-spi/src/main/java/org/keycloak/models/RealmModel.java
  server-spi/src/main/java/org/keycloak/provider/InvalidationHandler.java
  services/src/main/java/org/keycloak/services/DefaultComponentFactoryProviderFactory.java
  services/src/main/java/org/keycloak/services/DefaultKeycloakSession.java
  services/src/main/java/org/keycloak/services/DefaultKeycloakSessionFactory.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/AbstractKeycloakTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/federation/storage/FederatedStorageExportImportTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/federation/storage/UserStorageFailureTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/federation/storage/UserStorageOTPTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/federation/sync/SyncFederationTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/model/UserConsentWithUserStorageModelTest.java
  testsuite/model/src/test/java/org/keycloak/testsuite/model/ConcurrentHashMapStorageTest.java
Labels: kind/enhancement, area/storage

#11686 Ensure that values of attributes are unique in the database
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/client/entity/JpaClientAttributeEntity.java
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/clientscope/entity/JpaClientScopeAttributeEntity.java
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/group/entity/JpaGroupAttributeEntity.java
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/realm/entity/JpaRealmAttributeEntity.java
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/role/entity/JpaRoleAttributeEntity.java
  model/map-jpa/src/main/resources/META-INF/client-scopes/jpa-client-scopes-changelog-1.xml
  model/map-jpa/src/main/resources/META-INF/clients/jpa-clients-changelog-1.xml
  model/map-jpa/src/main/resources/META-INF/groups/jpa-groups-changelog-1.xml
  model/map-jpa/src/main/resources/META-INF/realms/jpa-realms-changelog-1.xml
  model/map-jpa/src/main/resources/META-INF/roles/jpa-roles-changelog-1.xml
Labels: status/ready, kind/bug, area/storage, team/storage-sig

#11673 Ignore vulnerabilities fixed on Keycloak 18.0.0
  .github/snyk/.snyk
Labels: area/ci

#11749 Disable caching for map storage in the interactive Testsuite
  testsuite/utils/pom.xml
  testsuite/utils/src/main/resources/META-INF/keycloak-server.json
Labels: area/storage, team/storage-sig

#11304 Unify fundamental terms throughout the application
  themes/src/main/resources/theme/base/login/messages/messages_en.properties
  themes/src/main/resources/theme/keycloak.v2/account/messages/messages_en.properties
Labels: kind/bug, area/account/ui
