Repository keycloak/keycloak, pull requests merged in 2022-05, with the labels that each got.

#8108 KEYCLOAK-18308 Evaluate composite roles for hardcoded LDAP roles/groups
  federation/ldap/src/main/java/org/keycloak/storage/ldap/mappers/HardcodedLDAPGroupStorageMapper.java
  federation/ldap/src/main/java/org/keycloak/storage/ldap/mappers/HardcodedLDAPRoleStorageMapper.java
  model/infinispan/src/main/java/org/keycloak/models/cache/infinispan/GroupAdapter.java
  model/jpa/src/main/java/org/keycloak/models/jpa/GroupAdapter.java
  model/map/src/main/java/org/keycloak/models/map/group/MapGroupAdapter.java
  testsuite/integration-arquillian/servers/auth-server/services/testsuite-providers/src/main/java/org/keycloak/testsuite/rest/resource/TestLDAPResource.java
  testsuite/integration-arquillian/servers/auth-server/services/testsuite-providers/src/main/java/org/keycloak/testsuite/util/LDAPTestUtils.java
  testsuite/integration-arquillian/tests/base/src/main/java/org/keycloak/testsuite/client/resources/TestingLDAPResource.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/federation/ldap/LDAPHardcodedGroupMapperTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/federation/ldap/LDAPHardcodedRoleMapperTest.java
Labels: missing/tests

#11756 Add support for async profiler to model testsuite
  testsuite/model/README.md
  testsuite/model/pom.xml
  testsuite/model/test-all-profiles.sh
Labels: area/testsuite, area/storage

#11312 Added hint to caching conf file parameter
  docs/guides/src/main/server/caching.adoc
  quarkus/runtime/src/main/java/org/keycloak/quarkus/runtime/configuration/mappers/ClusteringPropertyMappers.java
  quarkus/tests/integration/src/test/resources/org/keycloak/it/cli/approvals/cli/help/HelpCommandTest.testBuildHelp.unix.approved.txt
  quarkus/tests/integration/src/test/resources/org/keycloak/it/cli/approvals/cli/help/HelpCommandTest.testBuildHelp.windows.approved.txt
  quarkus/tests/integration/src/test/resources/org/keycloak/it/cli/approvals/cli/help/HelpCommandTest.testStartDevHelpAll.unix.approved.txt
  quarkus/tests/integration/src/test/resources/org/keycloak/it/cli/approvals/cli/help/HelpCommandTest.testStartDevHelpAll.windows.approved.txt
Labels: status/ready, kind/bug, area/docs

#11830 Prevent double-submit of the form that could lead to a failing request in the backend.
  themes/src/main/resources/theme/base/admin/resources/js/controllers/clients.js
  themes/src/main/resources/theme/base/admin/resources/partials/client-scope-mappings.html
Labels: kind/bug, area/admin/ui

#11784 docs: fixed logging doc typo
  docs/guides/src/main/server/logging.adoc
Labels: area/docs

#11828 Add scope parameter to KeycloakInitOptions
  adapters/oidc/js/dist/keycloak.d.ts
Labels: area/adapter/javascript

#8855 Wrong Italian Message into HTML Email
  themes/src/main/resources-community/theme/base/email/messages/messages_it.properties
Labels: area/translations

#9689 Include WebAuthn tests to GH Actions
  .github/workflows/ci.yml
Labels: area/ci, area/authentication/webauthn

#11890 Deprecated org.keycloak.jose.jws.Algorithm is used in OIDCAdvancedConfigWrapper
  services/src/main/java/org/keycloak/protocol/oidc/OIDCAdvancedConfigWrapper.java
  services/src/main/java/org/keycloak/protocol/oidc/endpoints/UserInfoEndpoint.java
  services/src/main/java/org/keycloak/protocol/oidc/endpoints/request/AuthzEndpointRequestObjectParser.java
  services/src/main/java/org/keycloak/services/clientregistration/oidc/DescriptionConverter.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/client/AbstractClientPoliciesTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/client/ClientPoliciesTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/client/FAPI1Test.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/client/FAPICIBATest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/client/OIDCClientRegistrationTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/oidc/OIDCAdvancedRequestParamsTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/oidc/UserInfoTest.java
Labels: area/oidc

#11889 ID token encryption without specifying id_token_encrypted_response_enc does not follow OIDC Dynamic Client Registration specification
  services/src/main/java/org/keycloak/jose/jws/DefaultTokenManager.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/oidc/IdTokenEncryptionTest.java
Labels: area/oidc

#10877 Add logging format symbols description
  docs/guides/src/main/server/logging.adoc
Labels: missing/issue, area/docs

#11946 Replace equals with == when comparing SearchableFields in Jpa*ModelCr…
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/authSession/JpaRootAuthenticationSessionModelCriteriaBuilder.java
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/client/JpaClientModelCriteriaBuilder.java
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/clientscope/JpaClientScopeModelCriteriaBuilder.java
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/group/JpaGroupModelCriteriaBuilder.java
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/loginFailure/JpaUserLoginFailureModelCriteriaBuilder.java
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/realm/JpaRealmModelCriteriaBuilder.java
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/role/JpaRoleModelCriteriaBuilder.java
  model/map-ldap/src/main/java/org/keycloak/models/map/storage/ldap/role/LdapRoleModelCriteriaBuilder.java
Labels: status/ready, area/storage, team/storage-sig

#11822 Introduce map event store with CHM implementation
  model/jpa/src/main/java/org/keycloak/events/jpa/JpaEventStoreProvider.java
  model/map/src/main/java/org/keycloak/models/map/common/ExpirableEntity.java
  model/map/src/main/java/org/keycloak/models/map/events/EventUtils.java
  model/map/src/main/java/org/keycloak/models/map/events/MapAdminEventEntity.java
  model/map/src/main/java/org/keycloak/models/map/events/MapAdminEventQuery.java
  model/map/src/main/java/org/keycloak/models/map/events/MapAuthEventEntity.java
  model/map/src/main/java/org/keycloak/models/map/events/MapAuthEventQuery.java
  model/map/src/main/java/org/keycloak/models/map/events/MapEventStoreProvider.java
  model/map/src/main/java/org/keycloak/models/map/events/MapEventStoreProviderFactory.java
  model/map/src/main/java/org/keycloak/models/map/storage/ModelEntityUtil.java
  model/map/src/main/java/org/keycloak/models/map/storage/chm/ConcurrentHashMapStorageProviderFactory.java
  model/map/src/main/java/org/keycloak/models/map/storage/chm/CriteriaOperator.java
  model/map/src/main/java/org/keycloak/models/map/storage/chm/MapFieldPredicates.java
  model/map/src/main/resources/META-INF/services/org.keycloak.events.EventStoreProviderFactory
  server-spi-private/src/main/java/org/keycloak/events/Event.java
  server-spi-private/src/main/java/org/keycloak/events/EventQuery.java
  server-spi-private/src/main/java/org/keycloak/events/EventStoreProvider.java
  server-spi-private/src/main/java/org/keycloak/events/EventStoreSpi.java
  server-spi-private/src/main/java/org/keycloak/events/admin/AdminEvent.java
  services/src/main/java/org/keycloak/services/resources/admin/RealmAdminResource.java
  testsuite/integration-arquillian/servers/auth-server/services/testsuite-providers/src/main/java/org/keycloak/testsuite/rest/TestingResourceProvider.java
  testsuite/integration-arquillian/tests/base/pom.xml
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/AbstractKeycloakTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/events/AbstractEventsTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/events/EventStoreProviderTest.java
  testsuite/integration-arquillian/tests/base/src/test/resources/META-INF/keycloak-server.json
  testsuite/model/src/test/java/org/keycloak/testsuite/model/events/AdminEventQueryTest.java
  testsuite/model/src/test/java/org/keycloak/testsuite/model/parameters/HotRodMapStorage.java
  testsuite/model/src/test/java/org/keycloak/testsuite/model/parameters/LdapMapStorage.java
  testsuite/model/src/test/java/org/keycloak/testsuite/model/parameters/Map.java
Labels: area/storage, team/storage-sig

#12004 Graceful handling if composite roles have been removed concurrently.
  model/infinispan/src/main/java/org/keycloak/models/cache/infinispan/RoleAdapter.java
Labels: status/ready, area/storage, team/storage-sig

#11927 Update webauth4j dependency version to 0.19.3.RELEASE
  distribution/feature-packs/server-feature-pack/src/main/resources/licenses/keycloak/licenses.xml
  distribution/galleon-feature-packs/server-galleon-pack/src/license/keycloak-server-galleon-pack-licenses.xml
  pom.xml
  services/src/main/java/org/keycloak/authentication/authenticators/browser/WebAuthnAuthenticator.java
  services/src/main/java/org/keycloak/credential/WebAuthnCredentialModelInput.java
Labels: area/dependencies, area/authentication/webauthn

#11855 Make all fields in HotRod store optional
  model/map-hot-rod/src/main/java/org/keycloak/models/map/storage/hotRod/authSession/HotRodRootAuthenticationSessionEntity.java
  model/map-hot-rod/src/main/java/org/keycloak/models/map/storage/hotRod/client/HotRodClientEntity.java
  model/map-hot-rod/src/main/java/org/keycloak/models/map/storage/hotRod/clientscope/HotRodClientScopeEntity.java
  model/map-hot-rod/src/main/java/org/keycloak/models/map/storage/hotRod/group/HotRodGroupEntity.java
  model/map-hot-rod/src/main/java/org/keycloak/models/map/storage/hotRod/loginFailure/HotRodUserLoginFailureEntity.java
  model/map-hot-rod/src/main/java/org/keycloak/models/map/storage/hotRod/realm/HotRodRealmEntity.java
  model/map-hot-rod/src/main/java/org/keycloak/models/map/storage/hotRod/role/HotRodRoleEntity.java
  model/map-hot-rod/src/main/java/org/keycloak/models/map/storage/hotRod/user/HotRodUserEntity.java
  model/map-hot-rod/src/main/java/org/keycloak/models/map/storage/hotRod/userSession/HotRodAuthenticatedClientSessionEntity.java
  model/map-hot-rod/src/main/java/org/keycloak/models/map/storage/hotRod/userSession/HotRodUserSessionEntity.java
Labels: kind/enhancement, area/storage, team/storage-sig

#11552 Update the CLI installation scripts for the SAML Elytron adapter so they work with WildFly 25 and later
  distribution/saml-adapters/shared-cli/adapter-elytron-install-saml-offline.cli
  distribution/saml-adapters/shared-cli/adapter-elytron-install-saml.cli
Labels: area/adapter/jee-saml

#12021 Review http/https and proxy settings in operator
  operator/src/main/java/org/keycloak/operator/v2alpha1/KeycloakDeployment.java
  operator/src/test/java/org/keycloak/operator/KeycloakDeploymentE2EIT.java
  operator/src/test/java/org/keycloak/operator/KeycloakIngressE2EIT.java
Labels: area/operator

#12089 Add a profiles testsuite for jpa-map storage
  testsuite/integration-arquillian/tests/base/pom.xml
  testsuite/model/pom.xml
  testsuite/model/src/main/java/org/keycloak/testsuite/model/KeycloakModelParameters.java
  testsuite/model/src/test/java/org/keycloak/testsuite/model/ClientModelTest.java
  testsuite/model/src/test/java/org/keycloak/testsuite/model/parameters/HotRodMapStorage.java
  testsuite/model/src/test/java/org/keycloak/testsuite/model/parameters/JpaMapStorage.java
  testsuite/model/test-all-profiles.sh
  testsuite/pom.xml
Labels: status/ready, area/storage, team/storage-sig

#12117 Add conditional step to GHA for testing jpa-map storage with postgres
  .github/workflows/ci.yml
Labels: area/storage, team/storage-sig

#12128 JPA map storage: test failures after cache was disabled
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/role/delegate/JpaRoleDelegateProvider.java
  server-spi-private/src/main/java/org/keycloak/events/admin/AdminEventQuery.java
  testsuite/integration-arquillian/servers/auth-server/services/testsuite-providers/src/main/java/org/keycloak/testsuite/rest/TestingResourceProvider.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/events/AbstractEventsTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/events/AdminEventStoreProviderTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/events/EventStoreProviderTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/model/ClientModelTest.java
Labels: status/ready, area/storage, team/storage-sig

#12119 Rename providers from jpa-map-storage to jpa
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/JpaMapStorageProviderFactory.java
  testsuite/integration-arquillian/tests/base/pom.xml
  testsuite/integration-arquillian/tests/base/src/test/resources/META-INF/keycloak-server.json
  testsuite/utils/src/main/resources/META-INF/keycloak-server.json
Labels: status/ready, area/storage, team/storage-sig

#12166 JPA map storage: model tests fails with NPE
  testsuite/model/src/test/java/org/keycloak/testsuite/model/parameters/JpaMapStorage.java
Labels: status/ready, area/storage, team/storage-sig

#12174 JPA map storage: disable failing on unknown properties when deseriali…
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/hibernate/jsonb/JsonbType.java
Labels: status/ready, kind/bug, area/storage, team/storage-sig

#11642 Build operator dependencies first before testing it
  .github/workflows/operator-ci.yml
Labels: status/ready, kind/bug, area/operator

#12066 Unify approach to expirable entities for the new store
  model/map-hot-rod/src/main/java/org/keycloak/models/map/storage/hotRod/realm/HotRodRealmEntity.java
  model/map-hot-rod/src/main/java/org/keycloak/models/map/storage/hotRod/userSession/HotRodUserSessionEntity.java
  model/map/src/main/java/org/keycloak/models/map/authSession/MapRootAuthenticationSessionAdapter.java
  model/map/src/main/java/org/keycloak/models/map/authSession/MapRootAuthenticationSessionEntity.java
  model/map/src/main/java/org/keycloak/models/map/authSession/MapRootAuthenticationSessionProvider.java
  model/map/src/main/java/org/keycloak/models/map/common/ExpirableEntity.java
  model/map/src/main/java/org/keycloak/models/map/common/TimeAdapter.java
  model/map/src/main/java/org/keycloak/models/map/events/EventUtils.java
  model/map/src/main/java/org/keycloak/models/map/events/MapAdminEventEntity.java
  model/map/src/main/java/org/keycloak/models/map/events/MapAdminEventQuery.java
  model/map/src/main/java/org/keycloak/models/map/events/MapAuthEventEntity.java
  model/map/src/main/java/org/keycloak/models/map/events/MapAuthEventQuery.java
  model/map/src/main/java/org/keycloak/models/map/events/MapEventStoreProvider.java
  model/map/src/main/java/org/keycloak/models/map/realm/MapRealmEntity.java
  model/map/src/main/java/org/keycloak/models/map/realm/entity/MapClientInitialAccessEntity.java
  model/map/src/main/java/org/keycloak/models/map/storage/chm/MapFieldPredicates.java
  model/map/src/main/java/org/keycloak/models/map/userSession/MapAuthenticatedClientSessionAdapter.java
  model/map/src/main/java/org/keycloak/models/map/userSession/MapAuthenticatedClientSessionEntity.java
  model/map/src/main/java/org/keycloak/models/map/userSession/MapUserSessionAdapter.java
  model/map/src/main/java/org/keycloak/models/map/userSession/MapUserSessionEntity.java
  model/map/src/main/java/org/keycloak/models/map/userSession/MapUserSessionProvider.java
  model/map/src/main/java/org/keycloak/models/map/userSession/SessionExpiration.java
  server-spi-private/src/main/java/org/keycloak/events/Event.java
  server-spi-private/src/main/java/org/keycloak/events/admin/AdminEvent.java
  server-spi/src/main/java/org/keycloak/models/AuthenticatedClientSessionModel.java
  server-spi/src/main/java/org/keycloak/models/UserSessionModel.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/x509/X509DirectGrantTest.java
Labels: area/storage, team/storage-sig

#12197 Fix typo in keycloak.d.ts
  adapters/oidc/js/dist/keycloak.d.ts
Labels: area/docs

#11084 SAML Broker - Introduce assertion Issuer validation
  services/src/main/java/org/keycloak/broker/saml/SAMLEndpoint.java
  services/src/main/java/org/keycloak/broker/saml/SAMLIdentityProviderConfig.java
  services/src/main/java/org/keycloak/broker/saml/SAMLIdentityProviderFactory.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/admin/IdentityProviderTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/broker/KcSamlBrokerTest.java
  themes/src/main/resources/theme/base/admin/messages/admin-messages_en.properties
  themes/src/main/resources/theme/base/admin/resources/partials/realm-identity-provider-saml.html
Labels: area/saml, kind/feature

#11322 9945 java17 nashorn
  model/jpa/src/main/java/org/keycloak/connections/jpa/util/JpaUtils.java
  pom.xml
  quarkus/runtime/src/main/java/org/keycloak/quarkus/runtime/integration/QuarkusPlatform.java
  server-spi-private/src/main/java/org/keycloak/utils/ProxyClassLoader.java
  services/src/main/java/org/keycloak/platform/PlatformProvider.java
  services/src/main/java/org/keycloak/scripting/DefaultScriptingProvider.java
  services/src/main/java/org/keycloak/scripting/DefaultScriptingProviderFactory.java
  testsuite/integration-arquillian/servers/auth-server/jboss/common/ant/configure.xml
  testsuite/integration-arquillian/servers/auth-server/jboss/common/jboss-cli/deploy-nashorn-module.cli
  testsuite/integration-arquillian/servers/auth-server/jboss/pom.xml
  testsuite/integration-arquillian/servers/auth-server/quarkus/pom.xml
  testsuite/utils/pom.xml
  testsuite/utils/src/main/java/org/keycloak/testsuite/TestPlatform.java
  wildfly/extensions/src/main/java/org/keycloak/provider/wildfly/WildflyPlatform.java
  wildfly/extensions/src/main/java/org/keycloak/provider/wildfly/WildflyUtil.java
Labels: team/core-features

#12217 Deferred indexes are not available on CockroachDB, therefore, only use them on PostgreSQL
  model/map-jpa/src/main/resources/META-INF/client-scopes/jpa-client-scopes-changelog-1.xml
  model/map-jpa/src/main/resources/META-INF/clients/jpa-clients-changelog-1.xml
  model/map-jpa/src/main/resources/META-INF/groups/jpa-groups-changelog-1.xml
  model/map-jpa/src/main/resources/META-INF/realms/jpa-realms-changelog-1.xml
  model/map-jpa/src/main/resources/META-INF/roles/jpa-roles-changelog-1.xml
Labels: status/ready, area/storage, team/storage-sig

#12191 Change CodeGenerateUtil so that it doesn't add/remove the code in an …
  services/src/main/java/org/keycloak/services/managers/CodeGenerateUtil.java
Labels: area/storage, team/storage-sig

#12228 OIDC RP-Initiated Logout POST method support
  services/src/main/java/org/keycloak/protocol/oidc/endpoints/LogoutEndpoint.java
  testsuite/integration-arquillian/servers/auth-server/services/testsuite-providers/src/main/java/org/keycloak/testsuite/rest/TestingResourceProvider.java
  testsuite/integration-arquillian/tests/base/src/main/java/org/keycloak/testsuite/util/URLUtils.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/oauth/RPInitiatedLogoutTest.java
Labels: team/core-features

#11934 JPA map storage: Authorization services no-downtime store
  model/map-jpa/pom.xml
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/Constants.java
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/JpaMapKeycloakTransaction.java
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/JpaMapStorageProviderFactory.java
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/JpaModelCriteriaBuilder.java
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/authorization/permission/JpaPermissionMapKeycloakTransaction.java
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/authorization/permission/JpaPermissionModelCriteriaBuilder.java
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/authorization/permission/delegate/JpaPermissionDelegateProvider.java
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/authorization/permission/entity/JpaPermissionEntity.java
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/authorization/permission/entity/JpaPermissionMetadata.java
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/authorization/policy/JpaPolicyMapKeycloakTransaction.java
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/authorization/policy/JpaPolicyModelCriteriaBuilder.java
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/authorization/policy/delegate/JpaPolicyDelegateProvider.java
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/authorization/policy/entity/JpaPolicyConfigEntity.java
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/authorization/policy/entity/JpaPolicyEntity.java
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/authorization/policy/entity/JpaPolicyMetadata.java
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/authorization/resource/JpaResourceMapKeycloakTransaction.java
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/authorization/resource/JpaResourceModelCriteriaBuilder.java
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/authorization/resource/delegate/JpaResourceDelegateProvider.java
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/authorization/resource/entity/JpaResourceAttributeEntity.java
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/authorization/resource/entity/JpaResourceEntity.java
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/authorization/resource/entity/JpaResourceMetadata.java
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/authorization/resourceServer/JpaResourceServerMapKeycloakTransaction.java
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/authorization/resourceServer/JpaResourceServerModelCriteriaBuilder.java
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/authorization/resourceServer/delegate/JpaResourceServerDelegateProvider.java
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/authorization/resourceServer/entity/JpaResourceServerEntity.java
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/authorization/resourceServer/entity/JpaResourceServerMetadata.java
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/authorization/scope/JpaScopeMapKeycloakTransaction.java
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/authorization/scope/JpaScopeModelCriteriaBuilder.java
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/authorization/scope/delagate/JpaScopeDelegateProvider.java
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/authorization/scope/entity/JpaScopeEntity.java
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/authorization/scope/entity/JpaScopeMetadata.java
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/client/JpaClientModelCriteriaBuilder.java
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/group/JpaGroupModelCriteriaBuilder.java
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/hibernate/jsonb/JpaEntityMigration.java
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/hibernate/jsonb/migration/JpaPermissionMigration.java
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/hibernate/jsonb/migration/JpaPolicyMigration.java
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/hibernate/jsonb/migration/JpaResourceMigration.java
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/hibernate/jsonb/migration/JpaResourceServerMigration.java
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/hibernate/jsonb/migration/JpaScopeMigration.java
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/liquibase/updater/MapJpaLiquibaseUpdaterProvider.java
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/realm/JpaRealmModelCriteriaBuilder.java
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/role/JpaRoleModelCriteriaBuilder.java
  model/map-jpa/src/main/resources/META-INF/authz/permission/jpa-authz-permission-changelog-1.xml
  model/map-jpa/src/main/resources/META-INF/authz/policy/jpa-authz-policy-changelog-1.xml
  model/map-jpa/src/main/resources/META-INF/authz/resource-server/jpa-authz-resource-server-changelog-1.xml
  model/map-jpa/src/main/resources/META-INF/authz/resource/jpa-authz-resource-changelog-1.xml
  model/map-jpa/src/main/resources/META-INF/authz/scope/jpa-authz-scope-changelog-1.xml
  model/map-jpa/src/main/resources/META-INF/jpa-aggregate-changelog.xml
  model/map-jpa/src/main/resources/META-INF/jpa-authz-changelog.xml
  model/map-jpa/src/main/resources/META-INF/persistence.xml
  model/map/src/main/java/org/keycloak/models/map/authorization/MapPermissionTicketStore.java
  model/map/src/main/java/org/keycloak/models/map/authorization/MapPolicyStore.java
  model/map/src/main/java/org/keycloak/models/map/authorization/MapResourceStore.java
  model/map/src/main/java/org/keycloak/models/map/authorization/MapScopeStore.java
  services/src/main/java/org/keycloak/authorization/admin/PolicyResourceService.java
  services/src/main/java/org/keycloak/authorization/admin/ResourceServerService.java
  services/src/main/java/org/keycloak/authorization/admin/ResourceSetService.java
  services/src/main/java/org/keycloak/authorization/admin/ScopeService.java
  testsuite/integration-arquillian/tests/base/pom.xml
Labels: area/storage, team/storage-sig
