Repository keycloak/keycloak, pull requests merged in 2022-09, with the labels that each got.

#7972 KEYCLOAK-12988 Deprecate getUsers methods from UserProvider and UserQueryProvider
  model/infinispan/src/main/java/org/keycloak/models/cache/infinispan/UserCacheSession.java
  model/jpa/src/main/java/org/keycloak/models/jpa/JpaUserProvider.java
  model/jpa/src/main/java/org/keycloak/models/jpa/entities/UserEntity.java
  model/legacy-private/src/main/java/org/keycloak/migration/migrators/MigrateTo1_4_0.java
  model/legacy-private/src/main/java/org/keycloak/storage/UserStorageManager.java
  model/legacy-services/src/main/java/org/keycloak/exportimport/util/MultipleStepsExportProvider.java
  model/map/src/main/java/org/keycloak/models/map/user/MapUserProvider.java
  server-spi/src/main/java/org/keycloak/models/UserProvider.java
  server-spi/src/main/java/org/keycloak/storage/user/UserQueryProvider.java
  services/src/main/java/org/keycloak/exportimport/util/ExportUtils.java
  services/src/main/java/org/keycloak/services/resources/admin/IdentityProviderResource.java
  services/src/main/java/org/keycloak/services/resources/admin/UsersResource.java
  testsuite/integration-arquillian/tests/base/src/main/java/org/keycloak/testsuite/ProfileAssume.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/federation/ldap/LDAPSyncTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/federation/storage/UserStorageFailureTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/model/UserModelTest.java
  testsuite/utils/src/main/java/org/keycloak/testsuite/util/cli/TestCacheUtils.java
Labels: kind/bug, area/storage

#12501 Implementation for feature Expiration for Admin Events #12476
  model/jpa/src/main/java/org/keycloak/events/jpa/JpaEventStoreProvider.java
  model/jpa/src/main/java/org/keycloak/events/jpa/JpaEventStoreProviderFactory.java
  model/jpa/src/main/java/org/keycloak/models/jpa/entities/RealmAttributes.java
  model/legacy-private/src/main/java/org/keycloak/services/scheduled/ClearExpiredAdminEvents.java
  model/legacy-private/src/main/java/org/keycloak/storage/datastore/LegacyDatastoreProviderFactory.java
  model/legacy-private/src/main/java/org/keycloak/storage/datastore/PeriodicEventInvalidation.java
  model/map/src/main/java/org/keycloak/models/map/events/MapEventStoreProvider.java
  testsuite/integration-arquillian/servers/auth-server/services/testsuite-providers/src/main/java/org/keycloak/testsuite/rest/TestingResourceProvider.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/events/AdminEventStoreProviderTest.java
  themes/src/main/resources/theme/base/admin/resources/js/controllers/realm.js
  themes/src/main/resources/theme/base/admin/resources/partials/realm-events-config.html
Labels: priority/important

#10785 Fixes #9482: A user could be assigned to a parent group if he is already assigned to a subgroup.
  federation/ldap/src/main/java/org/keycloak/storage/ldap/mappers/membership/group/GroupLDAPStorageMapper.java
  model/jpa/src/main/java/org/keycloak/models/jpa/UserAdapter.java
  model/map/src/main/java/org/keycloak/models/map/user/MapUserAdapter.java
  server-spi-private/src/main/java/org/keycloak/storage/adapter/UpdateOnlyChangeUserModelDelegate.java
  server-spi/src/main/java/org/keycloak/models/utils/RoleUtils.java
  services/src/main/java/org/keycloak/services/resources/admin/UserResource.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/admin/UserTest.java
Labels: priority/important

#13757 10227: RelayState max length not respected (fix2)
  server-spi-private/src/main/java/org/keycloak/broker/provider/util/IdentityBrokerState.java
  server-spi-private/src/test/java/org/keycloak/broker/provider/util/IdentityBrokerStateTest.java
  server-spi-private/src/test/java/org/keycloak/broker/provider/util/IdentityBrokerStateTestHelpers.java
  services/src/main/java/org/keycloak/broker/oidc/AbstractOAuth2IdentityProvider.java
  services/src/main/java/org/keycloak/services/resources/IdentityBrokerService.java
  services/src/main/java/org/keycloak/social/twitter/TwitterIdentityProvider.java
Labels: area/saml, kind/bug

#13730 Fix jspath for old admin console and frontend url (regression from 18 onwards)
  services/src/main/java/org/keycloak/services/resources/admin/AdminConsole.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/url/DefaultHostnameTest.java
Labels: team/rh-iam

#14274 Set correct entity version when adding a child entity with its own en…
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/authSession/entity/JpaRootAuthenticationSessionEntity.java
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/realm/entity/JpaRealmEntity.java
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/user/entity/JpaUserEntity.java
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/userSession/entity/JpaUserSessionEntity.java
Labels: area/storage, team/storage-sig

#13183 Enable MapUserProvider storing username with the letter case signific…
  model/map-hot-rod/src/main/java/org/keycloak/models/map/storage/hotRod/IckleQueryMapModelCriteriaBuilder.java
  model/map-hot-rod/src/main/java/org/keycloak/models/map/storage/hotRod/IckleQueryWhereClauses.java
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/Constants.java
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/JpaPredicateFunction.java
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/hibernate/jsonb/migration/JpaUserMigration.java
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/user/JpaUserModelCriteriaBuilder.java
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/user/entity/JpaUserEntity.java
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/user/entity/JpaUserMetadata.java
  model/map-jpa/src/main/resources/META-INF/jpa-users-changelog.xml
  model/map-jpa/src/main/resources/META-INF/users/jpa-users-changelog-2.xml
  model/map/src/main/java/org/keycloak/models/map/storage/chm/MapFieldPredicates.java
  model/map/src/main/java/org/keycloak/models/map/user/MapUserAdapter.java
  model/map/src/main/java/org/keycloak/models/map/user/MapUserProvider.java
  model/map/src/main/java/org/keycloak/models/map/user/MapUserProviderFactory.java
  server-spi-private/src/main/java/org/keycloak/userprofile/DefaultAttributes.java
  server-spi/src/main/java/org/keycloak/models/UserModel.java
  server-spi/src/main/java/org/keycloak/storage/user/UserLookupProvider.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/AssertEvents.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/account/AccountRestServiceTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/adapter/servlet/SAMLServletAdapterTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/admin/ClientTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/admin/FineGrainAdminUnitTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/admin/UsersTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/broker/AccountLinkTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/federation/ldap/LDAPProvidersIntegrationTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/federation/storage/UserStorageTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/forms/RegisterTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/forms/RegisterWithUserProfileTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/x509/AbstractX509AuthenticationTest.java
  testsuite/model/src/test/java/org/keycloak/testsuite/model/UserModelTest.java
Labels: kind/enhancement, area/storage, team/storage-sig

#13867 Reuse of token in TOTP is possible
  core/src/main/java/org/keycloak/representations/idm/RealmRepresentation.java
  model/jpa/src/main/java/org/keycloak/models/jpa/RealmAdapter.java
  model/legacy-private/src/main/java/org/keycloak/storage/datastore/LegacyExportImportManager.java
  model/map-hot-rod/src/main/java/org/keycloak/models/map/storage/hotRod/realm/entity/HotRodOTPPolicyEntity.java
  model/map/src/main/java/org/keycloak/models/map/datastore/MapExportImportManager.java
  model/map/src/main/java/org/keycloak/models/map/realm/entity/MapOTPPolicyEntity.java
  server-spi-private/src/main/java/org/keycloak/models/utils/ModelToRepresentation.java
  server-spi/src/main/java/org/keycloak/models/OTPPolicy.java
  services/src/main/java/org/keycloak/credential/OTPCredentialProvider.java
  testsuite/integration-arquillian/tests/base/src/main/java/org/keycloak/testsuite/updaters/RealmAttributeUpdater.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/AbstractKeycloakTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/account/custom/CustomAuthFlowOTPTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/actions/AppInitiatedActionTotpSetupTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/actions/RequiredActionTotpSetupTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/admin/realm/RealmTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/broker/AbstractAdvancedBrokerTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/broker/KcOidcBrokerTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/broker/KcOidcFirstBrokerLoginNewAuthTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/federation/storage/UserStorageOTPTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/forms/BruteForceTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/forms/LevelOfAssuranceFlowTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/forms/LoginTotpTest.java
  testsuite/integration-arquillian/tests/other/old-admin-console/src/main/java/org/keycloak/testsuite/console/page/authentication/otppolicy/OTPPolicyForm.java
  testsuite/integration-arquillian/tests/other/old-admin-console/src/test/java/org/keycloak/testsuite/console/authentication/OTPPolicyTest.java
  themes/src/main/resources/theme/base/admin/messages/admin-messages_en.properties
  themes/src/main/resources/theme/base/admin/resources/partials/otp-policy.html
Labels: area/storage, team/storage-sig

#13833 Move UserFederatedStorageProvider into legacy module
  model/legacy-private/src/main/java/org/keycloak/exportimport/util/ExportUtils.java
  model/legacy-private/src/main/java/org/keycloak/storage/datastore/LegacyExportImportManager.java
  model/legacy/src/main/java/org/keycloak/storage/federated/UserAttributeFederatedStorage.java
  model/legacy/src/main/java/org/keycloak/storage/federated/UserBrokerLinkFederatedStorage.java
  model/legacy/src/main/java/org/keycloak/storage/federated/UserConsentFederatedStorage.java
  model/legacy/src/main/java/org/keycloak/storage/federated/UserFederatedStorageProvider.java
  model/legacy/src/main/java/org/keycloak/storage/federated/UserFederatedStorageProviderFactory.java
  model/legacy/src/main/java/org/keycloak/storage/federated/UserFederatedStorageProviderSpi.java
  model/legacy/src/main/java/org/keycloak/storage/federated/UserFederatedUserCredentialStore.java
  model/legacy/src/main/java/org/keycloak/storage/federated/UserGroupMembershipFederatedStorage.java
  model/legacy/src/main/java/org/keycloak/storage/federated/UserNotBeforeFederatedStorage.java
  model/legacy/src/main/java/org/keycloak/storage/federated/UserRequiredActionsFederatedStorage.java
  model/legacy/src/main/java/org/keycloak/storage/federated/UserRoleMappingsFederatedStorage.java
  model/legacy/src/main/resources/META-INF/services/org.keycloak.provider.Spi
  model/map/src/main/java/org/keycloak/models/map/datastore/MapExportImportManager.java
  server-spi-private/src/main/java/org/keycloak/exportimport/ExportAdapter.java
  server-spi-private/src/main/java/org/keycloak/exportimport/ExportOptions.java
  server-spi-private/src/main/java/org/keycloak/models/utils/ModelToRepresentation.java
  server-spi-private/src/main/java/org/keycloak/models/utils/RepresentationToModel.java
  server-spi-private/src/main/java/org/keycloak/models/utils/StripSecretsUtils.java
  server-spi-private/src/main/java/org/keycloak/storage/ExportImportManager.java
  server-spi-private/src/main/resources/META-INF/services/org.keycloak.provider.Spi
  server-spi/src/main/java/org/keycloak/models/KeycloakSession.java
  services/src/main/java/org/keycloak/authorization/admin/ResourceServerService.java
  services/src/main/java/org/keycloak/services/DefaultKeycloakSession.java
  services/src/main/java/org/keycloak/services/resources/admin/RealmAdminResource.java
  services/src/main/java/org/keycloak/validation/DefaultClientValidationProvider.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/admin/PermissionsTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/admin/partialexport/PartialExportTest.java
Labels: area/storage, team/storage-sig

#8822 Issue #8749: Add an option to control the order of the event query and admin event query
  model/jpa/src/main/java/org/keycloak/events/jpa/JpaAdminEventQuery.java
  model/jpa/src/main/java/org/keycloak/events/jpa/JpaEventQuery.java
  model/map/src/main/java/org/keycloak/models/map/events/MapAdminEventQuery.java
  model/map/src/main/java/org/keycloak/models/map/events/MapAuthEventQuery.java
  server-spi-private/src/main/java/org/keycloak/events/EventQuery.java
  server-spi-private/src/main/java/org/keycloak/events/admin/AdminEventQuery.java
  services/src/main/java/org/keycloak/authorization/protection/ProtectionService.java
  services/src/main/java/org/keycloak/services/resources/admin/AdminEventBuilder.java
  services/src/main/java/org/keycloak/services/resources/admin/RealmAdminResource.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/admin/event/AdminEventTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/admin/event/LoginEventsTest.java
  testsuite/model/src/test/java/org/keycloak/testsuite/model/events/AdminEventQueryTest.java
  testsuite/model/src/test/java/org/keycloak/testsuite/model/events/EventQueryTest.java
Labels: priority/important

#14298 14294 fixed admin event expiration sql error
  model/jpa/src/main/java/org/keycloak/events/jpa/JpaEventStoreProvider.java
Labels: status/ready, kind/bug, area/storage

#14277 Unify package name format in jpa map store
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/JpaMapStorageProviderFactory.java
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/clientScope/JpaClientScopeMapKeycloakTransaction.java
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/clientScope/JpaClientScopeModelCriteriaBuilder.java
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/clientScope/delegate/JpaClientScopeDelegateProvider.java
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/clientScope/entity/JpaClientScopeAttributeEntity.java
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/clientScope/entity/JpaClientScopeEntity.java
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/clientScope/entity/JpaClientScopeMetadata.java
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/hibernate/jsonb/JpaEntityMigration.java
  model/map-jpa/src/main/resources/default-map-jpa-persistence.xml
Labels: area/storage, team/storage-sig

#7871 KEYCLOAK-17252 'Aggregate attribute values' mapper option is now applied to group hierarchy
  server-spi-private/src/main/java/org/keycloak/models/utils/KeycloakModelUtils.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/oauth/OIDCProtocolMappersTest.java
Labels: area/oidc, kind/bug, area/core, status/needs-rebase

#13050 Update IDP link username when sync mode is "force"
  model/jpa/src/main/java/org/keycloak/models/jpa/JpaUserProvider.java
  services/src/main/java/org/keycloak/services/resources/IdentityBrokerService.java
  testsuite/integration-arquillian/tests/base/src/main/java/org/keycloak/testsuite/pages/AccountUpdateProfilePage.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/broker/KcOidcBrokerTest.java
Labels: priority/important

#14275 Ensure entity version is indexed
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/authSession/entity/JpaAuthenticationSessionEntity.java
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/realm/entity/JpaComponentEntity.java
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/user/entity/JpaUserConsentEntity.java
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/user/entity/JpaUserFederatedIdentityEntity.java
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/userSession/entity/JpaClientSessionEntity.java
  model/map-jpa/src/main/resources/META-INF/auth-sessions/jpa-auth-sessions-changelog-1.xml
  model/map-jpa/src/main/resources/META-INF/authz/permission/jpa-authz-permission-changelog-1.xml
  model/map-jpa/src/main/resources/META-INF/authz/resource-server/jpa-authz-resource-server-changelog-1.xml
  model/map-jpa/src/main/resources/META-INF/authz/scope/jpa-authz-scope-changelog-1.xml
  model/map-jpa/src/main/resources/META-INF/client-scopes/jpa-client-scopes-changelog-1.xml
  model/map-jpa/src/main/resources/META-INF/clients/jpa-clients-changelog-1.xml
  model/map-jpa/src/main/resources/META-INF/groups/jpa-groups-changelog-1.xml
  model/map-jpa/src/main/resources/META-INF/jpa-client-scopes-changelog.xml
  model/map-jpa/src/main/resources/META-INF/jpa-clients-changelog.xml
  model/map-jpa/src/main/resources/META-INF/jpa-groups-changelog.xml
  model/map-jpa/src/main/resources/META-INF/jpa-roles-changelog.xml
  model/map-jpa/src/main/resources/META-INF/jpa-single-use-objects-changelog.xml
  model/map-jpa/src/main/resources/META-INF/jpa-user-login-failures-changelog.xml
  model/map-jpa/src/main/resources/META-INF/realms/jpa-realms-changelog-1.xml
  model/map-jpa/src/main/resources/META-INF/users/jpa-users-changelog-1.xml
Labels: area/storage, team/storage-sig

#13068 Intent support before issuing tokens (UK OpenBanking)
  services/src/main/java/org/keycloak/protocol/oidc/mappers/ClaimsParameterWithValueIdTokenMapper.java
  services/src/main/java/org/keycloak/services/clientpolicy/executor/IntentClientBindCheckExecutor.java
  services/src/main/java/org/keycloak/services/clientpolicy/executor/IntentClientBindCheckExecutorFactory.java
  services/src/main/resources/META-INF/services/org.keycloak.protocol.ProtocolMapper
  services/src/main/resources/META-INF/services/org.keycloak.services.clientpolicy.executor.ClientPolicyExecutorProviderFactory
  testsuite/integration-arquillian/servers/auth-server/services/testsuite-providers/src/main/java/org/keycloak/testsuite/rest/TestApplicationResourceProvider.java
  testsuite/integration-arquillian/servers/auth-server/services/testsuite-providers/src/main/java/org/keycloak/testsuite/rest/TestApplicationResourceProviderFactory.java
  testsuite/integration-arquillian/servers/auth-server/services/testsuite-providers/src/main/java/org/keycloak/testsuite/rest/resource/TestingOIDCEndpointsApplicationResource.java
  testsuite/integration-arquillian/tests/base/src/main/java/org/keycloak/testsuite/client/resources/TestApplicationResourceUrls.java
  testsuite/integration-arquillian/tests/base/src/main/java/org/keycloak/testsuite/client/resources/TestOIDCEndpointsApplicationResource.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/client/ClientPoliciesTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/util/ClientPoliciesUtil.java
Labels: missing/docs

#12961 Fetch group by attribute
  integration/admin-client/src/main/java/org/keycloak/admin/client/resource/GroupsResource.java
  model/infinispan/src/main/java/org/keycloak/models/cache/infinispan/RealmCacheSession.java
  model/jpa/src/main/java/org/keycloak/models/jpa/JpaClientProviderFactory.java
  model/jpa/src/main/java/org/keycloak/models/jpa/JpaClientScopeProviderFactory.java
  model/jpa/src/main/java/org/keycloak/models/jpa/JpaDeploymentStateProviderFactory.java
  model/jpa/src/main/java/org/keycloak/models/jpa/JpaGroupProviderFactory.java
  model/jpa/src/main/java/org/keycloak/models/jpa/JpaRealmProvider.java
  model/jpa/src/main/java/org/keycloak/models/jpa/JpaRealmProviderFactory.java
  model/jpa/src/main/java/org/keycloak/models/jpa/JpaRoleProviderFactory.java
  model/jpa/src/main/resources/META-INF/jpa-changelog-20.0.0.xml
  model/jpa/src/main/resources/META-INF/jpa-changelog-master.xml
  model/legacy-private/src/main/java/org/keycloak/storage/GroupStorageManager.java
  model/map-hot-rod/src/main/java/org/keycloak/models/map/storage/hotRod/IckleQueryMapModelCriteriaBuilder.java
  model/map-hot-rod/src/main/java/org/keycloak/models/map/storage/hotRod/IckleQueryWhereClauses.java
  model/map-hot-rod/src/main/java/org/keycloak/models/map/storage/hotRod/group/HotRodGroupEntity.java
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/group/JpaGroupModelCriteriaBuilder.java
  model/map/src/main/java/org/keycloak/models/map/group/MapGroupProvider.java
  model/map/src/main/java/org/keycloak/models/map/realm/MapRealmProvider.java
  model/map/src/main/java/org/keycloak/models/map/storage/chm/MapFieldPredicates.java
  server-spi-private/src/main/java/org/keycloak/models/utils/ModelToRepresentation.java
  server-spi/src/main/java/org/keycloak/models/GroupModel.java
  server-spi/src/main/java/org/keycloak/storage/group/GroupLookupProvider.java
  services/src/main/java/org/keycloak/services/resources/admin/GroupsResource.java
  testsuite/integration-arquillian/servers/auth-server/services/testsuite-providers/src/main/java/org/keycloak/testsuite/federation/HardcodedGroupStorageProvider.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/admin/group/AbstractGroupTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/admin/group/GroupSearchTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/admin/group/GroupTest.java
  testsuite/utils/src/main/java/org/keycloak/testsuite/util/cli/GroupCommands.java
  testsuite/utils/src/main/java/org/keycloak/testsuite/util/cli/TestsuiteCLI.java
Labels: priority/critical, area/storage, team/storage-sig

#14446 Make it possible to switch between BC and BC-FIPS libraries
  common/src/main/java/org/keycloak/common/crypto/CryptoIntegration.java
  crypto/fips1402/src/main/java/org/keycloak/crypto/fips/Fips1402StrictCryptoProvider.java
  crypto/fips1402/src/main/java/org/keycloak/crypto/fips/KeycloakFipsSecurityProvider.java
  quarkus/config-api/src/main/java/org/keycloak/config/ClassLoaderOptions.java
  quarkus/config-api/src/main/java/org/keycloak/config/OptionCategory.java
  quarkus/config-api/src/main/java/org/keycloak/config/SecurityOptions.java
  quarkus/deployment/src/main/java/org/keycloak/quarkus/deployment/KeycloakProcessor.java
  quarkus/runtime/pom.xml
  quarkus/runtime/src/main/java/org/keycloak/quarkus/runtime/KeycloakRecorder.java
  quarkus/runtime/src/main/java/org/keycloak/quarkus/runtime/configuration/mappers/ClassLoaderPropertyMappers.java
  quarkus/runtime/src/main/java/org/keycloak/quarkus/runtime/configuration/mappers/PropertyMappers.java
  quarkus/runtime/src/main/java/org/keycloak/quarkus/runtime/configuration/mappers/SecurityPropertyMappers.java
  quarkus/tests/integration/src/main/java/org/keycloak/it/utils/Maven.java
  quarkus/tests/integration/src/main/java/org/keycloak/it/utils/RawKeycloakDistribution.java
  quarkus/tests/integration/src/test/java/org/keycloak/it/cli/dist/FipsDistTest.java
  quarkus/tests/integration/src/test/resources/org/keycloak/it/cli/approvals/cli/help/HelpCommandTest.testStartDevHelpAll.unix.approved.txt
  quarkus/tests/integration/src/test/resources/org/keycloak/it/cli/approvals/cli/help/HelpCommandTest.testStartDevHelpAll.windows.approved.txt
  quarkus/tests/integration/src/test/resources/org/keycloak/it/cli/approvals/cli/help/HelpCommandTest.testStartHelpAll.unix.approved.txt
  quarkus/tests/integration/src/test/resources/org/keycloak/it/cli/approvals/cli/help/HelpCommandTest.testStartHelpAll.windows.approved.txt
Labels: missing/docs, missing/tests

#8398 KEYCLOAK-19132 SAML adapter config replacement with environment variables
  common/src/main/java/org/keycloak/common/util/StringPropertyReplacer.java
  common/src/test/java/org/keycloak/common/util/StringPropertyReplacerTest.java
Labels: area/saml, kind/enhancement, area/adapter/jee-saml

#14574 Fix running clusteraware scheduled tasks in Wildfly after legacy migration
  model/legacy-private/src/main/java/org/keycloak/services/scheduled/ClusterAwareScheduledTaskRunner.java
Labels: area/storage, team/storage-sig

#14589 Stabilize testPersistenceMultipleNodesClientSessionsAtRandomNode mode…
  testsuite/model/src/test/java/org/keycloak/testsuite/model/session/OfflineSessionPersistenceTest.java
Labels: area/storage, team/storage-sig

#13974 enhance group search behavior to allow for search for exact name
  integration/admin-client/src/main/java/org/keycloak/admin/client/resource/GroupsResource.java
  model/infinispan/src/main/java/org/keycloak/models/cache/infinispan/RealmAdapter.java
  model/infinispan/src/main/java/org/keycloak/models/cache/infinispan/RealmCacheSession.java
  model/jpa/src/main/java/org/keycloak/models/jpa/JpaRealmProvider.java
  model/jpa/src/main/java/org/keycloak/models/jpa/RealmAdapter.java
  model/jpa/src/main/java/org/keycloak/models/jpa/entities/GroupEntity.java
  model/legacy-private/src/main/java/org/keycloak/storage/GroupStorageManager.java
  model/map/src/main/java/org/keycloak/models/map/group/MapGroupProvider.java
  model/map/src/main/java/org/keycloak/models/map/realm/MapRealmAdapter.java
  model/map/src/main/java/org/keycloak/models/map/realm/MapRealmProvider.java
  server-spi-private/src/main/java/org/keycloak/models/utils/ModelToRepresentation.java
  server-spi/src/main/java/org/keycloak/models/RealmModel.java
  server-spi/src/main/java/org/keycloak/storage/group/GroupLookupProvider.java
  services/src/main/java/org/keycloak/services/resources/admin/GroupsResource.java
  testsuite/integration-arquillian/servers/auth-server/services/testsuite-providers/src/main/java/org/keycloak/testsuite/federation/HardcodedGroupStorageProvider.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/admin/group/GroupTest.java
Labels: area/storage, team/storage-sig
