Repository keycloak/keycloak, pull requests merged in 2022-06, with the labels that each got.

#12226 Extract timestamp from Expirable entity
  model/map/src/main/java/org/keycloak/models/map/authSession/MapAuthenticationSessionEntity.java
  model/map/src/main/java/org/keycloak/models/map/authSession/MapRootAuthenticationSessionEntity.java
  model/map/src/main/java/org/keycloak/models/map/common/ExpirableEntity.java
  model/map/src/main/java/org/keycloak/models/map/events/MapAdminEventEntity.java
  model/map/src/main/java/org/keycloak/models/map/events/MapAuthEventEntity.java
  model/map/src/main/java/org/keycloak/models/map/realm/entity/MapClientInitialAccessEntity.java
  model/map/src/main/java/org/keycloak/models/map/userSession/MapAuthenticatedClientSessionEntity.java
  model/map/src/main/java/org/keycloak/models/map/userSession/MapUserSessionEntity.java
Labels: area/storage, team/storage-sig

#12218 Update issues link to GitHub issues rather than JBoss/RedHat JIRA
  GOVERNANCE.md
  examples/themes/src/main/resources/theme/logo-example/welcome/index.ftl
  themes/src/main/resources/theme/keycloak/welcome/index.ftl
Labels: missing/issue, area/docs

#12273 Each JpaRootEntity should have its own current schema version
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/Constants.java
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/authSession/entity/JpaRootAuthenticationSessionEntity.java
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/realm/entity/JpaComponentEntity.java
  model/map-jpa/src/main/resources/META-INF/auth-sessions/jpa-auth-sessions-changelog-1.xml
  model/map-jpa/src/main/resources/META-INF/jpa-auth-sessions-changelog.xml
  model/map-jpa/src/main/resources/META-INF/jpa-realms-changelog.xml
  model/map-jpa/src/main/resources/META-INF/realms/jpa-realms-changelog-1.xml
Labels: status/ready, area/storage, team/storage-sig

#12312 Update webauthn4j to 0.20.0
  distribution/feature-packs/server-feature-pack/src/main/resources/licenses/keycloak/licenses.xml
  distribution/galleon-feature-packs/server-galleon-pack/src/license/keycloak-server-galleon-pack-licenses.xml
  pom.xml
Labels: area/dependencies, area/authentication/webauthn

#11977 9853 hot hod map storage single use objects
  model/map-hot-rod/src/main/java/org/keycloak/models/map/storage/hotRod/HotRodMapStorageProviderFactory.java
  model/map-hot-rod/src/main/java/org/keycloak/models/map/storage/hotRod/SingleUseObjectHotRodMapStorage.java
  model/map-hot-rod/src/main/java/org/keycloak/models/map/storage/hotRod/common/ProtoSchemaInitializer.java
  model/map-hot-rod/src/main/java/org/keycloak/models/map/storage/hotRod/singleUseObject/HotRodSingleUseObjectEntity.java
  model/map-hot-rod/src/main/resources/config/cacheConfig.xml
  model/map-hot-rod/src/main/resources/config/infinispan.xml
  model/map/src/main/java/org/keycloak/models/map/storage/chm/SingleUseObjectConcurrentHashMapStorage.java
  model/map/src/main/java/org/keycloak/models/map/storage/chm/SingleUseObjectKeycloakTransaction.java
  testsuite/integration-arquillian/tests/pom.xml
  testsuite/model/src/main/resources/hotrod/infinispan.xml
  testsuite/model/src/test/java/org/keycloak/testsuite/model/parameters/HotRodMapStorage.java
Labels: area/storage, team/storage-sig

#12396 Allow for the backend to return granted scopes in any order.
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/AssertEvents.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/account/AccountRestServiceTest.java
Labels: status/ready, area/storage, team/storage-sig

#11852 Closes #11851: Apply localization text from realm default locale when it is not defined for the requested language
  integration/admin-client/src/main/java/org/keycloak/admin/client/resource/RealmLocalizationResource.java
  services/src/main/java/org/keycloak/email/freemarker/FreeMarkerEmailTemplateProvider.java
  services/src/main/java/org/keycloak/forms/account/freemarker/FreeMarkerAccountProvider.java
  services/src/main/java/org/keycloak/forms/login/freemarker/FreeMarkerLoginFormsProvider.java
  services/src/main/java/org/keycloak/services/resources/account/AccountConsole.java
  services/src/main/java/org/keycloak/services/resources/admin/AdminMessageFormatter.java
  services/src/main/java/org/keycloak/services/resources/admin/RealmLocalizationResource.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/admin/RealmLocalizationResourceTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/i18n/RealmLocalizationTest.java
  themes/src/main/resources/theme/base/admin/resources/js/controllers/realm.js
  themes/src/main/resources/theme/base/admin/resources/js/services.js
Labels: kind/feature, status/needs-discussion, area/core

#12448 When asserting a URL, allow for some time for any redirect to complete.
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/util/URLAssert.java
Labels: status/ready, area/storage, team/storage-sig

#12299 Introduce unique index for enums stored by storages
  core/src/main/java/org/keycloak/representations/idm/authorization/DecisionStrategy.java
  core/src/main/java/org/keycloak/representations/idm/authorization/Logic.java
  core/src/main/java/org/keycloak/representations/idm/authorization/PolicyEnforcementMode.java
  core/src/main/java/org/keycloak/util/EnumWithStableIndex.java
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/hibernate/jsonb/JsonbType.java
  model/map/src/main/java/org/keycloak/models/map/events/EventUtils.java
  model/map/src/main/java/org/keycloak/models/map/events/MapAdminEventQuery.java
  model/map/src/main/java/org/keycloak/models/map/realm/MapRealmAdapter.java
  model/map/src/main/java/org/keycloak/models/map/userSession/MapUserSessionEntity.java
  pom.xml
  server-spi-private/src/main/java/org/keycloak/events/EventType.java
  server-spi-private/src/main/java/org/keycloak/events/admin/OperationType.java
  server-spi/src/main/java/org/keycloak/models/AuthenticationExecutionModel.java
  server-spi/src/main/java/org/keycloak/models/UserSessionModel.java
  server-spi/src/main/java/org/keycloak/sessions/CommonClientSessionModel.java
Labels: status/ready, area/storage, team/storage-sig

#12358 Do not persist client sessions of transient user sessions
  model/map/src/main/java/org/keycloak/models/map/userSession/MapUserSessionProvider.java
  testsuite/model/src/test/java/org/keycloak/testsuite/model/session/UserSessionProviderModelTest.java
Labels: status/ready, kind/enhancement, area/storage, team/storage-sig

#12539 Enable indexing for ResourceServerEntity
  model/map-hot-rod/src/main/java/org/keycloak/models/map/storage/hotRod/authorization/HotRodResourceServerEntity.java
  model/map-hot-rod/src/main/resources/config/cacheConfig.xml
  model/map-hot-rod/src/main/resources/config/infinispan.xml
  testsuite/model/src/main/resources/hotrod/infinispan.xml
Labels: status/ready, area/storage, team/storage-sig

#11991 Ensure that only JDK 8 APIs are used where JDK 8 is still required.
  adapters/oidc/adapter-core/pom.xml
  adapters/oidc/jetty/jetty-core/pom.xml
  adapters/oidc/servlet-filter/pom.xml
  adapters/oidc/tomcat/tomcat-core/pom.xml
  adapters/oidc/tomcat/tomcat/pom.xml
  adapters/oidc/undertow/pom.xml
  adapters/saml/core-public/pom.xml
  adapters/saml/core/pom.xml
  adapters/saml/jetty/jetty-core/pom.xml
  adapters/saml/servlet-filter/pom.xml
  adapters/saml/tomcat/tomcat-core/pom.xml
  adapters/saml/tomcat/tomcat/pom.xml
  adapters/spi/adapter-spi/pom.xml
  adapters/spi/jboss-adapter-core/pom.xml
  adapters/spi/jetty-adapter-spi/pom.xml
  adapters/spi/servlet-adapter-spi/pom.xml
  adapters/spi/tomcat-adapter-spi/pom.xml
  adapters/spi/undertow-adapter-spi/pom.xml
  authz/client/pom.xml
  common/pom.xml
  core/pom.xml
  docs/building.md
  pom.xml
  saml-core-api/pom.xml
  saml-core/pom.xml
  testsuite/integration-arquillian/test-apps/pom.xml
Labels: kind/enhancement, area/core

#12632 Automatic profile activated by using JDK 9+ …
  pom.xml
Labels: status/ready, area/ci

#12639 Filter out expired entities in JpaMapKeycloakTransaction
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/JpaMapKeycloakTransaction.java
Labels: area/storage, team/storage-sig

#12297 Prevent attempts to delete from federated storage when removing a service account user
  model/legacy-private/src/main/java/org/keycloak/storage/UserStorageManager.java
Labels: area/storage, team/storage-sig

#12713 Enable optimistic locking feature on auth sessions
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/authSession/entity/JpaAuthenticationSessionEntity.java
  model/map-jpa/src/main/resources/META-INF/auth-sessions/jpa-auth-sessions-changelog-1.xml
Labels: area/storage, team/storage-sig

#12749 Make sure HotRod store does not return empty delegate
  model/build-processor/src/main/java/org/keycloak/models/map/processor/GenerateHotRodEntityImplementationsProcessor.java
  model/map-hot-rod/src/main/java/org/keycloak/models/map/storage/hotRod/HotRodMapStorage.java
  model/map-hot-rod/src/main/java/org/keycloak/models/map/storage/hotRod/SingleUseObjectHotRodMapStorage.java
  model/map/src/main/java/org/keycloak/models/map/storage/chm/ConcurrentHashMapCrudOperations.java
Labels: area/storage, team/storage-sig

#12691 Fix typo in ci.yml
  .github/workflows/ci.yml
Labels: kind/bug, area/ci

#12744 Use JpaMapStorageProviderFactory for authorization services in model …
  testsuite/model/src/test/java/org/keycloak/testsuite/model/parameters/JpaMapStorage.java
Labels: area/storage, team/storage-sig

#12714 Change returning type to Set in MapClientEntity when obtaining protoc…
  model/map-hot-rod/src/main/java/org/keycloak/models/map/storage/hotRod/client/HotRodClientEntity.java
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/client/entity/JpaClientEntity.java
  model/map/src/main/java/org/keycloak/models/map/client/MapClientAdapter.java
  model/map/src/main/java/org/keycloak/models/map/client/MapClientEntity.java
  model/map/src/test/java/org/keycloak/models/map/client/MapClientEntityClonerTest.java
  services/src/main/java/org/keycloak/services/clientregistration/oidc/OIDCClientRegistrationProvider.java
Labels: area/storage, team/storage-sig

#11462 json device code flow error responses
  server-spi-private/src/main/java/org/keycloak/events/Errors.java
  services/src/main/java/org/keycloak/protocol/oidc/grants/device/endpoints/DeviceEndpoint.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/oauth/OAuth2DeviceAuthorizationGrantTest.java
Labels: missing/tests

#12698 Change enum ResourceType to interface with String constants
  model/jpa/src/main/java/org/keycloak/events/jpa/JpaAdminEventQuery.java
  model/jpa/src/main/java/org/keycloak/events/jpa/JpaEventStoreProvider.java
  model/map/src/main/java/org/keycloak/models/map/events/EventUtils.java
  model/map/src/main/java/org/keycloak/models/map/events/MapAdminEventQuery.java
  server-spi-private/src/main/java/org/keycloak/events/admin/AdminEvent.java
  server-spi-private/src/main/java/org/keycloak/events/admin/AdminEventQuery.java
  server-spi-private/src/main/java/org/keycloak/events/admin/ResourceType.java
  server-spi-private/src/main/java/org/keycloak/models/utils/ModelToRepresentation.java
  services/src/main/java/org/keycloak/events/log/JBossLoggingEventListenerProvider.java
  services/src/main/java/org/keycloak/services/resources/admin/AdminEventBuilder.java
  services/src/main/java/org/keycloak/services/resources/admin/RealmAdminResource.java
  services/src/main/java/org/keycloak/services/resources/admin/info/ServerInfoAdminResource.java
  testsuite/integration-arquillian/servers/auth-server/services/testsuite-providers/src/main/java/org/keycloak/testsuite/rest/TestingResourceProvider.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/util/AssertAdminEvents.java
Labels: area/storage, team/storage-sig

#12716 Make HotRod schema no-downtime upgradable
  model/build-processor/src/main/java/org/keycloak/models/map/annotations/GenerateHotRodEntityImplementation.java
  model/build-processor/src/main/java/org/keycloak/models/map/processor/GenerateHotRodEntityImplementationsProcessor.java
  model/map-hot-rod/src/main/java/org/keycloak/models/map/storage/hotRod/HotRodMapStorageProviderFactory.java
  model/map-hot-rod/src/main/java/org/keycloak/models/map/storage/hotRod/IckleQueryMapModelCriteriaBuilder.java
  model/map-hot-rod/src/main/java/org/keycloak/models/map/storage/hotRod/authSession/HotRodRootAuthenticationSessionEntity.java
  model/map-hot-rod/src/main/java/org/keycloak/models/map/storage/hotRod/authorization/HotRodPermissionTicketEntity.java
  model/map-hot-rod/src/main/java/org/keycloak/models/map/storage/hotRod/authorization/HotRodPolicyEntity.java
  model/map-hot-rod/src/main/java/org/keycloak/models/map/storage/hotRod/authorization/HotRodResourceEntity.java
  model/map-hot-rod/src/main/java/org/keycloak/models/map/storage/hotRod/authorization/HotRodResourceServerEntity.java
  model/map-hot-rod/src/main/java/org/keycloak/models/map/storage/hotRod/authorization/HotRodScopeEntity.java
  model/map-hot-rod/src/main/java/org/keycloak/models/map/storage/hotRod/client/HotRodClientEntity.java
  model/map-hot-rod/src/main/java/org/keycloak/models/map/storage/hotRod/clientscope/HotRodClientScopeEntity.java
  model/map-hot-rod/src/main/java/org/keycloak/models/map/storage/hotRod/common/CommonPrimitivesProtoSchemaInitializer.java
  model/map-hot-rod/src/main/java/org/keycloak/models/map/storage/hotRod/common/HotRodAttributeEntity.java
  model/map-hot-rod/src/main/java/org/keycloak/models/map/storage/hotRod/common/HotRodAttributeEntityNonIndexed.java
  model/map-hot-rod/src/main/java/org/keycloak/models/map/storage/hotRod/common/HotRodEntityDelegate.java
  model/map-hot-rod/src/main/java/org/keycloak/models/map/storage/hotRod/common/HotRodEntityDescriptor.java
  model/map-hot-rod/src/main/java/org/keycloak/models/map/storage/hotRod/common/HotRodPair.java
  model/map-hot-rod/src/main/java/org/keycloak/models/map/storage/hotRod/common/HotRodStringPair.java
  model/map-hot-rod/src/main/java/org/keycloak/models/map/storage/hotRod/common/HotRodVersionUtils.java
  model/map-hot-rod/src/main/java/org/keycloak/models/map/storage/hotRod/common/ProtoSchemaInitializer.java
  model/map-hot-rod/src/main/java/org/keycloak/models/map/storage/hotRod/common/Versioned.java
  model/map-hot-rod/src/main/java/org/keycloak/models/map/storage/hotRod/connections/DefaultHotRodConnectionProviderFactory.java
  model/map-hot-rod/src/main/java/org/keycloak/models/map/storage/hotRod/events/HotRodAdminEventEntity.java
  model/map-hot-rod/src/main/java/org/keycloak/models/map/storage/hotRod/events/HotRodAuthEventEntity.java
  model/map-hot-rod/src/main/java/org/keycloak/models/map/storage/hotRod/group/HotRodGroupEntity.java
  model/map-hot-rod/src/main/java/org/keycloak/models/map/storage/hotRod/loginFailure/HotRodUserLoginFailureEntity.java
  model/map-hot-rod/src/main/java/org/keycloak/models/map/storage/hotRod/realm/HotRodRealmEntity.java
  model/map-hot-rod/src/main/java/org/keycloak/models/map/storage/hotRod/role/HotRodRoleEntity.java
  model/map-hot-rod/src/main/java/org/keycloak/models/map/storage/hotRod/singleUseObject/HotRodSingleUseObjectEntity.java
  model/map-hot-rod/src/main/java/org/keycloak/models/map/storage/hotRod/user/HotRodUserEntity.java
  model/map-hot-rod/src/main/java/org/keycloak/models/map/storage/hotRod/userSession/HotRodAuthenticatedClientSessionEntity.java
  model/map-hot-rod/src/main/java/org/keycloak/models/map/storage/hotRod/userSession/HotRodUserSessionEntity.java
Labels: area/storage, team/storage-sig

#12838 Removed unused imports with double semicolons
  model/infinispan/src/main/java/org/keycloak/models/cache/infinispan/InfinispanUserCacheProviderFactory.java
Labels: status/ready, area/storage
