Repository keycloak/keycloak, pull requests merged in 2023-02, with the labels that each got.

#16754 CVE-2022-41854/CVE-2022-38752 Snakeyaml vulnerable to Stack overflow leading to denial of service
  pom.xml
Labels: status/ready

#16708 Snyk Workflow failing due to the usage of the same category on multiple sections
  .github/workflows/snyk-analysis.yml
Labels: status/ready

#16798 Make sure PBKDF2 providers are using the expect size for derived keys
  crypto/default/src/test/java/org/keycloak/crypto/def/test/CryptoPerfTest.java
  server-spi-private/src/main/java/org/keycloak/credential/hash/Pbkdf2Sha256PasswordHashProviderFactory.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/forms/PasswordHashingTest.java
Labels: flaky-test

#16756 Update to Quarkus 2.13.7.Final
  operator/pom.xml
  pom.xml
Labels: status/ready

#16316 12068 Leverage ispn lifespan for expiration
  model/map-hot-rod/src/main/java/org/keycloak/models/map/storage/hotRod/HotRodMapStorage.java
  model/map-hot-rod/src/main/java/org/keycloak/models/map/storage/hotRod/authSession/HotRodRootAuthenticationSessionEntity.java
  model/map-hot-rod/src/main/java/org/keycloak/models/map/storage/hotRod/connections/DefaultHotRodConnectionProviderFactory.java
  model/map-hot-rod/src/main/java/org/keycloak/models/map/storage/hotRod/events/HotRodAdminEventEntity.java
  model/map-hot-rod/src/main/java/org/keycloak/models/map/storage/hotRod/events/HotRodAuthEventEntity.java
  model/map-hot-rod/src/main/java/org/keycloak/models/map/storage/hotRod/userSession/HotRodUserSessionEntity.java
  model/map-hot-rod/src/main/java/org/keycloak/models/map/storage/hotRod/userSession/HotRodUserSessionTransaction.java
  testsuite/integration-arquillian/servers/auth-server/services/testsuite-providers/pom.xml
  testsuite/integration-arquillian/servers/auth-server/services/testsuite-providers/src/main/java/org/keycloak/testsuite/model/infinispan/InfinispanTimeServiceTask.java
  testsuite/integration-arquillian/servers/auth-server/services/testsuite-providers/src/main/java/org/keycloak/testsuite/rest/TestingResourceProvider.java
  testsuite/integration-arquillian/servers/auth-server/services/testsuite-providers/src/main/resources/META-INF/services/org.infinispan.tasks.ServerTask
  testsuite/integration-arquillian/tests/base/pom.xml
  testsuite/integration-arquillian/tests/base/src/main/java/org/keycloak/testsuite/arquillian/HotRodStoreTestEnricher.java
  testsuite/integration-arquillian/tests/base/src/main/java/org/keycloak/testsuite/util/InfinispanContainer.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/AbstractKeycloakTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/admin/TimeOffsetTest.java
  testsuite/model/pom.xml
  testsuite/model/src/test/java/org/keycloak/testsuite/model/KeycloakModelTest.java
  testsuite/model/src/test/java/org/keycloak/testsuite/model/MigrationModelTest.java
  testsuite/model/src/test/java/org/keycloak/testsuite/model/TimeOffsetTest.java
  testsuite/model/src/test/java/org/keycloak/testsuite/model/events/EventQueryTest.java
  testsuite/model/src/test/java/org/keycloak/testsuite/model/session/AuthenticationSessionTest.java
  testsuite/model/src/test/java/org/keycloak/testsuite/model/session/UserSessionExpirationTest.java
  testsuite/model/src/test/java/org/keycloak/testsuite/model/session/UserSessionPersisterProviderTest.java
  testsuite/model/src/test/java/org/keycloak/testsuite/model/session/UserSessionProviderModelTest.java
  testsuite/model/src/test/java/org/keycloak/testsuite/model/session/UserSessionProviderOfflineModelTest.java
  testsuite/model/src/test/java/org/keycloak/testsuite/model/singleUseObject/SingleUseObjectModelTest.java
Labels: area/storage, team/storage-sig, flaky-test

#16861 Remove old admin console feature
  common/src/main/java/org/keycloak/common/Profile.java
  common/src/test/java/org/keycloak/common/ProfileTest.java
  quarkus/runtime/src/main/java/org/keycloak/quarkus/runtime/services/resources/QuarkusWelcomeResource.java
  quarkus/tests/integration/src/test/resources/org/keycloak/it/cli/dist/approvals/cli/help/HelpCommandDistTest.testBuildHelp.unix.approved.txt
  quarkus/tests/integration/src/test/resources/org/keycloak/it/cli/dist/approvals/cli/help/HelpCommandDistTest.testBuildHelp.windows.approved.txt
  quarkus/tests/integration/src/test/resources/org/keycloak/it/cli/dist/approvals/cli/help/HelpCommandDistTest.testStartDevHelp.unix.approved.txt
  quarkus/tests/integration/src/test/resources/org/keycloak/it/cli/dist/approvals/cli/help/HelpCommandDistTest.testStartDevHelp.windows.approved.txt
  quarkus/tests/integration/src/test/resources/org/keycloak/it/cli/dist/approvals/cli/help/HelpCommandDistTest.testStartDevHelpAll.unix.approved.txt
  quarkus/tests/integration/src/test/resources/org/keycloak/it/cli/dist/approvals/cli/help/HelpCommandDistTest.testStartDevHelpAll.windows.approved.txt
  quarkus/tests/integration/src/test/resources/org/keycloak/it/cli/dist/approvals/cli/help/HelpCommandDistTest.testStartHelp.unix.approved.txt
  quarkus/tests/integration/src/test/resources/org/keycloak/it/cli/dist/approvals/cli/help/HelpCommandDistTest.testStartHelp.windows.approved.txt
  quarkus/tests/integration/src/test/resources/org/keycloak/it/cli/dist/approvals/cli/help/HelpCommandDistTest.testStartHelpAll.unix.approved.txt
  quarkus/tests/integration/src/test/resources/org/keycloak/it/cli/dist/approvals/cli/help/HelpCommandDistTest.testStartHelpAll.windows.approved.txt
  services/src/main/java/org/keycloak/services/resources/WelcomeResource.java
  services/src/main/java/org/keycloak/services/resources/admin/AdminRoot.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/url/DefaultHostnameTest.java
Labels: flaky-test

#16001 File store basis
  model/build-processor/src/main/java/org/keycloak/models/map/processor/GenerateEntityImplementationsProcessor.java
  model/build-processor/src/main/java/org/keycloak/models/map/processor/Util.java
  model/map-file/pom.xml
  model/map-file/src/main/java/org/keycloak/models/map/storage/file/FileCriteriaBuilder.java
  model/map-file/src/main/java/org/keycloak/models/map/storage/file/FileKeycloakTransaction.java
  model/map-file/src/main/java/org/keycloak/models/map/storage/file/FileMapKeycloakTransaction.java
  model/map-file/src/main/java/org/keycloak/models/map/storage/file/FileMapStorage.java
  model/map-file/src/main/java/org/keycloak/models/map/storage/file/FileMapStorageProvider.java
  model/map-file/src/main/java/org/keycloak/models/map/storage/file/FileMapStorageProviderFactory.java
  model/map-file/src/main/java/org/keycloak/models/map/storage/file/common/BlockContext.java
  model/map-file/src/main/java/org/keycloak/models/map/storage/file/common/BlockContextStack.java
  model/map-file/src/main/java/org/keycloak/models/map/storage/file/common/MapEntityContext.java
  model/map-file/src/main/java/org/keycloak/models/map/storage/file/common/StringListMapContext.java
  model/map-file/src/main/java/org/keycloak/models/map/storage/file/common/WritingMechanism.java
  model/map-file/src/main/java/org/keycloak/models/map/storage/file/yaml/PathWriter.java
  model/map-file/src/main/java/org/keycloak/models/map/storage/file/yaml/RunOnlyOnce.java
  model/map-file/src/main/java/org/keycloak/models/map/storage/file/yaml/YamlParser.java
  model/map-file/src/main/java/org/keycloak/models/map/storage/file/yaml/YamlWritingMechanism.java
  model/map-hot-rod/src/main/java/org/keycloak/models/map/storage/hotRod/userSession/AuthenticatedClientSessionReferenceOnlyFieldDelegate.java
  model/map-ldap/src/main/java/org/keycloak/models/map/storage/ldap/role/entity/LdapRoleEntity.java
  model/map/src/main/java/org/keycloak/models/map/authSession/MapRootAuthenticationSessionProvider.java
  model/map/src/main/java/org/keycloak/models/map/authorization/MapAuthorizationStoreFactory.java
  model/map/src/main/java/org/keycloak/models/map/authorization/MapPermissionTicketStore.java
  model/map/src/main/java/org/keycloak/models/map/authorization/MapPolicyStore.java
  model/map/src/main/java/org/keycloak/models/map/authorization/MapResourceServerStore.java
  model/map/src/main/java/org/keycloak/models/map/authorization/MapResourceStore.java
  model/map/src/main/java/org/keycloak/models/map/authorization/MapScopeStore.java
  model/map/src/main/java/org/keycloak/models/map/client/MapClientProvider.java
  model/map/src/main/java/org/keycloak/models/map/clientscope/MapClientScopeProvider.java
  model/map/src/main/java/org/keycloak/models/map/common/AbstractMapProviderFactory.java
  model/map/src/main/java/org/keycloak/models/map/common/CastUtils.java
  model/map/src/main/java/org/keycloak/models/map/common/HasRealmId.java
  model/map/src/main/java/org/keycloak/models/map/common/delegate/EntityFieldDelegate.java
  model/map/src/main/java/org/keycloak/models/map/events/MapAdminEventQuery.java
  model/map/src/main/java/org/keycloak/models/map/events/MapAuthEventQuery.java
  model/map/src/main/java/org/keycloak/models/map/events/MapEventStoreProvider.java
  model/map/src/main/java/org/keycloak/models/map/group/MapGroupProvider.java
  model/map/src/main/java/org/keycloak/models/map/role/MapRoleProvider.java
  model/map/src/main/java/org/keycloak/models/map/storage/ModelEntityUtil.java
  model/map/src/main/java/org/keycloak/models/map/storage/chm/ConcurrentHashMapCrudOperations.java
  model/map/src/main/java/org/keycloak/models/map/storage/chm/ConcurrentHashMapKeycloakTransaction.java
  model/map/src/main/java/org/keycloak/models/map/storage/criteria/DefaultModelCriteria.java
  model/map/src/main/java/org/keycloak/models/map/storage/criteria/DescriptiveModelCriteria.java
  model/map/src/main/java/org/keycloak/models/map/storage/criteria/ModelCriteriaNode.java
  model/map/src/main/java/org/keycloak/models/map/user/MapUserProvider.java
  model/map/src/main/java/org/keycloak/models/map/userSession/MapUserSessionProvider.java
  model/map/src/test/java/org/keycloak/models/map/storage/criteria/DefaultModelCriteriaTest.java
  pom.xml
  testsuite/model/pom.xml
  testsuite/model/src/test/java/org/keycloak/testsuite/model/KeycloakModelTest.java
  testsuite/model/src/test/java/org/keycloak/testsuite/model/events/AdminEventQueryTest.java
  testsuite/model/src/test/java/org/keycloak/testsuite/model/events/EventQueryTest.java
  testsuite/model/src/test/java/org/keycloak/testsuite/model/parameters/FileMapStorage.java
  testsuite/model/src/test/java/org/keycloak/testsuite/model/session/UserSessionConcurrencyTest.java
  testsuite/model/src/test/java/org/keycloak/testsuite/model/singleUseObject/SingleUseObjectModelTest.java
  testsuite/model/src/test/java/org/keycloak/testsuite/model/storage/tree/sample/Dict.java
  testsuite/utils/src/main/resources/META-INF/keycloak-server.json
Labels: area/storage, team/storage-sig, flaky-test

#16893 Update proxy guide with information about session stickness
  docs/guides/src/main/server/reverseproxy.adoc
Labels: flaky-test

#16612 Leverage HotRod client transaction
  model/map-hot-rod/src/main/java/org/keycloak/models/map/storage/hotRod/HotRodMapStorage.java
  model/map-hot-rod/src/main/java/org/keycloak/models/map/storage/hotRod/HotRodMapStorageProvider.java
  model/map-hot-rod/src/main/java/org/keycloak/models/map/storage/hotRod/HotRodMapStorageProviderFactory.java
  model/map-hot-rod/src/main/java/org/keycloak/models/map/storage/hotRod/SingleUseObjectHotRodMapStorage.java
  model/map-hot-rod/src/main/java/org/keycloak/models/map/storage/hotRod/connections/DefaultHotRodConnectionProviderFactory.java
  model/map-hot-rod/src/main/java/org/keycloak/models/map/storage/hotRod/transaction/AllAreasHotRodTransactionsWrapper.java
  model/map-hot-rod/src/main/java/org/keycloak/models/map/storage/hotRod/transaction/HotRodRemoteTransactionWrapper.java
  model/map-hot-rod/src/main/java/org/keycloak/models/map/storage/hotRod/transaction/HotRodTransactionManagerLookup.java
  model/map-hot-rod/src/main/java/org/keycloak/models/map/storage/hotRod/transaction/NoActionHotRodTransactionWrapper.java
  model/map-hot-rod/src/main/resources/config/admin-events-cache-config.xml
  model/map-hot-rod/src/main/resources/config/auth-events-cache-config.xml
  model/map-hot-rod/src/main/resources/config/auth-sessions-cache-config.xml
  model/map-hot-rod/src/main/resources/config/authz-cache-config.xml
  model/map-hot-rod/src/main/resources/config/client-scopes-cache-config.xml
  model/map-hot-rod/src/main/resources/config/clients-cache-config.xml
  model/map-hot-rod/src/main/resources/config/groups-cache-config.xml
  model/map-hot-rod/src/main/resources/config/locks-cache-config.xml
  model/map-hot-rod/src/main/resources/config/realms-cache-config.xml
  model/map-hot-rod/src/main/resources/config/roles-cache-config.xml
  model/map-hot-rod/src/main/resources/config/single-use-objects-cache-config.xml
  model/map-hot-rod/src/main/resources/config/user-login-failures-cache-config.xml
  model/map-hot-rod/src/main/resources/config/user-sessions-cache-config.xml
  model/map-hot-rod/src/main/resources/config/users-cache-config.xml
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/JpaMapStorageProviderFactory.java
  server-spi-private/src/main/java/org/keycloak/models/RealmSpi.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/admin/ComponentsTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/admin/concurrency/ConcurrentLoginTest.java
  testsuite/model/src/test/java/org/keycloak/testsuite/model/singleUseObject/SingleUseObjectModelTest.java
Labels: flaky-test

#16908 Remove common resources no longer needed after old admin console is removed
  themes/pom.xml
  themes/src/main/resources/theme/keycloak/common/resources/package-lock.json
  themes/src/main/resources/theme/keycloak/common/resources/package.json
Labels: flaky-test

#16883 Add support for file store configuration into Quarkus
  quarkus/config-api/src/main/java/org/keycloak/config/StorageOptions.java
  quarkus/runtime/pom.xml
  quarkus/runtime/src/main/java/org/keycloak/quarkus/runtime/configuration/mappers/StoragePropertyMappers.java
  quarkus/tests/integration/src/test/resources/org/keycloak/it/cli/dist/approvals/cli/help/HelpCommandDistTest.testStartDevHelpAll.unix.approved.txt
  quarkus/tests/integration/src/test/resources/org/keycloak/it/cli/dist/approvals/cli/help/HelpCommandDistTest.testStartHelpAll.unix.approved.txt
  quarkus/tests/integration/src/test/resources/org/keycloak/it/cli/dist/approvals/cli/help/HelpCommandDistTest.testStartOptimizedHelpAll.unix.approved.txt
Labels: area/storage, team/storage-sig

#9018 #9017 Pre-authorization hook for client policies
  server-spi/src/main/java/org/keycloak/services/clientpolicy/ClientPolicyEvent.java
  services/src/main/java/org/keycloak/protocol/oidc/endpoints/AuthorizationEndpoint.java
  services/src/main/java/org/keycloak/services/clientpolicy/context/PreAuthorizationRequestContext.java
  services/src/main/java/org/keycloak/services/clientpolicy/executor/RejectRequestExecutor.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/client/policies/AbstractClientPoliciesTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/client/policies/ClientPoliciesExtendedEventTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/client/policies/ClientPoliciesTest.java
Labels: missing/tests, area/oidc

#16914 Flaky test KcOidcBrokerTokenExchangeTest
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/broker/KcOidcBrokerTokenExchangeTest.java
Labels: flaky-test

#16879 Minimize the RPM content of the Quarkus container
  operator/src/main/java/org/keycloak/operator/controllers/KeycloakDeployment.java
  operator/src/test/java/org/keycloak/operator/testsuite/integration/KeycloakDeploymentTest.java
  quarkus/container/Dockerfile
  quarkus/container/ubi8-null.sh
  quarkus/tests/integration/src/main/java/org/keycloak/it/utils/DockerKeycloakDistribution.java
Labels: flaky-test

#15985 Use encryption keys rather than sig for crypto in SAML
  adapters/saml/core/src/main/java/org/keycloak/adapters/saml/profile/AbstractSamlAuthenticationHandler.java
  core/src/main/java/org/keycloak/crypto/Algorithm.java
  integration/admin-client/src/main/java/org/keycloak/admin/client/resource/ComponentsResource.java
  saml-core-api/src/main/java/org/keycloak/saml/common/constants/JBossSAMLConstants.java
  saml-core/src/main/java/org/keycloak/saml/SPMetadataDescriptor.java
  saml-core/src/main/java/org/keycloak/saml/processing/core/saml/v2/util/AssertionUtil.java
  saml-core/src/main/java/org/keycloak/saml/processing/core/saml/v2/writers/SAMLMetadataWriter.java
  saml-core/src/main/java/org/keycloak/saml/processing/core/util/XMLEncryptionUtil.java
  saml-core/src/test/java/org/keycloak/saml/processing/core/parsers/saml/SAMLParserTest.java
  saml-core/src/test/java/org/keycloak/saml/processing/core/saml/v2/util/AssertionUtilTest.java
  server-spi-private/src/main/java/org/keycloak/models/utils/DefaultKeyProviders.java
  services/src/main/java/org/keycloak/broker/saml/SAMLEndpoint.java
  services/src/main/java/org/keycloak/broker/saml/SAMLIdentityProvider.java
  services/src/main/java/org/keycloak/keys/GeneratedRsaEncKeyProviderFactory.java
  services/src/main/java/org/keycloak/keys/ImportedRsaEncKeyProviderFactory.java
  services/src/main/java/org/keycloak/protocol/saml/SAMLDecryptionKeysLocator.java
  services/src/main/java/org/keycloak/protocol/saml/SAMLEncryptionAlgorithms.java
  services/src/main/java/org/keycloak/protocol/saml/SamlProtocol.java
  services/src/main/java/org/keycloak/protocol/saml/SamlProtocolUtils.java
  services/src/main/java/org/keycloak/protocol/saml/installation/SamlSPDescriptorClientInstallation.java
  testsuite/integration-arquillian/tests/base/src/main/java/org/keycloak/testsuite/admin/ApiUtil.java
  testsuite/integration-arquillian/tests/base/src/main/java/org/keycloak/testsuite/util/KeyUtils.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/adapter/servlet/OIDCPublicKeyRotationAdapterTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/admin/client/InstallationTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/admin/group/AbstractGroupTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/broker/AbstractKcSamlEncryptedElementsTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/broker/KcOIDCBrokerWithSignatureTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/broker/KcOidcBrokerPrivateKeyJwtTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/broker/KcSamlEncryptedAssertionTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/broker/KcSamlEncryptedIdTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/broker/KcSamlSignedBrokerTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/broker/KcSamlSpDescriptorTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/keys/ImportedRsaKeyProviderTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/migration/AbstractMigrationTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/oauth/ClientTokenExchangeSAML2Test.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/oidc/OIDCAdvancedRequestParamsTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/oidc/UserInfoTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/saml/ArtifactBindingTest.java
Labels: missing/docs, flaky-test

#16994 Move NPM and Node.js setup into re-usable workflow
  .github/actions/npm-setup/action.yml
  .github/workflows/js-ci.yml
Labels: kind/enhancement, area/adapter/javascript

#16986 Trivy Workflow failing with context deadline exceeded
  .github/workflows/trivy-analysis.yml
Labels: area/ci

#17033 Implement client session statuses endpoint properly
  js/libs/keycloak-admin-client/src/client.ts
  js/libs/keycloak-admin-client/src/defs/clientSessionStat.ts
  js/libs/keycloak-admin-client/src/resources/realms.ts
  js/libs/keycloak-admin-client/src/resources/sessions.ts
  js/libs/keycloak-admin-client/test/realms.spec.ts
  js/libs/keycloak-admin-client/test/sessions.spec.ts
Labels: kind/enhancement, team/ui, kind/changed-behaviour, area/admin/client-js

#17035 Handle requests with a `FormData` payload
  js/libs/keycloak-admin-client/src/resources/agent.ts
  js/libs/keycloak-admin-client/src/resources/clients.ts
Labels: kind/bug, team/ui, area/admin/client-js

#17058 Upgrade to ubi9 parent image
  quarkus/container/Dockerfile
  quarkus/container/ubi-null.sh
  quarkus/tests/integration/src/main/java/org/keycloak/it/utils/DockerKeycloakDistribution.java
Labels: flaky-test

#16990 Make lockTimeout more friendly for JPA map storage
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/JpaMapStorageProviderFactory.java
  quarkus/deployment/src/main/java/org/keycloak/quarkus/deployment/KeycloakProcessor.java
  testsuite/model/src/test/java/org/keycloak/testsuite/model/parameters/JpaMapStorage.java
  testsuite/model/src/test/java/org/keycloak/testsuite/model/parameters/JpaMapStorageCockroachdb.java
  testsuite/model/src/test/java/org/keycloak/testsuite/model/transaction/StorageTransactionTest.java
Labels: area/storage, team/store

#17128 Bump NPM versions in `set-version.sh`
  set-version.sh
Labels: kind/enhancement, area/ci

#17131 Change container image in FIPS tests to ubi9
  .github/scripts/run-fips-it.sh
  .github/workflows/ci.yml
Labels: flaky-test

#17122 Make https-trust-store-type set to bcfks by default in strict-mode
  common/src/main/java/org/keycloak/common/crypto/CryptoIntegration.java
  crypto/fips1402/src/main/java/org/keycloak/crypto/fips/KeycloakFipsSecurityProvider.java
  quarkus/config-api/src/main/java/org/keycloak/config/HttpOptions.java
  quarkus/runtime/src/main/java/org/keycloak/quarkus/runtime/configuration/mappers/HttpPropertyMappers.java
  quarkus/tests/integration/src/test/java/org/keycloak/it/cli/dist/FipsDistTest.java
  quarkus/tests/integration/src/test/resources/org/keycloak/it/cli/dist/approvals/cli/help/HelpCommandDistTest.testStartDevHelp.unix.approved.txt
  quarkus/tests/integration/src/test/resources/org/keycloak/it/cli/dist/approvals/cli/help/HelpCommandDistTest.testStartDevHelp.windows.approved.txt
  quarkus/tests/integration/src/test/resources/org/keycloak/it/cli/dist/approvals/cli/help/HelpCommandDistTest.testStartDevHelpAll.unix.approved.txt
  quarkus/tests/integration/src/test/resources/org/keycloak/it/cli/dist/approvals/cli/help/HelpCommandDistTest.testStartDevHelpAll.windows.approved.txt
  quarkus/tests/integration/src/test/resources/org/keycloak/it/cli/dist/approvals/cli/help/HelpCommandDistTest.testStartHelp.unix.approved.txt
  quarkus/tests/integration/src/test/resources/org/keycloak/it/cli/dist/approvals/cli/help/HelpCommandDistTest.testStartHelp.windows.approved.txt
  quarkus/tests/integration/src/test/resources/org/keycloak/it/cli/dist/approvals/cli/help/HelpCommandDistTest.testStartHelpAll.unix.approved.txt
  quarkus/tests/integration/src/test/resources/org/keycloak/it/cli/dist/approvals/cli/help/HelpCommandDistTest.testStartHelpAll.windows.approved.txt
  quarkus/tests/integration/src/test/resources/org/keycloak/it/cli/dist/approvals/cli/help/HelpCommandDistTest.testStartOptimizedHelp.unix.approved.txt
  quarkus/tests/integration/src/test/resources/org/keycloak/it/cli/dist/approvals/cli/help/HelpCommandDistTest.testStartOptimizedHelp.windows.approved.txt
  quarkus/tests/integration/src/test/resources/org/keycloak/it/cli/dist/approvals/cli/help/HelpCommandDistTest.testStartOptimizedHelpAll.unix.approved.txt
  quarkus/tests/integration/src/test/resources/org/keycloak/it/cli/dist/approvals/cli/help/HelpCommandDistTest.testStartOptimizedHelpAll.windows.approved.txt
  testsuite/integration-arquillian/HOW-TO-RUN.md
  testsuite/integration-arquillian/tests/base/src/main/java/org/keycloak/testsuite/arquillian/containers/AbstractQuarkusDeployableContainer.java
  testsuite/integration-arquillian/tests/base/src/main/java/org/keycloak/testsuite/arquillian/containers/KeycloakQuarkusConfiguration.java
Labels: flaky-test

#16895 Make sure the customized Ingress resource isn't deleted when the Keycloak deployed by Operator is killed.
  operator/src/main/java/org/keycloak/operator/controllers/KeycloakIngress.java
  operator/src/test/java/org/keycloak/operator/testsuite/integration/KeycloakIngressTest.java
  operator/src/test/java/org/keycloak/operator/testsuite/unit/IngressLogicTest.java
Labels: flaky-test

#16068 Terminating all sessions above the session limit
  services/src/main/java/org/keycloak/authentication/authenticators/sessionlimits/UserSessionLimitsAuthenticator.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/sessionlimits/UserSessionLimitsTest.java
Labels: flaky-test

#17125 Ensure that concatenated Stream is closed once read
  server-spi-private/src/main/java/org/keycloak/utils/ClosingDoubleStream.java
  server-spi-private/src/main/java/org/keycloak/utils/ClosingIntStream.java
  server-spi-private/src/main/java/org/keycloak/utils/ClosingLongStream.java
  server-spi-private/src/main/java/org/keycloak/utils/ClosingStream.java
  server-spi-private/src/test/java/org/keycloak/utils/StreamsUtilTest.java
Labels: flaky-test

#16894 Remove deprecated methods from `login-failure` area from `user-sessio…
  server-spi/src/main/java/org/keycloak/models/UserSessionProvider.java
Labels: missing/docs, area/storage, team/store

#17150 Create an SPI for DeviceActivityManager
  server-spi-private/pom.xml
  server-spi-private/src/main/java/org/keycloak/device/DeviceActivityManager.java
  server-spi-private/src/main/java/org/keycloak/device/DeviceRepresentationProvider.java
  server-spi-private/src/main/java/org/keycloak/device/DeviceRepresentationProviderFactory.java
  server-spi-private/src/main/java/org/keycloak/device/DeviceRepresentationSpi.java
  server-spi-private/src/main/resources/META-INF/services/org.keycloak.provider.Spi
  services/pom.xml
  services/src/main/java/org/keycloak/device/DeviceRepresentationProviderFactoryImpl.java
  services/src/main/java/org/keycloak/device/DeviceRepresentationProviderImpl.java
  services/src/main/resources/META-INF/services/org.keycloak.device.DeviceRepresentationProviderFactory
  testsuite/model/src/test/java/org/keycloak/testsuite/model/session/HotRodUserSessionClientSessionRelationshipTest.java
  testsuite/model/src/test/java/org/keycloak/testsuite/model/session/OfflineSessionPersistenceTest.java
  testsuite/model/src/test/java/org/keycloak/testsuite/model/session/UserSessionConcurrencyTest.java
  testsuite/model/src/test/java/org/keycloak/testsuite/model/session/UserSessionExpirationTest.java
  testsuite/model/src/test/java/org/keycloak/testsuite/model/session/UserSessionInitializerTest.java
  testsuite/model/src/test/java/org/keycloak/testsuite/model/session/UserSessionPersisterProviderTest.java
  testsuite/model/src/test/java/org/keycloak/testsuite/model/session/UserSessionProviderModelTest.java
  testsuite/model/src/test/java/org/keycloak/testsuite/model/session/UserSessionProviderOfflineModelTest.java
Labels: flaky-test

#17142 Callers need to indicate if cookies need to be set at the end of the transaction
  services/src/main/java/org/keycloak/protocol/oidc/endpoints/AuthorizationEndpoint.java
  services/src/main/java/org/keycloak/services/resources/LoginActionsService.java
  services/src/main/java/org/keycloak/services/util/CookieHelper.java
Labels: flaky-test

#17090 Add Arabic locale to messages
  themes/src/main/resources-community/theme/base/account/messages/messages_ar.properties
  themes/src/main/resources-community/theme/base/account/theme.properties
  themes/src/main/resources-community/theme/base/admin/messages/messages_ar.properties
  themes/src/main/resources-community/theme/base/admin/theme.properties
  themes/src/main/resources-community/theme/base/email/messages/messages_ar.properties
  themes/src/main/resources-community/theme/base/email/theme.properties
  themes/src/main/resources-community/theme/base/login/messages/messages_ar.properties
  themes/src/main/resources-community/theme/base/login/theme.properties
  themes/src/main/resources-community/theme/keycloak.v2/account/messages/messages_ar.properties
  themes/src/main/resources/theme/base/account/messages/messages_en.properties
  themes/src/main/resources/theme/base/login/messages/messages_en.properties
Labels: kind/feature, area/translations, flaky-test

#16014 Switch to JDK 17 as default JDK on GitHub Actions
  .github/actions/build-keycloak/action.yml
  .github/actions/integration-test-setup/action.yml
  .github/actions/unit-test-setup/action.yml
  .github/workflows/ci.yml
  .github/workflows/operator-ci.yml
Labels: status/hold

#17228 Polish fips-mode switch for preview
  common/src/main/java/org/keycloak/common/Profile.java
  common/src/main/java/org/keycloak/common/crypto/FipsMode.java
  common/src/test/java/org/keycloak/common/ProfileTest.java
  quarkus/config-api/src/main/java/org/keycloak/config/HttpOptions.java
  quarkus/config-api/src/main/java/org/keycloak/config/OptionCategory.java
  quarkus/config-api/src/main/java/org/keycloak/config/SecurityOptions.java
  quarkus/deployment/src/main/java/org/keycloak/quarkus/deployment/KeycloakProcessor.java
  quarkus/runtime/src/main/java/org/keycloak/quarkus/runtime/configuration/mappers/ClassLoaderPropertyMappers.java
  quarkus/runtime/src/main/java/org/keycloak/quarkus/runtime/configuration/mappers/HttpPropertyMappers.java
  quarkus/runtime/src/main/java/org/keycloak/quarkus/runtime/configuration/mappers/SecurityPropertyMappers.java
  quarkus/tests/integration/pom.xml
  quarkus/tests/integration/src/main/java/org/keycloak/Keycloak.java
  quarkus/tests/integration/src/main/java/org/keycloak/it/junit5/extension/ServerOptions.java
  quarkus/tests/integration/src/test/java/org/keycloak/it/cli/dist/FeaturesDistTest.java
  quarkus/tests/integration/src/test/java/org/keycloak/it/cli/dist/FipsDistTest.java
  quarkus/tests/integration/src/test/java/org/keycloak/it/cli/dist/ImportAtStartupDistTest.java
  quarkus/tests/integration/src/test/resources/org/keycloak/it/cli/dist/approvals/cli/help/HelpCommandDistTest.testBuildHelp.unix.approved.txt
  quarkus/tests/integration/src/test/resources/org/keycloak/it/cli/dist/approvals/cli/help/HelpCommandDistTest.testBuildHelp.windows.approved.txt
  quarkus/tests/integration/src/test/resources/org/keycloak/it/cli/dist/approvals/cli/help/HelpCommandDistTest.testStartDevHelp.unix.approved.txt
  quarkus/tests/integration/src/test/resources/org/keycloak/it/cli/dist/approvals/cli/help/HelpCommandDistTest.testStartDevHelp.windows.approved.txt
  quarkus/tests/integration/src/test/resources/org/keycloak/it/cli/dist/approvals/cli/help/HelpCommandDistTest.testStartDevHelpAll.unix.approved.txt
  quarkus/tests/integration/src/test/resources/org/keycloak/it/cli/dist/approvals/cli/help/HelpCommandDistTest.testStartDevHelpAll.windows.approved.txt
  quarkus/tests/integration/src/test/resources/org/keycloak/it/cli/dist/approvals/cli/help/HelpCommandDistTest.testStartHelp.unix.approved.txt
  quarkus/tests/integration/src/test/resources/org/keycloak/it/cli/dist/approvals/cli/help/HelpCommandDistTest.testStartHelp.windows.approved.txt
  quarkus/tests/integration/src/test/resources/org/keycloak/it/cli/dist/approvals/cli/help/HelpCommandDistTest.testStartHelpAll.unix.approved.txt
  quarkus/tests/integration/src/test/resources/org/keycloak/it/cli/dist/approvals/cli/help/HelpCommandDistTest.testStartHelpAll.windows.approved.txt
  testsuite/integration-arquillian/servers/auth-server/quarkus/pom.xml
  testsuite/integration-arquillian/tests/base/src/main/java/org/keycloak/testsuite/arquillian/AuthServerTestEnricher.java
  testsuite/integration-arquillian/tests/base/src/main/java/org/keycloak/testsuite/arquillian/containers/AbstractQuarkusDeployableContainer.java
  testsuite/integration-arquillian/tests/base/src/main/java/org/keycloak/testsuite/arquillian/containers/KeycloakQuarkusConfiguration.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/cli/AbstractCliTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/cli/registration/KcRegCreateTest.java
  testsuite/integration-arquillian/tests/pom.xml
Labels: flaky-test

#17196 FIPS related docs
  docs/fips.md
  docs/guides/src/main/server/fips.adoc
  docs/guides/src/main/server/keycloak-truststore.adoc
  services/src/main/java/org/keycloak/truststore/FileTruststoreProviderFactory.java
  testsuite/integration-arquillian/HOW-TO-RUN.md
Labels: flaky-test

#16639 Improvements on Operator Integration Tests to make sure that Config set in CR takes precedence
  operator/src/test/java/org/keycloak/operator/testsuite/integration/KeycloakDeploymentTest.java
Labels: flaky-test

#17249 Fix NPE in MigrateTo21_0_0 when admin theme is not set explicitly
  model/legacy-private/src/main/java/org/keycloak/migration/migrators/MigrateTo21_0_0.java
Labels: flaky-test

#17256 Run WebAuthn IT with Chrome.
  .github/workflows/ci.yml
  testsuite/integration-arquillian/tests/other/webauthn/src/test/java/org/keycloak/testsuite/webauthn/registration/AuthAttachmentRegisterTest.java
  testsuite/integration-arquillian/tests/other/webauthn/src/test/java/org/keycloak/testsuite/webauthn/registration/PolicyJsInjectionTest.java
Labels: area/ci, area/authentication/webauthn

#17237 Change the list features to the format of a description list
  docs/guides/src/main/server/features.adoc
Labels: status/hold

#17271 Implement UserInfoTokenMapper in HardcodedRole and RoleNameMapper mappers
  services/src/main/java/org/keycloak/protocol/oidc/mappers/HardcodedRole.java
  services/src/main/java/org/keycloak/protocol/oidc/mappers/RoleNameMapper.java
  testsuite/integration-arquillian/tests/base/src/main/java/org/keycloak/testsuite/admin/ApiUtil.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/oauth/OIDCProtocolMappersTest.java
Labels: flaky-test

#16291 SOAP backchannel logout for SAML protocol
  saml-core/src/main/java/org/keycloak/saml/BaseSAML2BindingBuilder.java
  saml-core/src/main/java/org/keycloak/saml/processing/api/saml/v2/response/SAML2Response.java
  services/src/main/java/org/keycloak/protocol/saml/EntityDescriptorDescriptionConverter.java
  services/src/main/java/org/keycloak/protocol/saml/IDPMetadataDescriptor.java
  services/src/main/java/org/keycloak/protocol/saml/JaxrsSAML2BindingBuilder.java
  services/src/main/java/org/keycloak/protocol/saml/SamlProtocol.java
  services/src/main/java/org/keycloak/protocol/saml/SamlService.java
  services/src/main/java/org/keycloak/protocol/saml/profile/ecp/SamlEcpProfileService.java
  services/src/main/java/org/keycloak/protocol/saml/profile/util/Soap.java
  testsuite/integration-arquillian/tests/base/src/main/java/org/keycloak/testsuite/util/SamlClient.java
  testsuite/integration-arquillian/tests/base/src/main/java/org/keycloak/testsuite/util/SamlClientBuilder.java
  testsuite/integration-arquillian/tests/base/src/main/java/org/keycloak/testsuite/util/saml/CreateLogoutRequestStepBuilder.java
  testsuite/integration-arquillian/tests/base/src/main/java/org/keycloak/testsuite/util/saml/SamlBackchannelLogoutReceiver.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/client/SAMLClientRegistrationTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/saml/LogoutTest.java
  testsuite/integration-arquillian/tests/base/src/test/java/org/keycloak/testsuite/saml/SOAPBindingTest.java
Labels: flaky-test

#17065 Eliminate guide from cross-references
  docs/guides/src/main/server/caching.adoc
  docs/guides/src/main/server/configuration-metrics.adoc
  docs/guides/src/main/server/configuration-production.adoc
  docs/guides/src/main/server/configuration.adoc
  docs/guides/src/main/server/containers.adoc
  docs/guides/src/main/server/enabletls.adoc
  docs/guides/src/main/server/hostname.adoc
  docs/guides/src/main/server/logging.adoc
  docs/guides/src/main/server/outgoinghttp.adoc
  docs/guides/src/main/server/reverseproxy.adoc
Labels: area/docs

#17296 Change the list features to the format of a description list (#17237)
  docs/guides/src/main/server/features.adoc
Labels: flaky-test

#16162 #16161 implement an EventBuilder constructor which can be called from scheduled tasks
  server-spi-private/src/main/java/org/keycloak/events/EventBuilder.java
Labels: flaky-test

#17306 Add Maven build for JavaScript admin client
  distribution/downloads/src/main/java/CopyDependencies.java
  distribution/downloads/src/main/resources/files
  js/.gitignore
  js/libs/keycloak-admin-client/pom.xml
  js/pom.xml
  pom.xml
Labels: status/hold, kind/task, team/ui, area/admin/client-js

#17078 JpaMapStorageProviderFactory should use AvailableSettings.JAKARTA... …
  model/map-jpa/src/main/java/org/keycloak/models/map/storage/jpa/JpaMapStorageProviderFactory.java
Labels: status/ready, area/storage, team/store
